<div id="reset-password">
    <div class="container">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form ng-if="true && !success_update && !success_update_bo" name="ResetPasswordForm" ng-submit="ResetPasswordForm.$valid && ResetPassword(password, password_confirmation)" novalidate>
                <div class="form-group">
                    <label>Please enter new password</label>
                    <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="8" ng-maxlength="12" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required/>
                    <div class="error">
                        <span ng-show="ResetPasswordForm.$submitted && ResetPasswordForm.password.$error.required">Please enter your password</span>

                        <span ng-show="!ResetPasswordForm.password.$error.required && (ResetPasswordForm.password.$error.minlength || ResetPasswordForm.password.$error.maxlength) && ResetPasswordForm.password.$dirty">Passwords must be between 8 and 12 characters.</span>
                        <span ng-show="!ResetPasswordForm.password.$error.required && !ResetPasswordForm.password.$error.minlength && !ResetPasswordForm.password.$error.maxlength && ResetPasswordForm.password.$error.pattern && ResetPasswordForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Confirm Password</label>
                    <input class="form-control"  type="password" name="password_confirmation" ng-model="password_confirmation" valid-password-c required  />
                    <div class="error">
                        <span ng-show="ResetPasswordForm.password_confirmation.$error.required && ResetPasswordForm.password_confirmation.$dirty">Please confirm your password.</span>
                        <span ng-show="!ResetPasswordForm.password_confirmation.$error.required && ResetPasswordForm.password_confirmation.$error.noMatch && ResetPasswordForm.password.$dirty">Passwords do not match.</span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-disabled="!ResetPasswordForm.$valid">Reset Password</button>
                    <!--<input  ng-disabled="!ResetPasswordForm.$valid" type="submit" class="btn btn-default" value="Reset Password">-->
                </div>
            </form>

            <div ng-if="success_update" id="success-div-weeloy"><img width="50" ng-src="client/assets/images/loading_spinner.gif">Your password has been updated, redirecting to <a href="https://www.weeloy.com">weeloy.com</a></div>
            <div ng-if="success_update_bo" id="success-div-backoffice"><img width="50" ng-src="client/assets/images/loading_spinner.gif">Your password has been updated, redirecting to <a href="https://www.weeloy.com/backoffice">backoffice</a></div>

        </div>
    </div>
</div>