<table width="269" border="0" align="left" cellpadding="0" cellspacing="5" style="border:1px solid block" >
    
    <tr>
        <td align="left" valign="top" width="269"  style="background-image:url({[{restaurant.default_picture}]}); background-repeat:no-repeat;position:relative;height:auto;">
            <table  width="269" cellpadding="0" cellspacing="0" style="height:25px;background-color:#A0A0A0 ;margin-top:0px;">
              <tr>
                  <td style="width:70%;font-size:12px;margin-top:2px;">
                      {% if restaurant.best_offer.offer|default %}{[{restaurant.best_offer.offer}]}{% else %}{[{restaurant.promotion}]}{% endif %} and more ...
                  </td> 
              </tr>
            </table>
           {# <p  style="height:25px;background-color:#A0A0A0 ; font-size:12px;color: #fff;padding-left:10px;text-align:left;margin-top:0px;" ></p>#}
            <table height="65" border="0" align="bottom" cellpadding="0" cellspacing="0" style="margin-top:155px;height:65px;">
                <tr>
                    <td style="width:70%;font-size:12px;">
                        {[{restaurant.title}]} @  {[{restaurant.region}]} - {[{restaurant.pricerating}]} <br />
                        </br />
                        <button type="button" style="background:#2aa8cf;color: #ffffff;padding:2px 24px;border-radius: 0px;border: 1px solid #2BA8CF;font-size:13px;">Book Now</button>
                    </td>
                    <td valign ="top" style="width:30px;" ><img src="{[{restaurant.wheelvalue}]}" style="width:30px;height:30px;"/></td>
                </tr>
            </table>
        </td>
    </tr>

</table>