<header id="header" class="navbar-fixed-top navbar-fixed-top-index " style="height:40px">
    <div class="container">
        <div class="row">
            <div class="logo-container--fix">
                <h2 class="logo"><a href="{[{path_adaptor}]}index.php" id="home">
                        <img width="90px" src="images/logo_w_t_small.png" alt="weeloy-best-restaurant-logo" /></a></h2>
            </div>
            <div class="nav-container--fix {%if session.user.email is defined %}iflogged{% endif %}">
                <nav class="navbar navbar-default custom_navbar" role="navigation" style="margin:0px">
                    <div class="container-fluid" style="width: 100%;margin: auto;margin-top: 6px;"> 
                        <!-- Brand and toggle get grouped for better mobile display -->
                        {%if session.user.email is not defined %}
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="login-menu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        {% endif %}
                        <div class="collapse navbar-collapse custom_navigation" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav pull-right" style="text-shadow: none;">  
                            {%if session.user.email is not defined %}
                                {%if true %}                           
                                <li class="simple--menu">
                                            <a class="btn" id="login" style='padding-bottom: 4px;padding-top: 3px;text-shadow: none;'  data-toggle="modal" data-target="#loginModal"  href="{[{path_adaptor}]}modules/login/login.php?platform=member" onclick='LocalSignIn();'>Login to Weeloy</a>
                                </li>
                                {% endif %} 
                            {% endif %} 
                         </ul> 
                        </div>
                    </div>
                </nav>
            </div>
            <div class='logged-in--fix'>
        
                    {%if session.user.email is defined %}
{%if true %} 
                       <div class="dropdown" style="margin-top: 14px; margin-left: 10px; float: right;">
                            <a class="account" ><img src="images/ico_user-256.png" alt="weeloy-member-section"></a>

                                                <div class="submenu">
                                                <ul class="root">
                                    <!--<li ><a href="mydashboard" id="member-dashboard">Dashboard</a></li>-->
                                     
                                    <li ><a href="{[{path_adaptor}]}mybookings" id="member-mybooking">Bookings</a></li>
                                    <li ><a href="{[{path_adaptor}]}myreviews"  id="member-myreviews">Reviews</a></li>
                                    <li ><a href="{[{path_adaptor}]}myaccount" id="member-account">Account</a></li>
                                    <li ><a href="{[{path_adaptor}]}modules/login/logout.php?platform=member"  id="logout">Logout</a></li>
                                    
                                </ul>

                            </div>

                        </div>    
 {% endif %} 
                    {% endif %}           
            </div>
        </div>
    </div>

</header>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body"></div>

        </div>
    </div>
</div>


<script type="text/javascript" >

    function LocalSignUp() {
        if(typeof ShowSignUp !== 'undefined') 
            ShowSignUp();
        }

    function LocalSignIn() {
        if(typeof ShowSignIn !== 'undefined') 
            ShowSignIn();
        }

    $(document).ready(function ()
    {

        $(".account").click(function ()
        {
            
            var X = $(this).attr('id');
            
            if (X === '1')
            {
                $(".submenu").hide();
                $(this).attr('id', '0');
            }
            else
            {
                $(".submenu").show();
                $(this).attr('id', '1');
            }

        });

//Mouse click on sub menu
        $(".submenu").mouseup(function ()
        {
            return false
        });

//Mouse click on my account link
        $(".account").mouseup(function ()
        {
            return false
        });


//Document Click
        $(document).mouseup(function ()
        {
            $(".submenu").hide();
            $(".account").attr('id', '');
        });
    });
</script>
