{% include 'header/callcenterheader_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Event Booking Form</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear Guest,</strong><br />
                     <br />
                        Thank you for your interest in {[{data.res_title}]} restaurant. To submit your request, please follow this link : <br /><br /> 
                            {[{data.request_form}]} 
                </td>
            </tr>
                <tr>
                    <td align="center" valign="top" style="padding-top:20px;font-family:arial; color:#494949; font-size:13px;">  {[{data.res_title}]} restaurant team wishes you a pleasant day.</td>
                </tr>
               
                    <tr>

                        <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px;">
                            <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">
                           </table>
                        </td>
                    </tr>
</table>    
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>