<script type="text/ng-template" id="modifprofile.html">
<style>th, td { padding: 5px; }</style>
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<table width='100%' style='margin-left:-10px;font-size:12px;font-family:Roboto;font-weight:bold;'>
<tr ng-repeat="x in modalOptions.mydata.profiletitle" ><td> {{ x.a }} : </td><td>{{ x.b }} </td></tr>
<tr><td colspan='2'><hr /></td></tr>
<tr ng-repeat="y in modalOptions.mydata.profilecnt | filter: { a: '!hide'} " ><td> {{ y.a }} : </td><td><input type="text" ng-model="y.b" maxlength='60'  class="form-control input-xs" /></td></tr>
</table>
<table  ng-if="modalOptions.mydata.profilecode.length > 0" class='table' style="margin-left:-10px;font-size:12px;font-familly:Roboto">
<tr><td><h3>CODE: </h3></td><td>
<label ng-repeat="z in modalOptions.mydata.profilecode | filter: { label: '!hide'}" style="font-size:12px;margin-left:10px;"><input type="checkbox" ng-model="z.value"/> {{z.label}} </label>
</td></tr>
</table>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()">{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>


