<ul class="pagination">
		<li ng-class="paginatorsub.isFirstPage()"><a><span class="glyphicon glyphicon-fast-backward" ng-click="paginatorsub.firstPage()"></span></a></li>
	<li ng-class="paginatorsub.prevPageDisabled()">
		<a href="javascript:;" ng-click="paginatorsub.prevPage()"><span class="glyphicon glyphicon-step-backward" ng-click="paginatorsub.firstPage()"></span> Prev</a>
	</li>
	<li ng-repeat="n in paginatorsub.range()" ng-class="{active: n == paginatorsub.getPage()}" ng-click="paginatorsub.setPage(n)">
		<a href="javascript:;">{{n + 1 + paginatorsub.getPageOffset() }}</a>
	</li>
	<li ng-class="paginatorsub.nextPageDisabled()">
		<a href="javascript:;" ng-click="paginatorsub.nextPage()">Next <span class="glyphicon glyphicon-step-forward" ng-click="paginatorsub.firstPage()"></span></a>
	</li>
	<li ng-class="paginatorsub.isLastPage()"><a><span class="glyphicon glyphicon-fast-forward" ng-click="paginatorsub.lastPage()"></span></a></li>
</ul>
