<main>
<section>
<div class = "container">
<!--First column-->
<div class="col-md-12">

	<!--Form with header-->
	<div class="card">
		<img class="img-fluid" ng-src="images/new/contact.jpg" />
		<div class="card-block">

			<!--Body-->
			<form  ng-submit="onsubmit('c');" autocomplete="off">

			<div class="md-form">
				<i class="fa fa-user prefix"></i>
				<input type="text" id="name" ng-model="user.name" class="form-control"  autocomplete="off">
				<label for="name">Votre nom</label>
			</div>

			<div class="md-form">
				<i class="fa fa-envelope prefix"></i>
				<input type="text" id="email" ng-model="user.email" class="form-control"  autocomplete="off">
				<label for="email">Votre email</label>
			</div>

			<div class="md-form">
				<i class="fa fa-tag prefix"></i>
				<input type="text" id="subject" ng-model="user.subject" class="form-control"  autocomplete="off">
				<label for="subject">Sujet</label>
			</div>

			<div class="md-form">
				<i class="fa fa-pencil prefix"></i>
				<textarea type="text" id="comment" ng-model="user.comment" class="md-textarea"  autocomplete="off"></textarea>
				<label for="comment">Contenu</label>
			</div>

<!--
			<p>
			<div class="g-recaptcha" data-sitekey="6LdmpA4UAAAAAETsRaMqz8cjrUoyFCNwuuvJk5DS" data-callback="correctCaptcha" lang="fr"></div>
			<input style="position: absolute !important; left: -4000px !important; top: -4000px !important; display: none !important" value="" name="User" type="text" />
			</p>
-->			
				<div class="text-xs-center">
					<button class="btn btn-default">Envoyer</button>
				</div>
			</form>
		</div>

	</div>
	<!--/Form with header-->

</div>

</div>
</section>
</main>
<script>
        $('form').on('submit', function(e) {
          if(grecaptcha.getResponse() == "") {
            e.preventDefault();
            alert("Etes-vous un 'robot'!?");
            return false;
          } else {
            return true;
          }
});

</script>