   <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-4 offset-md-1">
                    <h6 class="title">Néo-Calédonienne de Conseil</h6>
              <ul>
                <li>1er &eacute;tage - Immeuble Kaori</li>
                <li>45bis route du Port Despointes</li>
                <li>Faubourg Blanchot<br/>BP 32009 - 98897 Noumea Cedex</li>
                <li> Nouvelle-Cal&eacute;donie</li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title"></h5>
              <ul>
                <li>Tel : +687 24 63 97</li>
                <li>Fax : +687 24 63 98</li>
                <li><a href="#contact" style='font-size:13px;font-family:Roboto;color:DeepSkyBlue'>Nous contacter</a></li>
              </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                 </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title"></h5>
                    <ul>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>

    </footer>
