    <header>

        <!--Navbar-->
        <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx"><i class="fa fa-bars" style="padding-right:80px;"></i></button>
                    <a class="navbar-brand" href="#main"><img src='img/Logo2.jpg' width='120px'  /></a>

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx" style='background-color: #FFFFFF'>
                    <ul class="nav navbar-nav">

                       <li class="nav-item">
                       <a class="nav-link" href="#/"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/"><span ng-class="{active : isRouteActive('accueil')}">ACCUEIL</span><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#offre"><span ng-class="{active : isRouteActive('/offre')}">OFFRE</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#reference"><span ng-class="{active : isRouteActive('/reference')}">REFERENCES</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#equipe"><span ng-class="{active : isRouteActive('/equipe')}">EQUIPE</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#recrutement"><span ng-class="{active : isRouteActive('/recrutement')}">RECRUTEMENT</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><span ng-class="{active : isRouteActive('/contact')}">CONTACT</span></a>
                        </li>
                    </ul>

                    <!--Navbar icons-->
                    <ul class="nav navbar-nav nav-flex-icons" style="background-color:orange">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.linkedin.com/company/n-o-cal-donienne-de-conseil"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/NeoCaledoniennedeconseil/"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>

                </div>
                <!--/.Collapse content-->

        </nav>
        <!--/.Navbar-->

        <!--Mask-->
        <div ng-if="showview === 1" class="view hm-black-strong">
            <div class="full-bg-img flex-center">
                <div class="container">
                    <div class="row" id="home">

                        <!--First column-->
                        <div class="col-lg-6">
                            <div class="description">
                                 <h1 class="h3-responsive text-title" style="text-align:left;font-family:Times">Un conseil de proximité,<br /><i>à vos côtés dans tous<br>vos projets</i></h1>
                                <br>
                            </div>
                        </div>
                        <!--/.First column-->

                        <!--Second column-->
                        <!--/Second column-->
                    </div>
                </div>
            </div>
        </div>
        <!--/.Mask-->

    </header>
