    <main>
        <div class="container-fluid">

            <div class="container-fluid">

                <!-- Jumbotron-->
            <section class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron multicolcard homedesc homedescdesk">
                            <!--<h2 class="h2-responsive text-title">Cabinet Néo-Calédonienne de Conseil</h2>-->
                            <table><tr><td  style='vertical-align: text-top;'  width='44%'>
                            <span class='homedescCap'>F</span>ondé en 2000, le cabinet <strong>Néo-Calédonienne de Conseil</strong> a développé un fort ancrage local et un capital de connaissances dans tous les secteurs de l'économie, y compris dans le vôtre.<br /><br />
                            Avec pour objectif d’accompagner ses clients au plus près de leur besoin, notre équipe composée de consultants locaux issus de grands cabinets internationaux, propose aux entreprises et collectivités des expertises de premier plan autours des métiers qui sont les nôtres.
                            </td><td width='6%'></td>
                            <td style='vertical-align: text-top;' width='50%'>
                            <strong>Néo-Conseil</strong>, c’est également : 
                            <ul style="list-style-type: disc;margin-left:35px;">
                            <li>Un conseil indépendant</li>
                            <li>Des expertises sectorielles développées par nos consultants (ex.: secteur public, secteur financier, mines, tourisme, télécommunications…)</li>
                            <li>La capacité à mobiliser des expertises complémentaires de consultants hors du territoire pour les mettre au service de ses clients</li>
                            <li>Une maîtrise dans la conduite de projets de toutes dimensions</li>
                            <li>Une connaissance approfondie du tissu économique calédonien et des institutions du territoire</li>
			</ul>
			 </td></tr></table>
                        </div>
                        <div class="jumbotron multicolcard homedesc homedescmob">
                            <!--<h2 class="h2-responsive text-title">Cabinet Néo-Calédonienne de Conseil</h2>-->
                            <p><span class='homedescCap'>F</span>ondé en 2000, le cabinet <strong>Néo-Calédonienne de Conseil</strong> a développé un fort ancrage local et un capital de connaissances dans tous les secteurs de l'économie, y compris dans le vôtre.<br /><br />
                            Avec pour objectif d’accompagner ses clients au plus près de leur besoin, notre équipe composée de consultants locaux issus de grands cabinets internationaux, propose aux entreprises et collectivités des expertises de premier plan autours des métiers qui sont les nôtres.</p>
                            <p><strong>Néo-Conseil</strong>, c’est également : 
                            <ul style="list-style-type: disc;margin-left:35px;">
                            <li>Un conseil indépendant</li>
                            <li>Des expertises sectorielles développées par nos consultants (ex.: secteur public, secteur financier, mines, tourisme, télécommunications…)</li>
                            <li>La capacité à mobiliser des expertises complémentaires de consultants hors du territoire pour les mettre au service de ses clients</li>
                            <li>Une maîtrise dans la conduite de projets de toutes dimensions</li>
                            <li>Une connaissance approfondie du tissu économique calédonien et des institutions du territoire</li>
			    			</ul>
			    			</p>
                        	</div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>

            
            <!--Projects section v.2-->
            <section class="section">
                        <div class="divider-new"  style="font-family:lato"><h2 class="h2-responsive">Notre offre</h2> <!--  de services -->
                        </div>

                <!--Section heading-->
                  <!--Section description-->
                <!-- <h4 class="section-description wow fadeIn" data-wow-delay="0.2s">Une palette de compétences axées sur vos besoins</h4> -->

                <!--First row-->
                <div ng-repeat="subservice in service"  class="row text-xs-center">

                    <!--First column-->
                    <div ng-repeat="x in subservice" class="col-lg-4 col-md-6 mb-r">

                        <!--Featured image-->
                        <div class="view overlay hm-white-slight z-depth-2">
                            <a ng-click="pageScrollto(x.href)"><img ng-src="{{ x.pict }}"></a>
                        </div>

                        <!--Excerpt-->
                        <div class="card-block">
                            <a ng-click="pageScrollto(x.href)" class="{{ x.color }}"><h5><i class="{{ x.icon }}" style="font-size:25px"></i></h5></a>
                            <h3>{{ x.title }}</h3>
                            <p style="font-size:16px;">
                            <ul style="list-style-position: inside">
                            <li ng-repeat="y in x.list">{{ y }}</li>
			    </ul>
                            </p>
                            <!--<a class="{{ x.button }}">Learn more</a>-->
                        </div>

                    </div>
                    <!--/First column-->
                </div>
                <!--/First row-->
            </section>
            <!--/Projects section v.2-->
            
 

            <!--Section: Product gallery-->
            <section class="section mb-4">
           <div class="divider-new" style="margin-bottom:5px;font-family:lato"><h2 class="h2-responsive">Secteurs d'activité</h2></div>
                <div style="margin-bottom:30px;text-align:center;font-size:16px"><i>Nous intervenons dans les principaux secteurs d’activité, auprès de filiales de grands groupes, de PME et de structures publiques</i></div>
                <div class="col-sm-4 row" ng-repeat="y in [1,2,3]" style="margin-bottom:30px;">
                <table style="margin-left:60px;font-size:16px;">
    			<tr style="list-style-type: none;" ng-repeat="x in categories" ng-if="$index >= ((y-1) * 3) && $index < (y * 3)"><td valign='top'><i class="{{ x.icon }}" style="margin-right:20px;color:brown;"></i></td><td><strong>{{x.title}}</strong> : {{x.content}}</td></tr>
		</table>
		</div>
</section>

            <div class="row mb-5" style="margin-bottom:30px">
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <div class="mdb-lightbox no-margin">

                        <figure ng-repeat="p in gallery track by $index" class="col-md-4">
                                <img ng-src="{{ p }}" class="img-fluid">
                         </figure>
                        
                    </div>

                </div>
            </div>

            <!--/Section: Product gallery-->


        </div>
    </main>
