<main>
<div class="row" ng-repeat="b in mBr">
<div id="{{b.anchor}}" class="row">&nbsp;</div>
<div class="divider-new" style="margin-bottom:5px;font-family:lato"><h2 class="h2-responsive">{{ b.title }}</h2></div>
<div  ng-repeat="a in b.index" class="col-md-6">
<div  class="card offrecard" style="margin: 40px 10px 10px 10px;">
<img class="img-fluid offrecard" ng-src="images/new/{{mAr[a].img}}"/>

<!--Card content-->
<div class="card-block">
	<!--Title-->
	<!-- <h4 class="card-title">{{ mAr[a].title  }}</h4> -->
	<strong>{{ mAr[a].subtitle  }}</strong><br />
	<cite>{{ mAr[a].citation  }}</cite>
	<!--Text-->
	<p class="card-text">
	<ul id='offers'>
	<li ng-repeat="z in mAr[a].contenu">{{ z }}</li>
	</ul>
	<br ng-repeat="z in mAr[a].extra" />
	</p>
</div>
<!--/.Card content-->

</div>
<div  ng-if="$odd && !$last" class="row" ><br /></div>
</div>
</div>
</main>
