       <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Ils nous ont fait confiance</h2>
                    </div>
                    <div class="mdl-card__media">
<!--                        <img class="article-image" src=" images/clients.jpg" border="0" alt=""> -->
					<ul class='tenpline' ><li ng-repeat="p in clients" style='display:inline;margin:40px 40px 0 0;'><img ng-src="{{ p }}" style='max-width:75px;'></li></ul>
                    </div>
                </div>
            </div>

      </main>
