{% include 'header/callcenterheader_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">{[{data.labelContent['title_dining']}]}</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                     <br />
                         {% if data.notifyflg =='waived'  %} 
                            Restaurant has been waived the credit card details in your booking. If further modification and update booking again to contact restaurant directly.
                          {% else %}
                           {[{data.labelContent['email_content']}]} {[{data.restaurantinfo.title}]}.
                           {% endif %} <br />
                        <br />
                    {[{data.labelContent['booking_message']}]}.
                
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">{[{data.labelContent['booking_details']}]}</td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">{[{data.labelContent['data_time']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdate}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['guests']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['confirmation_no']}]}.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>
                         {% if data.product %} 
                            <tr>
                                <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Product</td>
                                <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.product}]}</strong></td>
                            </tr>
                         {% endif %} 

                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['restaurant_name']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['address']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}</strong><br />
                                <a href="http://maps.google.com/?q={[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}" ><span style="font-size:11px; color:#9a9a9a; text-transform:none;">Map</span></a></td>
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['phone no']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.tel}]}</strong></td> 
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['special_request']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.specialrequest}]}</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% if data.burntEndsSplReq|length > 0 %}  
                <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Menus & Preferences</td>
                </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td align="left" valign="top"  class="list" style="font-size:14px; padding-left:25px;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                              {[{data.burntEndsSplReq['msg']}]} 
                                <br /><br />
                              {[{data.burntEndsSplReq['pdf_link']}]} 
                        </td>
                    </tr>
                    </table>
                    </td>
                 </tr>

              {% endif %} 
               {% if data.bacchanalia_info|length > 0 %}  
               <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Important Information</td>
                </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td align="left" valign="top"  class="list" style="font-size:12px; padding-left:25px;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                             Lunch Menu: {[{data.bacchanalia_info['lunch']}]} 
                                <br /><br />
                                 Dinner Menu: {[{data.bacchanalia_info['dinner']}]} 
                                <br /><br />
                                 {[{data.bacchanalia_info['parking']}]} 
                                <br /><br />
                                 {[{data.bacchanalia_info['corkage_fee']}]} 
                                <br /><br />
                                {[{data.bacchanalia_info['info']}]} 
                        </td>
                    </tr>
                    </table>
                    </td>
                 </tr>
               
           {% endif %}
            {% if data.isDeposit %} 
                <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Deposit Details </td>
                </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Transaction id</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.payment_id}]}</strong></td>

                    </tr>
                    
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">amount</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.currency}]} {[{data.amount}]}</strong></td>

                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">status</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.despositstatus}]}</strong></td>

                    </tr>
                    </table>
                    </td>
                 </tr>
           {% endif %} 
           {% if data.isInvoice %} 
               
                 <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:5px;padding-left:16px;">Cancel Policy </td>
                </tr>
                <tr>
                    <td class="list" align="left" valign="top"  >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                            {% if data.restaurant == 'SG_SG_R_TheFunKitchen' or  data.restaurant == 'SG_SG_R_Bacchanalia' %} 
                                <tr>
                                    <td align="left" valign="top"  class="list" style="font-size:13px; padding-left:10px;padding-top:10px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                                         {[{data.bacchanaliacancelpolicy['message']}]}.   
                                    </td>
                                </tr>
                                 {% endif %} 
                                 
                            {% if data.restaurant != 'SG_SG_R_TheFunKitchen' or  data.restaurant != 'SG_SG_R_Bacchanalia' %} 
  
                            <tr>
                                 <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:8px;padding-top:5px; padding-right:5px;color:#494949;">{[{data.cancelpolicy.message}]}</td>
                            </tr>
                             {% endif %} 
                        </table>
                    </td>
                </tr>
            {% endif %}
          

              <tr>
                    <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px; border-bottom:1px solid #e8e8e8;">
                        <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">
                            <tr>
                                <td align="center" valign="top" class="share-icon-wrap">
                                    <table width="242" border="0" cellspacing="0" cellpadding="0" align="center" class="share-icons">
                                        <tr>
                                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkenddate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/emails/calendar.jpg" width="34" height="32" alt=" " style="display:block; border:0" /></a></td>
                                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkenddate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" >{[{data.labelContent['btn_gcalender']}]}</a></td>
                                            
                                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/updatebooking.php?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank"><img src="https://static.weeloy.com/emails/close.jpg" alt=" " style="display:block; border:0" /></a></td>
                                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/updatebooking.php?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;">
                                                    {% if (data.restaurant == 'SG_SG_R_TheFunKitchen') or (data.restaurant == 'SG_SG_R_Bacchanalia') %}
                                                        {% if data.notifyflg =='waived'  %} 
                                                            {[{data.labelContent['btn_cancel']}]}
                                                        {% else %}
                                                            {[{data.labelContent['btn_update']}]}
                                                        {% endif %} 
                                                    {% else %}
                                                        {% if data.isDeposit %} 
                                                              {[{data.labelContent['btn_cancel']}]}
                                                        {% elseif data.isInvoice  %} 
                                                            {[{data.labelContent['btn_cancel']}]}
                                                        {% else %}
                                                            {[{data.labelContent['btn_update']}]}
                                                        {% endif %}  
                                                    {% endif %}  
                                      
                                            </td> 
                                       </tr>

                                    </table>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% if data.restc  %}
                <tr>
                    <td align="left" valign="top"  style="padding-top:10px; padding-bottom:15px; padding-right:10px; padding-left:16px; font-size:11px;font-style: italic;" >{[{data.labelContent['addtional_info']}]}:</td>
                </tr>

                <tr>
                    <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:5px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#494949;" >
                           <p style ='white-space: pre-line' >{[{data.restc}]}</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#494949;" >
                        {[{data.llorder}]} 
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;font-style: italic;color:#494949;" >
                        {[{data.ldorder}]} 
                    </td>
                </tr>
            {% endif %}
             {% if data.restaurant == 'SG_SG_R_TheFunKitchen' or  data.restaurant == 'SG_SG_R_Bacchanalia' %} 
                     {% include 'footer/bacchanalia_footer.html.twig' ignore missing %}
                 {% endif %} 
        
           
                 
                 
</table>    
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>
     