<style>

.dailyspecialcontainer {
    float: left;
    height: 340px;
    width: 272px;
    margin-bottom: 15px;
    margin-left: 15px;

}

.dailyspecialimage {
    width: 270px;
    height: 160px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

.dailyrestaurantcontainer
{
  font-weight: bold;
  font-size: 14px;
}

.dailytitlecontainer 
{
    font-weight: bold;
    font-size: 16px;
}

.dailyspecialdesc {
    width: 270px;
    height: 110px;
    overflow-y: auto;
}

.clearboth 
{
  clear: both;
}

.custombtn 
{
  padding: 9px 100px;
}

.showdata
{
  height: 650px;
  width: auto;
  overflow-y: scroll;
}

.showdata::-webkit-scrollbar {
  display: none;
}

.mainholder{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.weeloy-text {
  color: #FFFFFF;
  background-color: #283271 !important;
}

.weeloy-text:hover {
    color: #FFFFFF;
}

.modal-dialog-dsb {
    width: 800px;
    margin: 30px auto;
}

.showdata {
    height: 360px;
    width: auto;
    overflow-y: scroll;
}

.modal-header-dsb {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: none;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}


</style>


    <section class="header-container" style="background-image: url('images/home-banner.jpg'); background-position: center;background-size:cover;">


        <div class="custom-new-search-bar container">
            <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
        </div>
        <div class="header-text text-center">
                <h5 >{{headertitle}}</h5>
                <span  >{{UserSession.search_city}}</span>
        </div>
    </section>
<section class ='early_book_section' style='margin-top:10px;'>
    <div id="section_first" class="container" >
        <div class='row row-eq-height showdata' when-scrolled ="more()">
             <div  ng-repeat="item in items" style=' padding-top:0px;'>
                <div class="col-md-3 col-sm-6 col-lg-3 panel" >
                    <div class='row' style='height:50px;margin-left:3px;'>
                       <p >{{item.headline}}</p>
                    </div>
                     <a ng-href="#" target="{{ OpenRestaurantInNewTab }}"> 
                         <img ng-src="mdclient/assets/images/month/transparent.png" class="img-responsive img-transparent" style='width:100%;background: url("https://s3-ap-southeast-2.amazonaws.com/media.weeloy.asia/upload/dsb/{{today}}/{{item.code}}/{{item.image}}");background:cover;background-repeat: no-repeat;'>
                     </a>
                       <div class="item-content" style='margin-left:3px;'>
                           <p class="hover" style='padding-bottom:10px;'>{{item.description}}</p>
                       </div>
                     <div class="dailyspecialbtn"><center><input class="btn weeloy-text custombtn" type="button" name="" value="Book Now"></center></div>
   
                </div>

             </div>
        </div>
    </div>



    <!-- Modal Popup -->
    <div class="modal fade" id="dbsformmodal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog-dsb" role="document">
        <div class="modal-content">
           <div  ng-include src="'mdclient/app/components/modals/post_dailyspecials.tpl.html'"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Popup -->
    <div class="modal fade" id="dbsregistrationformmodal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog-dsb" role="document">
        <div class="modal-content">
           <div  ng-include src="'mdclient/app/components/modals/daily_specialboard_registration.tpl.html'"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</section>

