 <section class="header-container" style="background-image: url('images/home-banner.jpg'); background-position: center;background-size:cover;">
        <div class="custom-new-search-bar container">
            <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
        </div>
        <div class="header-text text-center">
                <h5 >{{headertitle}}</h5>
                <span  >{{UserSession.search_city}}</span>
        </div>
</section>


<section class ='early_book_section' style='margin-top:10px;'>
    <div class="ctn">
        <div id="section_first" class="my-fluid-container" >
            <div class='row-fluid' >
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                 <div  ng-repeat="item in items" style=' padding-top:0px;'>
                <div class="col-md-2 col-sm-4 col-lg-2 col-xs-12 col-half-offset" ng-click="magazinedetails($index,item,$event)" >
                    <div class="card">
                            <img class="card-img-top img-responsive img-transparent" ng-src="mdclient/assets/images/month/transparent.png" style='width:100%;background: url(https://d1zfy3x6jx1ipx.cloudfront.net/{{item.imageUrl}});background:cover;background-repeat: no-repeat;' alt="Card image cap">
                            <div class="card-block">
                              <h5 class="card-title" ng-bind="item.post_title"></h5>
                              <p class="card-text">{{item.description}}</p>
                            </div>
                    </div>
                    </div>
                 </div>
                <div class="modal fade" id="magazineModal" tabindex="-1" role="dialog" aria-labelledby="magazineModal" aria-hidden="true">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row-fluid" ng-repeat ="con in contentArr"> 
                                        <div class="span6">
                                               <img ng-src="{{con.image}}" class="img-responsive img-transparent">
                                         <!-- left goes here -->
                                        </div>
                                        <div class="span6">
                                            <p class="hover" style='padding-bottom:10px;'>{{con.description}}</p>
                                         <!-- right goes here -->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                      </div>
            </div>
<!--                 <div  ng-repeat="item in items" style=' padding-top:0px;'>
                    <div class="col-md-2 col-sm-4 col-lg-2 col-half-offset panel" ng-click="magazinedetails(item.ID)" >
                        <a ng-href="#" target="{{ OpenRestaurantInNewTab }}">
                             <img ng-src="mdclient/assets/images/month/transparent.png" class="img-responsive img-transparent" style='width:100%;background: url(https://d1zfy3x6jx1ipx.cloudfront.net/{{item.imageUrl}});background:cover;background-repeat: no-repeat;'>
                             <p ng-bind="item.post_title"></p>
                         </a>
                    <div class="item-content" style='margin-left:3px;border:1px solid black;'>
                        <p class="hover" style='padding-bottom:10px;'>{{item.description}}</p>
                    </div>
                    </div>
                   
                    
                 </div>-->
             </div>
            </div>
        </div>
        </div>
    </section>
