<!doctype html>
<html lang="en" ng-app="materialExample">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Alertify.js is a lightweight brower alert and dialog plugin.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Material Calendar</title>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,600,700bold|Roboto:400,900,700italic,700,500italic,500,400italic' rel='stylesheet' type='text/css'/>
    <link href="../client/bower_components/material/angular-material.min.css" rel="stylesheet" type="text/css" />    
    <link rel="stylesheet" href="calendar.css">
</head>
<body ng-controller="calendarCtrl">
                <div class="container">
                    <div style="height: 400px;width: 600px;font-size:10px">
                        <calendar-md id="calendar-demo"
                        flex layout layout-fill
                        calendar-direction="direction"
                        on-prev-month="prevMonth"
                        on-next-month="nextMonth"
                        on-day-click="dayClick"
                        title-format="'MMMM y'"
                        ng-model='selectedDate'
                        day-format="dayFormat"
                        day-label-format="'EEE'"
                        day-label-tooltip-format="'EEEE'"
                        day-tooltip-format="'fullDate'"
                        week-starts-on="weekStartsOn"
                        start-Date-of-month="1"
                        no-of-days="30"
                        tooltips="true"
                        day-content="setDayContent"
                        disable-future-selection="disableFutureDates"></calendar-md>
                    </div>
            </div>
 <script type='text/javascript' src="../client/bower_components/angular/angular.min.js"></script>
<script type='text/javascript' src="../client/bower_components/angular/angular-animate.min.js"></script>
<script type='text/javascript' src="../client/bower_components/material/angular-material.min.js"></script>
<script type='text/javascript' src="../client/bower_components/angular/angular-aria.min.js"></script>
<script type='text/javascript' src="../client/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type='text/javascript' src="../client/bower_components/material/material.min.js"></script>
<script type='text/javascript' src="../client/bower_components/material/angular-material-calendar.js"></script>
<script src="calendar.js"></script>
</body>
</html>
