		 <div class="col-md-8">
				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-tower"></i></span>
					<input type="text" class="form-control input-sm" ng-model="restaurant" readonly> 
				</div></div><br />
                                
				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-tag"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.orderID" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-pushpin"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.status" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
             	 	<span class="input-group-btn">
               	 	<button type="button" class="btn btn-default btn-sm" ng-click="mydata.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
               	 	</span>
 					<input type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" min-date="mydata.minDate" max-date="mydata.maxDate" ng-model="mydata.selecteddate"
					is-open="mydata.opened" datepicker-options="mydata.dateOptions" ng-change='mydata.onchange();' close-text="Close" readonly />
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-usd"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.total" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-plus"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.tax" readonly> 
				</div></div><br />

				<div class="row">
                <div class="input-group">
				<div class='input-group-btn sm' dropdown >
				<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'><i class="glyphicon glyphicon-usd"></i>&nbsp;<span class='caret'></span></button>
				<ul class='dropdown-menu scrollable-menu'>
				<li ng-repeat="p in ['SGD', 'USD', 'BATH', 'EURO' ]"><a href ng-click="neworder.currency=p;">{{ p }}</a></li>
				</ul>
				</div>
				<input type='text' ng-model='neworder.currency' class='form-control input-sm' placeholder="currency" readonly >
				</div></div><br />

				<div class="row">
                <div class="input-group">
				<div class='input-group-btn sm' dropdown >
				<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'><i class="glyphicon glyphicon-briefcase"></i>&nbsp;<span class='caret'></span></button>
				<ul class='dropdown-menu scrollable-menu'>
				<li ng-repeat="p in ['pickup', 'delivery' ]"><a href ng-click="neworder.deliverymode=p;">{{ p }}</a></li>
				</ul>
				</div>
				<input type='text' ng-model='neworder.deliverymode' class='form-control input-sm' placeholder="delivery mode" readonly >
				</div></div><br />

				<div class="row">
                <div class="input-group">
				<div class='input-group-btn sm' dropdown >
				<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'><i class="glyphicon glyphicon-king"></i>&nbsp;<span class='caret'></span></button>
				<ul class='dropdown-menu scrollable-menu'>
				<li ng-repeat="p in ['Mr.', 'Mrs', 'Ms']"><a href ng-click="neworder.title=p;">{{ p }}</a></li>
				</ul>
				</div>
				<input type='text' ng-model='neworder.title' class='form-control input-sm' placeholder="Title" readonly >
				</div></div><br />
				
				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.firstname" placeholder="first name"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.lastname" placeholder="last name"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.email" placeholder="email"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-earphone"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.mobile" placeholder="mobile"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-flag"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.address" placeholder="address"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-globe"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.zip" placeholder="zip code"> 
				</div></div><br />

				<h3><center>Catering Items Description</center></h3>
				<div ng-repeat="x in itemList track by $index">
				<div ng-show="x.status !== 'delete'">
				
				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-tasks"></i></span>
                    <input type="text" class="form-control input-sm" ng-model="x.orderID" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control input-sm" ng-model="x.itemID" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control input-sm"  ng-model="x.status" readonly> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control input-sm"  ng-model="x.title" placeholder="Title"> 
				</div></div><br />

				<div class="row">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-list"></i></span>
					<input type="text" class="form-control input-sm"  ng-model="x.description" placeholder="Description"> 
				</div></div><br />

				<div class="row">
                    <div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-usd"></i></span>
					<input type="text" class="form-control input-sm" ng-model="x.price" ng-change='updateprice();' placeholder="Price"> 
				</div></div><br />
				
				<div class="row">
                <div class="input-group">
				<div class='input-group-btn btn-sm' dropdown >
				<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'><i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span></button>
				<ul class='dropdown-menu scrollable-menu'>
				<li ng-repeat="p in [1,2,3,4,5,6,7,8,9]"><a href ng-click="x.quantity=p; updateprice();">{{ p }}</a></li>
				</ul>
				</div>
				<input type='text' ng-model='x.quantity' class='form-control input-sm' placeholder="Quantity" readonly >
				</div></div><br />
				
				<div class="row">
                    <div class="input-group">
					<span class="input-group-addon input-sm"><i class="glyphicon glyphicon-usd"></i></span>
					<input type="text" class="form-control input-sm" ng-model="neworder.currency" readonly> 
				</div></div><br /><br />

				 <p align="right"><a href ng-click='deleteitem(x);' class="btn btn-warning btn-sm" style='color:white;width:100px;'><span class='glyphicon glyphicon-minus'></span> &nbsp;delete item </a></p><hr />
				</div>
				</div>
				
				 <a href ng-click='onemore();' class="btn btn-info btn-sm" style='color:white;'><span class='glyphicon glyphicon-plus'></span> &nbsp;one more </a><br /><br /><br /><br />
				</div>
