

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv='expires' content='mon, 1 jan 1998 05:00:00 gmt'/>
<meta http-equiv='pragma' content='no-cache'/>
<meta http-equiv='pragma' content='cache-control: max-age=0'/>
<meta http-equiv='last-modified' content='mon, 1 jan 1998 05:00:00 gmt'/>
<meta http-equiv='cache-control' content='no-cache, must-revalidate'/>
<meta name='robots' content='noindex, nofollow'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="HandheldFriendly" content="true" />
<title>Booking Confirmation - Weeloy</title>
<base href="../../../"/>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-select.css" rel="stylesheet" />
<link href="css/bootstrap-social.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="modules/booking/assets/css/bookingform.css?v=1" rel="stylesheet" >

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type='text/javascript' src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ngStorage.min.js"></script>
<style>




</style>

</head>
<body ng-app="myApp"  style="background: transparent none repeat scroll 0 0;">

<!-- tracking code for GTM -->



<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQZ2W7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQZ2W7');</script>
<!-- End Google Tag Manager -->


<div id='booking' ng-controller='MainController'  >

	<div class="container mainbox">    
		<div class="panel panel-info" >
			<div class="panel-heading">
				<div class="panel-title" style='width:300px;'> {{ bookingtitlecf | uppercase}} </div>
			</div>     

			<p class="slogan">{{ confirmsg}} {{hoteltitle}}<br /><br />
				<strong>{{ confirmsg2}} {{confirmation}} {{spincode}} </strong>
				<br/>{{ confirmsg3}}
				<br /><span style="font-size:11px;" ng-if='flgsg'><a href='https://www.weeloy.com' target='_blank'>{{ confirmsg4}}</a> </span> 
			</p>

			<div class="panel-body" >

				<div class='left-column'>
						<img ng-src='{{imglogo}}' height='120px' id='theLogo' name='theLogo'>
							<div class="book-form-lg">
								<table width='90%'>
									<tr ng-repeat="x in checkmark">
										<td>
											<span class='glyphicon glyphicon-ok checkmark'></span> 
											<br />&nbsp;
										</td>
										<td ng-class='pcheckmark'>
											<span ng-bind="x.label1"></span>
											<span ng-bind="x.label2"></span> 
											<br />&nbsp;
										</td>
								</table>
							</div>
					</div>

					<div class='right-column separation-left no-mobile'>

							<div ng-repeat="x in bookinginfo" class='row' style="margin-left:5px">
								<div class="input-group" ng-if="x.value != '' && x.label != 'divider'">
									<span > {{x.label}} : {{x.value}} </span>
							</div>
								<h1 ng-if="x.label == 'divider'" ng-bind="x.value | uppercase"></h1>
					</div>
					<hr/>
					<iframe src="./ressources/tools/GTM/index.html" width="300" height="80" frameBorder="0" ></iframe>
					</div>
				</div>
			</div>
	</div>                     
</div>  






<script>

var confirmation = 'TheFuPTRVXUV';var tracking = '';var hoteltitle = 'The Fun Kitchen';var restaurant = 'SG_SG_R_TheFunKitchen';var typeBooking = true ;var brwsr_type = '';var imglogo = 'https://media1.weeloy.com/upload/restaurant/SG_SG_R_TheFunKitchen/Logo.png';var pdate = '07/10/2016';var ptime = '19:00';var pcover = '2';var bkchild = '';var pfirst = 'Fraser';var plast = 'Hospitality';var pemail = 'fraser@hospitality.com';var pmobile = '+65 88552200';var prequest = '';var langue = 'en';var optin = '';var topic = 'BOOKING';var partialpath = 'restaurant/singapore/the-fun-kitchen';var partialdesc = '<b> The Difference </b><br/>Lorem ipsum dolor sit amet, eat minim libris nominavi et, an sit justo prodesset. Eam omittam vivendum nominati no, in dolore omnesque sea. Dicta molestie per et, sea ...';var fbId = '1590587811210971';var mcode = '1122';var resBookingDeposit;var resCurrency;var flgsg = true;var is_listing = false;
var app = angular.module("myApp", ['ngStorage']);

app.controller('MainController', function ($scope, $http, $locale, $timeout, $localStorage) {

		//angular.copy(locales['en'], $locale);
		if(resBookingDeposit !== undefined) {
			$scope.resBookingDeposit = resBookingDeposit;
			$scope.resCurrency = resCurrency;
			$scope.hasDeposit = true;
		}

		$scope.restaurant = restaurant;
		$scope.langue = langue;
		$scope.pcheckmark = ($scope.langue != 'cn') ? 'pcheckmark' : 'pcheckmarkcn';
		$scope.imglogo = imglogo;
		$scope.brwsr_type = brwsr_type;
		$scope.hoteltitle = hoteltitle;
		$scope.confirmation = confirmation;
		$scope.flgsg = flgsg;
		$scope.spincode = (flgsg && mcode != '' && mcode.length == 4 && mcode != '0000') ? '(spin:' + mcode + ')' : '';

		$scope.bookingtitlecf = (typeBooking) ? "BOOKING CONFIRMED" : "REQUESTED CONFIRMED";
		$scope.confirmsg = (typeBooking) ? "Your booking is confirmed at " : "Your request has been sent to ";

		$scope.confirmsg2 = (typeBooking) ? "We are happy to confirm your reservation" : "Your reservation number is ";
		$scope.confirmsg3 = "You will receive the details of your reservation by email and SMS";
		$scope.confirmsg4 = "You can sign in using your email to view all your bookings and leave your reviews";
		$scope.bacchanalia = "Your table has been blocked, we are sending you an e-mail to reconfirm the booking";
		$scope.listtag1 = "Free Booking";
		$scope.listtag2 = (typeBooking) ? "Instant Reservation" : "No reservartion";
		$scope.listtag3 = (typeBooking) ? "" : "First come, first serve";
		$scope.listtag4 = (!is_listing) ? "Win" : "Enjoy incredible";
		$scope.listtag5 = (!is_listing) ? "for every bookings" : " promotion";

		$scope.pdate = pdate;
		$scope.ptime = ptime;
		$scope.pcover = pcover;
		$scope.pfirst = pfirst;
		$scope.plast = plast;
		$scope.pemail = pemail;
		$scope.pmobile = pmobile;
		$scope.prequest = prequest;
		$scope.pname = pfirst + ' ' + plast;

		$scope.datetag = "Date";
		$scope.timetag = "time";
		$scope.lunchtag = "lunch";
		$scope.dinnertag = "dinner";
		$scope.guesttag = "number of guests";
		$scope.titletag = "title";
		$scope.firsttag = "firstname";
		$scope.lasttag = "lastname";
		$scope.nametag = "name";
		$scope.emailtag = "email";
		$scope.mobiletag = "mobile";
		$scope.requesttag = "special request";
		$scope.bookingdetail = "booking details";
		$scope.personaldetail = "personal details";
		$scope.buttonmodify = "modify";
		$scope.confinfo = "Please confirm your information";
		$scope.buttonbook= $scope.buttonLabel;

		$scope.checkmark = [{"label1": $scope.listtag1, "label2": " ", "glyph": true}, {"label1": $scope.listtag2, "label2": $scope.listtag3, "glyph": true}, {"label1": $scope.listtag4, "label2": $scope.listtag5, "glyph": true}];
		if (flgsg == false)
			$scope.checkmark.pop(); // don't show "win everytime
		$scope.bookinginfo = [{"label": "divider", "value": $scope.bookingdetail}, {"label": $scope.datetag, "value": $scope.pdate}, {"label": $scope.timetag, "value": $scope.ptime}, {"label": $scope.guesttag, "value": $scope.pcover}, {"label": "divider", "value": $scope.personaldetail}, {"label": $scope.nametag, "value": $scope.pname}, {"label": $scope.emailtag, "value": $scope.pemail}, {"label": $scope.mobiletag, "value": $scope.pmobile}, {"label": $scope.requesttag, "value": $scope.prequest}];

		function sortMethod(a, b) {
			var x = a.name.toLowerCase();
			var y = b.name.toLowerCase();
			return ((x < y) ? -1 : ((x > y) ? 1 : 0));
		}


	});

	String.prototype.capitalize = function () {
		return this.replace(/^./, function (match) {
			return match.toUpperCase();
		});
	};

</script>


    </body>
</html>


