<!--
 * Copyright 2015-2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
-->
<html>
<head>
<title>Sticky Notes</title>
<meta charset="UTF-8"> 
</head>
<style type="text/css">
	*{
	  margin:0;
	  padding:0;
	}
	body{
	  font-family:arial,sans-serif;
	  font-size:100%;
	  margin:1em;
	  background:#666;
	  color:#fff;
	}
	h2,p{
	  font-size:100%;
	  font-weight:normal;
	}
	ul,li{
	  list-style:none;
	}
	ul{
	  overflow:hidden;
	  padding:20px;
	}
	ul li a{
	  text-decoration:none;
	  color:#000;
	  background:#ffc;
	  display:block;
	  height:13em;
	  width:13em;
	  padding:1em;
	  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	  -moz-transition:-moz-transform .15s linear;
	  -o-transition:-o-transform .15s linear;
	  -webkit-transition:-webkit-transform .15s linear;
	}
	ul li{
	  margin:8px;
	  float:left;
	}
	ul li p{
	  font-family:"Reenie Beanie",arial,sans-serif;
	  font-size:160%;
	}

	.cc {
	  	position:relative;
		}
		 	
	ul li a:hover,ul li a:focus{
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	  -webkit-transform: scale(1.25);
	  -moz-transform: scale(1.25);
	  -o-transform: scale(1.25);
	  position:relative;
	  z-index:5;
	}
	ol{text-align:center;}
	ol li{display:inline;padding-right:1em;}
	ol li a{color:#fff;}

</style>
<script type='text/javascript' src="../../client/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../../client/bower_components/moment/moment-with-locales.js"></script>
<link href="https://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css"> 

<script> var app = angular.module("myApplication", []); </script>

<body ng-app="myApplication" ng-cloak >
<div class="container" ng-controller="TestController" ng-init="moduleName='booking'; ">
	<div class="background">
		<!-- <div class="notes">
			<div class="innernotes">
				{{notes}}
				<div ng-bind-html="notes"></div>
			</div>
		</div> -->
		<ul>
		<li ng-repeat="n in notes track by $index"><a href="#" class="cc" ng-style="mystyle[$index%7]"><p>{{n}}</p></a></li>
		</ul>
	</div>
</div>

<script src="../../admin_tms/tmsService.js" type="text/javascript" ></script>
<script src="../../backoffice/inc/libService.js" type="text/javascript"></script>
<script>
app.controller('TestController', ['$scope', 'tmsService', function($scope, tmsService) {

	$scope.notes = "";
	$scope.mystyle = [{"background":"#ffc"}, {"background":"#cfc"}, {"background":"#ccf"}, {"background":"Gainsboro"}, {"background":"cyan"}, {"background":"LightSalmon"}, {"background":"orange"}];

	var key = ["bkrestaurant", "email", "token"];
	var mp = ["restaurant", "email", "token"];
	
	$scope.restaurant = $scope.token = "";
	arg = window.location.search;
	if(arg.length > 10) 
		arg = arg.substring(1, 99);
	argAr = arg.split('&');

	argAr.map(function(ll, index) {
		if(index >= key.length) return;
		$scope[v] = "";
		
		var m = key[index], pat= key[index] + "=", v = mp[index];
		if(ll.search(pat) > -1)
			$scope[v] = ll.substring(pat.length);
		});		
	
	$scope.getCalendar = function(notes) {
		tmsService.tmsgetCalendar({ restaurant: $scope.restaurant, token: $scope.token }, "../").then(function(response){
			var found, start = moment().format().substr(0, 10);
			if(response.data && response.data[0] && typeof response.data[0].object === "string" && response.data[0].object.length > 0) {
				$scope.events = JSON.parse(response.data[0].object.replace(/’/g, "\""));				
				found = $scope.events.some(function(oo) { 
					oo.start = oo.start.substr(0,10);
					if(oo.start === start && oo.title === "STICKYNOTES") {
						$scope[notes] = oo.notes.split('|||').filter(function(ll) { return (ll !== "") });
						return true;
						}
					return false;
					}); 
				}
			});
		};

	$scope.getCalendar('notes');
}]);
</script>
   
</body>
</html>
