<div id="my-account">
 
    <div ng-include="'client/app/shared/partial/_menu_user.tpl.html'"></div>
    <div class="container">
        <div id='msg-alert' class="alert" style="display:none;">
  </div>
        <div ng-show="showAccountForm == 'myAccountForm'" ng-include="'client/app/shared/partial/_my_account_form.html'" class="col-lg-12 col-md-8 col-sm-10 col-xs-12 "></div>
        <div ng-show="showAccountForm == 'changePasswordForm'" ng-include="'client/app/shared/partial/_change_password_form.html'" class="col-lg-12 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1"></div>
  
    </div>
</div>
