#catering{
    .fixedCartTop {
        background-color:#ddd;
        position: fixed;
        padding: 2em;
        left: 50%;
        transform: translateX(-50%);
    }

    h1{
        color: #2aacd2;
        font-family: proximanova-semibold;
        border-bottom: 1px solid silver;
        display: block;
        font-size: 20px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
}
.menu-category{
    clear: left
}

.cart-container {
    position: absolute!important;
    width: 300px;
}

.fix-to-top {
  position: fixed!important;
  top: 40px;
  width: 300px;
}




.main {
  margin:auto;
  width: 100%;
  max-width: 1440px;
}
.sidebar {
  display:inline-block;
  float: right;
  right: 0px;
  width: 300px;
  height: 100px;
}
.content {
  display:inline-block;
  height: 100%;
  width: calc(100% - 301px);
  margin-top: 40px;
}

.catering-vignette{
padding:10px; 
margin-top: 10px; 
margin-bottom: 10px; 
background: white;

-webkit-box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.69);
-moz-box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.69);
box-shadow: 1px 1px 5px 0px rgba(107,107,107,0.69);
}

@media(max-width:767px){    
    .main{
        padding-left: 0px;
    }
}
@media(min-width:768px){    
    .main{
        padding-left: 0px;
    }
    .catering-vignette-parent {
        padding: 10px;
    }
}
@media(min-width:992px){
    .main{
        padding-left: 20px;
    }
    .catering-vignette-parent{
        padding: 10px;
    }
    
}
@media(min-width:1200px){
    .catering-vignette-parent{
        padding: 15px;
    }
}