#checkout {
    padding-top: 80px;
    font-family: 'proximanova';
    margin-bottom: 40px;
    .btn {
        background-image: none;
        border-radius: 2px;
    }
    .checkout-header {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 50px;
        font-family: 'proximanova-bold';
    }
    .checkout-header:after {
        display: block;
        content: '';
        width: 100%;
        border-top: 2px solid #333;
        margin: 0px auto;
        max-width: 80px;
    }
    .restaurant {
        margin-top: 40px;
        margin-bottom: 40px;
        overflow: auto;
        .bar-logo {
            max-width: 150px;
            img {
                width: 100%;
            }
        }
        .restaurant-info {
            overflow: hidden;
            padding-left: 20px;
            h1 {
                font-style: 20px;
                font-weight: bold;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
    }
    .cart {
        .cart-header {
            font-family: 'proximanova-bold';
            font-size: 16px;
            font-weight: bold;
        }
        .cart-items {
            .item {
                overflow: auto;
                .item-name,
                .item-number,
                .item-price,
                .item-remove {
                    float: left;
                }
                .item-name {
                    width: 50%;
                }
                .item-number {
                    width: 20%;
                    .label {
                        border-radius: 1px;
                        color: #333;
                        cursor: pointer;
                    }
                }
                .item-price {
                    width: 20%;
                }
                .item-remove {
                    width: 10%;
                    cursor: pointer;
                }
            }
        }
        > .item {
            .item-price {
                p {
                    width: 90%;
                    font-family: 'proximanova-bold';
                }
            }
        }
    }
    .delivery-time {
        list-style: none;
        padding-left: 0px;
        li {
            p {
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 10px 15px;
                @extend %transition;
                .fa {
                    margin-right: 10px;
                }
            }
            p:hover {
                cursor: pointer;
                background: #1abc9c;
                color: #fff;
            }
            .selected {
                background: #1abc9c;
                color: #fff;
            }
        }
    }
}
