.dailyspecialcontainer {
    float: left;
    height: 340px;
    width: 272px;
    margin-bottom: 15px;
    margin-left: 15px;

}

.dailyspecialimage {
    width: 270px;
    height: 160px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

.dailyrestaurantcontainer
{
  font-weight: bold;
  font-size: 14px;
}

.dailytitlecontainer 
{
    font-weight: bold;
    font-size: 16px;
}

.dailyspecialdesc {
    width: 270px;
    height: 110px;
    overflow-y: auto;
}

.clearboth 
{
  clear: both;
}

.custombtn 
{
  padding: 9px 100px;
}

.showdata::-webkit-scrollbar {
  display: none;
}

.mainholder{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.weeloy-text {
  color: #FFFFFF;
  background-color: #283271 !important;
}

.weeloy-text:hover {
    color: #FFFFFF;
}

.modal-dialog-dsb {
    width: 880px;
    margin: 20px auto;
}

.modal-dialog-dsbbooknow{
  width: 600px;
  margin: 10px auto;
}

.modal-dialog-dsbbookregister {
    width: 660px;
    margin: 10px auto;
}

.showdata {
    height: 530px;
    max-width: 990px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

.dsbbannerholder{
  max-width: 990px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.modal-header-dsb {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: none;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.itempanel {
    width: 198px;
    height: 265px;
    background-color: #ffffff;
    float: left;
}
.item_details{
    font-size:12px;
    padding-left:1px;
}

.itempanelinside {
  border: 1px solid #e2e2e2;
  /*border-radius: 4px;*/
  width: 183px;
  height: 255px;
  margin-left: auto;
  margin-right: auto;
}

.headline{
    font-weight: bold;
    height: 35px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-bottom: 2px;
    line-height: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.itemimage{
  
  width: 182px;
  height: 125px;
}

.restoiconimage{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.itemcontent{
    height: 58px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 60px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.restoicon{
  float: left;
  width: 24px;
  height: 24px;
}
.restodet{
  float: left;
  width: 145px;
  height: 30px;
  margin-left: 7px;
  font-size: 11px;
}

.restoname {
    height: 15px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restoadd {
    height: 15px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 9px;
}

.modalimage {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    max-height: 473px;
    margin-bottom: 13px;
}

.modalheader {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 30px;
}

.modaltextcontent {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.modalcontent {
    width: 880px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(253, 253, 253, 0.2);
    outline: 0;
    /* -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5); */
    /* box-shadow: 0 3px 9px rgba(0,0,0,.5); */
}

.modalcontentbooknow {
    width: 650px;
    height: 700px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modalcontentbooknowmod {
    width: 650px;
    height: 940px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modalbuttom {
    background-color: #fff;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.restoiconimagemodal{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.restonamemodal {
    font-weight: bold;
    height: 15px;
    line-height: 14px;
    
}

.restoaddmodal {
    height: 15px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restonamemodal {
  height: 15px;
  width: 600px;
  line-height: 14px;
}

.restoaddressmodal {
  height: 15px;
  width: 600px;
  line-height: 14px;
}

.dailyspecialbtn {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}

.partners{
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

.regbtn{
  float: right;
}
.cbtnholder
    {
        padding-top: 5px;
    }

.titleboard{
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

.dsbbtnregtext{
  color: #fff;
  text-align: center;
}

.modalimageinner{
  background-position: inherit !important;
  background-repeat: no-repeat !important;
  background-size: inherit !important;
}

.modalbookingarea{
    width: 878px;
    position: relative;
    background-color: #fff;
}

.dsbtext {
    font-size: 15px;
}

.dsbtextc {
    font-size: 30px;
}

.dsbtextd {
    font-size: 18px;
}

.dsbbtnreg{
  float: right;
}

.dsbbtnregtext{
  color: #fff;
}
.btn-leftBottom-blue-noborder {
    background: #283271;
    border: 1px solid #283271;
}

.book-button-sm2 {
    width: 100%;
    height: 35px;
}

.book-button-sm2 {
    color: #fff;
    font-weight: 400;
    padding: 7px;
    width: 100%;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.dsbbannerimg {
/*    background-image: url(images/dsbbanner.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: 100% 100%; */
    height: 100%;
    width: 100%;
}

.closebtn {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    display: none;
}


.modal-dialog-dsb:hover .closebtn{
  display: block;
}

@media screen and (max-width : 621px) {
  .itempanel {
      width: 100%;
      height: 265px;
      background-color: #ffffff;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media  screen and (min-width : 622px) and (max-width : 850px) {
  .itempanel {
      width: 33%;
      height: 265px;
      background-color: #ffffff;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media screen and (min-width : 851px) and (max-width : 1004px) {
  .itempanel {
      width: 25%;
      height: 265px;
      background-color: #ffffff;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media screen and (max-width : 850px) {
  .modal-dialog-dsb {
      width: 98%;
      margin: 20px auto;
  }

  .modal-dialog-dsbbookregister {
      width: 98%;
      margin: 10px auto;
  }

  .modalcontent{
    width: 100%;
  }

  .modalimage {
    max-width: 95%;
    max-height: 95%;  
  }

  .modalbuttom {
      margin-bottom: 40px;
  }

  .dailyspecialbtn {
      float: right;
      width: 100%;
      margin-top: 3px;
      margin-right: 0px;
      z-index: 99999999;
      position: relative;
  }

  .modalimageinner{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; 
  }
}



@media screen and (max-width : 650px) {
  .modal-dialog-dsbbookregister {
      width: 98%;
      margin: 10px auto;
  }

  .modalcontentbooknow {
      width: 100%;
      height: 1000px;
      position: relative;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0,0,0,.2);
      outline: 0;
      -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
      box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }

  .modalcontentbooknowmod {
      width: 100%;
      height: 1000px;
      position: relative;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0,0,0,.2);
      outline: 0;
      -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
      box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }

}
