#event-management {
    background: #F5F5F5;

    .btn-creditcard{
        border-radius: 2px;
        box-shadow: 2px 2px 5px #bbb;
        color: #fff;
        font-size: 16px;
        padding: 4px 14px;
    }
}
