.event-booking {
    #sidebar-right {
        height: auto;
    }
    .container {
        position: relative;
    }
    .error {
        min-height: 20px;
        span {
            font-size: 12px;
            color: #d14233;
        }
    }
    .form-group {
        margin-bottom: 5px;
    }
}
