#how-it-works {
    .main_picture {
        width: 100%;
        max-height: 450px;
        display: inline-block;
        position: relative;
        .main_picture_content {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            max-height: 450px;
            overflow: hidden;
            .bx-wrapper {
                width: 100% !important;
                #bxslider {
                    img {
                        margin-top: -220px;
                    }
                }
            }
        }
    }
    .main_picture:after {
        padding-top: 61.25%;
        display: block;
        content: '';
    }
    .title_info_page {
        color: #2aa8cf;
        font-family: proximanova-semibold;
        font-size: 42px;
        margin: 0;
    }

    .sub_title_info_page {
        color: #2aabd2;
        font-family: Lucida Grande, sans-serif;
        font-size: 18px;
        font-variant: small-caps;
        margin-top: 0;
        text-align: left;
    }
    
    .text-center{
        text-align: center!important;
    }
    .sub_title_home_page {
    color: #424242;
    font-family: ProximaNovaLightIt;
    font-size: 26px;
    margin-bottom: 48px;
    margin-top: 0;
    text-align: center;
}    
    .decription {
        color: #67676c;
        font-family: Lucida Grande, sans-serif;
        font-size: 18px;
    }
    .btn-bitbucket {
        color: #fff;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }
}

@media (max-width: 1250px) and (min-width: 1050px) {
    #how-it-works {
        .main_picture {
            .main_picture_content {
                .bx-wrapper {
                    #bxslider {
                        img {
                            margin-top: -200px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1050px) and (min-width: 750px) {
    #how-it-works {
        .main_picture {
            .main_picture_content {
                .bx-wrapper {
                    #bxslider {
                        img {
                            margin-top: -150px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    #how-it-works {
        .main_picture {
            .main_picture_content {
                .bx-wrapper {
                    #bxslider {
                        img {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}
