.landing-page {
    font-family: 'proximanova';
    button:focus,
    input:focus {
        outline: none;
    }
    .btn {
        background-image: none;
        border-radius: 2px;
    }
    background: #F5F5F5;
    .banner_restaurant {
        display: block;
        height: 522px;
    }
  
    .container {
        display: block;
        padding-bottom: 40px;
        max-width: 1000px;
        .hidden-on-md {
            display: none;
        }
        .left {
            padding-right: 30px;
            display: block;
            padding-top: 32px;
            h1 {
                display: block;
                padding-bottom: 10px;
                margin-bottom: 15px;
                border-bottom: 1px #c0c0c0 solid;
                font-family: 'proximanova-semibold';
                font-size: 20px;
                color: #2aacd2;
            }
            .events {
                display: block;
                border-bottom: 1px #e3e3e3 solid;
                ul {
                    li {
                        display: block;
                        padding-bottom: 40px;
                        .cnt {
                            width: 65%;
                            float: left;
                            padding-right: 20px;
                            h2 {
                                font-family: 'proximanova-semibold';
                                font-size: 16px;
                                color: #000;
                            }
                            span {
                                display: block;
                                padding-bottom: 12px;
                            }
                        }
                        .img-block {
                            width: 35%;
                            float: left;
                            img {
                                float: right;
                            }
                        }
                    }
                }
            }

        }
    }
   .book-now {
        width: 100%;
        display: block;
        padding: 12px 0;
        background: #2aacd2;
        border: 1px #5490b0 solid;
        font-size: 26px;
        color: #fff;
        border-radius: 2px;
    }
    .book-now:hover {
        background: #333;
        border: 1px #333 solid;
        transition: all 0.5s ease 0s;
    }

}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {
    .search-outer .left {
        width: 74%;
    }
    .footer .col-sm-3:nth-child(4) {
        width: 19%;
    }
    .footer .col-sm-3:nth-child(5) {
        width: 21%;
    }
    .reviews .col-sm-8 {
        width: 100%;
    }
    .reviews ul li .img-block {
        width: 18%;
    }
    .reviews ul li .cnt {
        width: 82%;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .middle .left {
        padding: 0px!important;
        width: auto;
        padding-right: 15px;
    }
    .left .information .video img {
        width: 100%;
    }
    .left .gallery ul li.first {
        width: 50%;
        height: 300px;
    }
    .left .gallery ul li.second {
        width: 33.33%;
        height: 210px
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 640px) {
 }


/* Landscape phones and down */

@media (max-width: 480px) {
 
}

