#my-account {
    min-height: 600px;
    .container {
        padding-top: 80px;
        form {
             .img-block {
                    width: 75%;
                padding-left: 25px;
                    padding-right: 5px;
                    margin-top: 20px; 
                    
                    div {
                        width: 100px;
                        height: 100px;
                        float: right;
                        border-radius: 100%;
                        -webkit-border-radius: 150px;
                        -moz-border-radius: 150px;
                        background-size: cover;
                        overflow: hidden;
                            .landscape{
                                 width: 100%;
                                 height:100%;
                            }
                            .portrait{
                                 width: 100%;
                                 
                            }
  
                        
                    }
                }
                .info-label{
                    border-radius: 0 !important;
                    min-width:100px;
/*                    background-color: #fff !important;*/
                }
                .info-btn {
                     border-radius: 0!important;
                     min-width: 100px;

                }
                .pwd-label{
                    border-radius: 0 !important;
                     background-color: #fff !important;
                }
                .btn-file {
                    position: relative;
                    overflow: hidden;
                  }
                  .btn-file input[type=file] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    min-width: 100%;
                    min-height: 100%;
                    font-size: 100px;
                    text-align: right;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    background: red;
                    cursor: inherit;
                    display: block;
                  }
                  input[readonly] {
                    background-color: white !important;
                    cursor: text !important;
                  }
            input[type="button"] {
                 margin-left: 30px;
                background: #2BA8CF none repeat scroll 0 0;
                border: 1px solid #2BA8CF;
                color: #fff;
                border-radius: 2px;
                margin-bottom: 10px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                margin-bottom:15px;
                
            }
            
            .input-group {
                .fa {
                    position: absolute;
                    margin-left: -20px;
                    margin-top: 10px;
                    z-index: 10;
                    color: green;
                }
            }
            .input-group .form-control {
                 margin: 0px !important;
            }
            select {
            	-webkit-appearance: none;
            }
           
        }
        .showChangePasswordForm {
            margin-bottom: 50px;
            cursor: pointer;
        }
        .profile-img-container {
            position: relative;
            display: inline-block; /* added */
            overflow: hidden; /* added */
        }

/*        .profile-img-container img {width:100%;}  remove if using in grid system */

        .profile-img-container img:hover {
            opacity: 0.5
        }
        .profile-img-container:hover span {
            opacity: 1; /* added */
            top: 0; /* added */
            z-index: 500;
        }
        /* added */
        .profile-img-container:hover span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
        /* added */
        .profile-img-container span {
            display: block;
            position: absolute;
            top: -100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
        }
    }
}
/*@media screen and (max-width: 1000px) {
    .container {
       padding-top: 100px;
        .input-group .form-control {
                 margin: 0px !important;
            }
        .input-group {
            display: block;
        }
    }
}*/

