#my-review {
    min-height: 600px;
    .container {
        margin-top: 50px;
        .review {
            overflow: auto;
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid #aaa;
            min-height: 120px;
            padding: 10px;
            border-radius: 2px;
            
              .vignette_picture {
                padding: 0px;
                a {
                    img {
                        max-width: 100%;
                    }
                }
                .reviewgrade {
/*                    background-color: #f5f5f5;
                    border: 1px solid #e1e1e1;
                    border-radius: 2px;*/
                    color: #222;
                    font-size: 15px;
                    font-weight: bold;
                    margin-left: 25px;
                    float:left;
                    text-align:center;
                    padding: 12px;
                    span {
                        font-size: 20px;
                    }
                 
                    
                }
                
                
                
            }
            
        }
         #vignette_review { 
            overflow: auto;
            background-color: #fff;
            border: 1px solid #aaa;
            margin-bottom: 100px;
            .vignette_picture {
                padding-top: 15px;
                
                img {
                    max-width: 100%;
                }
            }
            .infos {
                padding-top: 25px;
                padding-left: 25px;
                padding-right:10px;
                .form-group {
                    overflow: auto;
                    margin-bottom: 15px;
                    .sliders{  
                        width: 215px!important;

                        .jStar {
                            width: 215px!important;
                        }
                    }
                    #review_comment {
                        width: 100%;
                        min-height: 150px;
                    }
                }
            }
            .btn_submit_review {
                background: #2BA8CF none repeat scroll 0 0;
                border: 1px solid #2BA8CF;
                color: #fff;
                border-radius: 2px;
                margin-bottom: 10px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                margin-bottom:15px;
            }
        }
        .rating{
                    color: #999999;
                    margin: 0;
                    padding: 0;
                    font-size:35px;
                }

                ul.rating {

                    display: inline-block;
                }

                .rating li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 1px;
                    text-align: center;
                    font-size:35px;
                    font-weight: bold;
                    cursor: pointer;
                }

                .rating .filled {
                    color: #e3cf7a;
                }
                .rating li:hover:before, .rating li:hover~li:before {
         
                    color:#e3cf7a;
                }
/*        .rating {
            unicode-bidi:bidi-override;
            direction:rtl;
            font-size:30px;
            text-align:left;
            margin-left:20px;

        }
        .content{

             direction:ltl !important;
        }
        .rating span.star {
            font-family:FontAwesome;
            font-weight:normal;
            font-style:normal;
            display:inline-block;
        }
        .rating span.star:hover {
            cursor:pointer;
        }
        .rating span.star:before {
            content:"\f006";
            padding-right:5px;
            color:#999999;
        }
        .rating span.star:hover:before, .rating span.star:hover~span.star:before {
            content:"\f005";
            color:#e3cf7a;
        }


        span.star.filled:before{ color:#e3cf7a; content:"\f005";}*/
        
    }
}
