#booking-page {
    min-height: 600px;
    background: #f5f5f5;
    .container {
        padding-top: 20px;
        .left-menu {
            ul {
                list-style: none;
                padding-left: 0px;
                li {
                    a {
                        color: #333333;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: 'proximanova';
                        line-height: 30px;
                    }
                    .mybooking-menu-selected {
                        font-family: 'proximanova-bold';
                    }
                }
            }
        }
        .my-booking {
            .item {
                background-color: #fff;
                border: 1px solid #aaa;
                padding: 10px;
                border-radius: 2px;
                overflow: auto;
                margin-bottom: 20px;
                .vignette_picture {
                    padding: 0px;
                    img {
                        max-width: 100%;
                    }
                }
                .cancel-details {
                    padding: 20px;
                    text-align:center;
                }

                #bookingcancel,.bookingupdate,#reviewCancel{ 
                    margin-left: 30px;
                    float:right;
                    background: #2BA8CF none repeat scroll 0 0;
                    border: 1px solid #2BA8CF;
                    color: #fff;
                    border-radius: 2px;
                    padding: 3% 10%;
                    margin-bottom: 10px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    margin-bottom:15px;
                }
                .spin-info{
                    display:block;
                    width:120px;
                }



            }
            ul{
                list-style-type: none
            }
            .no-data-available {
                font-family: 'proximanova';
                font-size: 12px;
                color: #8899a6;
            }
        } 

        #vignette_review { 
            overflow: auto;
            background-color: #fff;
            border: 1px solid #aaa;
            margin-bottom: 100px;
            .vignette_picture {
                padding-top: 15px;
                img {
                    max-width: 100%;
                }
            }
            .infos {
                padding-top: 25px;
                padding-left: 10px;
                padding-right:10px;
                .rating{
                    color: #999999;
                    margin: 0;
                    padding: 0;
                    font-size:35px;
                }

                ul.rating {

                    display: inline-block;
                }

                .rating li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 1px;
                    text-align: center;
                    font-size:35px;
                    font-weight: bold;
                    cursor: pointer;
                }

                .rating .filled {
                    color: #e3cf7a;
                }
                .rating li:hover:before, .rating li:hover~li:before {
         
                    color:#e3cf7a;
                }
                
/*                .rating {
                    unicode-bidi:bidi-override;
                    direction:rtl;
                    font-size:30px;
                    text-align:left;
                    margin-left:20px;

                }
                .content{

                    direction:ltl !important;
                }
                .rating span.star {
                    font-family:FontAwesome;
                    font-weight:normal;
                    font-style:normal;
                    display:inline-block;
                }
                .rating span.star:hover {
                    cursor:pointer;
                }
                .rating span.star:before {
                    content:"\f006";
                    padding-right:5px;
                    color:#999999;
                }
                .rating span.star:hover:before, .rating span.star:hover~span.star:before {
                    content:"\f005";
                    color:#e3cf7a;
                }
                span.star.filled:before{ color:#e3cf7a; content:"\f005";}*/
                .form-group {
                    overflow: auto;
                    margin-bottom: 15px;
                    .global{  
                        width: 215px!important;

                        .jStar {
                            width: 215px!important;
                        }
                    }
                    #review_comment {
                        width: 100%;
                        min-height: 150px;
                    }
                }
            }
            .btn_submit_review {
                background: #2BA8CF none repeat scroll 0 0;
                border: 1px solid #2BA8CF;
                color: #fff;
                border-radius: 2px;
                margin-bottom: 10px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                margin-bottom:15px;
            }
        }
        #vignette_invite { 
            overflow: auto;
            background-color: #fff;
            border: 1px solid #aaa;
            margin-bottom: 100px;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            .hd-style {
                display: block !important;
                padding: 10px 0px !important;
                padding-left: 80px;
                border-bottom: 1px #bababa solid !important;
                margin-left: 2px;
                text-align: center;

            }
            .btnfg {
                margin-left: 30px;
                width: 50%; 
                height:40%; 
                margin: 0 auto;

                button {
                    margin-right:2px;
                    margin-bottom:8px;
                }

            }
            .other-txt {
                width: 50%; 
                margin-bottom: 10px;
                text-align: right;
            }

            .txt-conatiner{
                //margin-left: 80px;
                float:center;
                text-align:center;
                margin-bottom: 10px;
                padding: 10px 0px !important;
                input[type="text"] {
                    width: 80%;
                    height: 25%;
                    margin-bottom:8px;
                }

            }
            .in-list ,.in-closelist{
                margin-left:10px;
            }
            .invite{
                float:right;
                margin-bottom:5px;
            }

        }

        .calendarup { 
            position: relative; 
        }
        #vignette_cancel {
            overflow: hide;
            background-color: #fff;
            border: 1px solid #aaa;
            margin-bottom: 100px;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 10px;
            height:auto!important;
            .survey-conatiner{
                width:80%;
                height:70%;
                margin-top: 0px;
                margin-bottom :20px;
                margin-left:40px;
            }

            .header-text {
                h3 {
                    width:100%;
                    height:10%;
                    margin-top: 0px;
                    text-align:center;

                }
            }

            input[type="radio"]  {
                display:inline-block;

                margin:-1px 6px 0 0;
                cursor:pointer;
            } 


            .error-msg {
                color: #a94442 !important;
                background-color: #f2dede;
                border-color: #ebccd1;
                padding-left:2%;
                padding-bottom:1%;
                padding-top:1%;
            }
            .success-msg {
                color: #3c763d !important;
                background-color: #dff0d8;
                border-color: #d6e9c6;
                padding-left:2%;
                padding-bottom:1%;
                padding-top:1%;
            }

            .btncancel,.btnconfirmCancel{
                margin-left: 30px;

                background: #2BA8CF none repeat scroll 0 0;
                border: 1px solid #2BA8CF;
                color: #fff;
                padding: 1% 3%;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                margin-bottom:10px;
            }         


        }


    }
}
