#myorders-page {
    #orders {
        margin-top: 40px;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 0px;
        .order {
            overflow: auto;
            border-bottom: 1px solid #ddd;
            padding: 10px 15px;
            .order-restaurant,
            .order-amount,
            .order-total-items {
                float: left;
            }
            .order-restaurant {
                width: 40%;
            }
            .order-amount {
                width: 20%;
            }
            .order-total-items {
                width: 20%;
            }
            .order-created-at {
                width: 20%;
            }
        }
        .order:last-child {
            border-bottom: none;
        }
    }
    #order-detail {
        margin-top: 40px;
        .back {
            border-radius: 2px;
            background-image: none;
            margin-bottom: 20px;
            color: #8899a6;
            .fa {
                margin-right: 5px;
            }
        }
    }
}
