#partner-page {
    overflow: auto;
    .contact-us-section {
        min-height: 700px;
        overflow: auto;
        background-image: url('../images/partner_page/partner-contact-us-bg.jpg');
        background-position: 0% 60%;
        background-size: cover;
        h1 {
            font-size: 48px;
            color: #fff;
            font-family: 'proximanova-bold';
            margin-top: 200px;
            margin-bottom: 70px;
        }
        .info {
            p {
                font-size: 20px;
                color: #fff;
                font-family: 'proximanova-light';
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 28px;
            }
            p:last-child {
                font-family: 'proximanova-it';
            }
        }
        .contact-us-btn {
            margin-top: 50px;
            button {
                background-color: #64a6cc;
                font-size: 20px;
                color: #fff;
                font-family: 'proximanova-bold';
                line-height: 64px;
                padding: 0px 40px;
                border: none;
            }
            button:hover {
                @extend %btnSearchHover;
            }
        }
    }
    .partner-contact-section {
        background-color: #f1f1f1;
        padding-bottom: 60px;
        .solution-text-1 {
            margin-top: 25px;
            p {
                font-family: 'proximanova-bold';
                font-size: 24px;
                color: #3a3a3a;
            }
        }
        .solution-text-3 {
            margin-top: 25px;
            font-size: 16px;
            color: #2c2c2c;
            font-family: 'proximanova';
        }
    }
    .solution-section {
        background-color: #f1f1f1;
        padding-bottom: 100px;
        .solution-title {
            padding-left: 0px;
            margin-top: 100px;
            p {
                color: #646464;
                font-family: 'proximanova-bold';
                font-size: 40px;
                line-height: 38px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .solution-text-1 {
            margin-top: 100px;
            p {
                font-family: 'proximanova-bold';
                font-size: 24px;
                color: #3a3a3a;
            }
        }
        .solution-image {
            margin-top: 60px;
            overflow: auto;
            img {
                width: 100%;
            }
        }
        .solution-text-2,
        .solution-text-3 {
            font-size: 16px;
            color: #2c2c2c;
            font-family: 'proximanova';
            margin-bottom: 10px;
            overflow: auto;
        }
        .solution-text-3 {
            margin-top: 25px;
        }
        .solution-text {
            padding-left: 0px;
            margin-top: 60px;
            padding: 0px 10%;
            div {
                margin-top: 0px;
                p {
                    color: #2c2c2c;
                    font-size: 16px;
                    font-family: 'proximanova';
                    line-height: 34px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .consumer-section {
        min-height: 675px;
        background-image: url('../images/partner_page/consumer-bg.jpg');
        background-position: 0% 30%;
        background-size: cover;
        .consumer-title {
            margin-top: 180px;
            p {
                font-size: 48px;
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 60px;
                font-family: 'proximanova-bold';
                color: #fff;
            }
        }
        .consumer-text {
            margin-top: 60px;
            p {
                font-size: 22px;
                font-family: 'proximanova-light';
                color: #fff;
                line-height: 30px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .feature-section {
        padding-bottom: 100px;
        background-position: 0% 20%;
        background-size: cover;
        background-color: #f1f1f1;
        .feature-title {
            padding-left: 0px;
            margin-top: 100px;
            p {
                color: #646464;
                font-family: 'proximanova-bold';
                font-size: 40px;
                line-height: 38px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .feature-image {
            margin-top: 60px;
            padding: 0px 10%;
            img {
                max-width: 100%;
            }
        }
        .feature-text {
            padding-left: 0px;
            margin-top: 60px;
            padding: 0px 10%;
            .feature-text-title {
                text-transform: uppercase;
                color: #2ba8cf;
                font-size: 16px;
                font-family: 'proximanova-bold';
                letter-spacing: 2px;
            }
            div {
                margin-top: 0px;
                p {
                    color: #2c2c2c;
                    font-size: 16px;
                    font-family: 'proximanova';
                    line-height: 34px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    span {
                        margin-right: 5px;
                    }
                }
            }
            .feature-text-last {
                margin-top: 20px;
                p {
                    font-family: 'proximanova-it';
                    color: #959595;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #partner-page {
        padding-bottom: 30px;
        .consumer-section {
            .consumer-title {
                margin-top: 50px;
            }
            .consumer-text {
                display: inline;
                p {
                    display: inline;
                }
            }
        }
        .feature-section {
            .feature-image,
            .feature-title,
            .feature-text {
                padding: 0px 15px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #partner-page {
        padding-bottom: 0px;
        .contact-us-section {
            h1 {
                margin-top: 80px;
                font-size: 40px;
            }
        }
        .solution-section {
            .solution-text-1 {
                margin-top: 50px;
                display: inline-block;
                text-align: center;
                p {
                    display: inline;
                }
            }
        }
        .consumer-section {
            .consumer-title {
                display: inline-block;
                text-align: center;
                p {
                    font-size: 36px;
                    display: inline;
                    line-height: 50px;
                }
            }
        }
        .feature-section {
            padding-bottom: 30px;
            .feature-title {
                margin-top: 50px;
            }
        }
    }
}
