#payment-success {
    margin-top: 80px;
    .restaurant {
        margin-top: 40px;
        margin-bottom: 40px;
        overflow: auto;
        .bar-logo {
            max-width: 150px;
            img {
                width: 100%;
            }
        }
        .restaurant-info {
            overflow: hidden;
            padding-left: 20px;
            h1 {
                font-style: 20px;
                font-weight: bold;
                margin-top: 0px;
                padding-top: 0px;
            }
        }
    }
}
