
{% include 'header/header_email.html.twig'  %}
<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">New Review</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]},</strong><br />
                    <br />
                    You have a new Review. 

                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#67bbd9; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Review Details</td>
            </tr>
          
            <tr>
                <td align="left" valign="top"  style="padding-bottom:15px;" >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">{[{data.labelContent['review_rateall']}]}</td>
                             {% if data.review.reviewgrade == '5' %}
                                    <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <img src="https://static.weeloy.com/images/icons/stars-rating/5stars_resize.jpg" /></td>
                              {% endif %} 
                             {% if data.review.reviewgrade == '4' %}
                                    <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <img src="https://static.weeloy.com/images/icons/stars-rating/4stars_resize.jpg" /></td>
                              {% endif %} 
                             {% if data.review.reviewgrade == '3' %}
                                    <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <img src="https://static.weeloy.com/images/icons/stars-rating/3stars_resize.jpg" /></td>
                              {% endif %} 
                             {% if data.review.reviewgrade == '2' %}
                                    <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <img src="https://static.weeloy.com/images/icons/stars-rating/2stars_resize.jpg" /></td>
                              {% endif %} 
                             {% if data.review.reviewgrade == '1' %}
                                    <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <img src="https://static.weeloy.com/images/icons/stars-rating/1stars_resize.jpg" /></td>
                              {% endif %} 
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Comment</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2">{[{data.review.comment}]}
                            </td>
                        </tr>
                        

                    </table>
                </td>
            </tr>
        </table>    
    </td>
</tr>

{% include 'footer/footer_email.html.twig'  %}