{% include 'header/memberheader_email.html.twig'%}
<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Reset Password</td>
            </tr>
             <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.name}]},</strong><br />
                    <br />
                       <a href=" {[{data.resetLink}]}" style="text-decoration:none;color:#838383;cursor:pointer;" ><button style="background-color:#2ba8cf;border: 1px solid #2BA8CF;width:140px;height:40px;font-family:arial; color: #fff; font-size:16px;margin-left:30%;"> Reset Password </button></a>
                    <br />     <br />
                    This link is valid only for <b>48 hours</b>. 
                    <p>If the link above does not work, please copy and paste the URL below to your browser`s address bar:</p> </br>
                    <p style="font-family:arial; font-size:12px;">{[{data.resetLink}]}</p>
                </td>
             </tr>
    {#<tr>
        <td align="center" valign="top" style="font-family:arial; color:#67bbd9; font-size:18px; padding-top:25px;">Make a reservation with Top restaurants in Singapore</td>
    </tr>#}


{% include 'footer/memberfooter1_email.html.twig'%}