{% include 'header/memberheader_email.html.twig'%}
<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Welcome to Weeloy!</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                    <br />
                    Thank you for joining us on Weeloy! <br />
                    <br />
                    Now you can easily manage your bookings, write a review or share with friends about Weeloy. 
                </td>
            </tr>
            {% if data.resetLink %}
            <tr>
              <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"> 
                  <h4> Access your account,Please set the password.</h4>
                  <br />
                    This link is valid only for <b>48 hours</b>. 
                    <p>If the link above does not work, please copy and paste the URL below to your browser's address bar:</p> </br>
                    <p style="font-family:arial; font-size:12px;">{[{data.resetLink}]}</p>
                </td>  
            </tr>
             {% endif %}
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#67bbd9; font-size:18px; padding-top:25px;">Make a reservation with Top restaurants in Singapore</td>
            </tr>
            <tr>
                <td align="center" valign="top" class="list" style="padding-top:16px;">
            <tr>
                <td align="center" valign="top" class="list" style="padding-top:16px; padding-bottom:26px; border-bottom:1px solid #e8e8e8;"><table width="269" border="0" align="left" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.weeloy.com"><img src="https://static.weeloy.com/emails/restaurants/SG_SG_R_SopraCucinaBar_114.png" width="269" height="247" alt=" "  style="display:block; border:0"  /></a></td>
                        </tr>
                    </table>
                    <table width="269" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.weeloy.com"><img src="https://static.weeloy.com/emails/restaurants/SG_SG_R_NotrhBorder_112.png" width="269" height="247" alt=" "  style="display:block; border:0"  /></a></td>
                        </tr>
                    </table></td>
            </tr>
            <tr>
                <td align="center" valign="top" class="list" style="padding-top:16px; padding-bottom:26px; border-bottom:1px solid #e8e8e8;"><table width="269" border="0" align="left" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.weeloy.com"><img src="https://static.weeloy.com/emails/restaurants/SG_SG_R_Shutters_105.png" width="269" height="247" alt=" "  style="display:block; border:0"  /></a></td>
                        </tr>
                    </table>
                    <table width="269" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.weeloy.com"><img src="https://static.weeloy.com/emails/restaurants/SG_SG_R_Capricci_102.png" width="269" height="247" alt=" "  style="display:block; border:0"  /></a></td>
                        </tr>
                    </table></td>
            </tr>
{#          
                <tr>
                    <td align="left" valign="top" class="list" width="550"  style=" padding-top:13px; padding-bottom:14px;" >
                        <a href="#"><img src="https://static3.weeloy.com/emails/uber/banner_uber.jpg"  alt=" "  style="display:block; border:0 "  /></a> 
                    </td> 
                </tr>
                <tr>
                    <td align="center" valign="top" class="list" style="font-size:13px;padding-top:5px; padding-bottom:2px;font-family:arial; color:#494949;" >
                       $20 off your First UBER ride when you book a restaurant with Weeloy
                    </td>
                </tr>#}


            {#{% if data.restaurants|default %}
                {% for restaurant in data.restaurants %}
                    {% include '_mediaContainer.html.twig'%} 
                {% endfor %}
            {% endif %}#}

    </td>
</tr>

{% include 'footer/memberfooter1_email.html.twig'%}
