<div id="payment-success">
    <div class="container" ng-if="Order.orderID">
        <p  ng-if="bktracking!=='WEBSITE'"><a href="/">Go to homepage</a></p>
        <p  ng-if="bktracking!=='WEBSITE'"><a ng-href="{{restaurant_url}}">Go to {{restaurant.getTitle()}}</a></p>
        <div class="col-xs-12 col-sm-6 restaurant">
            <div class="bar-logo pull-left">
                <img ng-src="{{restaurant.getLogoImage()}}" class="img-responsive" alt="">
            </div>
            <div class="restaurant-info">
                <h1 ng-bind="restaurant.title"></h1>
                <p><span ng-bind="restaurant.address"></span><span ng-bind="restaurant.zip"></span></p>
            </div>
        </div>
        <div class="col-xs-12">
                    <div class="cnt">
                        <h2 ng-bind="RestaurantEvent.getTitle()"></h2>
                        <!--<span ng-if="RestaurantEvent.getStartTime('MMM DD, YYYY') === RestaurantEvent.getEndTime('MMM DD, YYYY')">{{RestaurantEvent.getStartTime('MMM DD, YYYY')}} to {{RestaurantEvent.getEndTime('MMM DD, YYYY')}} in {{RestaurantEvent.getCity()}}</span>-->
                        <p ng-bind="RestaurantEvent.description"></p>
                    </div>
                    <div ng-if="RestaurantEvent.hasPicture()" class="img-block">
                        <a href="{{ RestaurantEvent.getPicture()}}" class="fresco" data-fresco-caption="{{ RestaurantEvent.getTitle()}} - weeloy.com" data-fresco-group="event">
                            <img ng-src="{{ RestaurantEvent.getPicture()}}" class="img-responsive" alt="{{ RestaurantEvent.getTitle()}} - weeloy.com">
                        </a>
                    </div>
                </div>
        
        <div class="col-xs-12" style="padding-top: 20px">
            <div class="col-xs-12">
                <div class="form-group">
                    <strong>Order number:</strong> <span ng-bind="Order.orderID"></span>
                </div>
                <div class="form-group">
                    <strong>Email:</strong> <span ng-bind="Order.email"></span>
                </div>
                <div class="form-group">
                    <strong>Name:</strong> <span ng-bind="Order.first_name"></span> <span ng-bind="Order.last_name"></span>
                </div>
                <div class="form-group">
                    <strong>Phone:</strong> <span ng-bind="Order.phone"></span>
                </div>
                <div class="form-group" ng-show="Order.company">
                    <strong>Company:</strong> <span ng-bind="Order.company"></span>
                </div>
                <div class="form-group">
                    <strong>Number of people:</strong> <span ng-bind="Order.pax"></span>
                </div>
                <div class="form-group">
                    <strong>Total:</strong> <span ng-bind="Order.curency"></span> <span ng-bind="Order.amount"></span>
                </div>
                <div class="form-group">
                    <strong>Event  Date:</strong> <span ng-bind="Order.event_date "></span>
                </div>
                <div class="form-group">
                    <strong>Payment Status :</strong> <span ng-bind="Order.status"></span>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="container" ng-if="!Order.orderID">

        <div class="col-xs-12 col-sm-6 restaurant">
            <div class="restaurant-info">
                <h1>An error occurred during the payment process. 
                    Please try again or contact the restaurant.</h1>
            </div>
        </div>
    </div>
</div>
