<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='dist/fullcalendar.min.css' rel='stylesheet' />
<link href='dist/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<link href="../../client/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="../../client/bower_components/jquery/dist/jquery.min.js"></script>
<script type='text/javascript' src="../../client/bower_components/jquery-ui/jquery-ui.js"></script>
<script type='text/javascript' src="../../client/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../../client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../client/bower_components/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script type="text/javascript" src="../../client/bower_components/moment/moment-with-locales.js"></script>

<script> var app = angular.module('myApp', ['ui.bootstrap']); </script>

<script src='dist/fullcalendar.min.js' type="text/javascript" ></script>
<script src="../../admin_tms/tmsService.js" type="text/javascript" ></script>
<script src="../../backoffice/inc/libService.js" type="text/javascript"></script>
<style>

body {
	margin: 10px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

</style>
</head>
<body ng-app="myApp" ng-cloak ng-controller="myCtrl">

	<div ng-if="curObj !== null" id='mssg'><center><table><tr><td width="50%%"><strong>Notes</strong>: {{curObj.notes}} </td><td width='20px;'>&nbsp;</td><td><button class="btn btn-primary btn-xs" ng-click="edit(curObj);">edit</button></td><td width='20px;'>&nbsp;</td><td><button class="btn btn-warning btn-xs" ng-click="clear(curObj);">clear</button></td><td width='20px;'>&nbsp;</td><td><button class="btn btn-danger btn-xs" ng-click="remove(curObj);">remove</button>: {{ curObj.title }}</td></tr></table></center><hr></div>
	<br />
	<div id='calendar'></div>
</div>
<div ng-include="'templates.html'"></div>
</body>


<script>
app.controller('myCtrl', ['$scope', '$uibModal', 'ModalService', 'tmsService', '$timeout', function($scope, $uibModal, ModalService, tmsService, $timeout) {

	var arg, argAr, dd = new Date();
	var ym = dd.getFullYear() + "-" + ((dd.getMonth()+1 < 10) ? '0':'') + (dd.getMonth()+1);
	var ds = ym + '-' + '01';
	
	$scope.index = 0;;
	$scope.daysAr = (function(limit) { var i, ar=[]; for(i = 1; i < limit; i++) ar.push(i); return ar; })(31);
	var key = ["bkrestaurant", "token"];
	var mp = ["restaurant", "token"];
	
	$scope.restaurant = $scope.token = "";
	arg = window.location.search;
	if(arg.length > 10) 
		arg = arg.substring(1, 99);
	argAr = arg.split('&');

	argAr.map(function(ll, index) {
		if(index >= key.length) return;
		$scope[v] = "";
		
		var m = key[index], pat= key[index] + "=", v = mp[index];
		if(ll.search(pat) > -1)
			$scope[v] = ll.substring(pat.length);
		});		
	console.log('ARG', $scope.restaurant, $scope.token);

	$scope.events = [
		{  title: 'All Day Event',  start: ym + '-' + '4'  },  
		{  title: 'Long Event',  start: ym + '-' + '7'  },  
		{  title: 'Repeating Event',  start: ym + '-' + '13'  },  
		{  title: 'Repeating Event',  start: ym + '-' + '14'  },  
		{  title: 'Conference',  start: ym + '-' +'23'  },  
		{  title: 'Meeting',  start: ym + '-' + '25'  },  
		{  title: 'Lunch',  start: ym + '-' + '9'  },  
		{  title: 'Meeting',  start: ym + '-' + '11'  },  
		{  title: 'Happy Hour',  start: ym + '-' + '11'  },  
		{  title: 'Dinner',  start: ym + '-' +'11'  },  
		{  title: 'Birthday Party',  start: ym + '-' + '15'  },  
		{  title: 'Click for Google',  url: 'http://google.com/',  start: ym + '-' + '17'  }
		];

	$scope.events.map(function(oo) { oo.id = $scope.index++; });
	$scope.mydata = {};
	$scope.curObj = null;

	$scope.findevent = function(id) {
		for(var i = 0; i < $scope.events.length; i++)
			if($scope.events[i].id === id)
				return i;
		return -1;
		};

	$scope.copydata = function(oo) {
		$scope.mydata.id = oo.id;
		$scope.mydata.title = oo.title;
		$scope.mydata.notes = oo.notes.replace(/\|\|\|/g, "\n");
		$scope.mydata.ndays = oo.ndays;
		$scope.mydata.date = oo.start;
		$scope.mydata.daysAr = $scope.daysAr;
		};
		
	$scope.edit = function action(oo) {
		$scope.copydata(oo);
		$scope.showModal('EVENTS', 'EVENTS', $scope.mod_event, "calendar.html", $scope.mydata, $scope.emptyfunc, 'sm');
		}
			
	$scope.remove = function action(oo) {
		var ind;
		
		if((ind = $scope.findevent(oo.id)) < 0)
			return;
			
		if(confirm('Are you sure you want to delete '+ oo.title)) {
			$scope.events.splice(ind, 1);
			$('#calendar').fullCalendar( 'removeEvents' , oo.id);
			$scope.saveCalendar();
			}
		$scope.curObj = null;
		}
	

	$scope.showModal = function(title, initval, func, template, mydata, prepostcall, size) {
		$scope.mydata = mydata;
		$scope.mydata.name = initval;
		ModalService.activate(title, initval, func, template, mydata, prepostcall, size, "OK", "Close");
		};
				
	$scope.emptyfunc = function() {};
	$scope.clear = function(oo) { $scope.curObj = null; };
		
	$scope.add_event = function(date) {	
		console.log('OK', date);
		$scope.mydata.title = "";
		$scope.mydata.notes = "";
		$scope.mydata.ndays = 1;
		$scope.mydata.date = (typeof date === "object" && date instanceof "Moment") ? date.format('YYYY-MM-DD') : date;
		$scope.mydata.daysAr = $scope.daysAr;
		$scope.showModal('EVENTS', 'EVENTS', $scope.save_event, "calendar.html", $scope.mydata, $scope.emptyfunc, 'sm');
		};
	
	$scope.drop_event = function(id, value, mode) {
		var ind, oo, start, tt;
		
		if((ind  = $scope.findevent(id)) < 0)
			return;

		$scope.copydata($scope.events[ind]);
		switch(mode) {
			case 'start': 
				$scope.mydata.date = value;	// start
				break;
			case 'end':
				start = $scope.mydata.date;
				end = value;
				tt = moment(end).diff(moment(start));
				$scope.mydata.ndays = moment.duration(tt).asDays();
				break;
			default:
				return;
			}
		
		$scope.events.splice(ind, 1);
		$('#calendar').fullCalendar( 'removeEvents' , id);
		console.log('MYDATA', $scope.mydata);
		$scope.save_event($scope.mydata);
		};
				
	$scope.mod_event = function(data) {
		var ind;
		
		if((ind  = $scope.findevent(data.id)) < 0)
			return;

		$scope.events.splice(ind, 1);
		$('#calendar').fullCalendar( 'removeEvents' , data.id);
		$scope.save_event(data);
		};
		
	$scope.save_event = function(data) {
		var oo, a, start, id;
		if(data.title !== "") {
			if(typeof $scope.mydata.ndays !== "number" || $scope.mydata.ndays < 1 || $scope.mydata.ndays > $scope.daysAr .length) 
				$scope.mydata.ndays = 1;
			data.title = data.title.replace(/’|\'|\"/g, "`");
			if($scope.mydata.notes !== "") {
				data.notes = data.notes.replace(/’|\'|\"/g, "`");
				data.notes = data.notes.replace(/\r|\n/g, "|||");
				}
			start = data.date;
			id = $scope.index++;
			oo = { id: id, title: data.title, start: start, ndays: $scope.mydata.ndays, notes: data.notes };
			if($scope.mydata.ndays > 1) {
				oo.end = moment(data.date).add($scope.mydata.ndays, 'day').format('YYYY-MM-DD');
				}
			$('#calendar').fullCalendar( 'addEventSource', [ oo ] )
			$scope.events.push( oo );
			$scope.saveCalendar();
			}
		};

	$scope.startCalendar = function() {		
		$('#calendar').fullCalendar({
			dayClick: function(date, jsEvent, view, resourceObj) {
				$scope.add_event(date.format('YYYY-MM-DD'));
				},
			
			editable: true,

			eventDrop: function(event, delta, revertFunc) {
				$scope.drop_event(event.id, event.start.format(), 'start');
				},
				
       			eventResize: function(event, delta, revertFunc) {
				$scope.drop_event(event.id, event.end.format(), 'end');
				},

    			eventClick: function(calEvent, jsEvent, view) {
				console.log(calEvent);
				$scope.curObj = calEvent;
				$timeout( function() { /* forcing apply 1s after */ }, 1000);

				// change the border color just for fun
				$(this).css('border-color', 'red');
				},
			
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: ds,
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: $scope.events
			});
		};
	
	$scope.getCalendar = function() {
		tmsService.tmsgetCalendar({ restaurant: $scope.restaurant, token: $scope.token }, "../").then(function(response){
			var tt, bb, cc;
			if(response.data && response.data[0] && typeof response.data[0].object === "string" && response.data[0].object.length > 0) {
				$scope.events = JSON.parse(response.data[0].object.replace(/’/g, "\""));
				console.log('EE', $scope.events);
				$scope.events.forEach(function(oo) { 
					oo.start = oo.start.substr(0,10);
					oo.id = $scope.index++;
					if(typeof oo.ndays !== "number") {
						try{
							tt = 1;
							if(typeof oo.end === "string" && oo.end.length > 5)  {
								bb = moment(oo.end).diff(moment(oo.start));
								tt = moment.duration(bb).asDays();
								}
							oo.ndays = tt;
						} catch(e) { oo.ndays = 1; oo.end = ""}; 
						} 
					}); 
				}
			else $scope.events = [];
			$scope.startCalendar();
			});
		};
				
	$scope.saveCalendar = function() {
		var objstr;
		
		objstr = JSON.stringify($scope.events);
		tmsService.tmssetCalendar({ restaurant: $scope.restaurant, token: $scope.token, obj: objstr }, "../").then(function(response){
			console.log('tmsService', response);
			});
		};
			
	$scope.getCalendar();
	
}]);


</script>
</html>

