dailyspecialboard {
    
    .modal-content-dsb {
        position: relative;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
    }

    .modal-sm-dsb {
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    .modal-sm-dsb {
        width: 800px;
    }
}


/* Small Devices, Tablets */

@media screen and (max-width: 768px) {
    .modal-sm-dsb {
        width: 800px;
    }
}

