header {
    .navbar-default {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        min-height: 60px;
        background-color: #ffff;
        background-image: none;
        margin-bottom: 0px;
          .navbar-header {
            .navbar-toggle {
                margin-top: 3px!important;
                margin-bottom: 3px!important;
                background: #1fa2e1 !important;
                border: 1px solid transparent!important;
                .icon-bar {
                    background-color: #fff;
                }
            }
            .navbar-brand {
                padding: 4px 0px;
                margin-left: 0px!important;
                img {
                    object-fit:cover;
                        object-fit: cover;
                        width: 140px;
                        height: 60px;
                        margin-left: 10px;
                        margin-right: 30px;
                }
            }
        }
        .navbar-nav {
            ul{
                padding-top:16px;
            
                li {
                    a {
                        text-shadow:none!important;

                        font-family: 'proximanova';
                        font-size: 14px;
                    }
                    a:hover {
                        color: #080808;
                    }
                    a:focus {
                        color: #080808!important;
                        outline: none!important;
                    }
                }
            }
        }
        
        .navbar-right {
            float: right !important;
            margin-right: 10px;
        }
        @media screen and (max-width: 768px) {
            .navbar-right {
                float: left !important;
            }
        }
        .loggedin-menu {
            li {
                z-index: 1;
                a {
                    padding: 2px;
                    img {
                        max-height: 95%;
                    }
                }
            }
            .submenu {
                background: #fff;
                position: absolute;
                width: 135px;
                margin-left: -95px;
                padding: 40px 0 5px;
                border-radius: 2px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    font-size: 11px;
                    padding: 11px 0 0 0px;
                    border-top: 1px solid #dedede;
                    li {
                        cursor: pointer;
                        a {
                            padding: 0px 15px;
                            font-family: 'arial';
                            color: #555555;
                            font-size: 11px;
                            text-decoration: none;
                            line-height: 27px;
                            display: block!important;
                            height: 27px;
                        }
                    }
                    li:hover {
                        background: #155FB0;
                        a {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        .navbar-brand,
        .navbar-nav li a {
            line-height: 40px;
            height: 40px;
            padding-top: 0;
        }
    }
    #dailypostModal {
        .modal-dialog {
            width: 700px;
        }
        
    }
    .panel {
        border-color: #5285a0 !important;
    }
    .panel-heading {
        background-image: none !important;
        background-color: #5285a0 !important;
        color: #fff !important;
        border-color: #5285a0 !important;
        border-radius: 0;
    }
    .panel-heading a {
        color: white;
    }
    .btn-default {
        background-image: linear-gradient(to bottom, #eee 0px, #e0e0e0 100%)!important;
    }
    .container_modal {
        margin: 0!important;
        padding: 0!important;
        width: 100%!important;
    }
    .drawer {
        display: none;
        padding: 0;
    }
    .or-spacer {
        margin-bottom: 35px;
        margin-top: 43px;
        position: relative;
    }
    .or-spacer .mask {
        overflow: hidden;
        height: 20px;
    }
    .or-spacer .mask:after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px / 12px;
        box-shadow: 0 0 4px black;
    }
    .or-spacer span {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 100%;
        margin-bottom: -25px;
        left: 50%;
        margin-left: -25px;
        border-radius: 100%;
        box-shadow: 0 2px 4px #999;
        background: white;
    }
    .or-spacer span i {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-radius: 100%;
        border: 1px dashed #aaa;
        text-align: center;
        line-height: 40px;
        font-style: normal;
        color: #999;
    }
}
