<div id="all-rewards">
    <div class="container-fluid">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center wheel">
            <div ng-show="!mobileWebview" id="breadcrumb" breadcrumb base-url="base_url" base-path="base_path" restaurant="restaurant"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wheel-image">
                <a ng-if="!mobileWebview" href="{{restaurant.getInternalPath()}}/booknow">
                    <img class="img-responsive" ng-src="{{restaurant.getWheelRewardImage()}}">
                </a>
                <img ng-if="mobileWebview" class="img-responsive" ng-src="{{restaurant.getWheelRewardImage()}}">
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 text-center wheel-text" ng-bind="Str.AllRewardPage.description"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 restaurant">
                <div class="trans-block text-center">
                    <div class="bar-logo text-center">
                        <a  ng-show="!mobileWebview"  rel="nofollow" ng-href="{{restaurant.getInternalPath()}}">
                            <img ng-src="{{restaurant.getLogoImage()}}">
                        </a>
                        <img ng-show="mobileWebview"  ng-src="{{restaurant.getLogoImage()}}">
                    </div>
                    <a  ng-show="!mobileWebview"  rel="nofollow" ng-href="{{restaurant.getInternalPath()}}">
                        <h1 ng-bind="restaurant.getTitle()"></h1>
                    </a>
                    <h1 ng-show="mobileWebview"   ng-bind="restaurant.getTitle()"></h1>
                    <p><span ng-bind="restaurant.getAddress()"></span><span ng-if="restaurant.getAddress()">,</span>
                        <br><span ng-bind="restaurant.restaurantinfo.region"></span>
                        <span ng-bind="restaurant.getZip()"><span ng-if="restaurant.getZip()">,</span></span>
                        <br> <span ng-bind="restaurant.getCountry()"></span>
                    </p>
                </div>
                <div class="reward">
                    <div class="style">
                        <h2 ng-bind="Str.AllRewardPage.Text_Reward_Rating"></h2>
                        <p ng-bind="restaurant.getWheelValue()"></p>
                    </div>
                    <div class="style">
                        <h2>{{Str.AllRewardPage.Text_Best_Rewards_Of}} {{restaurant.getTitle()}}</h2>
                        <p ng-repeat="reward in rewards.wheel track by $index" ng-bind="reward"></p>
                    </div>
                    <div class="style last">
                        <h2 ng-bind="Str.AllRewardPage.Text_How_It_Works"></h2>
                        <p ng-bind="Str.AllRewardPage.Text_How_It_Works_1"></p>
                        <p ng-bind="Str.AllRewardPage.Text_How_It_Works_2"></p>
                    </div>
                    
                    <div ng-show="!mobileWebview" class="style last">
                        <a ng-href="{{restaurant.getInternalPath()}}/booknow">
                        <button analytics-on="click"
                        analytics-event="c_book_resto_wheeldetails"
                        analytics-category="c_book_resto" ng-show="disableBookButtton != true" id="btn_book" class="book-button-sm btn-leftBottom-orange" style="margin-bottom:15px;width:100%;" >BOOK NOW</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
