/* custom css */
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
	background:#F6F6F6;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6e6e6e;
}
li {
	list-style:none;
}
a {
	color:#303030;
}
a:hover, a:focus{
	color: #b4de2a;
	text-decoration:none
}
.strong{
    font-weight: bold;
}
.white-bg {
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 0 #ffffff;
	color: #303030;
	text-shadow: 1px 1px 0 #ffffff;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 25px;
	margin:0 0 25px 0;
}
.white-bg h2 {
	font-family: 'Bree Serif', serif;
	font-size:26px;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 0 #ffffff;
	color: #303030;
	text-shadow: 1px 1px 0 #ffffff;
	font-size: 180%;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 30px;
	margin-bottom: 20px;
	margin-top: 0;
	padding-bottom: 10px;
}
.white-bg h2 a {
	color:#303030;
}
#theRestaurant {
	border: 1px solid #e5e5e5;
	color: #6e6e6e;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	width: 220px;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 20px;
	margin-bottom: 9px;
	padding: 4px 6px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
.customColor {
	background: #b4de2a;
	border: medium none;
}
.customColor:hover {
	background: #333333;
}
.badge {
	background: #3a87ad;
	border-radius: 9px;
	padding:3px 9px 2px;
	text-shadow: none;
}
.ButtonBtn {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ButtonBtn:hover {
	background:#2F96B4;
}
#accordion a {
	color: #303030;
	display: block;
	text-shadow: none;
}
#accordion a:hover {
	color:#b4de2a;
	text-decoration:none;
}
#accordion .panel {
	border: none;
	box-shadow: none;
	margin: 0 0 2px;
}
.usefullinks {
	padding:0;
}
.usefullinks li {
	list-style:none;
}
.usefullinks li {
	line-height: 2.2em;
	list-style: none;
}
.fa:before {
	margin-right: 6px;
}
.aboutus ul {
	padding: 0;
}
.aboutus ul li {
	background: none;
	line-height: 2.2em;
	list-style: none;
	padding-left: 0;
}
.ProfileBox {
	background: #ffffff;
	border-radius: 3px;
	bottom: 0;
	box-shadow: 0 0 2px #cdcdcd;
	padding: 8px 0;
	position: fixed;
	text-align: center;
	width: 230px;
	z-index: 999;
	height:100%;
}
.ProfileName {
    background:#ffffff;
    border-radius: 2px;
    margin: 9px;
    position: absolute;
    width: 210px;
}
.ProfileName a {
	display:block;
	padding: 5px 0;
}
.ProfileName:hover {
	background:#ffffff;
}
.ProfileName a:hover {
	color:#fff;
}

.mybarnav a:hover {
	color:grey;
}

.mybarnav a {
	color:green;
}

#CopyrightSec {
	margin-bottom: 25px;
}
.accordion-inner {
	padding:15px 0;
}
.form-group {
	width:100%;
	float:left;
}
.accordion-inner .form-control {
	max-width:400px;
	display:inline;
}
.input-prepend .form-control {
	max-width:320px;
}
.move {
  margin-left: 245px;
  margin-top: 25px;
  max-width: 980px;
  width: auto;
}
.move .container {
	max-width: 980px;
	width:100%;
}
.SocialIcons a span.fa {
  color: #4f4f4f;
  font-size: 20px;
}
.SocialIcons a span.fa:hover {
  color: #B4DE2A;
}

.imgshadow {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.imgshadow:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}
/* Media Classes */


@media (max-width:768px) {
}
@media (max-width:767px) {
	
.ProfileBox, .ProfileName {
    position: static;
    width: auto;
}
.move {
    margin-left: 0;
 }
}
