

.panel{
	border-color:#5285a0 !important;
}

.panel-heading{
	background-image:none !important;
	background-color:#5285a0 !important;
	color:#fff !important;
	border-color:#5285a0 !important;
	border-radius:0;
}
.panel-heading a{
	color: white;
}

.btn-default{
	background-image:linear-gradient(to bottom, #eee 0px, #e0e0e0 100%)!important;
}

.container_modal { margin: 0!important;
                   padding: 0!important;
                  width: 100%!important; }

.logmenu {
	float:right;
	font-size: 80%;
	position: relative;
	top:-10px
}

.drawer {
	display:none;
	padding: 0;
}