.showpass {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.showpass.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 15px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

.showpass .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

.showpass .rm-checkbox {
    width: 13px;
    height: 13px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
    margin:10px;
}

.showpass .labelp {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}

.showpass .labelr {
    color: #6d6d6d;
    font-size: 12px;
    font-weight: normal;
}
