/*---------------------------------------------------------------
# Package - Joomla Template based on Sboost Framework   
# ---------------------------------------------------------------
# Author - olwebdesign http://www.olwebdesign.com
# Copyright (C) 2008 - 2013 olwebdesign.com. All Rights Reserved.
# Websites: http://www.olwebdesign.com
-----------------------------------------------------------------*/

@import url(font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Cambo|Montserrat|Varela+Round|Inconsolata:400,700|Roboto:400,900,700italic,700,500italic,500,400italic');

#hormenu,#sublevel {position:relative}
#hormenu ul.mx-menu { padding: 0;margin:0}
#sublevel ul.mx-menu { padding: 5px 0}
#hormenu .megacol,#sublevel .megacol {float:left}
#sublevel ul.empty,#sublevel li.empty {height:0px!important;display:none} 
#hormenu ul li,#sublevel ul li{background:none;padding:0;margin:0} 

/*Top Level*/
#sublevel {background:#f1f1f1}

#hormenu ul.level-0,
#sublevel ul.level-1{float:none;display:inline-block;margin:0 8px;padding:0}

/*Parent list item*/
#hormenu ul.level-0 > li.menu-item,
#sublevel ul.level-1 > li.menu-item{background:none;display:inline-block;margin:0 2px;padding:0}

/*Parent anchor text*/

#hormenu ul.level-0 > li.menu-item > a.menu-item{ font-family: 'Roboto'; color:#fff; display:block;font-size:18px;font-weight:400; line-height:normal;text-decoration:none;margin:0;padding:12px;background: center -65px no-repeat; margin-top: -4px !important;
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
-o-transition: all 200ms linear;
transition: all 200ms linear;}

#sublevel ul.level-1 > li.menu-item > a.menu-item{color:#333; display:block;font-size:12px;line-height:normal;text-decoration:none;margin:0;padding: 12px; }
/*Parent list item hover and active*/
#hormenu ul.level-0 > li.menu-item:hover > a.menu-item,
#hormenu ul.level-0 > li.menu-item.active> a.menu-item{  margin: 0px;padding-top:12px;padding-bottom:12px; }

#sublevel ul.level-1 > li.menu-item:hover > a.menu-item,
#sublevel ul.level-1 > li.menu-item.active> a.menu-item {padding:11px 12px; margin:4px 0px;padding-top:4px;padding-bottom:4px; }

#hormenu ul.level-0 > li.menu-item span.has-image,
#sublevel ul.level-1 > li.menu-item span.has-image{padding-left:22px;display:block;background-repeat:no-repeat;background-position:0px 0px}
#hormenu ul.level-0 > li.menu-item span.menu-title,
#sublevel ul.level-1 > li.menu-item span.menu-title{display:block}

#hormenu ul.level-0 > li.menu-item span.menu-desc,
#sublevel ul.level-1 > li.menu-item span.menu-desc{display:block;font-size:11px; text-shadow: none}


#hormenu ul.level-0 > li.menu-item span.menu-desc:hover,
#sublevel ul.level-1 > li.menu-item span.menu-desc:hover{ color:#111;}

#hormenu ul.level-0 > li.parent > a.menu-item span.menu,
#sublevel ul.level-1 > li.parent > a.menu-item span.menu {display:block;background: none}

#hormenu ul li.parent > a.menu-item span.menu,
#sublevel ul li.parent > a.menu-item span.menu {display:block;background:url(../images/daddy.png) no-repeat 100% 50%}

/*Submenu*/
#hormenu li .submenu,#sublevel li .submenu {position: absolute;display:none;z-index:9999}
#hormenu ul li .submenu-inner,#sublevel ul li .submenu-inner {background:#fafafa;color:#333}

/*Styling subnav*/
#hormenu ul ul,
#sublevel ul ul {float: none;}

#hormenu li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {background:none;display:block;margin:0;padding:0;float:none;border-top:1px solid #e5e5e5;border-bottom:1px solid #fff}

#hormenu li.menu-item li.menu-item:first-child,
#sublevel li.menu-item li.menu-item:first-child{border-top:0}
#hormenu li.menu-item li.menu-item:last-child,
#sublevel li.menu-item li.menu-item:last-child{border-bottom:0}

#hormenu li.menu-item li.menu-item a.menu-item,
#sublevel li.menu-item li.menu-item a.menu-item
{display:block;font-weight:200;line-height:normal;text-decoration:none;margin:0;padding:10px;color:#777;}

#hormenu li.menu-item li:hover,#hormenu li.menu-item li.active,
#sublevel li.menu-item li:hover,#sublevel li.menu-item li.active{background:#fff}

#hormenu li.menu-item li.menu-item span.menu-desc,
#sublevel li.menu-item li.menu-item span.menu-desc{color:#666}

/*Group*/
* html .group{height:0}
#hormenu .group {padding:10px;}
#hormenu .group .group-title {margin-top:-10px;}
#hormenu ul li.menu-item .group{background:none!important;overflow:hidden}
#hormenu .group-content ul.mx-menu{margin:0!important}
#hormenu .group-title{margin:0;border-bottom:2px solid #ddd;padding:0;overflow:hidden}
#hormenu .group-title .menu-title{font-size:100%;font-weight:400;line-height:normal;text-transform:uppercase}
#hormenu .group-title .menu-desc{color:#888;padding-left:0!important}