        .navbar-fixed-top.navbar-fixed-top-index .container {
            height: auto !important;
        }

        .clear-fix:after {
            content: '';
            display: table;
            clear: both;
        }

        .baner--fix:after {
            content: '';
            display: table;
            clear: both;
        }


       .pull-right {
            float: right!important;
            width: 92%;
        }

        .iflogged {
            width: 65% !important; 
        }

        .logged-in--fix {
            display: inline-block;
            vertical-align: middle;
            width: 6%;

        }

        .navbar-header {
            margin: 0 !important;
        }

       .dropdown {
        margin-top: 9px !important;
        color: #FFF;
        margin: 3px -22px 0 0;
        width: 32px !important;
        position: relative;
        height: 21px !important;
        text-align: left;
        }

        
          .dropdown li a 
    {
        color: #555555;
        display: block;
        font-family: arial;
        font-weight: bold;
        padding: 6px 15px;
        cursor: pointer;
        text-decoration:none;
    }

    .dropdown li a:hover
    {
        background:#155FB0;
        color: #FFFFFF;
        text-decoration: none;
    }
        
        
        a.account {
            font-size: 11px;
            line-height: 16px;
            color: #FFF;
            position: absolute;
            z-index: 110;
            display: block;
            padding: 0px 0 0 0px !important;
            margin-left: 10px;
            height: 28px;
            width: auto !important;
            margin: -11px 0 0 -10px;
            text-decoration: none;
            cursor: pointer;
            }
   .account > img
    {
        width: 32px;
    }
    .root
    {
        list-style:none;
        margin:0px;
        padding:0px;
        font-size: 11px;
        padding: 11px 0 0 0px;
        border-top:1px solid #dedede;
    }
    
        .submenu {
            background: #fff;
            position: absolute;
            top: -12px;
            left: -116px !important;
            z-index: 100;
            width: 135px;
            display: none;
            margin-left: 10px;
            padding: 40px 0 5px;
            border-radius: 6px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
            }

        .navbar-nav .simple--menu {
                float: right !important;
            }

        .search--input {
            width: 50%;
            float: left;
        }

        .search--button {
            float: left;
        }

        .menu--content {
            float: right !important;
        }

        .chosen-container {
            /*width: 100% !important;*/
        }

        .container-fluid {
            margin: 0 !important;
            padding: 0;
        }

        .special--fix {
            margin-top: 0;
        }

        .width-fix {
            width: 60%;
            display: block;
            margin: 0 auto;
        }

        #search_bar_div {
            background: none repeat scroll 0 0 white;
            top: 40px;
            width: 100%;
            z-index: 11;
            }

        .search-inline {
            display: inline-block;
            
            vertical-align: top;

        }

        .search-inline button {
            margin: 0 0 3px 3px!important;
            float: none !important;
        }

        .search-inline2 {
            display: inline-block;
            width: 70%;
            vertical-align: top;
        }



        .navbar-nav {
            margin: 0;
            padding: 5px 0px;
            }

        .form-control.search-bar--topnav {
            font-size: 12px;
            height: 29px;
            max-width: 100%;
            border-radius: 2px !important;
        }

        .margin--fix {
            margin-right: 10px !important;
            margin-left: 10px;
        }

        .logo-container--fix {
            width: 25%;
            display: inline-block;
            vertical-align: middle;
        }

        .logo-container--fix .logo img {
            width: 125px !important;
            margin: 0 !important;
            min-width: 120px;

        }

        .nav-container--fix {
            width: 73%;
            display: inline-block;
            vertical-align: middle;
        }

        .nav-container--fix .navbar-toggle {
            position: static;
            float: right;
            padding: 9px 10px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            margin: 0;
        }

            .nav-container--fix .navbar-collapse {
                position: static;
               
                margin-top: 0px;
            }

            .banner--fix {
                margin-top: 0 !important;
            }
       

           .banner--fix .main_picture {
                     margin-top: 0; 
                    }


        .cuisinerestaurant___chosen {
            width: 100% !important;
        }

        .cityrestaurant_chosen {
           width: 100% !important;  
        }

        .media-images {
            margin-top: 40px;
        }
        
        .media-images .right {
            display: inline-block;
            width: 48%;
            vertical-align: top;
        }
    
        .media-images .custom-grid:first-child {
            margin-right: 3%;
        }

        .media-images .left {
            display: inline-block;
            width: 48%;
            vertical-align: top;
        }

        .media-images article figure img {
            width: 100%;
        }

        .media-images article {
            position: relative;
        }

        .media-images figcaption {
            position: absolute;
        }

        .media-images figcaption.offer-left {
                top: 25px;
                left: 0;
                padding: 5px 20px;
                //background: #428BCA;
                //background: rgba(66,139,202,0.8);
                background: #2aacd2;
                background: rgba(42,172,210,0.8);
                font-size: 17px;
                color: #fff;
        }
        
        .media-images figcaption.offer-right {
                top: 25px;
                right: 0;
                padding: 10px 20px;
                //background: #428BCA;
                //background: rgba(66,139,202,0.8);
                background: #2aacd2;
                background: rgba(42,172,210,0.8);
                font-size: 22px;
                color: #fff;
        }
        
        .media-images figcaption.center-title {
                bottom: 25px;
                
                
                text-align: center;
                font-size: 45px;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                 width: 100%;
        }

        .media-images figcaption.right-title {
                top: 25px;
                right: 0;
                padding: 10px 20px;
                font-size: 22px;
                color: #fff;
        }

        .media-images figcaption.left-title {
                top: 25px;
                left: 0;
                padding: 10px 20px;
                font-size: 22px;
                color: #fff;
        }
        
        .media-images .ribbon_holder {
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;
        }
        
        .media-images .ribbon-left {
            position: absolute;
            bottom: -33px;
            left: -14px;
            width: 27%;
        }
        
        .media-images .ribbon-right {
            position: absolute;
            bottom: -33px;
            right: -13px;
            width: 27%;
        }

        .longer-placeholder {
            width: 66%;
            display: inline-block;
            vertical-align: top;
        }

        .shorter-placeholder {
            width: 30%;
            display: inline-block;
            vertical-align: top;
        }

        @media screen and (min-width: 768px) and (max-width: 990px) { 
            .media-images .ribbon-right {
                bottom: -32px;
                right: -22px;
            }  
            .media-images .ribbon-left {
                bottom: -32px;
                left: -22px;
            } 
            .media-images figcaption.right-title {
                    top: 10px;
                } 
            .media-images figcaption.left-title {
                    top: 10px;
                } 

                .navbar-nav {
                    margin: 0;
                    padding: 5px 0px;
                }
         
                .search--input {
                        width: 45%;
                        float: left;
                }


         }

        @media screen and (max-width: 767px){

            .main_content {
                padding-bottom: 10px;
                //padding-top: 210px;
                width: 100%;
                }

                .banner--fix {
                margin-top: 0 !important;
            }
       

           .banner--fix .main_picture {
                     margin-top: 0; 
                    }


                .container-fluid {
                        margin: 0 !important;
                        padding: 4px 0;
                    }

                .special--fix {
                    margin-top: 10px;
                 }


                .navbar-nav {
                    margin: 0;
                    padding: 5px 10px;
                }


            .nav-container--fix .navbar-collapse li {
                margin-bottom: 10px;
                float: right;
                margin-left: 0 ;
                width: 100%;
               text-align: right;
            }

            .nav-container--fix .navbar-collapse li input{
               float: right;
               margin-right: 0 !important;
            }

            .nav-container--fix .navbar-collapse li:last-child {
                margin-bottom: 0;
            }

            .nav-container--fix .navbar-collapse li:after {
                content: '';
                display: table;
                clear: both;
            }


             .nav-container--fix .navbar-collapse {
                    position: absolute;
                    right: 0;
                    margin-top: 14px;
                    background: none 0px 0px repeat scroll rgba(39, 103, 136, 0.8);
                    padding: 0;
                }


            .btn.btn-info.btn-sm {
                display: block;
                margin-bottom: 15px;
                float: right;
                margin-right: 15px;
            }

            .custom_form_search_bar {
                background: none repeat scroll 0 0 rgba(39, 103, 136, 1) !important;
                padding-top: 15px;
                width: 100%;
                position: static !important;
                margin-top: 0 !important;
            }

            .chosen-container {
               /* display: none !important;*/
            }

            #idFormsQuery .col-sm-2, .col-sm-3 {
                margin-bottom: 0px !important;
            }


            .media-images .shorter-placeholder,.media-images .longer-placeholder, .media-images .left, .media-images .right {
                display: block;
                width: 100%;
            }
        }

         @media screen and (min-width: 507px) and (max-width: 767px){ 

                .banner--fix {
                margin-top: 0 !important;
            }
       

           .banner--fix .main_picture {
                     margin-top: 0; 
                    }


                .width-fix {
                    width: 80%;
                    display: block;
                    margin: 0 auto;
                }

                
                .special--fix {
                    margin-top: 10px;
                 }
                .media-images .ribbon-left {
                        bottom: -52px;
                        right: -33px;
                    }   
                .media-images .ribbon-right {
                        bottom: -52px;
                        right: -33px;
                    }   
                

                .banner {
                    /*margin-top: 90px !important;*/
                }

                 .navbar-nav {
                    margin: 0;
                    padding: 5px 10px;
                }

         }

          @media screen and (max-width: 507px) { 

                 .navbar-nav {
                    margin: 0;
                    padding: 5px 10px;
                }

                 .special--fix {
                    margin-top: 10px;
                 }

                 .width-fix {
                    width: 80%;
                    display: block;
                    margin: 0 auto;
                }

                 .tp-caption.sfr.very_big_white.start {
                    font-size: 18px !important;
                    }

                .tp-caption.sfl.modern_small_text_dark.start.text_fix {
                    font-size: 12px !important;

                }

                .captizle {
                    font-size: 10px !important;
                    }

                  /*  .navbar-fixed-top-index {
                         background: rgba(39, 103, 136, 1) !important;
                    }*/


                .banner {
                    /*margin-top: 90px !important;*/
                }



                .media-images .ribbon-right {
                        bottom: -29px;
                        right: -22px;
                    }   

                     .media-images .ribbon-left {
                        bottom: -29px;
                        right: -22px;
                    }   

                    
                .media-images figcaption {
                    font-size: 16px;
                }  

                .media-images figcaption.right-title {
                    top: 0px;
                } 
                .media-images figcaption.left-title {
                    top: 0px;
                } 

                .media-images figcaption.offer-left {
                    top: 10px;
                }
                .media-images figcaption.offer-right {
                    top: 10px;
                }
          } 

        .media-event {
            margin-top: 40px;
        }
