.search-bar { margin: auto 20%;}
.search-input{ background-clip: padding-box;background-color: #ffffff;border-bottom: 0 solid rgba(0, 0, 0, 0.15);border-radius: 2px 0px 0px 2px;border-left: 0 solid rgba(0, 0, 0, 0.15);border-top: 0 solid rgba(0, 0, 0, 0.15);box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);margin: 0;}
.search-drop{ background-clip: padding-box;background-color: #ffffff;border-bottom: 0 solid rgba(0, 0, 0, 0.15);border-radius: 0;border-right: 0 solid rgba(0, 0, 0, 0.15);border-top: 0 solid rgba(0, 0, 0, 0.15);box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);margin: 0; height:46px; padding:0px;}
.search-drop > .dropdown-toggle { border: 0px; box-shadow:none!important; background: #fff;}
.search-drop > .dropdown-menu{ z-index:99999;border-radius: 2px; padding: 0px; margin: 0px;  margin-right: 50px; min-width: 135px;}
.search-drop > .dropdown-menu > li{ border-bottom:1px solid #f2f2f2; padding: 2px 3px; }
.search-drop > .dropdown-menu > li:last-child{ border-bottom: 0px;}
.search-drop { height: 46px !important; border-left:0px; padding: 0px 5px!important; background: #fff; min-width: 130px;}
//.search-btn{ background-color: #2aacd2;background-image: linear-gradient(to bottom, #2aacd2, #428bca); color: #fff; border-color:#2aacd2;}
//.search-btn:hover{ background-image: linear-gradient(to bottom, #2aacd2, #2aacd2);}
.search-btn{ background-color: #d2453f;background-image: linear-gradient(to bottom, #e85b54, #b22520); color: #fff; border-color:#d2453f;}
.search-btn:hover{ background-image: linear-gradient(to bottom, #e35342, #e35342);}

.search-bar-search { margin: auto 10%;}
.search-drop-search > .dropdown-toggle { border: 0px; box-shadow:none!important; background: #fff;}
.search-drop-search > .dropdown-menu{ border-radius: 4px; padding: 0px; margin: 0px;  margin-right: 50px; min-width: 135px;}
.search-drop-search > .dropdown-menu > li{ border-bottom:1px solid #f2f2f2; padding: 2px 3px; }
.search-drop-search > .dropdown-menu > li:last-child{ border-bottom: 0px;}
.search-drop-search { border-left:0px; background: #fff;}
.search-btn-search{ background-color: #d2453f;background-image: linear-gradient(to bottom, #e85b54, #b22520); color: #fff; border-color:#d2453f;}
.search-btn-search:hover{ background-image: linear-gradient(to bottom, #e35342, #e35342);}
select {-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow: '';}


@media (max-width: 767px) {
    //.main_picture::after{padding-top: 70%;}
    .search-bar { margin: auto 1%;}
    .search-bar > .form-control { font-size: 12px;}
    .search-drop {min-width: 100px;height: 46px!important;}
    .search-drop > button{height: 26px!important;}
    .search-drop > .dropdown-menu{font-size: 12px; z-index:99999; }
    .search-drop > .dropdown-toggle{font-size: 12px; padding: 0px; height: 26px!important;}

    .main_picture::after{padding-top: 85%;}
    .search-bar-search { margin: auto;}
    .search-bar-search > .form-control { font-size: 12px;}
    .search-drop-search > .dropdown-menu{font-size: 12px;}
    .search-drop-search > .dropdown-toggle{font-size: 12px;}
}
