.email-navbar-fixed-top{
    background-color: #5285A0;
    height: 50px;
    width: 100%;
}

.email-navbar-fixed-bottom{
    background-color: #5285A0;
    height: 50px;
    width: 100%;
}
.div1 span{
    font-weight: bold;
}

.restaurant_title{
    font-weight: bold;
    font-size: 16px;
}
.booking_date{
    font-weight: bold;
    font-size: 16px;
}
.number_guest{
    font-weight: bold;   
    font-size: 14px;
}

.tag-line{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    color:#fff;
    line-height: 30px;
    padding: 3px;
    font-weight: bold;
    font-size: 16px;
    
}
.separate{
     background-color: #2AABD2;
    height: 30px;
    width: 95%;
    margin-left: 10px;
}
 
.div3{
    margin-top:40px;
}
.email-footer-col {
	float: left;
	width: 50%;
	padding: 10px 15px 10px 15px;
	font-size: 12px;
}