ol.numeric-decimals { counter-reset:section; list-style-type:none; }
ol.numeric-decimals li { list-style-type:none; }
ol.numeric-decimals li ol { counter-reset:subsection; }
ol.numeric-decimals li ol li ol { counter-reset:subsubsection; }
ol.numeric-decimals li:before{
    counter-increment:section;
    content:counter(section) '. ';/*content:'Section ' counter(section) '. ';*/
}
ol.numeric-decimals li ol li:before {
    counter-increment:subsection;
    content:counter(section) '.' counter(subsection) ' ';
}

ol.numeric-decimals li ol li ol li:before {
    counter-increment:subsubsection;
    content:counter(section) '.' counter(subsection) '.' counter(subsubsection) ' ';
}


/*
ul {
	width:600px;
	white-space:nowrap; 
	margin-bottom:20px;
	overflow:hidden;
	text-overflow:ellipsis;
}
*/

li {
	line-height:2.5em;
	float:left;
    font-size: 12px;
	text-overflow:ellipsis;
	white-space:nowrap; 
	}

#double li	{ width:50%;}
#triple li	{ width:33.333%; line-height:1.5em; font: 11px; }
#quad li	{ width:25%; line-height:1.5em; font: 11px; }
#quint li	{ width:20%; line-height:1.5em; font: 11px; }
#six li		{ width:16.666%; }
#sept li	{ width:14.286%; }

#Tdouble li	{ width:50%; font: bold 11px; border-bottom: 2px solid white; border-top: none;}
#Ttriple li	{ width:33.33%;  font: bold 11px; border-bottom: 2px solid white; border-top: none;}
#Tquad li	{ width:25%;  font: bold 11px; border-bottom: 2px solid white; border-top: none;}
#Tquint li	{ width:20%;  font: bold 11px; border-bottom: 2px solid white; border-top: none;}
#Tsix li	{ width:16.666%; font: bold 11px; border-bottom: 2px solid white; border-top: none; }
#Tsept li	{ width:14.286%; font: bold 11px; border-bottom: 2px solid white; border-top: none; }

#testquad li:nth-of-type(4n+5)	{ background-color: #fcc; }

li[id^="li_total"] { background-color: pink; font: bold 12px; }
li[id^="li_even_"] { background-color: #F9FFFF; }
li[id^="li_title_"] { text-transform:uppercase; font-weight: bold; }

li[id^="li_title_"] a 
{ 
color: black;
text-decoration: none;
margin:0px;
border-bottom:2px solid white;
}

li#li_title_0 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid red; }
li#li_title_1 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid blue; }
li#li_title_2 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid orange; }
li#li_title_3 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid green; }
li#li_title_4 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid brown; }
li#li_title_5 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid back; }
li#li_title_6 a:hover { text-decoration: none; margin:0px; border-bottom:2px solid silver; }

#Tquad ul {
	width:750px;
	margin-bottom:20px;
	overflow:hidden;
}

#Tsept ul {
	margin-bottom:20px;
	overflow:hidden;
}

#evidence div
{
width:850px;
margin: 0px;
}

#app_content ul {
	width:750px;
	margin-bottom:20px;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}

#app_content .sm_limit, #evidence .sm_limit { 
white-space:nowrap; 
overflow:hidden; 
border:none;
text-overflow:ellipsis;
width:100px;
}

#evidence a, #evidence a:hover { 
margin:0px; 
color:inherit; 
text-decoration: none; 
}


#evidence ul {
	width:850px;
	margin-bottom:20px;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}

#evidence li {
	line-height:1.5em;
	border-bottom:1px solid #ccc;
	float:left;
	display:inline;
    font-size: 12px;
	white-space:nowrap; 
	text-overflow:ellipsis;
}

.ReportCompany {
	color:red;
	text-transform:uppercase;
	font-weight: bold;
}

#Tquint ul {
	width:650px;
	margin-bottom:20px;
	overflow:hidden;
	text-transform:uppercase;
	font-weight: bold;
}

#Ttriple li	{
border-bottom:none;
border-top: none;
}

div.limit, sm_limit
{
white-space:nowrap; 
overflow:hidden; 
border:none;
text-overflow:ellipsis;
}

div.limit { width:130px; }
div.limit140 { width:140px; }
div.sm_limit { width:100px; }

.Tangerine { font-family: 'Tangerine', serif; font-size: 24px; text-shadow: 4px 4px 4px #aaa; }
.Inconsolata  { font-family: 'Inconsolata', serif; font-size: 24px; text-shadow: 4px 4px 4px #aaa; }
.Roboto  { font-family: 'Roboto', serif; font-size: 24px; font-weight: 400; text-shadow: 4px 4px 4px #aaa; }
.Cambo { font-family: 'Cambo', serif;text-shadow: 4px 4px 4px #aaa;  }
.Montserrat { font-family: 'Montserrat', sans-serif; text-shadow: 4px 4px 4px #aaa; }
.Allura { font-family: 'Allura', cursive; }
.Aclonica { font-family: 'Aclonica', sans-serif; }


#sub_title a.tab {
font-size:9px;
font-family: Roboto, serif;
padding:5px;
text-decoration: none;
margin:0px 8px;
display:inline-block;
color: black;
}

#sub_title a.tab:hover {
font-size:9px;
font-family: Roboto, serif;
padding:4px;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#sub_title a.tabbed {
font-size:9px;
font-family: Roboto, serif;
padding:4px;
background-color:#e9e9e9;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
