<style>
     

</style>
<section class ='early_book_section' style='margin-top:60px;'>
<div  class="landing-page" style='background-color: white !important' >
<!--    <div class="container">
        <div class="row">
                <img class='banner-img img-responsive' src="{{pageheader.images}}" alt=""/>
            </div>
          
    </div>-->
  <div class="dsbbannerholder">
      <div class="dsbbannerimg" style="background-image: url({{ pageheader.images}})">
          <div class = "titleboard">
          </div>
        </div>  
    </div>
    <section id="amazing" style='background-color:white!important;margin-left:20px;margin-right:20px;'>
        <div class="container">
            <p style="font-size:20px;" class="text-center">{{pageheader.title}} </p>
            <p ng-if='pageheader.subtitle' style="font-size:23px;margin-top:10px;text-align:center;margin-bottom: 20px;
                     padding-bottom: 10px;">{{pageheader.subtitle}}</p>
            <p>{{pageheader.description}}</p>
            
            <div class="col-md-6 col-sm-4" ng-repeat="item in promotions">
                <div class ='col-md-12'>
                 <div class="headline">
                    <strong> {{item.title}}</strong>
                </div>
                <div class="promoimages">
                     <a ng-href="{{item.link }}" target="_blank">
                        <img ng-src="images/transparent.png" Title= "{{item.title}}" style='width:100%;background: url("{{item.image}}");background-position: center;background-repeat: no-repeat;background-size: cover;s'>
                     </a>
                </div>
                 <div class="headline">
                   {{item.description}}
                </div>
                <div class="cbtnholder">
                     <a ng-href="{{ item.link }}" target="_blank">
                    <center>
                        <input class="input-group-addon book-button-sm2 btn-leftBottom-blue-noborder" type="button" name="" value="Book Now">
                    </center>
                     </a>
                </div>
             
            </div>
            </div>
        </div>

    </section>


</div>
</section>
