<style>
table.recruit td {
 	padding: 10px 10px 10px 10px;
	border-style:dashed;
	border-width:1px;
	font-family:lato;
	vertical-align: top;
}

table.recruit ul {
list-style-image: url('img/triangle.gif');
list-style-position: inside;
font-family:roboto;
}

.recruit {
	margin-top:20px;
}
table.recruit p {
	font-family:roboto;
	font-weight:normal;
}
</style>

<main>
		<!-- <div class='pagetitle'><h1>{{ pagetitle }}</h1></div> -->
	<h3>Néo-Conseil recrute vos futurs collaborateurs.<br />Confiez-nous la recherche des talents qui feront le succès de votre organisation.</h3><br /><br />

<!--	<section><h5>Nous n'avons pas de recrutement en cours pour le moment.</h5></section>  -->
<div ng-if="dontshow" class="card">

    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>

</div>

<div class="card">

    <div class="card-block">
        <strong>CONSULTANT EXPERIMENTE (H/F)</strong>
    <table class="recruit">
    <tr><td width="20%" style="color:navy;font-size:20px;font-weight:bold">03-17<br />RH/CONSULT-01</td><td><p>Afin d’accompagner sa croissance, Néo-Calédonienne de Conseil recherche :</p></td></tr>
    <tr><td><p>Ajoutée le 09/03/2017<br />Contact: Service RH</p></td><td>
		<strong>UN CONSULTANT EXPERIMENTE EN ORGANISATION ET MANAGEMENT (H/F)</strong>
		<br />
		<br />
		<strong>MISSION</strong>
		<p>Intégré au sein de notre équipe de consultants, vous participez à la réalisation de missions chez nos clients. Votre maîtrise de la palette des fondamentaux du consultant vous permet d’appréhender rapidement les enjeux métiers, de structurer une démarche de résolution des problèmes et d’en piloter la mise en œuvre opérationnelle, en appui des équipes du client.</p>
		<strong>PROFIL RECHERCHE</strong>
		<ul>
		<li>Grande école d’ingénieur ou de commerce</li>
		<li>3 à 5 années d’expérience dans un cabinet de conseil de premier rang</li>
		<li>Consultant tout terrain, vous possédez des qualités relationnelles et savez vous adapter à des contextes et problématiques client variés</li>
		<li>Consultant expérimenté, vous êtes autonome et savez exploiter vos capacités d’analyse et de synthèse, votre rigueur et créativité pour répondre aux exigences de qualité du métier et créer de la valeur ajoutée pour nos clients.</li>
		</ul>
		<p>Merci d’adressez votre CV (avec photo) + une lettre de motivation + vos prétentions financières, exclusivement par mail à conseil@neo.nc, en indiquant la référence 03-17 RH/CONSULT-01.</p>   
		</td></tr></table>
    </div>

</div>

<div class="card">

    <div class="card-block">
        <strong>CONSULTANT JUNIOR (H/F)</strong>
    <table class="recruit">
    <tr><td width="20%" style="color:navy;font-size:20px;font-weight:bold">03-17<br />RH/CONSULT-02</td><td><p>Afin d’accompagner sa croissance, Néo-Calédonienne de Conseil recherche :</p></td></tr>
    <tr><td><p>Ajoutée le 09/10/2017<br />Contact: Service RH</p></td><td>
		<strong>UN CONSULTANT JUNIOR EN ORGANISATION ET MANAGEMENT (H/F)</strong>
		<br />
		<br />
		<strong>MISSION</strong>
		<p>Intégré au sein de notre équipe de consultants, vous participez à la réalisation de missions chez nos clients. Votre bonne connaissance de la palette des fondamentaux du consultant vous permet d'être rapidement autonome sur vos missions et d'alerter l'encadrement à bon escient. </p>
		<strong>PROFIL RECHERCHE</strong>
		<ul>
		<li>Grande école d’ingénieur ou de commerce</li>
		<li>2 années d’expérience dans un cabinet de conseil de premier rang</li>
		<li>Consultant tout terrain, vous possédez des qualités relationnelles et savez vous adapter à des contextes et problématiques client variés</li>
		<li>Consultant débutant, vous avez déjà fait vos preuves dans un grand cabinet et bénéficiez de capacités d’analyse, de synthèse et d'adaptation nécessaires au métier.</li>
		</ul>
		<p>Merci d’adressez votre CV (avec photo) + une lettre de motivation + vos prétentions financières, exclusivement par mail à conseil@neo.nc, en indiquant la référence 03-17 RH/CONSULT-02.</p>   
		</td></tr></table>
    </div>

</div>



	<!-- Section: Newsletter -->
	<section class="section wow fadeIn" data-wow-delay="0.3s">
	<form ng-submit="onsubmit('r');" autocomplete="off"><!-- action="checkemail.php" -->	  
		<!-- Heading -->
		<nav class="navbar navbar-dark sidebar-heading abonnezcard" style="background-color:#154771;margin-top:50px;font-size:20px;">
			<div class="flex-right">
				<p class="white-text">Abonnez-vous</p>
			</div>
		</nav>
		<!--/ Heading -->   
	   
		<!-- Newsletter -->
		<div class="card z-depth-1 widget-spacing abonnezcard" >
			<div class="card-block">

				<!-- Header -->

				<!-- Body -->
				<p>Vous pouvez vous abonner pour être informé en temps réel de nos prochaines annonces.</p>
				<br>

				<!-- Body -->
				<div class="md-form">
					<i class="fa fa-user prefix"></i>
					<input type="text" id="name" ng-model="user.name" class="form-control"  autocomplete="off">
					<label for="name">Votre nom</label>
				</div>

				<div class="md-form">
					<i class="fa fa-envelope prefix"></i>
					<input type="text" id="email" ng-model="user.email" class="form-control"  autocomplete="off">
					<label for="email">Votre email</label>
				</div>

<!--
				<p>
				<div class="g-recaptcha" data-sitekey="6LdmpA4UAAAAAETsRaMqz8cjrUoyFCNwuuvJk5DS" data-callback="correctCaptcha"></div>
				<input style="position: absolute !important; left: -4000px !important; top: -4000px !important; display: none !important" value="" name="User" type="text" />
				</p>
-->

				<div class="text-xs-center">
					<button class="btn btn-default">Envoyer</button>
				</div>

			</div>
		</div>
		<!--/ Newsletter -->
		
	</section>
	<!--/ Section: Newsletter -->

</main>
