.main {
    width: 100%;
    position: relative;
    font-family: 'Unkempt', cursive; 
}
.main .container {
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px #00ADD5; background-color: #303030}
.main .min-heig {
    min-height: 372px; }
.main .head {
    width: 300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background: #00ADD5;
    color: #fff;
    font-size: 28px; } 
.main .head .book-win{margin-top: -12px;}
.main .head .corner {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0; }
.main .head .header-img {
    width: 100%; }
.main .product {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid #00ADD5;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; }
.main .product:hover .product-overlay {
    left: 60%;
    overflow: hidden; 
}
.main .product ul {
    background-color: #303030;
    bottom: 10px;
    margin: 0;
    list-style-type: none;
    position: absolute;
    padding: 0 0 0 10px;
}
.main .product ul li {
    display: inline-block;
    margin-right: 10px; 
    background-color: #303030;
    font-weight: 200;
    font-size: 15px;
}

.main .product ul li a{
    background: #bb161c none repeat scroll 0 0;
    color: #fff;
    padding: 4px 18px;
    text-decoration: none;
}

.main .product .info{
    background-color: #00add5;
}


.main .product ul li:last-child {
    margin-right: 0; }
.main .product .product-overlay {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.1s linear;
    width: 300px; 
    min-height: 100px;
    background-color: #303030}
.main .product .product-overlay .hero-image {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px; }
.main .product .product-overlay .hero-image img {
    width: 100%; }
.main .product .product-overlay .content {
    width: 52%;
    display: inline-block;
    vertical-align: top;
    float: right; }
.main .product .product-overlay .content span {
    display: block;

    color: #fff;font-size: 15px;}
.main .product .product-overlay .content span:first-child {
    font-weight: 700;
    margin-bottom: 5px;
    color: #34495e; color: #fff; }
.main .product .product-overlay .content span:last-child {
    font-weight: 300;
    color: #a5a5a5;
    font-size: 12px; color: #fff}
.main .product .product-overlay .content .heading {
    background: #00ADD5;
    margin-bottom: 8px;
    margin-top: 6px;
    padding: 5px;
    color: #fff;
}
.main .holder {
    width: 300px;
    height: 0;
    position: relative;
    margin: 0 auto; }

.main .holder .book-slider {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    display: none;
    height: 406px; 
    background-color: #303030}
.main .holder .book-slider .close {
    position: absolute;
    top: 50px;
    color: white;
    right: 1px;
    padding: 3px;
    cursor: pointer;
    border-radius: 9999px; 
    font-size: 14px;
}
.main .holder .book-slider .close img {
    width: 16px; }
.main .holder .book-slider .product--booking {
    margin-bottom: 0px;
    border-bottom: 2px solid #00ADD5; }
.main .holder .book-slider .product--booking .hero-image {
    width: 36%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: 3px; }
.main .holder .book-slider .product--booking .hero-image img {
    width: 100%;
    width: 100%;
    vertical-align: middle;
    display: inline-block; }
.main .holder .book-slider .product--booking .content {
    width: 60%;
    display: inline-block;color: #fff }
.main .holder .book-slider .product--booking .content span {
    display: block;
    margin-left: 3px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 7px;
    font-size:15px}
.main .holder .book-slider .product--booking .content span:first-child {
    margin-top: 7px;
    font-weight: 400;
    margin-bottom: 0; color: #fff}
.main .holder .book-slider .product--booking .content span:last-child {
    margin-bottom: 0; color: #fff;;font-size:12px}
.main .holder .book-slider .product--booking .content span:last-child a {
    text-decoration: none;
    color: #a5a5a5;
    font-weight: 400;
    font-size: 14px;color: #fff }
.main .holder .book-slider .booking-form {
    position: absolute;
    top: 79px;
    display:none;
}
.main .holder .book-slider .booking-form .input-style {
    margin-bottom: 6px;
    text-align: center; 
}
.main .holder .book-slider .booking-form .input-style.margin {
    margin-bottom: 3px;}
.main .holder .book-slider .booking-form .input-style label {
    width: 55px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #bbbbbb;
    font-weight: 300;
    margin-right: 3px; }
.main .holder .book-slider .booking-form .input-style input {
    width: 200px;
    border: 1px solid #ccc;
    padding: 7px; 
}
.main .holder .book-slider .booking-form .checkbox {
    text-align: right;
    margin-bottom: 6px;
    font-size: 12px;
    border-radius: 2px;
    color: #bbbbbb;
    padding-right: 26px; }
.main .holder .book-slider .booking-form .checkbox a {
    font-size: 12px;
    color: #cccccc;
    margin-left: 3px; }
.main .holder .book-slider .booking-form .submit {
    margin-bottom: 11px;
    text-align: center;
    padding: 0px 11px;
    font-weight: 300;
    text-align: right;
    -webkit-margin-after: 16px; }
.main .holder .book-slider .booking-form .submit input {
    box-sizing: border-box;
    padding: 4px 10px;
    font-size: 19px;
    background: #bb161c;
    border: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    width: 214px;
    text-transform: uppercase; }
.main footer {
    width: 300px;
    margin: 0 auto;
    background: #00ADD5;
    font-size: 18px;
    text-align: center;
    padding: 4px;
    box-sizing: border-box; }
.main footer a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400; }

.btn-trigger-map-from-book
{
    background-color: #BB161C;
    border: 1px solid #BB161C;
    color: white;
    padding: 3px 16px;
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: 48px;
}

.trigger-map-from-book
{
    background-color: #00ADD5;
    border: 1px solid #00ADD5;
    color: white;
    padding: 3px 16px;
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: 48px;
    font-weight: 200;
    font-size: 15px;
}

.trigger-book-from-map
{
    background-color: #BB161C;
    border: 1px solid #BB161C;
    color: white;
    padding: 3px 16px;
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: 48px;
    font-weight: 200;
    font-size: 15px;
}
.title_resto_back{
    color: white;
    display: block;
    margin: 5px 0 0 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.tagline_resto{
    color: #1E95EA;

    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 14px;
    font-style: normal;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 0 0 14px;

}

.location-icon {float:left;margin-left:20px}

.location-txt {
    color: #fff;
    float: right;
    font-size: 13px;
    margin-left: 7px;
    margin-top: 3px;
    text-align: center;
}