body{
    background-color:#F5F5F5;
}

.ui-loader{
  visibility:hidden;
}

video{
  height:0px;
  width:0px;
  left:1000;
  top: 1000px;
  position:absolute;
}

.start{
  width: 30%;
  height: 30%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.start input{
  margin-bottom: 10px;
}

.star-right{
  left:600px;
  top: 40px;
  position:absolute;
  z-index:2;
}

.star-left1{
    left:10px;
    top: 10px;
    position:absolute;
}
.star-left2{
    left:15px;
    top: 15px;
    position:absolute;
}

.fireworks-right{
  left:700px;
  top: 60px;
  position:absolute;
  z-index:2;
}
#win-notification{
    position:absolute;
    top:5px;
    left:600px;
    font-size: 30px;
    font-family: papyrus;
    font-weight: bold;
    color: #00CC00;

}
.marker {
  height:20px;
  left:353px;
  position:absolute;
  top:40px;
  width:20px;
  z-index:2;
}
.wheel {
  left:10px;
  position:absolute;
  top:50px;
  z-index:0;
}
.swipe {
  background-color:#CCCCCC;
  border:1px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  left:750px;
  position:absolute;
  top:200px;
}
.swipe-box {
  background-color:#CCCCCC;
  background-image:url(http://www.soleris.co/weeloy/rotation2/swipe.png);
  background-position:50% 50%;
  background-repeat:no-repeat;
  border:1px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  box-shadow:rgba(50, 50, 50, 0.74902) 7px 7px 5px 0;
  font-size:20px;
  height:300px;
  left:750px;
  padding-top:30px;
  position:absolute;
  text-align:center;
  top:300px;
  width:120px;
  z-index:5;
}
.swipe-box:hover {
}
