#contact-page {
    padding-top: 100px;
    background-color: #e7e7e7;
    padding-bottom: 80px;
    .contact-info {
        h3 {
            font-family: 'proximanova-bold';
            font-size: 42px;
            color: #303030;
            margin-bottom: 20px;
            margin-top: 0px;
        }
        .info {
            p {
                font-size: 22px;
                font-family: 'proximanova';
                color: #616161;
                line-height: 1.143;
                margin-bottom: 0px;
            }
        }
        .address {
            margin-top: 90px;
            p {
                color: #616161;
                font-family: 'proximanova';
                font-size: 16px;
                line-height: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            p:first-child {
                margin-bottom: 20px;
            }
        }
    }

    .contact-form {
        .contact-form-title {
            font-family: 'proximanova';
            font-size: 22px;
            color: #585858;
            margin-bottom: 5px;
        }
        form {
            .form-group {
                margin-bottom: 7px;
                input,
                select,
                textarea {
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid rgba(171, 171, 171, 0.43);
                    font-size: 16px;
                    padding-left: 14px;
                    font-family: 'proximanova';
                }
                select {
                    padding-left: 10px;
                }
                input,
                select {
                    height: 46px;
                }
                textarea {
                    min-height: 120px;
                }
                .error {
                    span {
                        color: #d14233;
                        font-size: 13px;
                        font-family: 'proximanova';
                    }
                }
            }
            .form-group:last-child {
                margin-top: 15px;
                input {
                	background-color: #64a6cc;
                	font-family: 'proximanova-bold';
                	color: #fff;
                    font-size: 26px;
                	@extend %transition;
                }
                input:hover {
                	@extend %btnSearchHover;
                }
            }
        }
    }
}
