.header_index {
    .navbar-default {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        min-height: 0px;
        background-color: #5285a0;
        background-image: none;
        margin-bottom: 0px;
        .navbar-header {
            .navbar-toggle {
                margin-top: 3px!important;
                margin-bottom: 3px!important;
                background: #1fa2e1 !important;
                border: 1px solid transparent!important;
                .icon-bar {
                    background-color: #fff;
                }
            }
            .navbar-brand {
                padding: 4px 0px;
                margin-left: 0px!important;
                text-shadow:none!important;
                img {
                    max-height: 100%;
                }
            }
        }
        .navbar-nav {
            li {
                a {
                    color: #fff;
                    font-family: 'proximanova';
                    font-size: 14px;
                }
            }
        }
        .navbar-right {
            margin-right: 10px;
        }
        .navbar-brand,
        .navbar-nav li a {
            text-shadow:none!important;
            line-height: 40px;
            height: 40px;
            padding-top: 0;
        }
    }
}
