<section class="content-sec search-section" caculate-map-content-maxheight>
    <div class="container-fluid" style='max-width: 1380px'>
        <div class="search-section" ng-class="SearchSectionClasses">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <nf-search id="search-bar-div"
                           class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1"
                           is-mobile="isMobile"
                           cities="cities" placeholder="Str.template.SearchInputPlaceHolder"
                           button-text="Str.template.SearchBtnText"></nf-search>
                <div ng-if="!isMobile" id="breadcrumb" breadcrumb base-url="base_url" base-path="base_path" data="SearchParams"></div>
                <section id="result_search" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="noresult col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1"
                         ng-show="showNoResultMessage">
                        <p>No Result Found</p>
                        <p class="all">All restaurants in <span ng-bind="SearchParams.city.data"></span>:</p>
                    </div>
                    <div style="position:relative; overflow: auto; height: 100px" ng-if="showSpinner">
                        <spinner></spinner>
                    </div>
                    <div class="search-result-item " ng-class="RestaurantItemClasses"
                         ng-repeat="restaurant in restaurantsInMap"
                         ng-if="$index >= skip && $index < skip + restaurantsPerPage">
                        <restaurant-item restaurant="restaurant" media-server="mediaServer"
                                         open-in-new-tab="true"></restaurant-item>
                    </div>
                </section>
                <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <ul class="pagination" ng-show="showPagination">
                            <li ng-show="showPrevBtn" ng-click="setPage(page -1)">
                                <a href="#" aria-label="Previous">
                                    <span ng-click="previous()" aria-hidden="true"><</span>
                                </a>
                            </li>
                            <li ng-repeat="pageNum in pageNumbers track by $index" ng-class="{active: pageNum == page}"
                                ng-click="setPage(pageNum)">
                                <a href="#">{{pageNum}}</a>
                            </li>
                            <li ng-show="showNextBtn" ng-click="setPage(page + 1)">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="final_box">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class="col-lg-6 col-md-6 col-sm-6 showcase-image">
                        <a ng-href="{{restaurantShowCase.internal_path}}">
                            <img style='max-width:100px; position:absolute;top:-20px;left:-20px;'
                                 ng-src="{{ mediaServer }}/upload/wheelvalues/wheelvalue_{{restaurantShowCase.wheelvalue}}.png"
                                 alt=""/>
                            <img ng-src="{{ mediaServer }}/upload/restaurant/{{restaurantShowCase.restaurant}}/360/{{restaurantShowCase.image}}"/>
                            <span class='final_round'>  </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class='over'>
                            <center>
                                <h1><a ng-href="{{restaurantShowCase.internal_path}}"> {{restaurantShowCase.title}} </a>
                                </h1></center>
                            <p class="sec_text">{{restaurantShowCase.cuisine}} </p>
                            <p class="dummy">{{restaurantShowCase.description[0].title}}</p>
                            <p class="dummy">{{restaurantShowCase.description[0].body[0]}}</p>
                            <div class="book">
                                <a ng-href="{{restaurantShowCase.internal_path}}">
                                    <button ng-if="restaurantShowCase.status=='active'" id="btn_book"
                                            class="book-button-sm btn-leftBottom-orange"
                                            ng-click="go_restaurant(restaurantShowCase.restaurant)">BOOK NOW
                                    </button>
                                    <!-- <button ng-if="restaurantShowCase.status=='active'" id="btn_book" class="btn custom_button {{restaurantShowCase.book_button.style}}" ng-click="go_restaurant(restaurantShowCase.restaurant)">BOOK NOW</button> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="google-map" ng-class="GoogleMapSectionClasses">
            <div id="expand-map-content">
                <div>
                    <span class="glyphicon glyphicon-arrow-left" ng-class="(MapExpanded) ? 'map-arrow-rotate' : ''"
                          ng-click="ExpandMap()"></span>
                </div>
            </div>
            <div id="map-canvas" map="restaurants" media-server="mediaServer" restaurants-per-page="restaurantsPerPage"
                 page="page" restaurants-in-map="restaurantsInMap" fit-bounds></div>
        </div>
    </div>
</section>
