<tr>
    <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px; border-bottom:1px solid #e8e8e8;">
        <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" class="share-icon-wrap">
                    <table width="242" border="0" cellspacing="0" cellpadding="0" align="center" class="share-icons">
                        <tr>
                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkenddate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/emails/calendar.jpg" width="34" height="32" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkenddate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" > {[{data.labelContent['btn_gcalender']}]} </a></td>
                       
                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="http://www.facebook.com/share.php?u={[{data.shareLink}]}"  target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;"><img src="https://static.weeloy.com/emails/facebook.jpg" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="http://www.facebook.com/share.php?u={[{data.shareLink}]}"  target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;">{[{data.labelContent['btn_sharebooking']}]}</a></td>
                        </tr>
                        <tr>
                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/bookingdetails.php/?b={[{data.basebookid}]}&rd={[{data.baseconfirmation}]}&efg={[{data.baserdate}]}" target="_blank" ><img src="https://static.weeloy.com/emails/invite.jpg"  style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/bookingdetails.php/?b={[{data.basebookid}]}&rd={[{data.baseconfirmation}]}&efg={[{data.baserdate}]}" target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;"> {[{data.labelContent['btn_invite']}]} </a></td>
                      
                            {#<td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="https://www.weeloy.com/cancel_booking?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank"><img src="https://static.weeloy.com/emails/close.jpg" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="https://www.weeloy.com/cancel_booking?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;">{[{data.labelContent['btn_cancel']}]}</a></td> #}
                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/updatebooking.php?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank"><img src="https://static.weeloy.com/emails/close.jpg" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="{[{data.baseUrl}]}/modules/booking/updatebooking.php?refid={[{data.baseconfirmation}]}&uid={[{data.baseemail}]}"  target="_blank" style="text-decoration:none;color:#838383;cursor:pointer;">
                                    
                                    {% if (data.restaurant == 'SG_SG_R_TheFunKitchen') or (data.restaurant == 'SG_SG_R_Bacchanalia') %}
                                         {% if data.notifyflg =='waived'  %} 
                                            {[{data.labelContent['btn_cancel']}]}
                                         {% else %}
                                            {[{data.labelContent['btn_update']}]}
                                        {% endif %} 
                                    {% else %}
                                        {% if data.isDeposit %} 
                                            {[{data.labelContent['btn_cancel']}]}
                                          {% elseif data.isInvoice  %} 
                                                {[{data.labelContent['btn_cancel']}]}
                                            {% else %}
                                                {[{data.labelContent['btn_update']}]}
                                        {% endif %}  
                                    {% endif %}  
                                     
                                </a>
                            </td> 
                        </tr>
                         
                    </table>
                    
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>

    
    


