html,
body
{ 
font-family: Roboto;
font-size: 14px;
height: 100%; 
background-color: white;
}
/* Navigation*/
	

.navbar {
	background-color: transparent;
}

.top-nav-collapse {
	background-color: #FFFFFF;
}

@media only screen and (min-width: 100px) {
	.navbar {
		background-color: #FFFFFF;
	}
}

@media screen and (min-width: 47.5em ) {
.leftColumn { margin-right: 19.5em; }
.rightColumn { position: absolute; top: 0; right: 0; width: 18.75em; }   
}

/*Intro*/

@media (max-width: 768px) {
	.full-bg-img,
	.view {
		height: auto;
		position: relative;
	}
}

.description {
	padding-bottom: 3rem;
	color: #ffffe6;
	text-align: center;
}
        
@media (max-width: 992px) {
	.description {
		padding-top: 7rem;
	}
}

.multicolcard {
	font-size:20px;
	vertical-align:top;
	padding-right:70px;
	font-style:italic;
	font-family:Times
}

@media screen and (min-width: 600px) {
    .abonnezcard {
	width:500px;
   }
}

@media screen and (max-width: 600px) {
    .abonnezcard {
	width:90%;
   }
}

@media screen and (min-width: 600px) {
   .homedescmob {
   	display:none;
   	}
   	
   .homedesc {
   	font-size:16px;
   	font-family: Roboto;
   	}
   .homedescCap {
   	font-size:48px;
   	font-family: Roboto;
 	text-weight:bold;
	margin-right:-10px;
  	}
}

@media screen and (max-width: 600px) {
   .homedescdesk {
   	display:none;
   	}

   .homedesc {
   	font-size:12px;
   	font-family: Roboto;
   	}
   .homedescCap {
   	font-size:24px;
   	font-family: Roboto;
	text-weight:bold;
	margin-right:-3px;
   	}
}

@media screen and (min-width: 380px) {
    .offrecard {
	width:380px;
   }
}

@media screen and (max-width: 380px) {
    .offrecard {
	width:100%;
   }
}


footer.page-footer {
	background-color: #2F968B;
}
        
.nav-link { 
	font-family: Lato !important;
	font-weight: bold  !important;
	font-size: 16px;
	padding-top: 30px !important;
	color: black  !important;
	}
	
.mdb-skin .navbar {
 	background-color: white;
	}

.top-nav-collapse {
	padding-top: 0;
	padding-bottom: 0;
	color:back;
	}

.navbar.navbar-dark .nav-link, .navbar.navbar-dark .navbar-toggler {
    color: #000;
}
		
.scrolling-navbar {
	padding-top: 0;
	padding-bottom: 0;
	}
	
.container {
	padding-left: 0;
	margin-left: 20px;
	}

.mdb-skin .page-footer {
    background-color: #212121;
}

.pagetitle {
    font-family: Dosis;
    text-align: center;
    margin: 20px 0 20px 0;
}

.page-footer li {
    font-family: Dosis;
    font-size: 14px;
    color: grey;
}

.page-footer li a {
    color: grey;
}

.card-block li {
    font-family: Roboto;
    font-size: 14px;
}

/*
.card-block li:before {
    content: "• "; 
}
*/

/*
blockquote li:before {
    content: "• "; 
}
*/

footer li {
list-style-type: none;
}


#offers li {
	margin-left: 20px;
}
/*
#offers ul {
    list-style-image: url('sqpurple.gif');
}
*/

.text-title {
    text-transform: uppercase; 
    font-weight: bold; 
    text-align: center; 
}


blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

.puce img {
	display: inline;
	margin-right: 5px;
	vertical-align:middle;
}

span.active { 
    border-bottom: 5px solid DeepSkyBlue;
}        

li:nth-child(10n+0) {
  clear:left;
  float:left;
}

main {
	margin-left: 15px;
}

.page-footer li  { text-align:left; font-size:13px; font-family:Roboto; }
.page-footer h6 { text-align:left; ; font-family:Roboto; } 
.page-footer li a { font-size:15px; }