<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href='../../../' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="author" content="weeloy. https://www.weeloy.com">
<meta name="copyright" content="2014 weeloy. All rights reserved. https://www.weeloy.com">  
<title>Weeloy - Skeleton</title>
<link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
<link href="client/bower_components/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" />    
<link href="client/bower_components/material/angular-material.min.css" rel="stylesheet" type="text/css" />    
<link href="client/bower_components/material-design-icons/iconfont/material-icons.css" rel="stylesheet" type="text/css" />    
<link href="client/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="client/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="client/bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
<link href="client/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="client/bower_components/material/css/bootstrap-material-datetimepicker.css" rel="stylesheet"  type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Roboto:400,900,700italic,700,500italic,500,400italic' rel='stylesheet' type='text/css'/>

<script type='text/javascript' src="client/bower_components/jquery/dist/jquery.min.js"></script>
<script type='text/javascript' src="client/bower_components/jquery-ui/jquery-ui.js"></script>
<script type='text/javascript' src="client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular/angular.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular/angular-animate.min.js"></script>
<script type='text/javascript' src="client/bower_components/material/angular-material.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular/angular-aria.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular/angular-messages.min.js"></script>
<script type="text/javascript" src="client/bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="client/bower_components/material/bootstrap-material-datetimepicker.js"></script>
<script type='text/javascript' src="client/bower_components/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script type='text/javascript' src="client/bower_components/nvd3/angular-nvd3/angular-nvd3.min.js"></script>
<script type='text/javascript' src="client/bower_components/angular-material-icons/angular-material-icons.js"></script>
<script type='text/javascript' src="client/bower_components/material/angular-material-calendar.js"></script>
<style> 
body { margin: 10px 0 0 10px; font-size:11px; font-family;Roboto; color:black}
a { color:black }
.title { width: 100%;text-align: center;margin-bottom:20px; }
.classblack { color: black }
.classred { color: red }
.classyellow { color: yellow }
.classblue { color: blue }
.classpurple { color: purple }
.selectedline { background-color: pink !important }
.classgreen { color: green }
.classcyan { font-size: 20px; color: pink !important }
.classbgblack { background-color: black }
.classbgwhite { background-color: white }
.infobk { font-size:12px; padding-right:40px; }
.glyphiconsize  { font-size:12px; }
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:black;}
</style>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/selectivizr-min.js"></script>
<script src="js/modernizr.js"></script>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->

<script>
//, 'angularFileUpload', 'nvd3', 'vds.multirange', 'ngMaterial', 'ngMessages', 'ngMdIcons','app.api', 'materialCalendar'
var app = angular.module("myApplication", ['ui.bootstrap', 'ngMaterial', 'ngMessages', 'ngMdIcons', 'materialCalendar', 'nvd3']);
</script>
</head>

<body ng-app="myApplication" ng-cloak >

<div ng-include="'admin_tms/tmsreport/myModalModif.html'"></div>
<div class='modal fade' id='remoteModal' tabindex='1' role='dialog' aria-labelledby='remoteModalLabel' aria-hidden='true'>  
<div class='modal-dialog'>
<div class='modal-content'>
</div>
</div>
</div> 

<div class="container" ng-controller="myController" ng-init="moduleName='booking'; ">
	
    <h3  class="title"> {{ title }}</h3>
    <div ng-show="alllooksgood">
	<div class='row'>
		<div class="col-md-2">
			<div class="form-group" style='margin-bottom:25px;width:150px;'>
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input type="text" class="form-control input-sm" ng-model="searchText" ng-change="paginator.setPage(0);"> 
				</div>
			</div>
		</div>
		<div class="col-md-10"></div>
	</div>
		
	<div class='row'>
		<div class="col-md-12">
			<ul class="nav navbar-nav">
			<li>selected {{ activity }}: <strong> {{filteredBooking.length}} </strong></li>
			</ul>
		</div>
	</div>

	<div class='row'>
		<table width='100%' class="table table-condensed table-striped" style='font-family:helvetica;font-size:11px;'>
			<thead><tr style='font-size:11px;'><th ng-repeat="y in tabletitle"><tbtitle var="{{y.a}}" name='tabletitle'  module='moduleName' /></th></tr></thead>
			<tr ng-repeat="x in filteredBooking = (names | filter:searchText ) | sizefilter:this | orderBy:predicate:reverse | slicefilter:paginator.getPage():paginator.getRowperPage():paginator.getItemCount() | limitTo:paginator.getRowperPage()">
				<td ng-repeat="z in tabletitle">	<a  href ng-click="view(x)"><tb-listingbkg>{{ x[z.a] | adatereverse:z.c}}</tb-listingbkg></a></td>			
			</tr>
		<tr><td colspan='{{ filteredBooking.length +3 }}' ><div ng-if="filteredBooking.length >= paginator.getRowperPage()" class="col-md-12" align="center" style='font-size:11px' ng-include="'admin_tms/tmsreport/paginator.html'"></div></td></tr>
		</table>
        </div>

     </div>
</div>
<script type='text/javascript' src='admin_tms/tmsreport/model.js'></script>
<script type='text/javascript' src='admin_tms/tmsreport/services.js'></script>
<script type='text/javascript' src='admin_tms/tmsreport/libraries.js'></script>



<script>

app.controller('myController', ['$scope', '$filter', '$uibModal', '$log', '$timeout', 'apiService', 'extractService', 'ModalService', function($scope, $filter, $uibModal, $log, $timeout, apiService, extractService, ModalService) {

   $scope.title = "TMS Day Report " + moment().format('MMMM Do, YYYY');
   $scope.activity = "bookings";
   $scope.mydata = new apiService.ModalDataBooking();
   $scope.restaurant = getArg('restaurant');
   $scope.token = getArg('token');
   
   if(!$scope.restaurant || !$scope.token) {
   	$scope.title = "FAILURE";
   	return alert("Missing vital arguments, restaurant or token. Unable to continue");
   	}

   $scope.alllooksgood = true;
   console.log('STR', $scope.restaurant, $scope.token, $scope.alllooksgood);
   $scope.paginator = new Pagination(25);
   $scope.names = [];
   $scope.tabletitle = [ {a:'index', b:'n', c:'', l:'25', q:'down', cc: 'black' }, {a:'fullname', b:'Name', c:'', l:'100', q:'down', cc: 'black' }, {a:'phone', b:'Mobile', c:'', l:'85', q:'down', cc: 'black' }, {a:'time', b:'Time', c:'', l:'', q:'down', cc: 'black' }, {a:'pers', b:'Pax', c:'', l:'15', q:'down', cc: 'black' }, {a:'booking', b:'Booking', c:'', l:'', q:'down', cc: 'black' }, {alter: 'vcdate', a:'cdate', b:'createDate', c:'date', l:'', q:'down', cc: 'black' },{a:'sudotype', b:'Type', c:'', l:'40', q:'down', cc: 'black' } ];
   $scope.predicate = 'time';
   $scope.reverse = false;
   $scope.selectedItem = [];

 
   $scope.readbooking = function(options) {
	var mode = "today";
	options = "";
	
	apiService.readBooking($scope.restaurant, mode, options, $scope.token).then(function(response) {
		var today = moment().format('YYYY-MM-DD');
		console.log('RESPONSE', today, response);
		if(response.data.status !== 1)
			return;
		var data = response.data.data;
		$scope.names = [];	
		data.map(function(x) { x.slot = x.time.timetoslot(); x.hh = parseInt(x.time.substr(0, 2)); });
		data.sort(function(x,y){ return y.vtime - x.vtime; });		// by date : return new Date(b.ddate) - new Date(a.ddate);
		data.reverse();
		data.map(function(oo) {
			if(oo.date === today && oo.bkstatus === '')
				$scope.names.push(oo);
			});
		$scope.paginator.setItemCount($scope.names.length);		   
		$scope.initorder();
		});
	};
	
   $scope.initorder = function() {
	$scope.predicate = "vdate";
	$scope.reverse = false;
	};

   $scope.reorder = function(item, alter) {
	alter = alter || "";
	if (alter !== "")  item = alter;
	$scope.reverse = ($scope.predicate === item) ? !$scope.reverse : false;
	$scope.predicate = item;
	};
	
   $scope.readbooking();
   			
   function getArg(label) {
   	if(typeof label !== "string" || label.length < 2) return null;
	var strAr, start = document.location.search.indexOf(label +'=');
	if(start < 0) return null;
	strAr = document.location.search.substring(start+label.length+1).split("&");
	return strAr[0]; 	
   	}
}]);

</script>

</body>
</html>