<!-- <script type="text/ng-template" id="registrationClientForm.html">-->
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 angular-search-result" load-element="showExpand" ng-class="(showExpand) ? 'col-lg-4 col-md-6 col-sm-6 col-xs-12 ' : 'col-lg-6 col-md-6 col-sm-12 col-xs-12 ' " ng-mouseover="HighLightMarker(restaurant)" ng-mouseout="notHighLightMarker(restaurant)">	
    <div class="border">
        <div class='item-first right custom-grid' style='width:100%'>
            <article class='2items ribbon_holder'>
                <a href='' class='pinme' ng-click="go_restaurant(restaurant.restaurant)" id="link-restaurant">    
                    <figure>                                
                        <div class="img-absolute">
                            <img class="img-responsive item-image" ng-src="https://media.weeloy.com/upload/restaurant/{{restaurant.restaurant}}/{{restaurant.image}}"/>
                        </div>
                        <div class="item-image-bg"></div>
                        <figcaption ng-if="restaurant.best_offer" class='offer-left'>{{restaurant.best_offer.offer}}<span style='font-size:11.5px'> and more...</span></figcaption>
                        <figcaption class='offer-restau-name'>{{restaurant.title}}</figcaption>
                    </figure>
                </a>
            </article>
        </div>
        <div class='item' style="min-height:70px">
            <div class="item-info">
                <div class="location-icon">
                    <div class="location-icon">
                    <div class="location-text"><span class="fa fa-map-marker"></span><span ng-if="restaurant.region">{{restaurant.region}} -</span> {{restaurant.pricing}}</div>
                    <div class="cuisine-text">{{ restaurant.cuisine | explode_cuisine:'|':2 }}</div>
                    <div class="review-text"><span class='reviews {{restaurant.reviews.score | get_review_class}}'></span><span ng-if='restaurant.reviews.count>0'>{{restaurant.reviews.review_desc}} ({{restaurant.reviews.count}})<span></div>
                    </div>
                </div>
                <!-- <div class='details'>
                    <a href = '{[{path_adaptor}]}{[{restaurant.internal_path}]}'>details</a>
                </div> -->
                <div class='book'>
                    <button ng-if="restaurant.status=='active'" id='btn_book' class='btn custom_button {{restaurant.book_button.style}}' ng-href="" ng-click="go(restaurant.restaurant, restaurant.title);">{{restaurant.book_button.label}}</button>
                    <button ng-if="restaurant.status=='comingsoon'"  id='btn_book' class='btn custom_button {{restaurant.book_button.style}}'>{{restaurant.book_button.label}}</button>
                </div>
            </div>
            <div class="wheel" ng-if="restaurant.is_wheelable=='1'">
                <img class='wheel_value' ng-src='https://media.weeloy.com/upload/wheelvalues/wheelvalue_{{restaurant.wheelvalue}}.png'/>
            </div>
            <div class="wheel" ng-if="restaurant.is_wheelable=='0'">
                <img class='wheel_value' style="visibility:hidden" ng-src='https://media.weeloy.com/upload/wheelvalues/wheelvalue_52.png'/>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
<!--</script>-->
