<style media="screen">
	.dsbbannerholder{
		max-width: 625px;
    	height: 185px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.dsbbannerimg {
	    /*background-image: url(images/dsbbanner.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;*/
	    height: 100%;
	    width: 100%;
	}
	.titleboard{
	    text-align: center;
	    color: #fff;
	    padding-top: 60px;
	}
	.dsbtext {
	    font-size: 15px;
	}

	.dsbtextc {
	    font-size: 25px;
	}
	.regcont{
	 width: 650px;
	 height: 900px;
	 margin-left: auto;
     margin-right: auto;
	}

	.dsbtitle {
    font-size: 18px;
    font-weight: bold;
	}
    
</style>
<section class ='early_book_section' style="margin-top:100px;">
    <div class="regcont">
	    	<iframe src="../modules/DailySpecialBoard/RegistrationFormShort.php" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
	        </iframe> 
    </div>

</section>

