/* Review Widget CSS */
/*Bar graph CSS*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: #999;
}

h2, h4, h5 {
  /*margin-left:28px;*/
  text-align: center;
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 30px;
   margin-top:0px!important;
}

tbody {
    width: 100%;
    height: 100%;
}

td {
    /*padding-top: .5em;*/
    padding-bottom: 10px;
}
.mainbox {
    max-width: 550px;
    margin-top: 5px;
}

/*.container {
  width: 500px;
  margin-left:5px;
  margin-top:10px;
  margin-right:10px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
  float: left;
}*/

.horizontal .progress-bar {
  float: left;
  /*height: 45px;*/
  width: 90%;
  /*padding: 12px 0;*/
}

.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: #ebebeb;
}

.horizontal .progress-fill {
  position: relative;
  background: #666;
  height: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.rounded .progress-track,
.rounded .progress-fill {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.dropdown-menu {
    height: auto;
    min-width: 160px;
    min-height: 200px;
}
/*Bar graph CSS end*/

/* Star CSS */

.stars {
    width: 125px;
    min-height: 25px;
    float: left;
    display: block;
    margin: 5px;
    color: transparent;
}

.stars5 {
    background-color: transparent; background: url('../../images/5stars_resize100p.png') no-repeat top left;}
.stars4 {
    background-color: transparent!important;background: url('../../images/4stars_resize100p.png') no-repeat top left;}
.stars3 {
    background-color: transparent!important;background: url('../../images/3stars_resize100p.png') no-repeat top left;}
.stars2 {
    background-color: transparent!important;background: url('../../images/2stars_resize100p.png') no-repeat top left;}


.reviews-menu {
    display: block;
    min-height: 25px;
    width: 125px;
}  
.cnt {
    width: 95%;
  /* padding-bottom: 10px;*/
    border-bottom: 1px #bfbfbf solid;
    float: left;
    margin-left: 28px;
}

        .cnt span {
            font-family: 'proximanova-semibold';
            color: #666;
        }
       .cnt  p {
            font-family: 'proximanova-semibold';
            line-height: 15px;
            margin-top:3px;
            width:150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top:10px;
            padding-left:0px;
            color: #666;

        }
       
    .cnt.last {
        border-bottom: none;
    }
