<style>
    body{
        font-family: arial;
        margin: 8px;
        background-color: #ffffff;
        color: #333333;
        line-height: unset;
    }
    .printarea{
        height: 1100px;
        width: 790px;
    }
    #header{
        width: 100%;
        text-align: center;
    }  
    #title{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
    } 
    #footer{
        bottom: 0px;
        /*position: absolute;*/
        font-size: 11px;
        width: 100%;
        text-align: center;
    }  
    .content-staff{
        height: 1000px;
        font-size: 12px;
    }
    .content-staff table {
        width : 100%;
        height: 98%;
        padding: 0;
        margin: 0;
        border-collapse:collapse;
    }
    .content-staff tr {
        padding: 0;
        margin: 0;

    }
    .content-staff th {
        background-color: #dddddd;
        -webkit-print-color-adjust: exact; 
        height: 20px;
        text-align: center;

    }
    .content-staff td {
        vertical-align: top;
        vertical-align: top;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .add-border-all{
        border-top: 1px solid black; 
        border-bottom: 1px solid black;  
        border-left: 1px solid black; 
        border-right: 1px solid black; 
    }
    .add-border-top{
        border-top: 1px solid black; 
    }
    .add-border-bottom{
        border-bottom: 1px solid black;  
    }
    .add-border-left{
        border-left: 1px solid black; 
    }
    .add-border-right{
        border-right: 1px solid black; 
    }
    .padding-cell{
        padding:5px;
    }
    .content-staff > table tr td table tr td{
        padding:5px;
    }
    .content-small-padding{
        padding:1px 3px!important;
        white-space: nowrap;
    }
    .content-valign-middle{
        vertical-align: middle!important;
    }
    label{
        font-weight: normal!important;
    }
    .payment-section {
        margin-left:40px;
    }
    .header-img{
        width :auto;
        max-height: 39px;

    }


    @media screen{
        #header{
            display: none;
        }
        #footer{
            display: none;
        }
    }
    @media print {
        #header{
            display: block;
            margin-bottom: 20px;
        }
        #footer{
            bottom: 0px;
            position: absolute;
            font-size: 11px;
            width: 100%;
            text-align: center;
        }
    }
</style>

<section>
    <div class="printarea">
        <div>
            <div class="" id="header">
                <img class="header-img" ng-src="{{restaurant.getLogoImage()}}"  getLogoImage/>
            </div>
            <div class="" id="title">
                <div class="">Event Order</div>
            </div>
            <div class="content-staff">
                <table style="height:100%">
                    <tr style="height:10%">
                        <td colspan=2>
                            <table width='100%'>
                                <tr>
                                    <td class='add-border-all padding-cell' width="50%">
                                        <table>
                                            <tr>
                                                <td class='content-small-padding'  style="width:30%">Client:</td>
                                                <td class='content-small-padding' ><label ng-bind="EventObject.firstname"></label></td>
                                            </tr>
                                            <tr>
                                                <td class='content-small-padding'  style="width:30%">Phone:</td>
                                                <td class='content-small-padding' ><label ng-bind="EventObject.phone"></label></td>
                                            </tr>
                                            <tr>
                                                <td class='content-small-padding'  style="width:30%">Email:</td>
                                                <td class='content-small-padding' ><label ng-bind="EventObject.email"></label></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class='add-border-all padding-cell' width="50%">
                                        <table>
                                            <tr>
                                                <td class='content-small-padding' style="width:30%">Date:</td>
                                                <td class='content-small-padding' ><label ng-bind="EventObject.rdate"></label></td>
                                            </tr>
                                            <tr>
                                                <td class='content-small-padding' style="width:30%">Event id#:</td>
                                                <td  class='content-small-padding' ng-bind="EventObject.more.beo"></td>

                                            </tr>
                                            <tr>
                                                <td class='content-small-padding' style="width:30%">Booked by:</td>
                                                <td class='content-small-padding'  ng-bind="EventObject.booked_by"></td>
                                            </tr>
                                            <tr>
                                                <td class='content-small-padding' style="width:30%">Phone:</td>
                                                <td class='content-small-padding' ng-bind="restaurant.getPhone()" ></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr  style="height:10%">
                        <td colspan=2>
                            <table >
                                <tr >
                                    <th class='add-border-all '>Date</th>
                                    <th class='add-border-all '>Time</th> 
                                    <th class='add-border-all '>Function</th>
                                    <th class='add-border-all '>Venue</th>
                                    <th class='add-border-all '>Guaranteed</th> 
                                    <th class='add-border-all '>Expected</th>
                                </tr>

                                <tr ng-repeat="timing_item in EventObject.more.timing">
                                    <td class='add-border-all content-small-padding'  style="width:20%;text-align:center; vertical-align: middle;" ng-bind="EventObject.rdate"></td>
                                    <td class='add-border-all content-small-padding'  style="width:10%;" ng-bind="timing_item.time"></td> 
                                    <td class='add-border-all content-small-padding'  style="width:40%;" ng-bind="timing_item.function"></td>
                                    <td class='add-border-all content-small-padding'  style="width:10%;text-align:center; vertical-align: middle;" ng-bind="timing_item.venue"></td> 
                                    <td class='add-border-all content-small-padding'  style="width:10%;text-align:center; vertical-align: middle;" ng-bind="timing_item.garantee"></td>
                                    <td class='add-border-all content-small-padding'  style="width:10%;text-align:center; vertical-align: middle;" ng-bind="timing_item.expected"></td>
                                <tr/>
                            </table>
                        </td>
                    </tr>
                    <tr  style="height:70%"  >
                        <td width="50%" >
                            <table style="height: 100%;" class="add-border-all ">
                                <tr>
                                    <th  class='add-border-bottom' style="padding:0px" >
                                        Food & beverage
                                    </th> 
                                </tr>
                                <tr>
                                    <td style="">

                                        <div class="" ng-class="" ng-repeat="menu in menus">
                                            <div class="col-xs-12 fixed">
                                                <h4 ng-if='menu.qte > 0' class="fixed" ng-bind="menu.notes"></h4>

                                                <div class="row" ng-class="" ng-repeat="item in menu.items" >
                                                    <div  ng-if="menu.menuID === item.displayID" class="fixed" style='display: table;'>
                                                        <div class="category-item-info" style='display: table-cell' >
                                                            <div class="location-icon">
                                                                <div class="location-text" style="margin-top: 5px;" ng-if="item.qte > 0 || menu.setmeal">
                                                                    <p class="col-xs-9 fixed" style='font-weight: bold;margin-top:15px;' ng-if="item.item_description == 'section' || item.item_description == 'section_or'"><span>{{item.item_title}}</span></p>
                                                                    <p class="col-xs-9 fixed " style='font-size: 12px;' ng-if="item.item_description != 'section' && item.item_description != 'section_or'"><span>{{item.item_title}}</span></p>
                                                                    <label class="col-xs-3 fixed" type="text" readonly ng-value=" {{item.qte|| 0}}" ng-if="item.item_description != 'section' && item.item_description != 'section_or'" ><span ng-if="item.qte > 0">{{item.qte}} portions</span><span ng-if="item.qte < 1 && menu.setmeal">included</span></label>
                                                                </div>
                                                                <div ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or'" class="location-text" style="margin-top: 5px;">
                                                                    <p class="col-xs-12 fixed" >---- OR ----</span> </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </td> 
                                </tr>
                            </table>
                        </td>
                        <td  width="50%" >
                            <table style="height:10%" class="add-border-top add-border-right">
                                <tr>
                                    <th class='add-border-bottom' style="padding:0px" >
                                        Set up
                                    </th> 
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-bind="EventObject.setup"></span>
                                    </td> 
                                </tr>
                            </table>
                            <table style="height:45%" class="add-border-top add-border-right">
                                <tr>
                                    <th class='add-border-top add-border-bottom' style="padding:0px" >
                                        Billing
                                    </th> 
                                </tr>
                                <tr>
                                    <td>
                                        <div style="white-space:pre-wrap;">
                                            <label ng-bind-html="EventObject.billing"></label>
                                        </div>

                                    </td> 
                                </tr>
                            </table>
                            <table style="height:45%" class="add-border-top add-border-right ">
                                <tr>
                                    <th class='add-border-top add-border-bottom' style="padding:0px" >
                                        Payment
                                    </th> 
                                </tr>
                                <tr class="add-border-bottom "> 
                                    <td>
                                        <h5 ng-if='EventObject.tnc_cancel' class='text-center' >Tncs</h5>
                                        <div style="white-space:pre-wrap;">
                                            <label ng-bind-html="EventObject.tnc_cancel"></label>
                                        </div>
                                        <h5  style='margin-left :60px;'>Transaction Details</h5>
                                        <div class='payment-section' >
                                            <p  ng-if='totalamount > 0'>Total Amount : SGD <span ng-bind="amount | number:2"></span></p>
                                            <p  ng-if='EventObject.payment_details.type'>Payment Type : <span ng-bind="EventObject.payment_details.type"></span></p>
                                            <p  ng-if='EventObject.payment_details.payment_id'>Transaction Id : <span ng-bind="EventObject.payment_details.payment_id"></span></p>
                                            <p  ng-if='EventObject.payment_details.deposit_amount'>Deposited Amount : SGD <span ng-bind="EventObject.payment_details.deposit_amount | number:2"></span></p>
                                        </div>
                                    </td> 
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:5%">
                        <td colspan=2>
                            <table width='100%'>
                                <tr >
                                    <td colspan=2 class='content-valign-middle' >By submitting the credit card details, the client accepted terms and conditions</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:5%">
                        <td colspan=2>
                            <table width='100%'>
                                <tr >
                                    <td class='content-valign-middle' width="50%"></td>
                                    <!--                                    <td class='content-valign-middle' width="50%">Identity Card/Passport No: ........................................................</td>-->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="" id="footer">Flower Dome, Garden By The Bay 18 Marina Gardens Drive #01-09, Singapore, 018953 +65 6604 9988 www.pollen.com </div>
        </div>
    </div>
</section>