<section id='event-management' style='margin-top:-80px;padding-top:60px; '>
    <div id="checkout-info" class="event-booking">
        <div class="container" >
            <div ng-class="{'col-md-2 col-lg-2' :status === 'confirmed' }"></div>
            <div id="main-form" class="col-sm-12 col-md-8 col-lg-8" ng-class="{'col-sm-12 col-md-8 col-lg-8' :status !== 'confirmed','col-sm-12 col-md-8 col-lg-8' :status === 'confirmed'}" style="padding-bottom: 80px;">

                <div id="event_header" class="text-center" ng-if="status === 'confirmed'">
                    <div class="img-logo">
                        <img ng-src="{{restaurant.getLogoImage()}}" />
                    </div>
                </div>
                <div ng-if="!event_id && !status">
                    <p class="checkout-header text-center">Event Request</p>
                    <div class="event-request-form">
                        <h1>The reservation details</h1>
                        <form id="form-border" name="EventForm" ng-submit="SaveEventRequest(EventForm, EventObject)" novalidate>
                            <div class='row'>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Date*</label>

                                    <input type="text" class="form-control" id="wtimepicker6" name="rdate"  ng-model="EventObject.rdate" jqdatepicker  required>        

                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.rdate.$error.required">Please enter the booking date</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Time*</label>
                                    <input type="text" class="form-control" id="wtimepicker7" name="rtime" ng-model="EventObject.rtime"  jtimedatepicker required>
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.rtime.$error.required">Please enter the booking time</span>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Number of people*</label>
                                    <input type="text" class="form-control" ng-model="EventObject.pax" name="pax" required >
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.pax.$error.required">Please enter number of people</span>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>First name*</label>
                                    <input type="text" class="form-control" name="firstname" ng-model="EventObject.firstname" required>
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.firstname.$error.required">Please enter your first name</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Last name*</label>
                                    <input type="text" class="form-control" name="lastname" ng-model="EventObject.lastname" required>
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.lastname.$error.required">Please enter your last name</span>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Company name(Optional)</label>
                                    <input type="text" class="form-control" ng-model="EventObject.company">
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Email*</label>
                                    <input type="email" class="form-control" name="email" ng-model="EventObject.email" required>
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.email.$error.required">Please enter your email</span>
                                        <span ng-show="EventForm.$submitted && EventForm.email.$error.email">Please enter a valid email</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Phone*</label>
                                    <input type="text" class="form-control" name="phone" ng-model="EventObject.phone" ng-pattern="/[+|0-9|\s]+$/" required>
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.phone.$error.required">Please enter your phone number</span>
                                        <span ng-show="EventForm.$submitted && EventForm.phone.$error.pattern">Please enter a valid phone number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Occasion *</label>
                                    <!--<textarea class="form-control remarks" ng-model="EventObject.occasion" name="occasion" required></textarea>-->
                                    <select ng-model="EventObject.occasion" class="form-control" required style='border-radius: 0px;'>
                                        <option ng-value="corporate" >Corporate dinner</option>
                                        <option ng-value="meeting">Meeting and Seminars</option>
                                        <option ng-value="social">Social ie Anniversary / Birthday</option>
                                        <option ng-value="solemnisation">Solemnisation Ceremony</option>
                                        <option ng-value="wedding">Weddings</option>
                                        <option ng-value="other">Others (please specify in special requests)</option>
                                    </select>

                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventObject.occasion == '' || EventForm.$submitted && EventForm.occasion.$error.required">Please enter the occasion of the event</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                    <label>Event Name*</label>
                                    <input type="text" class="form-control" ng-model="EventObject.name" name="name" required >
                                    <div class="error">
                                        <span ng-show="EventForm.$submitted && EventForm.name.$error.required">Please enter event name</span>
                                    </div>
                                </div>
                                 
                            </div>
                            <div class="row">
                                <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                                    <h4>Special requests</h4>
                                    <textarea class="form-control remarks" ng-model="EventObject.special_requests"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                                    <button type="submit" class="btn-creditcard btn-leftBottom-orange pull-right">Submit request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div style="padding-top:30px; padding-bottom: 30px;" class='' ng-if="status == 'request_sent' || status == 'menu_built' || status == 'menu_pre_selected' || status == 'menu_selected' || status == 'confirmed' || status == 'pending_payment'">
                    <p class="checkout-header text-center">Event Reservation Request</p>
                    <div class="event-request-form">
                        <div class='row'>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Event date: </label>
                                <label ng-bind="EventObject.rdate"></label>
                            </div>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Time: </label>
                                <label ng-bind="EventObject.rtime"></label>
                            </div>

                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Number of people: </label>
                                <label ng-bind="EventObject.pax"></label>
                            </div>
                        </div>
                        <br/>
                        <div class='row'>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>First name: </label>
                                <label ng-bind="EventObject.firstname"></label>
                            </div>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Last name: </label>
                                <label ng-bind="EventObject.lastname"></label>
                            </div>

                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Company name(Optional)</label>
                                <label ng-bind="EventObject.company"></label>
                            </div>
                        </div>
                        <br/>
                        <div class='row'>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Email: </label>
                                <label ng-bind="EventObject.email"></label>
                            </div>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Phone: </label>
                                <label ng-bind="EventObject.phone"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm12 col-md-12 col-lg-12">
                                <label>Occasion: </label>
                                <label ng-bind="EventObject.occasion"></label>
                            </div>
                            <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                                <label>Event name: </label>
                                <label ng-bind="EventObject.name"></label>
                            </div>
                        </div>
                        
                        <div class="row" ng-if="EventObject.special_requests">
                            <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                                <h4>Special requests</h4>
                                <label ng-bind="EventObject.special_requests"></label>
                            </div>
                        </div>
                    </div>
                     <div class="row" ng-if="status == 'request_sent'">
                            <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                                <h4>Your request has been submitted to the restaurant. The restaurant will get back to you for further information.</h4>
                            </div>
                     </div>
                   
                </div>
                
                <div ng-if="status == 'menu_built' && EventObject.eventID">
                    <p class="checkout-header text-center">Menu selection</p>
                    <div ng-if="status != 'menu_selected'"  class="" ng-class="" ng-repeat="menu in menus" style="margin-bottom: 30px" >
                        <!--display food-->
                        <div ng-if="menu.food && !menu.drink && !menu.option" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:20px; background-color: #eee">
                            <!--<input type="radio" name="setmeal" value="{{menu.notes}}" style="float:left; margin-right: 20px;">-->
                            <h4 style="float: left;" ng-bind="menu.notes"></h4>

                            <h5 style="float: left; margin-left:30px; ">(SGD {{menu.price}})</h5>
                            <h5 style="float: left; margin-left:30px; " ng-if='false'>Total {{menu.qte}}</h5>
                            <!--<input ng-model="menu.qte" class="col-lg-3"  type="text">-->
                            <div class="clear-both"></div>
                            <div class="row" ng-class="" ng-repeat="item in menu.items" >
                                <div  ng-if="menu.menuID === item.displayID" ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                    <div class="category-item-info" style='display: table-cell' >
                                        <div class="location-icon">
                                            <div class="location-text" style="margin-top: 5px;">
                                                <p class="col-lg-9" style='font-weight: bold;margin-top:15px;' ng-if="item.item_description == 'section' || item.item_description == 'section_or'"><span>{{item.item_title}}</span></p>
                                                <p class="col-lg-9" style='font-size: 12px' ng-if="item.item_description != 'section' && item.item_description != 'section_or'"><span>{{item.item_title}}</span><img style="width: 20px;margin-left: 20px;" ng-if="item.vegetarian" ng-src="images/restaurant_icons/vegi.png"></p>
                                                <p class="col-lg-9" style='font-size: 12px' ng-if="item.item_description != 'section' && item.item_description != 'section_or'"><span>{{item.item_description}}</span></p>
                                                <input ng-change="setQte(item, $event)" ng-model="item.qte" class="col-lg-3"  type="text" ng-if="(item.section === 'section_or' || item.section === 'section_or_nd') && item.item_description != 'section' && (item.item_description != 'section_or' || item.item_description != 'section_or_nodisplay')">
                                            </div>
                                            <div>
                                           </div>
                                            <span style="padding-left:80px" class="col-lg-12" ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or' ">---- OR ----</span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div ng-if="(menu.drink || menu.option) && status != 'menu_selected'"  class="" ng-class="" ng-repeat="menu in menus" style="margin-bottom: 30px" >

                        <!--display drinks-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--                            <h1 ng-bind="menu.notes"></h1>-->
                            <h4 style="float: left;" ng-bind="menu.notes"></h4>
                            <!--<h5 style="float: left; margin-left:30px; ">(SGD {{menu.price}})</h5>-->
                            <h5 style="float: left; margin-left:30px; " ng-if="false && menu.qte > 0">Total {{menu.qte}}</h5>
                            <div style="clear: both"></div>
                            <div class="row" ng-class="" ng-repeat="item in menu.items" style='margin-bottom: 30px;'>

                                <div  ng-if="menu.menuID === item.displayID" ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                    <div class="category-item-info" style='display: table-cell' >
                                        <div class="location-icon">
                                            <div class="location-text" style="margin-top: 5px;">
                                                <!--<input class="col-lg-1" type="checkbox" >-->
                                                <!--<div class="col-lg-8" >-->
                                                <p class="col-lg-9" style='font-weight: bold;margin-top:15px;'><span>{{item.item_title}}</span></p>
                                                <p class="col-lg-9" style='font-size: 12px' ><span>{{item.item_description}}</span></p>
                                                <p ng-if="!menu.setmeal && item.price > 0" class="col-lg-9" style='font-size: 12px' ><span>SGD {{item.price}}</span></p>
                                                <!--</div>-->
                                                <p ng-if="menu.drink" >
                                                    <input  ng-change="setQte(item, $event)"  class="col-lg-3" type="text"  ng-model="item.qte" ng-if="item.price && item.price > 0">
                                            
                                                    <p  class="col-lg-3"  ng-if="!item.price || item.price < 1">INCLUDED</p>
                                                </p>
                                                <span ng-if='menu.option' >
                                                    <input  ng-change="setQte(item, $event)"  class="col-lg-3" type="text"  ng-model="item.qte" ng-if="item.price && item.price >= 0">
                                                </span>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <!--                                <div class="col-xs12 col-sm-12 col-md-10 col-lg-10" style='display: table'>
                                                                    <div class="category-item-info" style='display: table-cell'>
                                                                        <div class="location-icon">
                                                                            <div class="location-text" style="margin-top: 5px;">
                                                                                <p style='font-weight: bold'><span>{{item.item_title}}</span></p>
                                                                                <p style='font-size: 12px'><span>{{item.item_description}}</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="" style='min-width: 160px;text-align: right;vertical-align: middle;display: table-cell'>
                                                                        <span  style='cursor:pointer; font-weight: 400;font-size: 90%;' class="cart-label label label-info" >
                                                                           <input class="col-lg-3" type="text" >
                                                                        </span>
                                                                        
                                                                    </div>
                                                                </div>-->
                            </div>
                        </div>

                    </div>


                    <!--
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h1 ng-bind="menu.notes"></h1>
                                                <p>Please select {{menu.item_limit}} of {{menu.notes}} categorie.</p>
                                                <div class="row" ng-class="" ng-repeat="MenuItem in menu.items" style='margin-bottom: 30px;'>
                                                    <div class="col-lg-4 col-md-4 ">
                                                        <img ng-if="MenuItem.mimage" class="" style="width:100%; height: auto;"  ng-src="//media1.weeloy.com/upload/restaurant/{{restaurant.getRestaurantId()}}/300/{{MenuItem.mimage}}">
                                                    </div>
                                                    <div class="col-xs12 col-sm-12 col-md-10 col-lg-10" style='display: table'>
                                                        <div class="category-item-info" style='display: table-cell'>
                                                            <div class="location-icon">
                                                                <div class="location-text" style="margin-top: 5px;">
                                                                    <p style='font-weight: bold'><span>{{MenuItem.item_title}}</span></p>
                                                                    <p style='font-size: 12px'><span>{{MenuItem.item_description}}</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="" style='min-width: 160px;text-align: right;vertical-align: middle;display: table-cell'>
                                                            <a href="" class="book-button-sm btn-leftBottom-orange" ng-click="selectItem(MenuItem, $event)" >Select</a>
                                                            <span  style='cursor:pointer; font-weight: 400;font-size: 90%;' class="cart-label label label-info" ng-click="selectItem(MenuItem, $event)" ng-if="!selectioncomplete && items.indexOf(MenuItem) < 0 && (counters[menu.menuID] < menu.item_limit || !counters[menu.menuID])">
                                                                <i class="fa fa-plus"></i> 
                                                                <span>Select this item</span>
                                                            </span>
                                                            <span  style='font-weight: 400;font-size: 90%;'  class="cart-label label label-success" ng-if="items.indexOf(MenuItem) > -1">
                                                                <span>Selected</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>Ï


                    <div  style='' >
                        <p class="checkout-header text-center">Dietary Restriction</p>
                        <div class="" ng-class="" ng-repeat="dietary in dietaries">
                            <div ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                <div class="category-item-info" style='display: table-cell' >
                                    <div class="location-icon">
                                        <div class="location-text" style="margin-top: 5px;">
                                            <p class="col-lg-9" style='font-weight: bold;margin-top:15px;'><span>{{dietary.title}}</span></p>

                                            <input class="col-lg-3" type="text" ng-if="item.item_description != 'section' && item.item_description != 'section_or'">
                                        </div>
                                        <div>

                                        </div>
                                        <span style="padding-left:80px" class="col-lg-12" ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or'">---- OR ----</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->




<!--                    <div  style='' >
                        <p class="checkout-header text-center">Dietary Restriction</p>
                        <div class="" ng-class="" ng-repeat="dietary in dietaries">
                            <div ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                <div class="category-item-info" style='display: table-cell' >
                                    <div class="location-icon">
                                        <div class="location-text" style="margin-top: 5px;">
                                            <p class="col-lg-9" style='font-weight: bold;margin-top:15px;'><span>{{dietary.title}}</span></p>

                                            <input class="col-lg-3" type="text" ng-if="item.item_description != 'section' && item.item_description != 'section_or'">
                                        </div>
                                        <div>

                                        </div>
                                        <span style="padding-left:80px" class="col-lg-12" ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or'">---- OR ----</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->



                    <div  >
                        <button class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="saveEventMenu('selected', EventObject)">Continue</button>
                    </div>

                </div>
                
                <div style='clear: both'></div>
                
                    <div ng-if="status === 'menu_pre_selected' || status === 'menu_selected' || status === 'confirmed'" >
                    <p style="margin-top:20px"  class="checkout-header text-center">Menu selection</p>

                    <div class="" ng-class="" ng-repeat="menu in menus">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4 ng-if='menu.qte > 0' class="col-lg-6" ng-bind="menu.notes"></h4>
                            <!--<h5 style="float: left; margin-left:30px; ">(SGD 110)</h5>-->
                           <h5 class="col-lg-3" ng-if="menu.setmeal" style="float: left; margin-left:30px; ">(SGD {{menu.price}})</h5>
                               <div class="clear-both"></div>
                            <div class="row" ng-class="" ng-repeat="item in menu.items" >
                                <div  ng-if="menu.menuID === item.displayID" ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                    <div class="category-item-info" style='display: table-cell' >
                                        <div class="location-icon">
                                            <div class="location-text" style="margin-top: 5px;" ng-if="item.qte > 0 || menu.setmeal">
                                                <p class="col-lg-9" style='font-weight: bold;margin-top:15px;'><span>{{item.item_title}}</span></p>
<!--                                                <p class="col-lg-9" style='font-size: 12px' ng-if="item.item_description != 'section' && item.item_description != 'section_or'"><span>{{item.item_description}}</span></p>-->
                                                <label class="col-lg-3" type="text" readonly ng-value="{{item.qte || 0}}" ng-if="item.item_description != 'section' && item.item_description != 'section_or'"><span ng-if="item.qte > 0">{{item.qte}} portions</span><span ng-if="item.qte < 1 && menu.setmeal">included</span></label>
                                                <!--                                                <input class="col-lg-3" type="text" readonly ng-value="5 portions" ng-if="item.item_description != 'section' && item.item_description != 'section_or'">-->
                                            </div>
                                            <div>

                                            </div>
                                            <span style="padding-left:80px" class="col-lg-12" ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or' && item.item_description !='' ">---- OR ----</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    


<!--                    <div  style='' ng-if="status === 'menu_selected' || status === 'confirmed'">
                        <p class="checkout-header text-center">Dietary Restriction</p>
                        <div class="" ng-class="" ng-repeat="dietary in dietaries.slice(0, 1)">
                            <div ng-class="{'col-xs-10 col-sm-10 col-md-10 col-lg-10' :status !== 'confirmed','col-sm-12 col-md-12 col-lg-12' :status === 'confirmed'}" style='display: table'>
                                <div class="category-item-info" style='display: table-cell' >
                                    <div class="location-icon">
                                        <div class="location-text" style="margin-top: 5px;">
                                            <p class="col-lg-9" style='font-weight: bold;margin-top:15px;'><span>{{dietary.title}}</span></p>
                                            <label class="col-lg-3" type="text" readonly ng-value="1 pax" ng-if="item.item_description != 'section' && item.item_description != 'section_or'">1 pax</label>
                                        </div>
                                        <div>

                                        </div>
                                        <span style="padding-left:80px" class="col-lg-12" ng-if="item.section === 'section_or' && item.item_description != 'section' && item.item_description != 'section_or'">---- OR ----</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->




                    <div class="order-now"  ng-if="status === 'menu_pre_selected'" style="margin-top:20px;">
                        <label style="margin-top: 30px;"> By clicking Save your selection your menu selection will be send to the restaurant</label>
                        <button style="margin-top: 20px;" class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="saveEventMenu('selected')">Save you selection</button>
                    </div>
                    <div style='clear: both'></div>
                    <div  ng-if="(status === 'menu_selected' || status == 'menu_pre_selected' ||  status === 'confirmed') && EventObject.more.media.length > 0 " >
                        <p style="margin-top:50px" class="checkout-header text-center">Media</p>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <div class='col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12' ng-repeat="evt in EventObject.more.media" >
                                <a href="{{ mediaServer}}/upload/restaurant/{{EventObject.restaurant}}/700/{{evt.name}}" class="fresco" >
                                    <img ng-src="{{ mediaServer}}/upload/restaurant/{{EventObject.restaurant}}/180/{{evt.name}}" class="img-responsive"  style='max-height: 300px;'>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div style='clear: both'></div>

                    <div style='' ng-if="EventObject.billing && (status === 'menu_selected' || status == 'confirmed') ">
                        <p style="margin-top:50px" class="checkout-header text-center">Billing</p>
                        <div class="" ng-class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--                                <h4>Tncs</h4>-->
                                <div class="row" ng-class="" style="white-space:pre-wrap;margin-top: -20px;">
                                    <p ng-bind-html="EventObject.billing"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style='clear: both'></div>
                    <div style='' ng-if="(status === 'menu_selected' || status == 'confirmed') && EventObject.tnc_cancel">
                        <p style="margin-top:50px" class="checkout-header text-center">Tncs</p>
                        <div class="" ng-class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row" ng-class="" style="white-space:pre-wrap;margin-top: -20px;">
                                    <p ng-bind-html="EventObject.tnc_cancel"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style='clear: both'></div>
                    <div style='' ng-if="EventObject.more.additionalnote && (status === 'menu_selected' || status == 'confirmed') ">
                        <p style="margin-top:50px" class="checkout-header text-center">Additional Note</p>
                        <div class="" ng-class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--                                <h4>Tncs</h4>-->
                                <div class="row" ng-class="" style="white-space:pre-wrap;margin-top: -20px;">
                                    <p ng-bind-html="EventObject.more.additionalnote"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div style='clear: both'></div>
                    <div  style='' ng-if="status === 'menu_selected'">
                        <p class="checkout-header text-center">Payment </p>
                        <div class="" ng-class="">
                            <p ng-if ="EventObject.more.deposit !== 'nodeposit' && totalamount >0 && isRequiredcc" >
                                <h4 > Restaurant required {{EventObject.more.deposit}}%  deposit amount </h4>
                                 <span  style="margin-left:20px;" > Required deposit amount  : (SGD {{ amount * (EventObject.more.deposit / 100)  | number:2 }} )</span>
                                 <span ng-if='depositamount > 0 && isRequiredcc' style="margin-left:20px;"> Paid : SGD {{depositamount | number:2}} </span>
                                <span ng-if='payable_amount > 0' style="margin-left:50px;"> Balance Amount : SGD {{payable_amount * (EventObject.more.deposit / 100) | number:2 }} </span>
                            </p>
                            <div class="form-group checkbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<h4>Cancellation policies</h4>-->
                                <label ng-show ="EventObject.payment_method.creditcard === true">
                                    <input  class="payment_mode" ng-model="swiftcode" type="radio"  name="optionsPaymentRadios" id="optionsPaymentRadios1" ng-checked="isRequiredcc" value="creditcard" ng-change="logIt('creditcard')" > Credit Card
                                </label>

                                <label ng-show ="EventObject.payment_method.banktransfer === true">
                                    <input  ng-model="swiftcode" class="payment_mode" type="radio"  name="optionsPaymentRadios" id="optionsPaymentRadios1" value="banktransfer" ng-change="logIt('banktransfer')" >  Bank Transfer
                                    <label style='padding-left:30px;' ng-show="swiftcode === 'banktransfer'"> <strong> Swift Code : AAAA BB CC DDD </strong></label>
                                </label>
                            </div>

                            <form name="myForm"  ng-if="status !== 'confirmed'">
                                <label style="margin: 20px;">
                                    <input type="checkbox" ng-model="tncsaccepted" style="margin: 20px;">I accept terms and conditions
                                </label><br/>

                                <div class="order-now" ng-show ='isRequiredcc === true'  >
                                    <button ng-if="status === 'menu_selected' && tncsaccepted && (swiftcode === 'creditcard' || swiftcode === 'banktransfer')" class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="submitCreditCardDetails()">Submit your informations</button>
                                </div>
                                <div class="order-now" ng-show ='isRequiredcc === false'  >
                                    <button ng-if="status === 'menu_selected' && tncsaccepted" class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="submitCreditCardDetails()">Submit your informations</button>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>
       
                <div style="padding-bottom: 30px"  ng-if="status === 'menu_selected+++' || status === 'pending_payment' || status == 'confirmed'">
                    <p class="checkout-header text-center">Payment Details</p>
                    <div class='' ng-if="status === 'menu_selected+++'">
                        <div class="event-request-form">
                            <h2>Thank you, your request has  been sent to the restaurant</h2>
                        </div>
                    </div>
                    <div style='clear: both'></div>
                        <div class='' ng-if="status === 'confirmed'" >
                            <div class="event-request-form" style='margin-left:30px;'>
                      
                                <p ng-if='status'>Status : <span ng-bind="status"></span></p>
                                <p ng-if='totalamount > 0 '>Total Amount : SGD <span ng-bind="(amount | number:2)"></span></p>
                                <p ng-if='EventObject.payment_details.payment_id'>Transaction Id : <span ng-bind="EventObject.payment_details.payment_id"></span></p>
                                <p ng-if='pre_depositamount > 0'>Previous Deposit Amount : SGD <span ng-bind="(pre_depositamount ) | number:2"></span></p>
                                <p ng-if='EventObject.payment_details.deposit_amount'>Deposited Amount : SGD <span ng-bind="EventObject.payment_details.deposit_amount | number:2"></span></p>
                            </div>
                        </div>
                    <div class='' ng-if="status === 'pending_payment'">
                        <div class="event-request-form">
                            <h2>Restaurant waiting for payment confirmation. </h2>
                        </div>
                    </div>
                </div>

                <div id="event_footer" ng-if="status === 'confirmed'">
                    <h3 class="text-center" ng-bind="restaurant.getTitle()"></h3>

                    <p class="text-center"><span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span></p>

                    <p class="text-center"><span ng-bind="restaurant.getPhone()"></span></p>

                    <p class="text-center"><span ng-bind="restaurant.getUrl()"></span></p>
                </div>

            </div>

            <div ng-class="{'col-md-2 col-lg-2' :status === 'confirmed' }"></div>

            <div ng-show="true && status !== 'confirmed'" id="sidebar-right" class='hidden-xs hidden-sm  col-md-4 sidebar' ng-class="{'hidden-xs hidden-sm col-md-4 sidebar':status !== 'confirmed', 'hidden-xs hidden-sm col-md-12':status === 'confirmed'}" style="top:60px;box-shadow: 2px 2px 5px 2px rgba(204, 204, 204, 1);border-radius: 2px;">
                <div class="sidebar-contant">
                    <div class="img-logo">
                        <img ng-src="{{restaurant.getLogoImage()}}" />
                    </div>
                    <h3 class="text-center" ng-bind="restaurant.getTitle()"></h3>

                    <p class="text-center" ng-if="restaurant.getAddress()"><span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span></p>

                    <p class="text-center"><span ng-bind="restaurant.getPhone()"></span></p>

                    <p class="text-center"><span ng-bind="restaurant.getUrl()"></span></p>
                    <!--                <p ng-bind="DeliveryDate | timeFormat:'DD-MM-YYYY'"></p>
                                    <p><span>Number of people</span>: <span ng-bind="EventObject.pax"></span></p>
                                    <p><span>Price</span>: SGD <span ng-bind="RestaurantEvent.getPrice()"></span></p>
                                    <p><span>Total</span>: SGD <span ng-bind="EventObject.pax :  RestaurantEvent.getPrice()"></span></p>-->
                    <hr/>
                    <cartevent ng-show="items | lengthMoreThan:0" items="items" status="status" ng-attr-minorder="EventObject.more.minimumprice" deposit="EventObject.more.deposit"  totalamount="totalamount" menus="menus" counters="counters" minimumorder ="minimumorder" selectioncomplete="selectioncomplete"></cartevent>


                </div>
            </div>


        </div>
    </div>
</section>

