<style>
     body{ background-color: white !important}
    .introduction{
        margin: 50px 0px;
        font-weight: bold;
    }

    .eventholder 
    {
        background-color: #fff;
        padding: 7px;
        position: relative;
        margin-bottom: 20px;
    }
    .events{
        margin-left:15%;
    }
    .banner-img {
        width: 70%;
        height: 295px;
        margin-left: 15%;

    }

    @media screen and (max-width: 1020px) {
        body {
            width:100%;
        }
    }
    @media screen and (max-width: 768px) {
            width:100%;
    }

@media screen and (max-width: 480px) {
    .banner-img {
        width:100%;
        height:295px;
        margin:auto;
    }
     .events{
        margin-left:2%;
    }
}

</style>
<div  class="landing-page" style='background-color: white !important' >
    <div class="container-fluid">
        <div class="row">
                <img class='banner-img img-responsive' src="{{festivepromo.images}}" alt=""/>
            </div>
          
    </div>
    <section id="amazing" style='background-color:white!important;'>
    <div class="container">
        <p style="font-size:20px;" class="text-center">{{festivepromo.title}} </p>
        <p style="font-size:20px;margin-top:10px;text-align:center;margin-bottom: 20px;
                 padding-bottom: 10px;">Celebrate the joyous occasion with your mum at one of these restaurants.</p>
        <div>
            <div class="zen-amazing">
                <div class="col-xs-12 col-sm-4" ng-repeat="event in events">
                     <restaurant-event-itemnew open-in-new-tab="true" media-server="mediaServer" event="event"></restaurant-event-itemnew>
                </div>
            </div>
        </div>
    </div>
</section>


<!--    <div class="container-fluid">
         <div class="row">
             <div class='col-lg-12 col-md-8 col-sm-12 col-xs-12 '>
                    <p style="font-size:20px;margin-top:10px;text-align:center;">
                       {{festivepromo.title}} 
                    </p>
                    <p style="font-size:20px;margin-top:10px;text-align:center;margin-bottom: 20px;
    padding-bottom: 10px;">{{festivepromo.subtitle}}.</p>
                 <p style="margin-left:20px;text-align:center;font-size:20px;margin-bottom:20px;padding-bottom:15px;">from some of the best restaurants in Singapore.</p>
                </div>
         </div>
            <div class="row">
        <div class="col-md-12" style='width:80%!important;margin-left:15%;'>
               <div ng-repeat="evt in events" style='margin-bottom:10px;'>
                        <div class="col-md-4">
                            <a href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.picture}}" class="fresco" title="{{evt.title}} - reserve restaurant table now">
                               <img ng-src="{{mediaServer}}/upload/restaurant/{{evt.restaurant}}/270/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} year end festive special menus - reserve restaurant table now" style='max-height:270px;float:left;margin-bottom:15px;'>
                            </a>
                            <span style='margin-left:5px;padding-left:5px;display:table;'>
                            <p id ='event-title' style='margin-bottom:0px;font-family: sans-serif;padding-left:5px;'><strong>{{evt.name}}</strong></p>
                             <span style='margin-top:0px;padding-left:5px;' >{{evt.end| date : format : shortDate}}</span>
                            <p style='margin-top:0px;padding-left:5px;'>{{evt.title}}, {{evt.area}}</p>
                            <p id='evt-content' ng-maxlength="15" href ng-if="evt.description !== ''" data-toggle="popover" data-placement="top" title="{{evt.description}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='font-family: Roboto, Arial, Helvetica;padding-left:5px;'>{{evt.description | limitTo:180}}...</p>
                            
                             <button  ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-blue" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </span>
                    
                        </div>
                    </div>
            <img style='float:left;width:200px;height:200px; margin-right:10px;' src="img/me.jpg" />
            <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p>
        </div>
    </div>-->
<!--         <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-unstyled" style='margin-left:15%!important;padding-left:0px;width:70%' >
                    
                    <li  class="col-md-4 col-sm-12" ng-repeat="evt in events" style='height:270px;padding-left:0px;'>
                        
                         <div class="col-md-4 col-sm-6" style='margin-left:0px !important;padding-left:0px;margin-bottom:0px;'>
                            <a ng-if='!isMobile' href="{{mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.picture}}" class="fresco" title="Valentine day @ {{evt.title}} - reserve restaurant table now">
                                <img ng-src="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/360/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} Valentine day Menu - reserve restaurant table now" style='margin-bottom:10px;width:100%;margin-top:10px;padding-top:10px;margin-left:15px;'>
                            </a>
                              <a ng-if='isMobile' ng-click="btnBookNowEvent_click(evt.restaurant)"  title="Valentine day @ {{evt.title}} - reserve restaurant table now">
                                <img ng-src="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/360/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} Valentine day Menu - reserve restaurant table now" style='margin-bottom:10px;width:100%;margin-top:10px;padding-top:10px;margin-left:15px;'>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12" style='margin-bottom:10px;padding-bottom:10px;padding-left:15px;padding-right:0px;margin-top:20px;'>
                            <p id ='event-title' style='margin-bottom:0px;font-family: sans-serif;'><strong>{{evt.name}}</strong></p>
                            <div class="cnt" style='margin-top:0px;max-height:190px;'>
                                <p style='margin-top:0px;max-height:160px;'>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span style='margin-top:0px;' >{{evt.end| date : format : shortDate}}</span>
                             <p style='margin-top:0px;'>{{evt.title}}, {{evt.area}}</p>
                             
                             <p id='evt-content' ng-maxlength="15" href ng-if="evt.description !== ''" data-toggle="popover" data-placement="top" title="{{evt.description}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='float: left;font-family: Roboto, Arial, Helvetica;'>{{evt.description | limitTo:150}}...</p>
                              <span ng-if="evt.price!= '' "  style='margin-top:10px;'>${{evt.price}} per couple </span>
                             <div style="margin-top:20px;padding-top:20px;">
                                <button  ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-blue" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                             </div> 
                            </p>
                        </div>
                
                        </div>
  
                        <a analytics-on="click"
                                        analytics-event="c_go_resto"
                                        analytics-category="c_go_resto_VDay" 
                                        analytics-label="c_go_resto_VDay_{{evt.restaurant}}"
                                        ng-href="{{getRestaurantLink(evt.restaurant)}}"  style="text-decoration:none;" title="Celebrate the VDay with {{evt.title}} - reserve your table with weeloy">
                            <h1>Celebrate the VDay with {{evt.title}}</h1>
                        </a>
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span  ng-if="evt.start !== evt.end">{{evt.start| date : format : shortDate}} to {{evt.end| date : format : shortDate}}, {{evt.area}}</span>
                            <p ng-bind="evt.description"></p>
                            
                            <a analytics-on="click"
                                        analytics-event="c_get_pdf"
                                        analytics-category="c_get_pdf_VDay" 
                                        analytics-label="c_get_pdf_VDay_{{evt.restaurant}}"href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.pdf_link}}" target="_blank" ng-if="evt.pdf_link" title="{{evt.title}} Menu for Valentine day 2016">Download VDay menu</a>

                            <div style="margin-top:10px;">
                                <button analytics-on="click"
                                        analytics-event="c_book_resto"
                                        analytics-category="c_book_resto_VDay" 
                                        analytics-label="c_book_resto_VDay_{{evt.restaurant}}" ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </div> 
                        </div>
                       
                    </li>
                   
                </ul>-->
<!--        <div class="left">
            <div class="events"  >
                <div class="row">
                    <div ng-repeat="evt in events">
                        <div class="col-md-3 eventholder">
                            <a href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.picture}}" class="fresco" title="{{evt.title}} - reserve restaurant table now">
                               <img ng-src="{{mediaServer}}/upload/restaurant/{{evt.restaurant}}/270/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} year end festive special menus - reserve restaurant table now" style='max-height:270px;'>
                            </a>
                            <p id ='event-title' style='margin-bottom:0px;font-family: sans-serif;'><strong>{{evt.name}}</strong></p>
                             <span style='margin-top:0px;' >{{evt.end| date : format : shortDate}}</span>
                            <p style='margin-top:0px;'>{{evt.title}}, {{evt.area}}</p>
                            <p id='evt-content' ng-maxlength="15" href ng-if="evt.description !== ''" data-toggle="popover" data-placement="top" title="{{evt.description}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='font-family: Roboto, Arial, Helvetica;max-width:270px;'>{{evt.description | limitTo:200}}...</p>
                            
                             <button  ng-show="restaurant.status != 'comingsoon'" class="book-button-lg btn-leftBottom-blue" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text" style='width:98%!important;'></button>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>-->
<!--    </div>-->
</div>
