body {
    font-family: Roboto; 
    font-size: 14px;
    width:90%;
}

.input-group {
    margin-bottom: 15px;
}

.row {
    margin-bottom: 15px;
}

img {
    display:block;
    margin:0 auto;
    padding-bottom:20px;
    width: 100%;
}

a#buttonterms {
    margin: 10px 30px 20px 55px;
}

.termsconditions {
    font-family: Roboto; 
    font-size: 12px;
}

.separation {
    vertical-align:middle;
    border-right:4px solid #276788;
    height:100%;
}

.separation-left {
    vertical-align:middle;
    border-left:4px solid #276788;
    height:100%;
}

.nomarginbottom {
    margin-bottom:0px
}

.panel{
    border-color:#276788 !important;
    border-radius:2px;
}

.panel-heading{
    background-image:none !important;
    background-color:#276788 !important;
    color:#fff !important;
    border-color:#276788 !important;
    border-radius:2px;
}

.panel-body {
    padding: 10px 10px 10px 0;
    margin:0;
}

.slogan {
    font-family: Roboto; 
    font-size: 13px;
    padding-top:0px;
    margin:10px 20px 20px 20px; 
}

.btn{
    box-shadow: none;
    border-radius: 2px;
}
.btn-default{
    background-image:linear-gradient(to bottom, #eee 0px, #eee 100%)!important;
}

.btn-default:focus, .btn-default:hover{
    background-image:linear-gradient(to bottom, #eee 0px, #eee 100%)!important;
    box-shadow:none;
}
.scrollable-menu {
    font-size:12px;
    height: auto;
    max-height: 220px;
    overflow-x: hidden;
}

.scrollable-menu-all {
    height: auto;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;        
}  

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #276788;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}

.form-control{
    border-radius: 2px;
}
.input-group-addon{
    border-radius: 2px;
}
.alert{
    box-shadow: none;
    text-shadow: none;
    border-radius: 2px;
}

.alert-info {
    color: #276788;
    background: #276788;
    border-color: #276788;
    margin-bottom:0;
}

.checkmark {
    color: green;
    display: inline-block;
    font-size: 14px;
    vertical-align: top; 
    margin:0 0 0 0;
}

.pcheckmark {
    display: inline-block;
    font-family:Roboto;
    font-size:12px;
    margin:0 0 0 5px;
}

.pcheckmarkcn {
    display: inline-block;
    font-family:Roboto;
    font-size:12px;
    margin:0 0 0 5px;
}

ul {
    list-style:none; 
    padding:0;
}

.alert-label {
    text-align:center;
    padding: 5px 0 5px 0;
    color:white;
}