<div class="restaurant-info-page" ng-if="restaurant != undefined">
    <a href="{{restaurant.getBannerImage(bannerSizePath)}}" class="fresco">
        <div class="banner_restaurant" ng-style="restaurant.bannerStyle(bannerSizePath)" style="background-position: center center"></div>
    </a>
    <div class="container middle">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8 right">
            <div class="trans-block">
                <div class="bar-logo"><img ng-src="{{restaurant.getLogoImage()}}" class="img-responsive" alt=""></div>
                <div class="div-name-address" style="border-radius: 5px;margin: 2%;">
                    <h1 ng-bind="restaurant.getTitle()"></h1>
                    <p><span ng-bind="restaurant.address"></span>, <span ng-bind="restaurant.zip"></span>
                        <br/>
                        <a target ='_blank' ng-if="restaurant.url!=''" href="{{restaurant.trackingUrl}}">Visit <span ng-bind="restaurant.getTitle()"></span>  website</a>
                    </p>
                </div>
                <div class="circle-img">
                    <p>
                        <a ng-href="{{restaurant.getBookNowPageUrl()}}">
                            <button analytics-on="click" analytics-event="c_book_resto" analytics-category="c_book_resto_restopage1" ng-show="restaurant.status != 'comingsoon'" class="book-button btn-leftBottom-orange" ng-bind="restaurant.book_button.text"></button>
                        </a>
                        <button analytics-on="click" analytics-event="c_cs_book_resto" analytics-category="c_cs_book_resto_restopage1" ng-show="restaurant.status == 'comingsoon'" class="book-button btn-leftBottom-orange" ng-bind="restaurant.book_button.text"></button>
                    </p>
                    <a ng-if='restaurant.is_wheelable == 1' rel="nofollow" href="{{restaurant.internal_path}}/dining-rewards">
                        <img ng-src="{{ mediaServer }}/upload/wheelvalues/wheelvalue_{{restaurant.wheelvalue}}.png" width="116" height="114" alt="">
                    </a>
                    <div ng-if='restaurant.is_wheelable == 0' style='width:116px;height:114px'></div>
                </div>
            </div>
            <div class="inner">
                <div class="style" ng-if='restaurant.is_wheelable == 1'>
                    <h2>{{Str.RestaurantInfoPage.Text_Best_Rewards_Of}} <span ng-bind="restaurant.getTitle()"></span></h2>
                    <p ng-repeat="reward in BestOffers" ng-bind="reward.offer"></p>
                    <p>
                        <a rel="nofollow" ng-href="{{restaurant.internal_path}}/dining-rewards" ng-bind="Str.RestaurantInfoPage.Text_View_All"></a>
                    </p>
                </div>
                <!-- CPP WHEEL OR PROMOTION CREDIT SUISSE -->
                <div class="style" ng-if='restaurant.is_wheelable === "1" && affiliate_program'>
                    <h2><img  src="images/cpp_restaurant.jpg"> <span> Corporate Program Wheel</span></h2>
                    <p>Enjoy better rewards with your corporate program</p>
                    <!--                    <p ng-repeat="reward in BestOffers" ng-bind="reward.offer"></p>-->
                    <p>
                        <a rel="nofollow" ng-href="{{restaurant.internal_path}}/dining-rewards-corporate-program">View all details now</a>
                    </p>
                </div>
                <!-- CPP WHEELLOR PROMOTION CREDIT SUISSE -->
                <div class="style" ng-if="restaurant.is_wheelable == 0 && restaurant.best_offer.offer != 'NOT AVAILABLE' && restaurant.best_offer.offer ">
                    <h2>{{Str.RestaurantInfoPage.Instant_Reward}} <span ng-bind="restaurant.getTitle()"></span></h2>
                    <p ng-bind="restaurant.best_offer.offer"></p>
                </div>
                <div class="style" ng-if="restaurant.is_wheelable == 0 && restaurant.best_offer.offer_cpp != 'NOT AVAILABLE' && restaurant.best_offer.offer_cpp && affiliate_program">
                    <h2><img  src="images/cpp_restaurant.jpg"> <span> Corporate Program Promotion</span></h2>
                    <p>Enjoy better rewards with your corporate program</p>
                    <p ng-bind="restaurant.best_offer.offer_cpp"></p>
                </div>
                <div class="style" ng-show="reviews.count > 0">
                    <h2><span ng-bind="reviews.count"></span> <span ng-if="reviews.count == 1">review</span><span ng-if="reviews.count > 1">reviews</span></h2>
                    <p><span class="reviews-menu starts stars{{reviews.score}}"></span> <span ng-bind="reviews.score_desc"></span></p>
                    <p><a style="cursor: pointer" rel="nofollow" ng-click="showReview()">details</a></p>
                </div>
                <div class="style">
                    <h2 ng-bind="Str.RestaurantInfoPage.Text_Cuisine"></h2>
                    <p><span ng-repeat="cuisine in restaurant.getCuisineAsArray()"><span ng-bind="cuisine"></span><span ng-hide="$last">, </span></span>
                    </p>
                </div>
                <div class="style">
                    <h2 ng-bind="Str.RestaurantInfoPage.Text_Price"></h2>
                    <p>
                        <span ng-if="restaurant.mealtype.toLowerCase().indexOf('lunch') > -1">{{Str.RestaurantInfoPage.Text_Lunch}} {{ restaurant.pricing.lunch }}<br></span>
                        <span ng-if="restaurant.mealtype.toLowerCase().indexOf('dinner') > -1">{{Str.RestaurantInfoPage.Text_Dinner}} {{ restaurant.pricing.dinner }}<br></span>
<!--                        <span ng-if="restaurant.mealtype.toLowerCase().indexOf('lunch') > -1 || restaurant.mealtype.toLowerCase().indexOf('dinner') > -1">{{Str.RestaurantInfoPage.Text_Average}} {{ restaurant.pricing.average }}</span>-->
                    </p>
                </div>
                <div class="style last" id="affix-book-btn" ng-init="Affix()">
                    <h2 ng-bind="Str.RestaurantInfoPage.Text_Opening_Hours"></h2>
                    <ul class="business-hours">
                        <li class="clearfix" ng-if ="(restaurant.restaurant != 'SG_SG_R_Audace') && (restaurant.restaurant != 'SG_SG_R_Pollen')">
                            <div class="day"></div>
                            <div class="lunch" style="font-family: 'proximanova'; text-transform: uppercase;" ng-bind="Str.RestaurantInfoPage.Text_Lunch"></div>
                            <div class="dinner" style="font-family: 'proximanova'; text-transform: uppercase;" ng-bind="Str.RestaurantInfoPage.Text_Dinner"></div>
                        </li>
                        <li class="clearfix" style="font-family: 'proxima_novasemibold'" ng-if ="(restaurant.restaurant !=='SG_SG_R_Pollen') && (restaurant.restaurant !== 'SG_SG_R_Audace')" ng-repeat="day in restaurant.openhours">
                            <div class="day" ng-bind="day.day"></div>
                            <div class="lunch" ng-bind="day.lunch"></div>
                            <div class="dinner" ng-bind="day.dinner"></div>
                        </li>
                         <li class="clearfix" style="font-family: 'proximanova-semibold'" ng-if ="(restaurant.restaurant === 'SG_SG_R_Pollen') || (restaurant.restaurant === 'SG_SG_R_Audace')">
                            <div ng-repeat='specialday in specials'>
                                <div style="font-family: 'proximanova-semibold'" ng-bind-html="specialday.item"></div>
                            </div>
                             <!-- <span ><strong>Wednesday - Monday</strong> </span>
                             <div style="font-family: 'proxima_novasemibold'">Lunch : 12:00 - 15:00 (Last Order 14:30)</div>
                             <div style="font-family: 'proxima_novasemibold'">AfternoonTea :  15:00 - 17:00 (Last Order 16:30)</div>

                             <div style="font-family: 'proxima_novasemibold'">Dinner :  18:00 - 22:00 (Last Order 21:30)</div><br />
                             
                             <span style='padding-top:10px;'><strong>Tuesday (Terrace) </strong></span>
                              <div style="font-family: 'proxima_novasemibold'">Lunch :  12:00 - 17:00</div>
                             <div style="font-family: 'proxima_novasemibold'">Dinner :  17:00 - 21:00 (Last Order 20:30)</div><br /> -->
                         </li>
                    </ul>
                    <div style=" text-align: center;">
                        <a ng-href="{{restaurant.getBookNowPageUrl()}}">
                            <button analytics-on="click" analytics-event="c_book_resto" analytics-category="c_book_resto_restopage2" ng-show="disableBookButtton != true" id="btn_affix" class="book-button btn-leftBottom-orange" ng-bind="restaurant.book_button.text"></button>
                        </a>
                        <button analytics-on="click" analytics-event="c_cs_book_resto" analytics-category="c_cs_book_resto_restopage2" ng-show="disableBookButtton" id="btn_affix" class="book-button btn-leftBottom-orange" ng-bind="restaurant.book_button.text"></button>
                    </div>
                    <div ng-if="false" ng-show="showCart">
                        <cart items="ItemsInCart" ng-if="ItemsInCart | lengthMoreThan:0"></cart>
                        <div class="order-now" ng-if="ItemsInCart | lengthMoreThan:0">
                            <a href="checkout">
                                <button class="btn btn-default pull-right">Order Now</button>
                            </a>
                        </div>
                    </div>
                    <!-- SHOPPING CART ON RESTAURANT PAGE -->
                    <!--                    <div class="cart-message" ng-show="showCartMessage">
                        <span class="fa fa-shopping-cart"></span>
                        <a ng-href="{{ ItemsInCart[0].restaurant_path }}">You have added products in an another store</a>
                    </div>-->
                    <!-- SHOPPING CART ON RESTAURANT PAGE -->
                </div>
            </div>
            <div class="info_right">
                <div class="chef" ng-if="restaurant.chef.chef_name != '' && restaurant.chef.chef_name != null">
                    <div class="img-block" ng-if="restaurant.chef.chef_image != '' ">
                        <img ng-src="{{ mediaServer }}/upload/restaurant/{{restaurant.restaurant}}/{{restaurant.chef.chef_image}}" style="width:70%;" class="text-center" alt="">
                        <h2 ng-bind="restaurant.chef.chef_name"></h2>
                    </div>
                    <h3 ng-if="restaurant.chef.chef_believe && chef_gender != 'female' && chef_gender != 'multiple'" ng-bind="Str.RestaurantInfoPage.Text_His_Beliefs"></h3>
                    <h3 ng-if="restaurant.chef.chef_believe && chef_gender == 'female'" ng-bind="Str.RestaurantInfoPage.Text_Her_Beliefs"></h3>
                    <h3 ng-if="restaurant.chef.chef_believe && chef_gender == 'multiple'" ng-bind="Str.RestaurantInfoPage.Text_Their_Beliefs"></h3>
                    
                    <p ng-bind="restaurant.chef.chef_believe"></p>
                    <h3 ng-if="restaurant.chef.chef_description && chef_gender != 'female' && chef_gender != 'multiple'" ng-bind="Str.RestaurantInfoPage.Text_His_Cusine"></h3>
                    <h3 ng-if="restaurant.chef.chef_description && chef_gender == 'female'" ng-bind="Str.RestaurantInfoPage.Text_Her_Cusine"></h3>
                    <h3 ng-if="restaurant.chef.chef_description && chef_gender == 'multiple'" ng-bind="Str.RestaurantInfoPage.Text_Their_Cusine"></h3>
                    <div class="span4 collapse-group">
                        <span ng-show="showReadmore" ng-bind="restaurant.chef.chef_description"></span>
                        <a class="btn read_more" ng-hide="showReadmore" ng-click="showReadmore = true" ng-bind="Str.RestaurantInfoPage.ReadMore"></a>
                    </div>
                </div>
                <div id="map_canvas" ng-init="loadmap(restaurant.getLatitude().lat, restaurant.getLatitude().lng, isMobile)" ng-click="loadmap2"></div>
                <div class="hidden-on-xs" ng-include="'../app/shared/partial/_restaurant_services_and_share.tpl.html'"></div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-pull-4 col-md-pull-4 col-sm-pull-4 left">
            <nav id="merchant-detail-navigation" ng-init="anchorAffix()">
                <ul>
                    <li>
                        <a ng-href="#description" disablejump>Description</a>
                        <!-- <a ng-href="#description')" disablejump>Description</a> -->
                    </li>
                    <li>
                        <a ng-href="#menu" disablejump>Menu</a>
                        <!-- <a ng-href="#menu')" disablejump>Menu</a> -->
                    </li>
                    <li>
                        <a ng-href="#gallery" disablejump>Gallery</a>
                        <!-- <a ng-href="#gallery')" disablejump>Gallery</a> -->
                    </li>
                    <li ng-show="restaurant.video != ''">
                        <a ng-href="#video" disablejump>Video</a>
                        <!-- <a ng-href="#video')">Video</a> -->
                    </li>
                     <li ng-show="showEventSection">
                        <a ng-href="#events" disablejump>Events</a>
                        <!-- <a ng-href="#video')">Video</a> -->
                    </li>
                    <li ng-show="showReviewSection && reviews.count > 0">
                        <a ng-href="#reviews" disablejump>Reviews</a>
                        <!-- <a ng-click="scrollTo('reviews')">Reviews</a> -->
                    </li>
                </ul>
            </nav>
            <div id="breadcrumb" breadcrumb base-url="base_url" base-path="base_path" restaurant="restaurant" style="padding-left: 0px"></div>
            <div class="information">
                <h1 id="description" name="description">{{Str.RestaurantInfoPage.Text_About}} {{ restaurant.getTitle() }}</h1>
                <p ng-repeat="description in restaurant.getDescription()"><b ng-bind="description.title"></b>
                    <span ng-repeat="line in description.body"><br>{{ line }}</span>
                </p>
                <div class="video" id="video" name="video" ng-show="restaurant.video != ''">
                    <iframe ng-src="{{ restaurant.video | trustAsResource }}" style="width:100%; height:320px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
            <div id="menu" name="menu" class="menu" ng-show="restaurant.menu != undefined && restaurant.menu != '' && restaurant.menu != null">
                <h1>Menu of {{restaurant.getTitle()}} {{takeoutitle}}</h1>
                <div class="panel-menu-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel-menu panel-menu-default" ng-repeat="menu in restaurant.menu">
                        <div class="panel-menu-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse1" class="collapsed">
                            <span class="menu-heading" ng-bind="menu.categorie.value"></span>
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <div id="collapse-{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="MenuItem in menu.items">
                                        <div class="menu-item-header">
                                            <div class="pull-left">
                                                <a ng-if="false && MenuItem.mimage !== '' && takeoutitle !== ''" title="{{MenuItem.mimage}}"><img ng-src="http://media5.weeloy.com/upload/restaurant/SG_SG_R_MadrinaaItaliano/140/Food2.jpg"></a>
                                                <span class="menu-title" ng-bind="MenuItem.item_title"></span>
                                                <img ng-if="MenuItem.spicy1 == 1" ng-src="images/restaurant_icons/spicy1.png">
                                                <img ng-if="MenuItem.spicy2 == 1" ng-src="images/restaurant_icons/spicy2.png">
                                                <img ng-if="MenuItem.spicy3 == 1" ng-src="images/restaurant_icons/spicy3.png">
                                                <img ng-if="MenuItem.vegi == 1" ng-src="images/restaurant_icons/vegi.png">
                                                <img ng-if="MenuItem.chef_reco == 1" ng-src="images/restaurant_icons/chef_reco.png">
                                                <img ng-if="MenuItem.halal == 1" ng-src="images/restaurant_icons/halal.png">
                                            </div>
                                            <div class="price-and-cart text-right">
                                                <span ng-show="MenuItem.price!= undefined && MenuItem.price != null && MenuItem.price != 0    ">{{restaurant.currency}} {{MenuItem.price}}</span>
                                                <span ng-if="false && MenuItem.takeout == 1 && takeoutitle !== ''" class="cart-label label label-info" ng-click="addToCart(MenuItem, $event)">
                                                    <i class="fa fa-plus"></i>
                                                    <span>Add to Cart</span>
                                                </span>
                                            </div>
                                        </div>
                                        <p class="menu-description" ng-bind="MenuItem.item_description"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events" ng-show="showEventSection">
                <h1 id ="events">Events of {{restaurant.getTitle()}}</h1>
                <ul>
                    <li class="clearfix" ng-repeat="evt in RestaurantEvents">
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span>{{evt.getStartTime('MMM DD, YYYY')}} to {{evt.getEndTime('MMM DD, YYYY')}} in {{evt.city}}</span>
                            <p ng-bind="evt.description"></p>
                            <a href="{{ mediaServer }}/upload/restaurant/{{RestaurantID}}/{{evt.pdf_link}}" target="_blank" ng-if="evt.pdf_link" title="{{evt.title}} year end festive special menus 2016">Download Menus</a>
                            <div class="event-book-btn" ng-if="evt.getPrice() != ''">
                                <a ng-href="{{ evt.getEventBookingUrl(restaurant) }}">
                                    <button class="book-button book-button-sm btn-leftBottom-orange">Book Now</button>
                                </a>
                            </div>
                          
                            
                        </div>
                        <div ng-if="(evt.picture!='' || evt.picture!= null)" class="img-block">
                            <a href="{{ mediaServer }}/upload/restaurant/{{RestaurantID}}/300/{{evt.picture}}" class="fresco" data-fresco-caption="{{ evt.name }} - weeloy.com" data-fresco-group="event">
                                <img ng-src="{{ mediaServer }}/upload/restaurant/{{RestaurantID}}/300/{{evt.picture}}" class="img-responsive" alt="{{ evt.name }} - weeloy.com">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gallery clearfix">
                <h1 id="gallery" name="gallery">{{Str.RestaurantInfoPage.Text_Gallery_Of}} {{ restaurant.getTitle() }}</h1>
                <ul class="clearfix">
                    <li ng-repeat="image in restaurant.pictures" class="{{ ($index < 2) ? 'first' : ($index < 5) ? 'second' : '' }}">
                        <a ng-href="{{ mediaServer }}/upload/restaurant/{{ restaurant.restaurant }}/1440/{{ image.name }}" class="fresco" data-fresco-caption="{{ image.tag }} - weeloy.com" data-fresco-group="restau">
                            <img ng-if="$index < 5" ng-src="{{ mediaServer }}/upload/restaurant/{{ restaurant.restaurant }}/180/{{ image.name}}" alt="{{ image.tag }} - weeloy.com">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="gallery clearfix" ng-show="restaurant.takeoutrestaurant == 1 && showCateringPictures && CateringPictures.length   > 0">
                <h1>Products of {{ restaurant.getTitle() }} available for catering</h1>
                <ul class="clearfix">
                    <li ng-repeat="image in CateringPictures" class="{{ ($index < 0) ? 'first' : ($index < 6) ? 'second' : '' }}">
                        <a ng-href="{{restaurant.internal_path}}/catering">
                            <img ng-if="$index < 6" ng-src="{{ mediaServer }}/upload/restaurant/{{ restaurant.restaurant }}/300/{{ image.name }}" alt="{{ restaurant.getTitle() }} - weeloy.com">
                        </a>
                    </li>
                </ul>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-push-8 col-md-push-8 col-sm-push-8 '>
                    <a id="btn_affix" class="btn btn-book2 custom_button" ng-href="{{restaurant.internal_path}}/catering" style="font-size:18px;width:100%; background-color: {{restaurant.book_button.color}}">ORDER NOW</a>
                </div>
            </div>
            <div id="reviews" name="reviews" class="reviews-section" ng-show="showReviewSection && reviews.count > 0">
                <h1><p class="pull-left" ><span ng-bind="reviews.count"></span> <span ng-show="reviews.count > 1">reviews</span><span ng-show="reviews.count == 1">review</span></p><p class="overflowhidden"><span class="reviews-menu reviews-menu-right stars stars{{reviews.score| number:0}}  pull-right"></span><span class="pull-right" ng-bind="reviews.score_desc" style='padding-top: 10px;'></span></p></h1>
                <ul>
                    <li ng-repeat="review in reviews.reviews | startFrom:currentPage*pageSize | limitTo:pageSize">

                        <div class="cnt">
                            <div class='review-label'>
                                <span style="float:left;padding-top:10px;padding-right:20px;width:30%!important" >
                                   <span  ng-if='review.user_name' style='width:10px!important;overflow: hidden;'>
                                       <span ng-bind="review.user_name" style='width:10px!important;overflow: hidden;'></span>, 
                                   </span>
                                    <span  ng-if='!review.user_name'>
                                       <span>...,</span>
                                   </span>
                                    <span  ng-if='review.time'>
                                       <span ng-bind="review.time" style='padding-left:10px;'></span>, 
                                   </span>
                                    
                                </span> 
                                <p maxlength="15" href ng-if="review.comment !== ''" data-toggle="popover" data-placement="top" title="{{review.comment}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='float: left;padding-right:10px;padding-top:7px;'>{{review.comment}}</p>
<!--                               <p  maxlength="15" ng-bind="review.comment" popover="{{review.comment}} " data-popover-trigger="mouseenter" style='float: left;padding-right:10px;padding-top:7px;'> </p>-->
                               <div class="reviews-menu reviews-menu-right stars stars{{review.score | number:0}}" style='float:right;padding-top:15px;padding-left:25px;'></div>
                               <br style="clear: left;" />
                            </div>
                        </div>
                    </li>
              
                    <div style="margin-left:45%;">
                        <a href="#"> <span ng-hide="currentPage == 0" class="glyphicon glyphicon-fast-backward" ng-click="currentPage = currentPage-1"></span></a>
                            {{currentPage+1}}/{{numberOfPages()}}
                            <a href="#"><span ng-hide="currentPage >= reviews.reviews.length/pageSize - 1" class="glyphicon glyphicon-step-forward" ng-click="currentPage=currentPage+1"></span></a>
                    </div>

                </ul>
            </div>
            <div class="hidden-on-md" ng-include="'../app/shared/partial/_restaurant_services_and_share.tpl.html'"></div>
        </div>
    </div>
</div>
