<form name="ForgotPasswordForm" ng-submit="ForgotPasswordForm.$valid && ForgotPassword(email)" novalidate>
    <div class="form-group">
        
        <input type="email" class="form-control simple-form-control" name="email" ng-model="email" placeholder="{{Str.template.TextEmail}}" required>
        
        <div class="error">
            <span ng-show="ForgotPasswordForm.$submitted && ForgotPasswordForm.email.$error.required" ng-bind="Str.template.TextPleaseEnterYourEmail"></span>
            <span ng-show="ForgotPasswordForm.$submitted && !ForgotPasswordForm.email.$error.required && ForgotPasswordForm.email.$error.email" ng-bind="Str.template.TextPleaseEnterAValidEmail"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="book-button-sm btn-leftBottom-orange" value="{{Str.template.ForgotPasswordBtn}}"> 
    </div>
</form>
