<form class="form-horizontal" name="LoginForm" ng-submit="LoginForm.$valid && Login(user)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="{{Str.template.TextEmail}}" required>
        </div>
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.required" ng-bind="Str.template.TextPleaseEnterYourEmail"></span>
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.email" ng-bind="Str.template.TextPleaseEnterAValidEmail"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" name="password" ng-model="user.password" type="{{ (showPassword == true) ? 'text' : 'password' }}" class="form-control" placeholder="{{Str.template.TextPassword}}" required>
        </div>
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.password.$error.required" ng-bind="Str.template.TextPleaseEnterYourPassword"></span>
        </div>
        <div class="show-password">
            <input id="show-password-ip" type="checkbox" ng-model="showPassword">
            <label class="checkbox-inline" for="show-password-ip" ng-bind="Str.template.TextShowPassword"></label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-info" value="{{Str.template.LoginBtn}}">
    </div>
</form>
