<div  id="vignette_invite" class="vignette review_vignette"  >
    <div class="hd-style">
        Invite Your Friends To This booking With Social Network
    </div></br>
    <div id="invite-alert"></div>
   
    <div  class="row-fluid btnfg" >
        <button  title="Invite your facebook friends to this booking" class="btn btn-facebook text-right "  onclick="fbsend();" ><i class ="fa fa-facebook" ></i>  Facebook Friends</button>
        <button title="Invite your Gmail contacts to this booking" class="btn btn-google text-right" onclick ="gApiContacts();" ><i class ="fa fa-google" ></i>  Gmail contacts</button>
    </div>
    </br></br>

    <div class='form-horizontal' >
        <div class="row-fluid other-txt "><strong >With email</strong></div>
        <addbuttonsbutton>
                
               <div id="btn-list" class="txt-conatiner">
                 <input type="text" name="email[]" placeholder="email address" /><i id="hee" data-item="alert" class="in-list fa fa-plus-square fa-lg" ng-click="add()"></i> </br>
<!--            <input type="text" name="email[]" placeholder="email address" /><i id="hee" class="in-list fa fa-plus-square fa-lg"></i> </br> -->
                </div>
            </addbuttonsbutton>
        

        <button class="btn btn-success invite"  type="button" >Invite<input class="bookid" type="hidden" name="book_id" value="" /> </button>
    </div>
    <div class="email-container">
        <i id="btn-close" class="fa fa-times-circle" style="display:none; "></i>
        <button id="btncheck" class="btn btn-sm-8 checkprop" style="display:none;" >Check all</button>
        <div class='form-gmailform'  id='book_gmailform'>
            <input class="bookid" type="hidden" name="book_id" value="" />
            <div class="exportContact"> 
            </div> 
            <input class="btn btn-success formSubmit" type="button" value="Send" style="display:none;"  />
        </div>
   </div>
</div>