
<div id="vignette_cancel" class="vignette review_vignette subitem" > 
<!--    <div id="iconTest" style="margin-top:0px;">
        <i id="btn-close" class="fa fa-times-circle" style="float:right;margin-top:0px;"></i>   
    </div>-->
  
  
    <div ng-if ="item.bkObject==='nodeposit'" class="header-text"><h3>Update/Cancel Booking</h3></div>
    <div ng-if ="item.bkObject==='deposit'" class="header-text"><h3>Cancel Booking</h3></div>
 

    <div id="invite-alert-cancel-{{$index}}" ng-show="showAlert_{{$index}}==true">
        {{msg}}
    </div>
    <div class="survet-form" ng-show="showCancelServey_{{$index}}==true" >
        <div class="survey-conatiner" >
            <p style="color:#2AA8CF">Please select the reason for your update/cancel here. If you have more than one reason for update/cancellation, please tell us the main reason.</p></br> 
            <input class="{{$index}}" type="radio" name="cl-servey_{{$index}}"  ng-model='cancelServey' value="Unable to attend on this date"  > Unable to attend on this date </br></br>
            <input class="{{$index}}" type="radio" name="cl-servey_{{$index}}" ng-model="cancelServey" value="My Friend(s) cancelled our Date"  > My Friend(s) cancelled our Date </br></br>
            <input class="{{$index}}" type="radio" name="cl-servey_{{$index}}" ng-model="cancelServey" value="I no longer want to dine at this Restaurant" > I no longer want to dine at this Restaurant </br></br>
            <input class="{{$index}}" type="radio" name="cl-servey_{{$index}}" ng-model="cancelServey" value=" I wish to change my Booking"  >  I wish to change my Booking </br></br>
            <input class="{{$index}}" type="radio" name="cl-servey_{{$index}}" ng-model="cancelServey" value="Other"  /> Other : <input id="othermsg" ng-model="$parent.other" value="" type="text" name="other" /></br>
        </div>
         <div class="survey-conatiner" ng-if ="item.bkObject==='deposit'">
            <h4 style='text-align:center;'>Restaurant Cancel Policies</h4>
                <div ng-repeat ="p in policy" ng-if='item.restaurantinfo.restaurant !="SG_SG_R_TheFunKitchen"  || item.restaurantinfo.restaurant !="SG_SG_R_Bacchanalia" ' >
                       <p ng-if="p['percentage']==100">{{p['duration']}}SGD {{item.amount}}. 
                         <p ng-if="p['percentage']==0">{{p['duration']}}</p>
                </div>
             <div ng-if='item.restaurantinfo.restaurant =="SG_SG_R_TheFunKitchen"  || item.restaurantinfo.restaurant =="SG_SG_R_Bacchanalia" ' > 
                                                         
                <div>
                    <span >{{policybaccahanalia}} </span>

                </div>
            </div>
            

             
           
       </div>
         <button type="button" class="btncancel" ng-click="cancelConfirmation($index,item);" >Cancel Booking</button>
         <a ng-if="item.isrefund==='norefund'" id="bookingcancel" class="btn btn-blue"  data-target="targetSectionmodif_{{$index}}" ng-click="modif($index, item, $event)"  style="border-radius:2px;">back to update </a>
      
    </div>
    <div class="confirmation-details" ng-show="showCancelConfirmation_{{$index}}== true" >
        <div id="confirm-container" ng-if="bookingData != undefined">
           <ul>
              <li>  Restaurant : <span id='res_title'> {{item.restaurantinfo.title}} </span></li></br>
              <li>  Confirmation : <span id='res_confirmid'> {{item.confirmation}}</span></li></br>
              <li>  Date : <span> {{item.rdate}}</span></li></br>
              <li>  Time : <span> {{item.rtime}}</span></li></br>
              <li>  Number of guests : <span> {{item.cover}}</span></li></br>
              
              <li><h4 style='text-align:center;' ng-if='item.refundamount >0'>Restaurant Cancel Policies</h4></li>
              <li  ng-if ="item.isrefund==='refund' &&  item.payment_method !=='carddetails' &&  item.refundamount >0 " > you will get refund amount SGD {{item.refundamount }}  </li></br >
              <li  ng-if ="item.isrefund==='refund' &&  item.payment_method ==='carddetails' &&  item.refundamount >0" >A fee of SGD <span>  {{item.refundamount }}</span> will be charged upon cancellation of this reservations.</li></br >
              <li  ng-if ="item.isrefund==='refund' &&  item.payment_method ==='carddetails' &&  item.refundamount ==0" >Due to the cancel policies, this cancel is FREE of charge.</li></br >
             
           </ul>
            <div ng-if="item.isrefund==='refund'"> <button type="button" class="btnconfirmCancel" ng-click="cancelbookingrefund(item);">Confirm Cancel</button></div>
            <div ng-if="item.isrefund==='norefund'"><button type="button" class="btnconfirmCancel" ng-click="confirmCancel(bookingData);">Confirm Cancel</button></div>
        </div>
        
    </div>
</div>
