
<div class="vignette review_vignette review-container" id="vignette_review">
    <div class="infos" style ="text-align:center;">
        <div class='review-container' style ="text-align:center;" >
            <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"> </div>
       </div>
        </div>
            <div id='comment' style='margin-left:15px;text-align:center;'><h5>Comment</h5></div>
                <div class="col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <textarea ng-model='review.comment' class='form-control' rows='4' ></textarea>
        <div style="padding: 15px;text-align:center;" class="spin_wheel_info">
            <input type="button" ng-click="ReviewNow(review)" class="btn btn-info-grey btn_submit_review" value="Review now">
        </div>
    </div>

</div>
