<div id="vignette_cancel" class="vignette review_vignette subitem" > 
    <div class="header-text"><h3>Update Booking</h3></div><br />
    <div id="invite-alert-cancel-{{$index}}" class="success-msg" ng-show="showAlert_{{$index}}==true">
                {{msg}}
    </div>
    <form ng-submit="mydata.submit()">
        <div class="input-group" style='padding:20px 20px 20px 20px;' >
            <span class="input-group-addon input-info">firstname&nbsp<i class="glyphicon glyphicon-info-sign"></i></span>
            <input  type="text" ng-model='mydata.firstname' class="form-control input" id='bkspecialrequest' name='bkfirstname' rows="3"  placeholder="" /> 
        </div>
        <div class="input-group" style='padding:20px 20px 20px 20px;' >
            <span class="input-group-addon input-info">lastname&nbsp<i class="glyphicon glyphicon-info-sign"></i></span>
            <input type="text" ng-model='mydata.lastname' class="form-control input" id='bkspecialrequest' name='bklastname' rows="3"  placeholder=""  />
        </div>

        <div class='input-group'  style='padding:20px 20px 20px 20px;'>
            <div class='input-group-btn xls' dropdown  is-open="coveropened"  >
                <button type='button' class='btn btn-default dropdown-toggle sm'   data-toggle='dropdown' ng-click="opendropdown($event, 'cover')">
                    <i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
                </button>
                <ul class='dropdown-menu scrollable-menu'>
                    <li ng-repeat="p in mydata.pers"><a href="javascript:;" ng-click="mydata.npers = p;">{{ p}}</a></li>
                </ul>
            </div>
            <input type='text'is-open="coveropened"  ng-model='mydata.npers' class='form-control input sm' placeholder="number of persons"  ng-click="opendropdown($event, 'cover')" readonly >
        </div>
<!--        <div class="input-group"  style='padding:20px 20px 20px 20px;'>
            <div class="input-group xls" style='padding:20px 20px 20px 20px;' is-open="dateopened" >
                <a class="input-group-addon input-info" ng-click="opendropdown($event, 'date')"><i class="glyphicon glyphicon-calendar"></i>&nbsp;<span class='caret'></span></a>
                <input type="text" class="form-control input sm" datepicker-popup="dd-MMMM-yyyy" min-date="mydata.minDate" max-date="mydata.maxDate" ng-model="mydata.selecteddate"
                       is-open="dateopened" datepicker-options="mydata.dateOptions"  ng-change='updatendays();' close-text="Close" ng-click="opendropdown($event, 'date')" readonly />
            </div>
        </div>-->
        
                <div class="input-group xls calendarup" is-open="dateopened" style='padding:20px 20px 20px 20px;' >
                                        <span class="input-group-addon input-info" ng-click="opendropdown($event, 'date')"  is-open="dateopened" >
                                            <i class="glyphicon glyphicon-calendar"></i> &nbsp; 
                                            <span class='caret'></span>
                                        </span>
                                        <input type="text" class="form-control input sm" id='bkdate' name='bkdate' 
                                               ng-model="mydata.selecteddate" 
                                               ng-click="opendropdown($event, 'date')" 
                                               ng-change='updatendays();' 
                                               datepicker-popup="{{format}}" 
                                               datepicker-options="dateOptions" 
                                               is-open="dateopened" 
                                               min-date="mydata.minDate" 
                                               max-date="mydata.maxDate" 
                                                close-text="Close" 
                                               readonly />
                                    </div>
          <div class="input-group"  style='padding:20px 20px 20px 20px;'>
            <div class='input-group-btn xls' dropdown is-open="mtimeopened">
                <button type='button' class='btn btn-default dropdown-toggle sm' ng-click="opendropdown($event, 'mtime')" data-toggle='dropdown'><i class="glyphicon glyphicon-time"></i>&nbsp;<span class='caret'></span>
                </button>
                       <ul class='dropdown-menu scrollable-menu' style='font-size:12px;height: auto;
                        max-height: 200px;
                        overflow-x: hidden;'>
                            <li style='color:#5285a0'>&nbsp;lunch  &nbsp;<span class='caret'></span></li>
                            <li ng-repeat="x in lunch"><a href ng-click="mydata.ntimeslot = x ;">{{x}}</a></li>
                            <li>&nbsp;  -------------------- </li>
                            <li style='color:#5285a0'>&nbsp;  dinner  &nbsp;<span class='caret'></span></li>
                            <li ng-repeat="y in dinner"><a href ng-click="mydata.ntimeslot = y ;">{{y}}</a></li>
		      </ul>
                </div>
            <input type='text' is-open="mtimeopened" ng-model='mydata.ntimeslot' class='form-control input sm' placeholder="arrival time" ng-click="opendropdown($event, 'mtime')" readonly >
        </div>
        <div class="input-group" style='padding:20px 20px 20px 20px;' >
            <span class="input-group-addon input-info">special request&nbsp<i class="glyphicon glyphicon-info-sign"></i></span>
            <textarea type="text" ng-model='mydata.specialrequest' class="form-control input" id='bkspecialrequest' name='bkspecialrequest' rows="3"  placeholder="" ></textarea>
        </div>
        <br />
        <a id="bookingcancel" class="btn btn-blue"  data-target="targetSection_{{$index}}" ng-click="cancel($index, item, $event)"  style="border-radius:2px;">Cancel </a>
         <button type="submit" class="btncancel" >Update</button>
        <!--    <button type="button" class="btn btn-warning" ng-click="mydata.cancel()">Cancel</button><br />&nbsp;<br/>-->

    </form>
</div>
