<form id="myUpdateForm" class="form-horizontal" name="MyAccountForm"  method="post" snovalidate >

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

         <div class="img-block"  >
              <!-- ngIf: UpdateUser.profilePic != null -->
                    <div  class="profile-img-container" ng-if="UpdateUser.profilePic != null && isProgress==false">
                       <img id="profile-pic" dimention-class    ng-src="{{UpdateUser.profilePic}}" alt=""  >
                         <span class="fa fa-upload fa-2x" onclick="document.getElementById('selectedFile').click();"> <input type="file"  name='files' onchange="angular.element(this).scope().uploadProfile(this)" id='selectedFile' ngf-select ng-model="files" style="display: none;"></span>
                    </div>
                    <div  class="profile-img-container" ng-if="UpdateUser.profilePic == null && isProgress==false">
                       <img id="profile-pic" dimention-class    ng-src="images/default_profle.png" alt=""  >
                         <span class="fa fa-upload fa-2x" onclick="document.getElementById('selectedFile').click();"> <input type="file"  name='files' onchange="angular.element(this).scope().uploadProfile(this)" id='selectedFile' ngf-select ng-model="files" style="display: none;"></span>
                   </div>
              <div ng-show="isProgress==true" >
                    <img ng-src="https://www.weeloy.com/images/loading.gif" style="width:150px;height:150px;" />
              </div>
              <!-- end ngIf: UpdateUser.profilePic != null -->
        </div>
 </div>


<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon  info-label" ><span for="email" style="color:#333">email</span></span>
            <input ng-model="UpdateUser.email" name="email" type='email' class="form-control simple-form-control" readonly>
        </div>
    </div>

     <div class="form-group">
        <div class="input-group">
            <div class='input-group-btn' >
                 <div class="btn-group"> 
                    <button type='button' id='itemdfcountry' class='btn btn-default dropdown-toggle info-btn' data-toggle='dropdown'>
                        &nbsp;Title &nbsp;<span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu scrollable-menu' style='font-size:12px;height: auto;
                        max-height: 250px;
                        overflow-x: hidden;'>
                        <li ng-repeat="s in salutations"><a ng-if="s.name != '';" href="javascript:;" ng-click="listSalutation(s.name);"  > {{s.name}}</a></li>
                    </ul>
                 </div>
            </div>
            <input id="txt-salutation" name="salutation" type="text" class="form-control simple-form-control" ng-model="UpdateUser.salutation"    >
        </div>

    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon   info-label" style="border-radius: 0 !important;min-width:"><span for="firstname">first name</span></span>
            <input ng-model="UpdateUser.firstname" name="firstname" type="text" class="form-control simple-form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon  info-label " style="border-radius: 0 !important;"><span for="name">last name</span></span>
            <input ng-model="UpdateUser.lastname" name="lastname" type="text" class="form-control simple-form-control" required>
        </div>
        
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon  " style="border-radius: 0 !important;"><span for="membercode">Memb code</span></span>
            <input ng-model="UpdateUser.membercode" name="membercode" type="text" class="form-control simple-form-control" required>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class='input-group-btn '>
                 <div class="btn-group">
                    <button type='button' id='itemdfcountry' class='btn btn-default dropdown-toggle info-btn ' data-toggle='dropdown'  >
                        &nbsp; mobile &nbsp; <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu scrollable-menu' style='font-size:12px;height: auto;
                        max-height: 250px;
                        overflow-x: hidden;'>
                        <li ng-repeat="s in countries"><a ng-if="s.b != '';" href="javascript:;" ng-click="listPhoneIndex(s.a);"  ><i class='famfamfam-flag-{{s.b}}'></i> {{s.a}}</a></li>
                    </ul>
                 </div>
            </div>
            <input id="txt-mobile" name="mobile" type="text" class="form-control simple-form-control" ng-model="UpdateUser.mobile"   ng-change='checkvalidtel();' required>
        </div>

    </div>

<!--    <div class='form-group' style='margin-bottom:15px;'>
          <div class="input-group">
                <span class="input-group-btn">
                     <span class="btn-group">
                        <span class="btn btn-default btn-file info-btn ">
                            Upload &hellip; <input type="file"  ngf-select ng-model="picFile" >
                        </span>
                     </span>
                </span>
              <input type="text" class="form-control simple-form-control" readonly id="picture">
              </div>
    </div>-->

        
        
 
    <div class="form-group ">
       <a href="#" ng-show="showAccountForm == 'myAccountForm'" ng-click="reset('changePasswordForm');" style='curser:pointer;'>Change password</a> 
        <input type="button" class="btn  btn-review " value="Update" ng-click=" uploadPic(picFile,UpdateUser)" style='border-radius:2px;align:right;margin-left:100px;'>
    </div>
   
    </div>
   <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    </div>
</form>
