   <div class="col-md-3 col-sm-3" >
          <p >{{category.title}}</p>
        <a ng-href="{{category.link}}" target="{{ OpenRestaurantInNewTab }}">
            <img ng-src="client/assets/images/month/transparent.png" class="img-responsive img-transparent" style='width:100%;background:cover;background-repeat: no-repeat;'>
<!--            <p ng-bind="restaurant.title"></p>-->
        </a>
          <div class="item-content">
              <p class="hover" style='padding-bottom:10px;'>{{category.description}}</p>
          </div>
       
   </div>
   

