<div class="border">
    <div class="custom-grid">
        <article class="ribbon_holder">
            <a ng-href="{{restaurant.internal_path}}" target="{{ OpenRestaurantInNewTab}}" class="pinme">
                <figure>
                    <div class="img-absolute" style="position: relative;">
                        <img class="" ng-src="https://media4.weeloy.com/upload/restaurant/{{restaurant.restaurantinfo.restaurant}}/{{MenuItem.mimage}}">
                    </div>
                </figure>
            </a>
        </article>
    </div>
    <div class="item">
        <div class="item-info">
            <p>{{MenuItem.item_title}}</p>
            <p>{{MenuItem.item_description}}</p>
            <p>{{MenuItem.price}} {{restaurant.restaurantinfo.currency}} </p>
            <div class="book">
                <button  id="btn_book" class="btn custom_button" ng-click="go(restaurant);">Add to cart</button>
            </div>
        </div>
    </div>
</div>