<div class="article-content">
    <div class="img">
        <a ng-href="{{article.guid}}" target="_blank" class="read">
            <img ng-src="client/assets/images/35x28.png" class="img-responsive img-transparent">
        </a>
    </div>
    <div class="text">
        <p class="title"><span data-ng-bind-html="article.post_title"></span></p>
        <a ng-href="{{article.guid}}" target="_blank" class="read">Read article</a>
    </div>
</div>
