<div class="zen-content">
    <div class="img">
        <a ng-href="{{ restaurant.getInternalPath() }}" target="{{ OpenRestaurantInNewTab }}">
            <img ng-src="client/assets/images/month/transparent.png" class="img-responsive img-transparent">
            <p ng-bind="restaurant.title"></p>
        </a>
    </div>
    <div class="item-content">
        <div class="col-sm-7 col-xs-7">
            <ul>
                <li ng-if="(!affiliate_program &&  restaurant.best_offer.offer && restaurant.best_offer.offer != 'NO PROMOTION AVAILABLE') || (affiliate_program &&  restaurant.best_offer.offer_cpp && restaurant.best_offer.offer_cpp!='NO PROMOTION AVAILABLE') ">
                    <i class="fa fa-star"></i>
                    <span ng-if="affiliate_program && restaurant.best_offer.offer_cpp" ng-bind="restaurant.best_offer.offer_cpp"></span>
                    <span ng-if="!affiliate_program && restaurant.best_offer.offer" ng-bind="restaurant.best_offer.offer"></span>
                    <span style="font-size: 11px"> and more...</span>
                    <span style="float: right;">
                        <img ng-if="affiliate_program" ng-src="images/cpp_restaurant.jpg">
                    </span>
                </li>
                
                <li><i class="fa fa-tag"></i><span ng-repeat="cusine in restaurant.getCuisineAsArray()">{{cusine}}<span ng-show="!$last">, </span></span>
                </li>
                <li ng-if="restaurant.getCity() != '' || restaurant.getRegion() != ''"><i class="fa fa-map-marker"></i>
                    <span>{{restaurant.getRegion()}}<span ng-if="restaurant.getCity() != ''">, </span> {{restaurant.getCity()}}</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-5 wheel">
            <div class="wheel-group">
                <img ng-if="restaurant.is_wheelable == '1'" ng-src="{{restaurant.wheelImageUrl}}" class="img-responsive zen-show-detail">
                <img ng-if="restaurant.is_wheelable != '1'" ng-src="https://static2.weeloy.com/images/invisible-wheel-light.png" class="img-responsive zen-show-detail">
                <div class="zen-hover" ng-if="restaurant.is_wheelable == '1'">
                    <div class="zen-title">
                        {{restaurant.getWheelValue()}} is the Scoring of this Wheel of Deals
                    </div>
                    <div class="zen-content">
                        <span class="gray">Best Offers:</span>
                        <p class="center">
                            <span ng-if="affiliate_program && restaurant.best_offer.offer_cpp" ng-bind="restaurant.best_offer.offer_cpp"></span>
                            <span ng-if="!affiliate_program && restaurant.best_offer.offer" ng-bind="restaurant.best_offer.offer"></span>
                        </p>
                        <p class="more">
                            <a ng-href="{{restaurant.getInternalPath()}}/dining-rewards">More info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book-now">
        <a ng-href="{{restaurant.getBookNowPageUrl()}}">
            <button analytics-on="click" analytics-event="c_book_resto" analytics-category="c_book_resto" ng-if="restaurant.status=='active'" id="btn_book" class="book-button-sm btn-leftBottom-orange" ng-bind="restaurant.book_button.label"></button>
        </a>
        <button analytics-on="click" analytics-event="c_cs_book_resto" analytics-category="c_cs_book_resto" ng-if="restaurant.status=='comingsoon'" id="btn_book" class="btn custom_button {{restaurant.book_button.style}}" ng-bind="restaurant.book_button.label"></button>
    </div>
</div>
