<div id="search-filter" ng-class="(expandCuisineFilter) ? 'searchFilterHeight' : ''">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="filter-title col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <span>Filters</span>
        </div>
        <div class="filter col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <select name="city" ng-options="city as city.name for city in cities" ng-model="city"></select>
            <div class="inner-icon">
                <span class="fa fa-map-marker"></span>
            </div>
        </div>
        <div class="filter col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <select name="pricingArray" ng-options="pricing as pricing.name for pricing in pricingArray" ng-model="pricing"></select>
            <div class="inner-icon">
                <span class="fa fa-dollar"></span>
            </div>
        </div>
    </div>
    <div id="cuisine-group" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cuisine-title col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <p>Cuisine</p>
        </div>
        <div class="padding_0 col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <div id="main-cuisine">
                <div class="cuisine main-cuisine col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cuisine in cuisineList.cuisineListShow" resize-filter>
                    <div class="cuisine-panel" ng-click="changeCuisineFilter(cuisine, $event)">
                        <input type="checkbox" ng-click="changeCuisineFilter(cuisine, $event)" ng-model="cuisine.selected" id="cuisine-{{ $index }}">
                        <label for="cuisie-{{ $index }}" ng-bind="cuisine.cuisine"></label>
                    </div>
                </div>
            </div>
            <div class="collapse" id="cuisineCollapse">
                <div class="cuisine col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cuisine in cuisineList.cuisineListCollapse" resize-filter>
                    <div class="cuisine-panel" ng-click="changeCuisineFilter(cuisine, $event)">
                        <input type="checkbox" ng-click="changeCuisineFilter(cuisine, $event)" ng-model="cuisine.selected" id="cuisine-{{ $index }}">
                        <label for="cuisie-{{ $index }}" ng-bind="cuisine.cuisine"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="applyFilter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="(expandCuisineFilter) ? 'applyFilterFixBottom' : ''">
        <div class="padding_0 col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-12">
            <div id="applyFilterBtn" class="pull-right filterButton" ng-click="ApplyFilter(city, cuisineList, pricing)">
                <span>Apply</span>
            </div>
            <div id="clearFilterBtn" class="pull-right filterButton" ng-click="ClearFilter()">
                <span>Clear</span>
            </div>
            <div id="moreFilter" class="pull-left filterButton" data-toggle="collapse" href="#cuisineCollapse" aria-expanded="false" aria-controls="cuisineCollapse" ng-show="expandCuisineFilter != undefined" ng-click="expandCuisineFilter = !expandCuisineFilter">
                <span>More Cuisines</span>
                <i class="fa fa-caret-down" ng-class="(expandCuisineFilter) ? 'rotate' : ''"></i> </span>
            </div>
        </div>
    </div>
</div>
