<div id="shopping-cart">
    <div class="cart">
        <div class="cart-header">
            <p>Your cart</p>
        </div>
        <div class="cart-items">
            <div class="item" ng-repeat="item in items">
                <div class="item-name">
                    <p ng-bind="item.item_title"></p>
                </div>
                <div class="item-number text-center">
                    <span class="label" ng-click="increaseItemNumber(item)">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span ng-bind="item.quantity"></span>
                    <span class="label" ng-click="decreaseItemNumber(item)">
                        <i class="fa fa-minus"></i>
                    </span>
                </div>
                <div class="item-price text-right">
                    <p><span ng-bind="item.currency"></span> <span ng-bind="item.price"></span></p>
                </div>
                <div class="item-remove text-center">
                    <span class="fa fa-remove" ng-click="removeItem(item)"></span>
                </div>
            </div>
        </div>
        <div class="cart-header">
            <p>Total</p>
        </div>
        <div class="item">
            <div class="item-price text-right" ng-show="total > 0">
                <p><span ng-bind="items[0].currency"></span> <span ng-bind="total"></span></p>
            </div>
        </div>
        <div class="cart-items">
            <div class="item" >
                <div class="item-name">
                    <p >Include 7% GST</p>
                </div>

                <div class="item-gst text-right"  ng-show="total_gst > 0">
                    <p><span ng-bind="items[0].currency"></span> <span ng-bind="total_gst"></span></p>
                </div>
            </div>
        </div>
        <div class="cart-items" ng-show="minorder > 0">
            <div class="item" >
                <div class="item-name">
                    <p >minimum order </p>
                </div>

                <div class="item-gst text-right"  ng-show="minorder > 0">
                    <p><span ng-bind="items[0].currency"></span> <span ng-bind="minorder"></span></p>
                </div>
            </div>
        </div>
        
        <div class="order-now" ng-if="cx && total > minorder">
            <a href="checkout/info" >
                <button class="btn btn-default pull-right">Order Now</button>
            </a>
        </div>
    </div>
</div>