<div id="shopping-cart">
    <div class="cart">
        <!--        <div class="cart-header">
                    <p>Your selection</p>
                </div>-->

        <div class="cart-items">
            <div class="" ng-class="" ng-repeat="menu in menus">

                <div class="cart-header"ng-if="menu.setmeal">
                    <!--                    <p ng-if='menu.totalprice > 0'>
                                            <span ng-bind="menu.notes"></span>
                                            <span style="font-weight: normal">    ---    {{ menu.qte}} x SGD {{menu.price}} = SGD {{menu.totalprice}}</span>
                                        </p>-->

                    <div  ng-if='menu.totalprice > 0'>
                        <div ng-bind="menu.notes" style="float:left;width: 50%"><p class="cart-header">TOTAL</p></div>
                        <div style="float:left;width: 20%;text-align:center">{{menu.qte}}</div>
                        <div style="text-align:right">SGD {{menu.totalprice}}</div>
                    </div>


                </div>

                <div class="cart-header" ng-if="!menu.setmeal">
                    <p ng-if='menu.totalprice > 0'><span ng-bind="menu.notes"></span></p>
                </div>




                <div class="item" ng-repeat="item in menu.items" ng-if='item.qte > 0 && menu.menuID == item.displayID'>
                    <div ng-if="menu.setmeal">
                        <div class="item-name" ng-if="menu.food && !menu.option">
                            <p style="font-style:italic; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">
                                <span style="font-style: italic; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind="item.item_title"></span>
                            </p>
                        </div>

                        <div class="item-name" ng-if="!menu.food || menu.option">
                            <p style="font-style:italic; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;"> 
                                <span ng-bind="item.item_title" style="text-decoration: underline"></span>
                            </p>
                        </div>

                        <div class="item-number text-center">
                            <span ng-bind="item.qte"></span>
                        </div>
                    </div>
                    <div ng-if="!menu.setmeal">
                        <div class="item-name" ng-if="menu.food && !menu.option">
                            <p> <span style="font-style: italic; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind="item.item_title"></span></p>
                        </div>

                        <div class="item-name" ng-if="!menu.food || menu.option">
                            <p  > <span ng-bind="item.item_title" style="text-decoration: underline"></span></p>
                        </div>

                        <div class="item-number text-center">
                            <span ng-bind="item.qte"></span>
                        </div>
                        <div class=" ">
                            <p style="text-align:right"><span ng-bind="item.currency"></span> <span>{{item.price * item.qte}}</span></p>
                        </div>
                    </div>



                    <div class="item-remove text-center" style="float:right">
                        <span ng-if="status == 'request_sent'" class="fa fa-remove" ng-click="removeItem(item)"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div class="pricing">
           
<!--            <p ng-if ="deposit === 'nodeposit'">
                <span>No deposit required  </span>
            </p>
             <p ng-if ="deposit !== 'nodeposit'">
                <span >{{deposit}}% Deposit Required </span>
            </p>-->

            <div style="font-size:12px;">
                <p>
                    <span>Sub-total</span>
                    <span style="float:right" >SGD {{(totalamount | number:2)}}</span>
                </p>
                <p>
                    <span>Service charge (10%)</span>
                    <span style="float:right" >{{(totalamount * 0.10 | number:2)*1}}</span>
                </p>
                <p>
                    <span>GST (7%)</span>
                    <span style="float:right">{{(totalamount * 0.07 | number:2)*1}}</span>
                </p>
            </div>
            <p>
                <span>TOTAL</span>
                <span style="float:right" >SGD {{(totalamount * 1.10 * 1.07 | number:2)}}</span>
            </p>
<!--            <p ng-if =" deposit !== 'nodeposit' && totalamount >0 ">
                <span > Deposit amount </span>
                <span style="float:right" >SGD {{((totalamount * 1.10 * 1.07)*(deposit / 100) ) | number:2 }}</span>
            </p>-->

            <p ng-if ='minimumorder && minimumorder > 0 && (totalamount * 1.10 * 1.07) <= minimumorder ' style='color:red;'>
                <span>Minimum Order</span>
                <span style="float:right" >SGD {{minimumorder}}</span>
            </p>
    
        </div>

        <div class="order-now" >
            <button ng-if="selectioncomplete && status == 'request_sent'" class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="saveEventMenu('selected')">Continue</button>
        </div>
    </div>
</div>