{% include 'member/menu.html.twig' %}

<div class="container">
    <div class="dashboard_item">
        <h3>{[{translate.last_bookings}]}</h3>
        {% for item in datas.last_bookings|cast_to_array %}
            {% set booking = item|cast_to_array %}
            {% set restaurant_info = booking.restaurantinfo|cast_to_array %}
            <div class="vignette booking_vignette">
                <div class="picture">

                </div>
                <div class="infos">
                    <h4>{[{restaurant_info.title}]}</h4>
                    <p>{[{booking.rdate|date("F jS Y")}]} at {[{ booking.rtime|date("g:ia")}]}</p>
                    <p>Covers: {[{booking.cover}]}</p>
                </div>
            </div>
        {% else %}
            <div class="infos">
                <label>No booking avalable - Book now</label>
            </div>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
    <div class="dashboard_item">
        <h3>Last Wheels</h3>
        {% for item in datas.last_wins|cast_to_array %}
            {% set booking = item|cast_to_array %}
            {% set restaurant_info = booking.restaurantinfo|cast_to_array %}
            <div class="vignette booking_vignette">
                <div class="picture">

                </div>
                <div class="infos">
                    <h4>{[{restaurant_info.title}]}</h4>
                    <p>{[{booking.rdate|date("F jS Y")}]} at {[{ booking.rtime|date("g:ia")}]}</p>
                    <p>Win: {[{booking.wheelwin}]}</p>
                </div>
            </div>
        {% else %}
            <div class="infos">
                <label>You never spined the wheel</label>
            </div>
        {% endfor %}
    </div>
    <div style="clear:both"></div>
    <div class="dashboard_item">
        <h3>Last reviews</h3>
        {% for item in datas.bookings|cast_to_array %}
            {% set booking = item|cast_to_array %}
            {% set restaurant_info = booking.restaurantinfo|cast_to_array %}

        {% else %}
            <div class="infos">
                <label>No reviews</label>
            </div>
        {% endfor %}
    </div>
</div>