{% include 'member/menu.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-3 member_left_menu">
            <ul>
               
                <li>
                    <a href='myreviews&f=past' id="member-myreview-past">{%if  data.active_filter == 'past'%}<b>Your reviews</b>{%else %}Your reviews{%endif %}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9  right_item" >

            <div id='success' class="alert alert-success" style='display:none'><a href="#" class="close" data-dismiss="alert">&times;</a><strong></strong>Review saved</div>

            {% for item in data.expected_reviews|cast_to_array %}
                {% set expected_reviews = item|cast_to_array %}
                {% set restaurant_info = expected_reviews.restaurantinfo|cast_to_array %}

                <form action='' method="POST" name="form_{[{expected_reviews.confirmation}]}" id="form_{[{expected_reviews.confirmation}]}">
                    <div class="vignette review_vignette" id='vignette_{[{loop.index}]}'>
                        <div class="col-md-3 vignette_picture">
                            <a href='{[{restaurant_info.internal_path}]}'>
                                <img src='{[{data.image_resto[restaurant_info.restaurant]}]}' />
                            </a>
                        </div>
                        <div class="col-md-9 infos">
                            <h4>{[{restaurant_info.title}]}</h4>
                            <p>{[{expected_reviews.rdate|date("F jS Y")}]} at {[{ expected_reviews.rtime|date("g:ia")}]}</p>



                            <div class="form-group row" style="margin-bottom: 15px;">
                                <label for="slider_food_{[{loop.index}]}" class="col-sm-3">Food</label>
                                <div class="col-sm-6 food_grn">
                                    <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_food_{[{loop.index}]}">
                                        <input type="hidden" value="0" class="form-control input-sm" id="text_slider_food_{[{loop.index}]}" name="text_slider_food_{[{loop.index}]}" placeholder="slider_{[{loop.index}]}" readonly=""></div> 
                                </div>
                                <div id="test" class="col-sm-3">

                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom: 15px;">
                                <label for="slider_ambiance_{[{loop.index}]}" class="col-sm-3">Ambiance</label>
                                <div class="col-sm-6  ambiance_ylw">
                                    <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_ambiance_{[{loop.index}]}"> </div> 
                                </div>
                                <div class="col-sm-3">
                                    <input type="hidden" value="0" class="form-control input-sm" id="text_slider_ambiance_{[{loop.index}]}" name="text_slider_ambiance_{[{loop.index}]}" placeholder="slider_{[{loop.index}]}" readonly="">
                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom: 15px;">
                                <label for="slider_service_{[{loop.index}]}" class="col-sm-3">Service</label>
                                <div class="col-sm-6 service_red">
                                    <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_service_{[{loop.index}]}"> </div> 
                                </div>
                                <div class="col-sm-3">
                                    <input type="hidden" value="0" class="form-control input-sm" id="text_slider_service_{[{loop.index}]}" name="text_slider_service_{[{loop.index}]}" placeholder="slider_{[{loop.index}]}" readonly="">
                                </div>
                            </div>

                            <div class="form-group row" style="margin-bottom: 15px;">
                                <label for="slider_price_{[{loop.index}]}" class="col-sm-3">Price</label>
                                <div class="col-sm-6 price_grn">
                                    <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_price_{[{loop.index}]}"> </div> 
                                </div>
                                <div class="col-sm-3">
                                    <input type="hidden" value="0" class="form-control input-sm" id="text_slider_price_{[{loop.index}]}" name="text_slider_price_{[{loop.index}]}" placeholder="slider_{[{loop.index}]}" readonly="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3" for="review_comment">Comment</label>
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="50" style="width:100%; min-height:150px" name="review_comment_{[{loop.index}]}" id="review_comment_{[{loop.index}]}"></textarea>
                                </div>
                            </div>
                            <div style="padding: 15px;text-align:center;" class="spin_wheel_info">
                                <input type="button" id="{[{loop.index}]}" class="btn btn-info-grey btn_submit_review" value="Review now">
                            </div>  
                        </div>
                    </div>
                    <input type='hidden' id='confirmation_id_{[{loop.index}]}' value='{[{expected_reviews.confirmation}]}'>
                    <input type='hidden' id='restaurant_id_{[{loop.index}]}' value='{[{restaurant_info.restaurant}]}'>
                </form>
            {% else %}
                {% for item in data.conducted_reviews|cast_to_array %}
                    {% set conducted_reviews = item|cast_to_array %}
                    <div class="vignette review_vignette" id='vignette_{[{loop.index}]}'>
                        <div class="col-md-3 vignette_picture">
                            <a href='{[{conducted_reviews.internal_path}]}'>
                                <img src='{[{data.image_resto[conducted_reviews.restaurant]}]}' />
                            </a>
                            <div class="reviewgrade" style="text-align:center">
                                <span>{[{conducted_reviews.reviewgrade|raw}]}</span> / 5
                            </div>    
                        </div>
                        <div class="col-md-9 infos">
                            <h4>{[{conducted_reviews.restaurant_title}]}</h4>
                            <p>{[{conducted_reviews.rdate|date("F jS Y")}]} at {[{ conducted_reviews.rtime|date("g:ia")}]}</p>
                            <div class="fb-jRate"></div>
                            <div class='form-group row'>
                                <label for='slider_food_{[{loop.index}]}' class='col-sm-3' style="margin-bottom: 0px;">Food</label>
                                <div class='col-sm-9'>
                                    <div id='text_slider_food_{[{loop.index}]}' name='text_slider_food_{[{loop.index}]}'>{[{conducted_reviews.foodgrade|raw}]} / 5</div>
                                </div>
                            </div>
                            <div class='form-group row' >
                                <label for='slider_ambiance_{[{loop.index}]}' class='col-sm-3' style="margin-bottom: 0px;">Ambiance</label>
                                <div class='col-sm-9'>
                                    <div id='text_slider_ambiance_{[{loop.index}]}' name='text_slider_ambiance_{[{loop.index}]}'>{[{conducted_reviews.ambiancegrade|raw}]} / 5</div>
                                </div>
                            </div>
                            <div class='form-group row' >
                                <label for='slider_service_{[{loop.index}]}' class='col-sm-3' style="margin-bottom: 0px;">Service</label>
                                <div class='col-sm-9'>
                                    <div id='text_slider_service_{[{loop.index}]}' name='text_slider_service_{[{loop.index}]}'>{[{conducted_reviews.servicegrade|raw}]} / 5</div>
                                </div>
                            </div>

                            <div class='form-group row'>
                                <label for='slider_price_{[{loop.index}]}' class='col-sm-3' style="margin-bottom: 0px;">Price</label>
                                <div class='col-sm-9'>
                                    <div id='text_slider_price_{[{loop.index}]}' name='text_slider_price_{[{loop.index}]}'>{[{conducted_reviews.pricegrade|raw}]} / 5</div>
                                </div>
                            </div>

                            <div class='form-group row' style='margin-top: 15px;'>
                                <label class='col-sm-3' for="review_comment">Comment</label>
                                <div class='col-sm-9'>
                                    <div readonly >{[{conducted_reviews.comment|raw}]}</div>
                                </div>
                            </div> 
                        </div>
                    </div>

                {% else %}
                    <div class="infos">
                        <label>No review available</label>
                    </div>
                {% endfor %}
            {% endfor %}
            <input type='hidden' id='user_id' value='{[{session.user.email}]}'>
        </div>
    </div>
</div>

{#<script src="js/jRating.jquery.js"></script>				
<script type="text/javascript">
    $(document).ready(function () {
        $(".sliders").jRating({
            step: true,
            length: 5,
            canRateAgain: true,
            showRateInfo: false,
            nbRates: 5,
            onClick: function (element, rate) {
                alert(rate);
                $('#msg').html(rate);
                alert($('#msg').html());
            }
        });

    });
</script>

<script>


    $(function () {

        $('body').on('click', '.btn_submit_review', function () {
            var id = $(this).attr('id');
            var confirmation_id = $('#confirmation_id_' + id).val();
            var user_id = $('#user_id').val();
            var restaurant_id = $('#restaurant_id_' + id).val();
            var food_rate = $('#text_slider_food_' + id).val();
            var ambiance_rate = $('#text_slider_ambiance_' + id).val();
            var service_rate = $('#text_slider_service_' + id).val();
            var price_rate = $('#text_slider_price_' + id).val();
            var comment = $('#review_comment_' + id).val();

            $.ajax({
                url: 'api/review',
                context: $(this),
                dataType: "json",
                type: "POST",
                data: {
                    action: 'post_review',
                    confirmation_id: confirmation_id,
                    user_id: user_id,
                    restaurant_id: restaurant_id,
                    food_rate: food_rate,
                    ambiance_rate: ambiance_rate,
                    service_rate: service_rate,
                    price_rate: price_rate,
                    comment: comment
                },
                success: function (data) {
                    $('#vignette_' + id).animate({"height": 0, "opacity": 0}, 500, function () {
                        $('#vignette_' + id).hide();
                        $('#success').show();
                        setTimeout(function () {
                            $('#success').animate({"opacity": 0}, 500, function () {
                                $('#success').hide();
                            });
                        }, 2000);
                        $('#success').css({"opacity": 1});
                    });

                },
                complete: function () {

                }
            });
            return false;
        });

    });

</script>#}