/*********************/
/** jRating CSS **/
/*********************/

/**Div containing the color of the stars */
.jRatingAverage {
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	position:relative;
	left:0;
	z-index:3;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:9999;
	background:	transparent url('../images/icons/bg_jRatingInfos.png') no-repeat;
	color:			#FFF;
	display:		none;
	width:			91px;
	height:			29px;	
	font-size:16px;
	text-align:center;
	padding-top:5px;
}
	p.jRatingInfos span.maxRate {
		color:#c9c9c9;
		font-size:14px;
	}
	.price_grn .jStar{ 
	background:	transparent url('../images/icons/8.png') repeat-x !important;
	}
	.service_red .jStar{ 
	background:	transparent url('../images/icons/6.png') repeat-x !important;
	}
	.ambiance_ylw .jStar{ 
	background:	transparent url('../images/icons/4.png') repeat-x !important;
	}
	.food_grn .jStar{ 
	background:	transparent url('../images/icons/2.png') repeat-x !important;
	}
	
	.price_grn .jRatingAverage{ 
	background:	transparent url('../images/icons/7.png') repeat-x;
	}
	.service_red .jRatingAverage{ 
	background:	transparent url('../images/icons/5.png') repeat-x;
	}
	.ambiance_ylw .jRatingAverage{ 
	background:	transparent url('../images/icons/3.png') repeat-x;
	}
	.food_grn .jRatingAverage{ 
	background:	transparent url('../images/icons/1.png') repeat-x;
	}
	