<!doctype html>
<html ng-app="loginApp">
<head>
    <meta charset="utf-8">
    <title>Dialog demo</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/ui-bootstrap-tpls-0.12.1.min.js"></script>
</head>

<script> var app = angular.module('loginApp',['ui.bootstrap']); </script>
<body ng-controller="ModalDemoCtrl">

<div>
    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
<h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
<ul><li ng-repeat="item in items"><a ng-click="selected.item = item">{{ item }}</a></li></ul>
Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok()">OK</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>

<script type="text/ng-template" id="embededcallcenter.html">
<div class="modal-body" style="width=650px;margin:0 0 0 0;">
<iframe ng-src={{urldata.value}} width='540' height='730' frameBorder='0' margin='0'></iframe>
</div>
</script>
<script>

app.controller('ModalDemoCtrl', function ($scope, $uibModal, $log) {

  $scope.items = ['item1', 'item2', 'item3'];

  $scope.animationsEnabled = true;
  $scope.urldata = { value: "../modules/booking/book_form.php?bkrestaurant=SG_SG_R_TheFunKitchen&bktitle=The_Fun_Kitchen&krht=83" };
  
  $scope.open = function (size) {

    var modalInstance = $uibModal.open({
      animation: $scope.animationsEnabled,
      templateUrl: 'embededcallcenter.html',		//'myModalContent.html',
      controller: 'ModalDemoCtrl',
      size: size,
    });

    modalInstance.result.then(function (selectedItem) {
      $scope.selected = selectedItem;
    }, function () {
      alert('Modal dismissed at: ' + new Date());
    });
  };

  $scope.toggleAnimation = function () {
    $scope.animationsEnabled = !$scope.animationsEnabled;
  };

});

</script>
</body>
</html>
