<div class="modal-header-dsb">
  <h1 class="modal-title">Post A Daily Special</h1>
  <div class = "dailytitlesub"><a ng-click="showregistration()">First Time? Click here.</a></div>
</div>
<div class="modal-body">
    <div class="container-fluid">
      <form id="form-border" enctype="multipart/form-data" name="Dailyspecialform" ng-submit="saveitemnew(Dailyspecialform)" novalidate style="padding:5px;">
        <div class="row">
          <div class="col-md-5">Email Address<input class="form-control" type="text" value="" ng-model="login.email"></div>
          <div class="col-md-2"></div>
          <div class="col-md-5">Password <input class="form-control" type="Password" value="" ng-model="login.password"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"><input class="form-control" type="text" placeholder="Headline" ng-model="restaurantdsb.headline"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"><textarea class="form-control" placeholder="Description" rows="5" ng-model="restaurantdsb.description"></textarea></div>
        </div>
        <br>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <input type="file" name="img" id="img" class="form-control input-sm" onchange="angular.element(this).scope().uploadImagedsb(this)" ng-model="file" placeholder="Upload Files">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"><label class="col-2 col-form-label">Select up to 3 categories</label></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <center>
              <select ng-model="restaurantdsb.selectedOption['cat1']" 
                      ng-options="cuisines.cuisine as cuisines.cuisine for cuisines in cuisinelist">
                  <option value="">Select Categories</option>
              </select>
            </center>  
          </div>
          <div class="col-md-4">
            <center>
              <select ng-model="restaurantdsb.selectedOption['cat2']" 
                      ng-options="cuisines.cuisine as cuisines.cuisine for cuisines in cuisinelist">
                  <option value="">Select Categories</option>
              </select>
            </center>
          </div>
          <div class="col-md-4">
            <center>
              <select ng-model="restaurantdsb.selectedOption['cat3']" 
                      ng-options="cuisines.cuisine as cuisines.cuisine for cuisines in cuisinelist">
                  <option value="">Select Categories</option>
              </select>
            </center> 
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
             <center><button type="submit" class="btn btn-success custombtn">Add you post now</button></center>
          </div>
        </div>

      </form>
      
    </div>
</div>