<!--Mask-->
<div class="view hm-black-strong">
	<div class = "banner">
		
		<div class="container wy-center">
			<div class="row" id="home">

				<!--First column-->
<!-- 					<div class="description">
						<h1 class="h1-responsive wow fadeInLeft">The Leading Restaurant Technology Partner</h1>
						<br>
					</div> -->
					      <p class="center">
          <span class="tech">
            <img id = "textheader" src="img/text1.png" />
          </span>
        </p>
				<!--/.First column-->
				
				<!--/Second column-->
			</div>
			<div class="row">
				<a class="btn btn-mdb wy-get-started" href="#contact">Contact Us</a>
			</div>
			
		</div>
		
	</div>
</div>
<!--/.Mask-->
