<header>
<!--Navigation & Intro-->
<div ng-include="'partials/navbar.htm'"></div>
<!--/Navigation & Intro-->

<!--Navigation & Intro-->
<div ng-include="'partials/headerview.htm'"></div>
<!--/Navigation & Intro-->

</header>

<!--Main layout-->
<main class="wy-main customwidth">
	<div class="container-fluid">

<!--Section: Products v.1-->
<section class="section" id="missions">
<div class="divider-new"><h2 class="h2-responsive">A technology & marketing solutions specialist serving the restaurant industry</h2></div>

	<p class='mysection'>
	Tools designed for the demanding requirements of restaurateurs.	
	</p>
	<p class='mysection'>
	Restaurants have unique challenges, needs and workflows that require unique solutions. Our product suite is designed specifically for restaurants to streamline workflows, create operational efficiencies, eliminate administrative redundancies and allow staff and management to focus on providing an optimal dining experience for their guests.
	</p>



	<!--First row-->
	<div class="row">
		<!--First column-->
		<div class="col-md-4 mb-r">

			<!--Card-->
			<div class="card card-cascade narrower">

				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="img/pict/img_white_label.jpg" class="img-fluid" alt="">
					<div class="mask"></div>
				</div>
				<!--/.Card image-->

				<!--Card content-->
				<div class="card-block">
					<!--Category & Title-->
					<h5></h5>
					<h4 class="card-title text-xs-center">White Label Tech Stack</h4>

					<!--Description-->
					<p class="card-text">Weeloy is a white label technology stack designed to provide you with the tools and back office services you need to run your business, while at the same time protecting your brand. All of our services operate behind the scenes.</p>

				</div>
				<!--/.Card content-->  

			</div>
			<!--/.Card-->

		</div>
		<!--/First column-->

		<!--Second column-->
		<div class="col-md-4 mb-r">
			<!--Card-->
			<div class="card card-cascade narrower">

				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="img/pict/img_workflow.jpg" class="img-fluid" alt="">
					<div class="mask"></div>
				</div>
				<!--/.Card image-->

				<!--Card content-->
				<div class="card-block">
					<!--Category & Title-->
					<h5></h5>
					<h4 class="card-title text-xs-center">Workflow Management</h4>

					<!--Description-->
					<p class="card-text">Streamline workflow inefficiences and eliminate admin redundancies, freeing up more of your time so that you can focus on your core business and providing your customers with a great dining experience.</p>

				</div>
				<!--/.Card content-->  
			</div>
			<!--/.Card-->
		</div>
		<!--/Second column-->

		<!--Third column-->
		<div class="col-md-4 mb-r">
			<!--Card-->
			<div class="card card-cascade narrower">

				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img src="img/pict/img_manage&le.jpg" class="img-fluid" alt="">
					<div class="mask"></div>
				</div>
				<!--/.Card image-->

				<!--Card content-->
				<div class="card-block">
					<!--Category & Title-->
					<h5></h5>
					<h4 class="card-title  text-xs-center" >Manage & Leverage Data</h4>

					<!--Description-->
					<p class="card-text">Our cloud software helps you to centralize and manage all of your data in one system, and leverage it to optimize your operations, provide superior customer service and run highly-targeted marketing campaign and promotions.</p>
				</div>
				<!--/.Card content-->  

			</div>
			<!--/.Card-->
		</div>
		<!--/Third column-->
	</div>
	<!--/First row-->

</section>
<!--/Section: Products v.1-->

<!--Projects section v.2-->
<section class="section">
            <div class="divider-new">
                <h2 class="h2-responsive" id ="customheader">What we do</h2>
            </div>

    <!--Section heading-->
      <!--Section description-->
    <p class='mysection'>Our solutions are built in three pillars.</p>

    <!--First row-->
    <!-- <div ng-repeat="subservice in service"  class="row text-xs-center"> -->
	<div class="row text-xs-center">
        
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
            <div class="innercontent">
                <h4>B2B</h4>
                <h5>Back Office Suite</h5> 
                <!--Featured image-->
                <div>
                    <img class="img-fluid" ng-src="img/pict/whatwedo-b2b.jpg" width="400px">
                </div>

                <!--Excerpt-->
                <div class="card-block" id = "customp">
                    <ul>
                        <li>Full-featured, integrated technology platform</li>
                        <li>Cloud-based, SaaS model</li>
                        <li>White label</li>
                        <li>Workflow management and data consolidation</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
            <div class="innercontent">
                <h4>B2C</h4>
                <h5>Weeloy.com</h5> 
                <!--Featured image-->
                <div>
                    <img class="img-fluid" ng-src="img/pict/whatwedo-b2c.jpg" width="400px">
                </div>

                <!--Excerpt-->
                <div class="card-block" id = "customp">
                    
                    <ul>
                        <li>Browse top restaurants and book instantly</li>
                        <li>Comprehensive restaurant listing</li>
                        <li>Daily Specials Board</li>
                        <li>Events, specials and promotions</li>
                    </ul>
                    
                </div>
            </div>
        </div>
       
         <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
            <div class="innercontent">
                <h4>Marketing Services</h4>
                <h5>Advertising & Development</h5> 
                <!--Featured image-->
                <div>
                    <img class="img-fluid" ng-src="img/pict/whatwedo-ma.jpg" width="400px">
                </div>

                <!--Excerpt-->
                <div class="card-block" id = "customp">
                    <ul style="list-style-position: inside">
                        <li>Facebook advertising managed service</li>
                        <li>Website development & maintenance</li>
                        <li>Creative services</li>            
                    </ul>
                </div>
            </div>
        </div>
    </div>
                <!--/First row-->
                    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-8 mb-r">
            <!--Excerpt-->
            <h4>It's all about ... Data.</h4>
            <p>The world revolves around data. In the Information Age data is the key to success in any business. Your business receives, processes and creates data every minute of every day. How are you managing it? Where are you storing it? How are you leveraging it to help your business? How are you leveraging it to optimize your marketing? Our solutions are built around the idea that everything comes down to managing, understanding and using data to improve your business. This is at the heart of everything we do.</p>
        </div>
        <div class="col-md-1 mb-r"> </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-3 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="img/pict/img_all_about_data.jpg">
                <div class="mask"></div>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->


    </section>
            <!--/Projects section v.2-->

<!--Section: Magazine v.1-->
<section class="section magazine-section">

    <!--Section heading-->
    <div class="divider-new"><h2 class="h2-responsive" id ="customheader">Our Approach</h2></div>

    <!--Section description-->
    <p class='mysection'>A consultative, data-driven approach to providing solutions to real business goals and challenges.</p>

    <!--First row-->
    <div class="row text-left">

        <!--First column-->
        <div class="col-lg-6 col-md-12">

            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach001.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>One stop shop</h4>
                        <p>
                        Our technology is built from the ground up, by our in-house engineers, which means that all of our products are fully-integrated and stable and ready to go.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach002.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>A cloud SaaS platform</h4>
                        <p>
                        No installation. No hardware. The software is in the cloud. All updates, upgrades and improvements are made automatically and seamlessly.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach003.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Enhanced security</h4>
                        <p>
                        All data is stored securely on secure servers with built-in redundancy. Your data is always secure.
                        </p>
                    </div>

                </div>
            </div>

            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach004.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Protect your brand</h4>
                        <p>
                        Increase your brand visibility with White Label solutions to increase direct revenue.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-lg-6 col-md-12">


            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach005.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Get more repeat guests</h4>
                        <p>
                        A CRM to manage your clients preferences and increase your repeat guests.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach006.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Simply manage all channels</h4>
                        <p>
                        Centralise online reservations from all channels, guest calls and walk-ins to optimise and simplify your table management.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach007.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Enhanced marketing</h4>
                        <p>
                        Leverage data and learnings to optimize marketing campaigns using our built-in CRM & events and payment solutions.
                        </p>
                    </div>

                </div>
            </div>
            <!--/Small news-->
            <div class="single-news">

                <div class="row">
                    <div class="col-md-3">

                        <!--Image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/pict/b2b_ourapproach008.jpg">
                            <!-- <a> -->
                                <div class="mask"></div>
                            <!-- </a> -->
                        </div>
                    </div>

                    <!--Excerpt-->
                    <div class="col-md-9">
                        <h4>Support</h4>
                        <p>
                        We are 100% dedicated to making you successful, with a dedicated team providing you consulting & best practices.
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

</section>

<section class="section feature-box">

    <!--Section heading-->
    <div class="divider-new"><h2 class="h2-responsive" id ="customheader">Back Office Suite</h2></div>
    <!--Section sescription-->
    <p class='mysection'>A full-featured technology tool suite built specifically for the demanding needs and workflows of restaurants.</p>
    <!--First row-->
    <div class="row features-small ">

        <!--First column-->
        <div class="col-md-4 col-xs-12 customleft">
            <!--First row-->
            <div class="row">
                <div class="col-10">
                    <h4>Reservation System</h4>
                    <p>White label on-line reservation system, with instant confirmation email, sms and reviews widget, includes CRM with guest profiles management.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
                
                <div class="col-10">
                    <h4>Table Management System</h4>
                    <p>Cloud-based solution, multi device, multi layout system, table grouping, automatic table allocation, overwrite functions. Includes Call Management and Wait List.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
                <div class="col-10">
                    <h4>Payment System</h4>
                    <p>Integrates to Reservation System and Event Management, accepts deposit, partial and full payment, cancellation and refund processing.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Third row-->
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4 col-xs-12 mb-r center-on-small-only flex-center customtop">
            <img src="img/ipad-TMS.png" alt="" class="z-depth-0">
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4 col-xs-12 customright">
            <!--First row-->
            <div class="row">
                <div class="col-10">
                    <h4>Booking Consolidation</h4>
                    <p>Aggregate reservations from all channels and manage all through a single interface. Automate table allotment, accept payments, manage customer profiles and review cross-channel reporting & analytics.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
                <div class="col-10">
                    <h4>Call Management Software</h4>
                    <p>Automates incoming call processing, instant guest notification by SMS and email, identifies staff, integrates to CRM with guest profile display.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
                <div class="col-10">
                    <h4>Event Management Software</h4>
                    <p>Enables your customers to easily reserve and plan their event, includes event ticketing, event calendar, integrates to Payment System, and website widget.</p>
                    <div style="height:30px"></div>
                </div>
            </div>
            <!--/Third row-->
        </div>
        <!--/Third column-->
    </div>
    <!--/First row-->

</section>
<!--/Section: Features v.4-->


<!--Section: Blog v.1-->
<section class="section feature-box">

    <!--Section heading-->
    <div class="divider-new"><h2 class="h2-responsive">Weeloy.com</h2></div>

    <!--Section description-->
    <p class='mysection'>B2C reservation and distribution platform with innovative features and functionalities to enable restaurants to drive traffic, increase bookings, leverage data and enhance the guest experience.	</p>

    <div class="row text-xs-center">
        <!--First column-->
        <!-- <div ng-repeat="x in subservice" class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s"> -->
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
        <!-- <a href=""><h5><i class="fa fa-bullhorn blue-text" style="font-size:25px"></i></h5></a> -->
                

            <!--Featured image-->
            <div>
                <img class="img-fluid" ng-src="img/pict/weeloy.com-findabook.jpg" width="350px">
            </div>

            <!--Excerpt-->
            <div class="card-block" id = "customp">
                <h4>Find & book a table</h4>
                <ul>
                <!-- <li ng-repeat="y in x.list">{{ y }}</li> -->
                    <li>Search our comprehensive directory of
  restaurants, bars and cafes</li>
                    <li>Browse our listing of partner businesses with
  info, photos, menus & more </li>
                    <li>Book a table instantly</li>
                    <li>Exclusive events & promotions</li>

                </ul>
                <!-- </p> -->
                <!--<a class="{{ x.button }}">Learn more</a>-->
            </div>

        </div>
        <!--/First column-->
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
        <!-- <a href=""><h5><i class="fa fa-bullhorn blue-text" style="font-size:25px"></i></h5></a> -->
                
            <!--Featured image-->
            <div>
                <img class="img-fluid" ng-src="img/pict/weeloy.com-daily.jpg" width="350px">
            </div>






            <!--Excerpt-->
            <div class="card-block" id = "customp">
                <h4>Daily Specials Board</h4>
                <ul>
                <!-- <li ng-repeat="y in x.list">{{ y }}</li> -->
                    <li>An innovative social promotion platform</li>
                    <li>Post every day to tell people why they should
  visit your business & generate interest </li>
                    <li>Reach a massive, engaged audience</li>
                    <li>Use data to learn what types of messages work
  best on which days</li>
                </ul>
                <!-- </p> -->
                <!--<a class="{{ x.button }}">Learn more</a>-->
                <br>
                <center><a class="btn btn-mdb wy-get-started" href ng-click="registernewresto()">Register</a></center>
            </div>

        </div>

         <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
        <!-- <a href=""><h5><i class="fa fa-bullhorn blue-text" style="font-size:25px"></i></h5></a> -->
                

            <!--Featured image-->
            <div>
                <img class="img-fluid " ng-src="img/pict/weeloy.com-mag.jpg" width="350px">
            </div>

            <!--Excerpt-->
            <div class="card-block" id = "customp">
            <h4>Weeloy Magazine</h4>
                <ul style="list-style-position: inside">
                <!-- <li ng-repeat="y in x.list">{{ y }}</li> -->
                    <li>Dining & food culture lifestyle online magazine &
  weekly EDM to our database</li>
                    <li>Original and curated content</li>
                    <li>Visual, beautiful layout</li>
                    <li>Promotional opportunities foe Weeloy partners</li>
                    
                </ul>
                <!-- </p> -->
                <!--<a class="{{ x.button }}">Learn more</a>-->
            </div>

        </div>
    </div>
   

</section>
<!--/Section: Features v.1-->

<!--Section: Features v.3-->
<section class="section magazine-section">


    <div class="divider-new"><h2 class="h2-responsive" id ="customheader">Marketing Services</h2></div>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-r offset-md-1 wow fadeIn">
            
            
                <div class="col-md-6 offset-md-3 ">
                    <div class="overlay hm-white-slight">
                        <img src="img/pict/mrk-fb.jpg" alt="" class="z-depth-0">
                            <div class="mask"></div>
                    </div>
                </div> 
                <br>
                <div class="clearme"></div>
                <h4>Facebook Advertising Managed Service</h4>
                <p>• Set up, Creative, Management, Optimization<br>
                   • Reporting, Actionable insights, Consulting & best practices<br>
                </p>
            

        </div>
        <div class="col-lg-2 col-md-3 mb-r wow fadeIn">
            
        </div>

        <div class="col-lg-4 col-md-6 mb-r wow fadeIn">
            
                <div class="col-md-6 offset-md-3 ">
                    <div class="overlay hm-white-slight">
                        <img src="img/pict/mrk-webdev.jpg" alt="" class="z-depth-0">
                            <div class="mask"></div>
                    </div>
                </div>
                <br>
                <div class="clearme"></div>
                <h4>Website Development & Maintenance</h4>
                <p>• Turnkey website, fully-integrated with Back Office</p>
            
            
        </div>
    </div>
    <!-- 
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <img src="img/pict/mrk-fb.jpg" alt="" class="z-depth-0">
        </div>
        <div class="col-md-6 ">
            <h4>Facebook Advertising Managed Service</h4>
            <p>•Set up, Creative, Management, Optimization<br>
               • Reporting, Actionable insights, Consulting & best practices<br>
            </p>
        </div>

     </div>
    <br>

     <div class="row">
        <div class="col-md-2 offset-md-2">
            <img src="img/pict/mrk-webdev.jpg" alt="" class="z-depth-0">
        </div>
        <div class="col-md-6">
            <h4>Website Development & Maintenance</h4>
            <p>• Turnkey website, fully-integrated with Back Office</p>
        </div>

     </div> -->

    
</section>
<!--/Section: Features v.3-->




<section class="section team-section">

	<!--Section heading-->
<div class="divider-new"><h2 class="h2-responsive" id ="customheader">Our clients speak</h2></div>
	<!--Section description-->
	<p  class='mysection'>We believe in maintaining an open relationship with our partners.</p>

<!--First row-->
<div class="row text-xs-center">

	<!--First column-->
	<div class="col-md-4 mb-r">

		<div class="testimonial">
			<!--Avatar-->
			<div class="avatar">
				<img src="img/pict/ps2.jpg" class="rounded-circle img-fluid">
			</div>

			<!--Content-->
			<h4>PS Cafe</h4>
			<h6>Asian Australian Western</h6>
			<p class="italictext"><i class="fa fa-quote-left">
                
                </i> I feel that PS.Gourmet and Weeloy were a perfect match when we first met. Both companies, having years of experience in their respective fields and still able to keep an open mind about growing their products/experiences, while maintaining a 120% focus on their guests and clients. Always wanting to perfect the perfect and always open to change.
            </p>

			<!--Review-->
			<div class="orange-text">
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
			</div>
		</div>
	</div>
	<!--/First column-->

	<!--Second column-->
	<div class="col-md-4 mb-r">
		<div class="testimonial">
			<!--Avatar-->
			<div class="avatar">
				<img src="img/pict/bac1.jpg" class="rounded-circle img-fluid">
			</div>

			<!--Content-->
			<h4>The Kitchen@Bacchanalia</h4>
			<h6>European.Fusion</h6>
			<p class="italictext"><i class="fa fa-quote-left"></i>We chose Weeloy mainly because of its flexibility to address our individual needs and procedures. The solution has done this and beyond while giving the feel we want, with our brand and style. The availability of data is a very beneficial perk rarely seen on other solutions, its application to marketing and analytics is unmatched by any other booking system.</p>

			<!--Review-->
			<div class="orange-text">
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
			</div>
		</div>
	</div>
	<!--/Second column-->

	<!--Third column-->
	<div class="col-md-4 mb-r">
		<div class="testimonial">
			<!--Avatar-->
			<div class="avatar">
				<img src="img/pict/priv1.jpg" class="rounded-circle img-fluid">
			</div>
			<!--Content-->
			<h4>Private Club</h4>
			<h6>Fusion</h6>
			<p class="italictext"><i class="fa fa-quote-left"></i>  Choosing Weeloy was a key decision as we do not operate like a normal F&B establishment. Communication to guests are rare yet we needed to ensure our brand would shine. Their white label solutions did the job. We also required Weeloy to communicate with other IT vendors, like our POS, to ensure our sales tickets had a name attached to it. </p>

			<!--Review-->
			<div class="orange-text">
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
				<i class="fa fa-star"> </i>
			</div>

		</div>
	</div>
	<!--/Third column-->

</div>
<!--/First row-->

	</section>
	<!--/Section: Testimonials v.4-->
	
</div>
</main>
<!--/Main layout-->

