<!--Navbar-->
<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

	<!-- Collapse button-->
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
	<i class="fa fa-bars"></i></button>

	<div class="container navbar-toggleable-xs wy-navbar navbarcustp">
			<!--Navbar Brand-->
			<a class="navbar-brand" href="#home"><img class="logo" src='img/logo.jpg'></a>
			<!--Links-->
		<!--Collapse content-->
		<div class="collapse navbar-toggleable-xs" id="collapseEx">

			<!--Navbar icons-->
			<ul class="nav navbar-nav nav-flex-icons hidden-xs-down" id ="customnavadj">
				<li class="nav-item wow fadeIn" data-wow-delay="0.2s" id ="nav-item">
					<a class="nav-link" target="_blank" href="https://www.facebook.com/weeloy.sg"><i class="fa fa-facebook"></i></a>
					<!-- <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a> -->
				</li>
				<li class="nav-item wow fadeIn" data-wow-delay="0.3s" id ="nav-item">
					<a class="nav-link" target="_blank" href="https://twitter.com/weeloyasia"><i class="fa fa-twitter"></i></a>
					<!-- <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a> -->
				</li>
				<li class="nav-item wow fadeIn" data-wow-delay="0.4s" id ="nav-item">
					<a class="nav-link" target="_blank" href="https://www.instagram.com/weeloysingapore/"><i class="fa fa-instagram"></i></a>
					<!-- <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a> -->
				</li>
				<li class="nav-item wow fadeIn" data-wow-delay="0.4s" id ="nav-item">
					<a class="nav-link" style="color: black">|</a>
				</li>
				 <li class="nav-item">
					<a class="nav-link lato" href="#aboutus" style="color: black" id ="nav-item">About Us<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"> 
					<a class="nav-link lato" href="#contact" style="color: black" id ="nav-item">Contact</a>
				</li>
				<!-- <li class="nav-item"> 
					<a class="nav-link lato" href ng-click="registernewresto()" style="color: black" id ="nav-item">DSB</a>
				</li> -->
			</ul>

			<ul class="navbar navbar-light bg-faded hidden-xl-up hidden-md-ip hidden-sm-up">
		        <li class="top-menu" id ="nav-item"><a class="nav-link" target="_blank" href="https://www.facebook.com/weeloy.sg"><i class="fa fa-facebook"></i></a></li>
		        <li class="top-menu" id ="nav-item"><a class="nav-link" target="_blank" href="https://twitter.com/weeloyasia"><i class="fa fa-twitter"></i></a></li>
		        <li class="top-menu" id ="nav-item"><a class="nav-link" target="_blank" href="https://www.instagram.com/weeloysingapore/"><i class="fa fa-instagram"></i></a></li>
		        <li class="top-menu" id ="nav-item"><a class="nav-link lato" href="#aboutus" style="color: black">About Us<span class="sr-only">(current)</span></a></li>
		        <li class="top-menu" id ="nav-item"><a class="nav-link lato" href="#contact" style="color: black">Contact</a></li>
		     </ul>

		</div>
		<!--/.Collapse content-->

	</div>

</nav>
<!--/.Navbar-->
