<header>
<!--Navigation & Intro-->
<div ng-include="'partials/navbar.htm'"></div>
<!--/Navigation & Intro-->

<!--Mask-->
<div class="nview "> </div>
<!--/.Mask-->

</header>
<!--/Navigation & Intro-->

<!--Main layout-->
<main>

<!-- Section: Newsletter -->
<section class="section wow fadeIn" data-wow-delay="0.3s">
<form ng-submit="onsubmit('r');" autocomplete="off"><!-- action="checkemail.php" -->	  
   
	<!-- Newsletter -->
	<div class="card z-depth-1 widget-spacing">
		<div class="card-block">

			<!-- Header -->
			<section class="text-xs-center">
				 <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; margin-top:0px;">Subscribe</h1>
			</section>
			<p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Subscribe to our newsletter to receive exclusive offers and the latest news on our products and services.</p>


			<!-- Body -->
		
			<br>

			<!-- Body -->
			<div class="md-form">
				<i class="fa fa-user prefix"></i>
				<input type="text" id="name" ng-model="user.name" class="form-control"  autocomplete="off">
				<label for="name">Your name</label>
			</div>

			<div class="md-form">
				<i class="fa fa-envelope prefix"></i>
				<input type="text" id="email" ng-model="user.email" class="form-control"  autocomplete="off">
				<label for="email">Your email</label>
			</div>

			<p>
			<div class="g-recaptcha" data-sitekey="6LdmpA4UAAAAAETsRaMqz8cjrUoyFCNwuuvJk5DS" data-callback="correctCaptcha"></div>
			<input style="position: absolute !important; left: -4000px !important; top: -4000px !important; display: none !important" value="" name="User" type="text" /><!--  -->
			</p>

			<div class="text-xs-center">
				<button class="btn btn-mdb">Send</button>
			</div>

		</div>
	</div>
	<!--/ Newsletter -->
	
</section>
<!--/ Section: Newsletter -->

</main>
