<header>
<!--Navigation & Intro-->
<div ng-include="'partials/navbar.htm'"></div>
<!--/Navigation & Intro-->

<!--Mask-->
<div class="nview "> </div>
<!--/.Mask-->

</header>
<!--/Navigation & Intro-->

<!--Main layout-->
<main>
<div class="container">


	<!--Section: Contact v.1-->
	<section class="section mb-1" id="contact">

		<!--Section heading-->
		<h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"></h1>
		<!--Section description-->
		<p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s"></p>
	
	<div class="row">

			<!--First column-->
			<div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">

				<!--Form with header-->
				

					<div class="card-block">
						<!--Header-->
						<section class="text-xs-center">
							 <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; margin-top:0px;">Terms and Conditions of Service</h1>
						</section>
						<br>

						<p>
							I consent for my personal data to be collected, used, processed and stored by Weeloy (as defined below) in connection with my use of Weeloy’s online restaurant system and table reservation services.
						</p>
						<p>
							I would like to receive all latest dining trends, promotional offers and updates from Weeloy and Weeloy's participating merchants in accordance with the following terms and conditions.
						</p>
						<p>
							In compliance with requirements of the Personal Data Protection Act 2012 ("PDPA"), Weeloy Pte. Ltd. and/or affiliates including but not limited to establishments and media partners that have entered into an “agreement” with Weeloy (collectively, “Weeloy”) have adopted this Privacy Policy. Users are strongly recommended to read this Privacy Policy carefully to have an understanding of Weeloy’s policy and practices with regard to the treatment of personal data provided by Users using Weeloy.com, its sub-domains, any other websites, media platforms or applications including mobile applications operated/developed by Weeloy (collectively, "Channels"). This Privacy Policy is applicable to both registered and non-registered Users, and the provisions herein may be updated, revised, varied and/or amended from time to time as Weeloy deems necessary. If Users have questions or concerns regarding this Privacy Policy, please contact Weeloy's Customer Service Department at +65 62211016 or email to info@weeloy.com
						</p>

						<h4>Consent for Collection of Personal Data</h4>
						<ul>
							<li>In the course of using the Channels, Users (registered or otherwise) may be requested to disclose to provide personal data in order to enjoy various services offered by the Channels. All personal data is provided voluntary. Users may refuse to provide such personal data or withdraw their consent for the collection, use disclosure and storage of their personal. In so doing, Weeloy would not be able to provide certain services on the Channels. The following personal data may be requested: name, log-in ID and password, address, email address, telephone number, age, sex, date of birth, country of residence, nationality, education level and work experience that is/are not otherwise publicly available. Occasionally, Weeloy may also collect additional personal data from Users in connection with contests, surveys, or special offers.</li>
							<li>When a User provides personal data to Weeloy, the User is deemed to have consented to the collection, storage, use and disclosure of his/her personal data to Weeloy in accordance with this Privacy Policy.</li>
							<li>If a User is under the age of 13 years ("minors"), Weeloy strongly recommends him/her to seek prior consent from a person with parental responsibility, e.g. parent or guardian, who may contact Weeloy at +65 6221 1016 or email to info@weeloy.com for registering the User as member of the Channels. Where collection of minors' personal data is made through persons claiming to be parents or guardians, Weeloy may (but is not obliged to) require proof to verify such claims.</li>
						</ul>

						<h4>Consent for Collection of Personal Data</h4>
						<ul>
							<li>Weeloy strives to only collect personal data, which is necessary and adequate but not excessive in relation to the purposes set out below. If Weeloy requires the use of Users’ personal data beyond the stated purposes, Weeloy may request the Users’ prescribed consent to the same or if a User is a minor, the prescribed consent should be given by his/her parent or guardian.</li>
							<li>Weeloy’s purposes for the collection, use and disclosure of Users' personal data include but are not limited to the following (either independently by Weeloy or together with its establishments and media partners sited in and outside of Singapore):
								<ul>
								<li>Daily operation of the services provided to Users.</li>
								<li>Identify Users who have (i) posted advertisements, materials, messages, photos, views or comments or such other information (collectively “Information”) on the Channels; (ii) viewed any information posted on the Channels; or (iii) enjoyed their benefits as members of the Channels by receiving and using marketing and promotional materials.</li>
								<li>Provide Users with (i) marketing and promotional materials for their enjoyment of benefits as members of the Channels (as detailed in Paragraph 4 below); and (ii) a platform and forum for posting photos, sharing and discussing their insights in respect of services or products related to food and beverage.</li>
								<li>Allow members of the Channels to enjoy member benefits by enrolling for special events hosted by Weeloy.</li>
								<li>Allow Weeloy to compile and analyze aggregate statistics about Users’ use of the Channels and service usage, for Weeloy’s internal use.</li>
								<li>Facilitate in the provision of services offered by Weeloy (and the participating establishment and media partners) including special events and/or promotions.</li>
							</ul>
							</li>

						</ul>

						<h4>Disclosure and Transfer of Personal Data</h4>
						<ul>
							<li>Weeloy shall not sell Users' personal data to third parties. Weeloy shall only disclose Users' personal data to third parties where Users have (or deemed to have) provided consent and in the situations expressly set out in in this Privacy Policy. If Users consent to receiving marketing information from Weeloy, Weeloy's strategic partners and business associates, Weeloy shall disclose Users' personal data to such third parties for various purposes, including but not limited to:
							<ul>
								<li>providing products and services requested by Users, including providing all marketing and other information about products and services which may be of interests to Users;</li>
								<li>allowing Weeloy's third party suppliers or external service providers working on Weeloy's behalf and providing services such as hosting and maintenance services, analysis services, e-mail messaging services, delivery services, handling of payment transactions, solvency check and address check, and/or facilitating/improving the quality of services on the Channels; and</li>
								<li>allowing Weeloy to comply with legal obligations or industry requirements, including disclosures to legal, regulatory, governmental, tax and law enforcement authorities and Weeloy's professional advisers (e.g. accountants, lawyers, and auditors).</li>
							</ul>
							</li>
							<li>Users fully understand and consent that Weeloy may transfer their personal data to any location outside of Singapore (or Users' country of domicile) for the purposes set out in this Privacy Policy. When transferring any personal data outside of Singapore, Weeloy shall protect Users' personal data to a standard comparable to the protection accorded to such personal data under the PDPA.</li>
						</ul>

						<h4>Newsletters and other Promotional Materials</h4>
						<ul>
							<li>Users acknowledge that based on their personal data provided to Weeloy and unless they have expressly opted out, Weeloy (or its media partners) may from time to time send to Users newsletters, promotional materials and marketing materials on the following classes of services, products:
							<ul>
								<li>Food and beverage related products and services.</li>
								<li>Travel related products and services.</li>
								<li>Special events hosted by Weeloy for Users, including but not limited to courses, workshops, and competitions.</li>
								<li>Reward, loyalty or privileges programs and related products and services.</li>
								<li>Special offers including e-vouchers, coupons, discounts, group purchase offers and promotional campaigns.</li>
								<li>Products and services offered by Weeloy and its advertisers (the names of such entities can be found in the relevant advertisements and/or promotional or marketing materials for the relevant products and services, as the case may be).</li>
								<li>Donations and contributions for charitable and/or non-profit purposes.</li>
							</ul>
							</li>
							<li>Suitable measures are implemented to make available to Users the option to “opt-out” of receiving such materials. In this regard, Users may choose to sign up or unsubscribe for such materials by logging into the registration or user account maintenance webpage, or clicking on the automatic link appearing in each newsletter/message, or contact the Customer Service Representative of Weeloy at +65 62211016 or email to info@weeloy.com</li>
						</ul>

						<h4>Access to Personal Data</h4>
						<ul>
							<li>All Users are entitled to access their personal data at Weeloy.com by signing in to make amendments or updates thereto, except that if a User wishes to change his/her account ID or has any question about the processing of his/her personal data or about this Privacy Policy, or does not accept the amended Privacy Policy, or wishes to withdraw any consent that has been given to Weeloy, he/she must contact Weeloy Customer support at +65 62211016 or email to info@weeloy.com. Please note that Weeloy may be prevented by law from complying with any request that a User may have submitted hereunder.</li>
							<li>Weeloy may also charge Users a fee for responding to their requests for access to their personal data as held by Weeloy. If a fee is to be charged, Weeloy shall inform the User of the amount beforehand and respond to the User's request after payment is received.</li>
						</ul>

						<h4>Cookies</h4>
						<ul>
							<li>Weeloy does not collect any personally identifiable information from Users when they visit and browse the Channels, save and except where such information is expressly requested. When Users access the Channels, Weeloy records their visits only. The Channels’ server software records the domain name server address and track the pages the Users visit and store such information in “cookies”, and gathers and stores information like internet protocol (IP) addresses, browser type, referring/exit pages, operating system, date/time stamp, and clickstream data in log files. Weeloy and third-party vendors engaged by Weeloy use cookies (e.g. Google Analytics cookies) to inform, optimize and serve marketing materials based on Users’ past visits to the Channels.</li>
							<li>Weeloy does not link the information and data automatically collected in the above manner to any personally identifiable information. Weeloy generally uses such automatically collected data to estimate the audience size of the Channels, gauge the popularity of various parts of the Channels, track Users’ movements and number of entries in Weeloy’s promotional activities and special events, measure Users’ traffic patterns and administer the Channels. Such automatically collected information and data shall not be disclosed save and except in accordance with this Privacy Policy.</li>
						</ul>

						<h4>Links to other Websites, Media Platforms and Applications</h4>
						<ul>
							<li>The Channels may have the functionalities to allow Users to share with or disclose their personal data to third parties, and/or links to other websites, media platforms and applications of third parties not owned or controlled by Weeloy. Personal data from Users may be collected on these other websites, media platforms, applications when Users visit such websites, media platforms and applications and make use of the services provided therein.</li>
							<li>Where and when Users decide to click on any advertisement or hyperlink on the Channels which grant Users access to another website, media platform and application, the protection of Users’ personal information and data which are deemed to be private and confidential may be exposed in these other websites, media platforms and applications.</li>
							<li>Non-registered Users who gain access to the Channels via their accounts in online social networking tools (including but not limited to Facebook) are deemed to have consented to the terms of this Privacy Policy, and such Users’ personal data which they have provided to those networking tools may be obtained by Weeloy and be used by Weeloy and its authorized persons in and outside of the User’s country of domicile.</li>
							<li>Users are responsible for their choice(s) and are deemed to have provided consent for any sharing of their personal data in the manner provided on or by the Channels.</li>
						</ul>

						<h4>Security of Personal Data</h4>
						<ul>
							<li>The security of Users’ personal information and data is important to Weeloy. Weeloy shall use best efforts to ensure that Users’ personal data shall be protected against unauthorized access. Weeloy has implemented appropriate electronic and managerial measures in order to safeguard, protect and secure Users’ personal data. Users are reminded to safeguard his/her unique Username and Password by keeping it secret and confidential.</li>
							<li>Weeloy uses third party payment gateway service providers to facilitate electronic transactions on the Channels. Regarding sensitive information provided by Users, such as credit card number for completing any electronic transactions, the web browser and third party payment gateway communicate such information using secure socket layer technology (SSL). Weeloy follows generally accepted industry standards to protect the personal data submitted by Users to the Channels, both during transmission and once Weeloy receives it. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while Weeloy strives to protect Users’ personal data against unauthorized access, Weeloy cannot guarantee its absolute security.</li>
						</ul>

						<h4>Retention of Personal Data</h4>
						<ul>
							<li>Weeloy has put in place measures such that Users' personal data in Weeloy's possession or control shall be destroyed and/or anonymised as soon as it is reasonable to assume that the purposes for which Users' personal data were collected are no longer being served by the retention thereof, and/or that retention thereof is no longer necessary for any other legal or business purposes.</li>
						</ul>

						<h4>Changes to this Privacy Policy</h4>
						<ul>
							<li>Weeloy reserves the right to update, revise, modify or amend this Privacy Policy in the following manner at any time as Weeloy deems necessary. Users are strongly recommended to review this Privacy Policy frequently. If Weeloy decides to update, revise, modify or amend this Privacy Policy, Weeloy shall post those changes to this webpage and/or other places Weeloy deems appropriate so that Users would be aware of what information Weeloy collects, how Weeloy uses it, and under what circumstances, if any, Weeloy discloses it. If Weeloy makes material changes to this Privacy Policy, Weeloy shall notify Users on this webpage, by email, or by means of a notice on the home page of Weeloy.</li>
						</ul>
						
						<h4>Governing Law</h4>
						<ul>
							<li>This Privacy Policy is governed by the laws of Singapore. All Users and Weeloy agree to submit to the exclusive jurisdiction of the Singapore courts in any dispute relating to this Privacy Policy.</li>
						</ul>

					</div>

				
				<!--/Form with header-->

			</div>
			<!--/First column-->

		</div>

	</section>
	<!--/Section: Contact v.1-->

</div>
</main>
<!--/Main layout-->
