<style>
    .main-content{
        margin: 20px 0px;
        font-weight: bold;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
        padding: 20px 0;
    }
    h3{
        padding: 25px;
        text-align: center;
    }
    h4{
        padding-top: 80px;

    }

    .container .wrapper{
        max-width: 750px;
        margin: auto;
    }

    .container ul{
        padding:0px;
    }

    .container li {
        list-style: outside none none;
        padding-bottom: 10px;
        text-decoration: none;
    }
</style>

<div  class="zen-month">
    <div class="container" style="">
        <h1>
            <div ng-if='!isMobile' title='Dine and win contest - Book a restaurant & Win $50 Dining vouchers' class="banner_restaurant" style="margin-top:50px;background-size:contain;background-image: url('https://static.weeloy.com/images/headers/contest-main-banner.jpg'); background-position: center center; background-repeat: no-repeat no-repeat;">
                <img src="https://static.weeloy.com/images/headers/contest-main-banner.jpg" style="visibility: hidden;max-height: 390px;max-width: 100%;" alt="Dine and win contest - Book a restaurant & Win $50 Dining vouchers"/>
            </div>
            <div ng-if='isMobile' title='Dine and win contest - Book a restaurant & Win $50 Dining vouchers' class="banner_restaurant" style="margin-top:50px;background-size:contain;background-image: url('https://static.weeloy.com/images/headers/contest-main-banner-mobile.png'); background-position: center center; background-repeat: no-repeat no-repeat;">
                <img src="https://static.weeloy.com/images/headers/contest-main-banner-mobile.png" style="visibility: hidden;max-height: 600px;max-width: 100%" alt="Dine and win contest - Book a restaurant & Win $50 Dining vouchers"/>
            </div>
        </h1>
        <div class="wrapper">
            <h2 style='padding-top:10px;'>Book a restaurant & Win $50 Dining vouchers</h2>
            <p class='main-content' >
                Book your favourite restaurant on Weeloy.com or mobile app between 10 September to 31 December 2016 and stand a chance to win $50 Dining Vouchers in our Dine & Win contest.
                10 lucky winners will win $50 dining vouchers each. Double* your chance of winning when you book with Weeloy mobile app! 
            </p>
            <div style="text-align:center; padding: 30px;">
                <button ng-click="go('/search/singapore')" analytics-on="click" analytics-event="c_book_resto" analytics-category="c_book_resto_restopage1" class="book-button btn-leftBottom-orange ng-binding">Book Now</button>
            </div>
            <h3>How to Participate</h3>
            <ul >
                <li>
                    Reserve a table and dine at any Singapore based restaurants listed on <a href="www.weeloy.com">weeloy.com</a> or Weeloy mobile app (<a href ='http://itunes.apple.com/app/id973030193' >iOS</a> or <a href ='https://play.google.com/store/apps/details?id=com.weeloy.client' >Android</a>)  between 10 September till 31 December 2016, 2359 (GMT +8, Singapore time).
                </li>
                <li>
                    All successful reservations within the qualification period automatically qualifies.
                </li>
                <li>
                    Double your chances of winning by making a reservation on Weeloy mobile app. Free to download on  App store  or  Play store
                </li>
            </ul>
            <h3> Eligibility </h3>
            <ul >
                <li>
                    Every successful reservation made on the Weeloy mobile app are entitled to 2 (TWO) chances of winning the contest and 1 (ONE) chance of winning if made on <a href="www.weeloy.com">Weeloy.com</a>.
                </li>
                <li>
                    Successful reservation – The reservation must be made between 10 September to 31 December 2016, 2359 (GMT +8, Singapore time). Reservations that were cancelled, no-show (failed to turn up) or modified outside the qualifying window will be disqualified. Weeloy reserves the right to reject any entry for any reason.
                </li>
            </ul>
            <h4> The terms and conditions </h4>
            <div style='font-style: italic;font-size: 12px;' >
                <h5 >Contest Qualification</h5>
                <p>1. This promotion is organized by Weeloy Pte Ltd ("Weeloy"). It is open to all patrons of Weeloy, except for employees of Weeloy Pte. Ltd. and participating restaurants/advertising partners, and their respective immediate family members.
                    2. This promotion is valid from <b>10 September 2016 – 31 December 2016.</b>
                    3. This promotion is open to all residents of Singapore with a valid address in Singapore and who are at least 18 years old.
                    4. Participants must make at least One successful reservation at any restaurants listed on <a href="www.weeloy.com"><b>weeloy.com</b></a> or <b>Weeloy mobile app <a href ='http://itunes.apple.com/app/id973030193' >iOS</a> or <a href ='https://play.google.com/store/apps/details?id=com.weeloy.client' >Android</a></b>.
                    5. Every successful reservation entitles the participant to One chance (if reserve on Weeloy.com) or Two chances (if reserve on Weeloy mobile app) of winning the contest during the qualification period. Participants must not cancel, no-show (failed to turn-up) or modify the booking the reservation outside the qualifying window.
                    6. Reservation must happen by 2359hour, 31 December 2016 to qualify.
                    7. Previous winners in earlier contests organized by Weeloy Pte Ltd in the past 6 months will not qualify for the draws in this campaign. Weeloy reserves the right to disqualify any such entries from previous winners at any point in time.

                <h5 >Drawing of Winner(s)</h5> 
                <p>8. Ten (10) winners will be drawn at the end of the qualifying period at <b>83 Amoy Street, Singapore 069902</b>. The Draw will be conducted on the Monday after the contest concludes, at the same venue.
                    9. A total 10 winners will win S$50 dining voucher each.
                    10. Winners will be notified via their registered email and contact number. The winners list will be announced on Weeloy Facebook by 31th December, 2016.
                    11. Participants will be contacted after the conclusion of the draw through the email address and/or telephone number provided in the reservation details and must satisfy a verification process before being declared the winner. Participants must provide a copy of their NRIC/FIN/Proof of local address for verification. If a participant cannot be contacted or fails to respond by the end of the next working day after the draw, this participant will be disqualified and another winner will be selected. Weeloy’s decision shall be final and irrevocable.
                    12. The award of the prizes may be subject to additional terms and conditions which are not mentioned herein and the winners must agree to such terms and conditions in writing in order to receive the prize. Weeloy reserves the right to declare no winner for any draw if it is unable to contact or verify participants after repeated attempts, or if a designated winner fails to agree to the additional terms and conditions or for any other reason whatsoever.
                    13. By participating in this promotion, the winners agree to participate in any form of publicity for this promotion, and to allow Weeloy to use their personal data, photographs and video/audio recordings for marketing & promotional purposes. Weeloy reserves the right to disqualify the winner(s) in the event that the winner(s) refuses or fails to participate in such publicity for this promotion.
                    14. Prizes are non-transferable or exchangeable for cash, credit, goods or services. Weeloy reserves the right to replace the prizes with other items of similar value without giving prior notice.
                    15. By participating in this promotion, the participant agrees to be bound by the official rules, regulations and decisions of Weeloy. Weeloy reserves the right to disqualify any winners if he/she is found to have violated the rules and regulations in any way. The decisions of Weeloy on all matters relating to this promotion are final, conclusive and binding.</p>

                <h5 >Personal Data</h5> 
                <p> 16. Each participant’s personal data will be collected, used, disclosed and/or processed by Weeloy Pte Ltd for the following purposes:
                    (a) For Weeloy or its designated representatives or business partners to provide goods and services to you or parties designated by you and matters ancillary thereto.
                    (c) For verification and record of your personal particulars including comparing it with information from other sources and using the information to communicate with you.
                    (d) For research and analysis, including surveys and polls.
                    (e) To send you notices, information, promotions and updates including marketing and advertising materials in relation to Weeloy’s goods and services and those of third party organizations selected by Weeloy.
                    (f) To be disclosed to the sponsors/advertisers for the purpose of prize collection.</p>
            </div>
        </div>
    </div>
</div>
