<!doctype html>
<html ng-app="ElasticSearch">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<!--     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script> -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="Search.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-controller="SearchController">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
			  	City: <input type="text" ng-model="city">
			</div>
			<div class="col-sm-2">
			  	Region: <input type="text" ng-model="region"></br>
			</div>
			<div class="col-sm-2">			  	
			  	Query: <input type="text" ng-model="query"></br>
			</div>
		<!-- 		Type: <select ng-model="selectedType">
					<option ng-repeat="t in types">{{t}}</option>
				</select></br>
		 -->
<!-- 		 </div>
		 <div class="row" style='margin-top:10px;'> -->		 	
		 	<div class="col-sm-2">
		 		<button ng-click="search()" ng-disabled="disable_search">Search</button>
		 	</div>
		 	<div class="col-sm-2" valign="bottom">
		 		<span>{{count}} found</span>
		 	</div>
		 	<div class="col-sm-2" valign="bottom">
		 		<span>{{duration}} ms</span>
			</div>
		</div>
        <div style=" clear: both;"></div>
		<table width='100%' class="table table-condensed table-striped" style='font-size:12px;margin-top:10px;'>
			<thead>
				<tr>
				<th ng-repeat="t in tabletitle">
					<a href="#" ng-click="orderByField='{{t}}'; reverseSort = !reverseSort">
						{{t}}<span ng-show="orderByField == '{{t}}'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
					</a>
				</th>
				<!-- <th ng-repeat="t in tabletitle"><a href="#" ng-click="orderByField='{{t}}'; reverseSort = !reverseSort">{{t}}</a></th> -->
				</tr>
			</thead>
			<tbody style='font-family:helvetica;font-size:12px;'>
			<tr ng-repeat="result in results | orderBy:orderByField:reverseSort" style='font-family:helvetica;font-size:11px;'>
				<td>{{$index + 1}}</td>
				<td>{{result.region}}</td>
				<td>{{result.title}}</td>
				<td>{{result.cuisine}}</td>
				<td>{{result.tags}}</td>
				<td>{{result.item_title}}</td>
				<td>{{result.event}}</td>
				<td>{{result.score}}</td>
		   </tr>
		   </tbody>
	   </table>
	</div>
  </body>
</html>