Delivered-To: mailboxtigersmilk@gmail.com
Received: by 10.25.234.195 with SMTP id y64csp1688875lfi;
        Tue, 21 Mar 2017 00:39:49 -0700 (PDT)
X-Received: by 10.200.51.19 with SMTP id t19mr29941823qta.242.1490081988969;
        Tue, 21 Mar 2017 00:39:48 -0700 (PDT)
Return-Path: <0100015aefcebd4d-cff770ad-6425-42fa-bb4d-fe3df35ca008-000000@amazonses.com>
Received: from a8-31.smtp-out.amazonses.com (a8-31.smtp-out.amazonses.com. [54.240.8.31])
        by mx.google.com with ESMTPS id f50si15021435qte.12.2017.03.21.00.39.48
        for <mailboxtigersmilk@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Tue, 21 Mar 2017 00:39:48 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015aefcebd4d-cff770ad-6425-42fa-bb4d-fe3df35ca008-000000@amazonses.com designates 54.240.8.31 as permitted sender) client-ip=54.240.8.31;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015aefcebd4d-cff770ad-6425-42fa-bb4d-fe3df35ca008-000000@amazonses.com designates 54.240.8.31 as permitted sender) smtp.mailfrom=0100015aefcebd4d-cff770ad-6425-42fa-bb4d-fe3df35ca008-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1490081988; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=KrrnnSJ4PH3tLebNC+5A5t5j0YLMNoQSM1QQh5V/a5E=; b=E1DBaTp/Go9vHIaMZYWXs1e1UP9lqnvqjHFq20fNY/EW7urxzJnLdcUfEXSXQe+N excIOX6ESV2UpMKKI6oY1QBpvOIFwf58GCFmXFEly2CNNT70lo/HrQO9yJcs6SsPubd Q0TlWdxuRKsFfd481LQE3Bs1jhfCTP8nX+1psCFU=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1490081988; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=KrrnnSJ4PH3tLebNC+5A5t5j0YLMNoQSM1QQh5V/a5E=; b=Wdp6Q2Q0k1XaoFiIBHoo3hxGHbV+NwW4IFZmM1Q+DxynK46cf6WDWjWzURI1dA1r EnFQ7TLYdLcKM5t0SYALnruXx7Pb1f4S72O74zyUs9YOQwsXxw3sJ77RVlvMhNJYMad Ibia2T0J51dC2hN+eLYfU2EKPgEbCZhTO5ClETjc=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Tue, 21 Mar 2017 07:39:48 +0000
Message-ID: <0100015aefcebd4d-cff770ad-6425-42fa-bb4d-fe3df35ca008-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject: CANCELLATION of TableDB Reservation for Wednesday, 22nd March 2017, 7:15 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1490081986862"
MIME-Version: 1.0
X-SES-Outgoing: 2017.03.21-54.240.8.31
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1490081986862
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear Tiger&#39;s MilkManagement,
We have received a reservation CANCELLATION for Tiger&#39;s Milkfor 2 on We=
dnesday, 22nd March 2017, 7:15 PM.
The details of the CANCELLED reservation are as follows:
Reservation Information: 2 on Wednesday, 22nd March 2017, 7:15 PMCustomer N=
ame: Mr. SeanTayCustomer Email:seantay07@gmail.comCustomer Contact: +65 903=
07101Please proceed with the necessary updates for the cancellation.
Thank you for using TableDB.
Always at your service,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1490081986862
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Tiger&#39;s Milk&nbsp; Management,</p>
<p style=3D"margin-top:15px;">We have received a reservation CANCELLATION f=
or Tiger&#39;s Milk&nbsp; for 2 on Wednesday, 22nd March 2017, 7:15 PM.</p>
<p style=3D"margin-top:15px;">The details of the CANCELLED reservation are =
as follows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 2 on Wednesday, 22nd=
 March 2017, 7:15 PM<br/>
Customer Name: Mr. Sean&nbsp;Tay<br/>
Customer Email: seantay07@gmail.com<br/>
Customer Contact: +65 90307101<br/>
</p>
<p style=3D"margin-top:15px;">Please proceed with the necessary updates for=
 the cancellation.</p>
<p><b></b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Always at your service,<br/>
The TableDB Team</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1490081986862--