Delivered-To: mailboxesquina@gmail.com
Received: by 10.13.202.74 with SMTP id m71csp209386ywd;
        Wed, 19 Apr 2017 02:59:44 -0700 (PDT)
X-Received: by 10.237.57.71 with SMTP id l65mr1529139qte.101.1492595984844;
        Wed, 19 Apr 2017 02:59:44 -0700 (PDT)
Return-Path: <0100015b85a746ff-6459e4fd-d277-485f-9c7d-4d8cf52f665a-000000@amazonses.com>
Received: from a8-88.smtp-out.amazonses.com (a8-88.smtp-out.amazonses.com. [54.240.8.88])
        by mx.google.com with ESMTPS id 87si1776012qkv.49.2017.04.19.02.59.44
        for <mailboxesquina@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Wed, 19 Apr 2017 02:59:44 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015b85a746ff-6459e4fd-d277-485f-9c7d-4d8cf52f665a-000000@amazonses.com designates 54.240.8.88 as permitted sender) client-ip=54.240.8.88;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015b85a746ff-6459e4fd-d277-485f-9c7d-4d8cf52f665a-000000@amazonses.com designates 54.240.8.88 as permitted sender) smtp.mailfrom=0100015b85a746ff-6459e4fd-d277-485f-9c7d-4d8cf52f665a-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1492595984; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=P82LhgshhJUAaZrzARPOMmmXVHMNxsA0LHqhCvoNj7g=; b=eYDce5TUWaIlAI7YXDdDzFdKwVw3bUV3ljCuMZLqjXZZV6NNr+LaZcn/+lKK9E23 cUljNF7G5YI0dZ5DNWkl9xmFsBMvJ4uKqkwV+uyYas4iOHItG5AebbrVNWa758XDOnp N/JTfKO6Obh7w8GibInBvszV83XDON1PEdbprZNM=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1492595984; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=P82LhgshhJUAaZrzARPOMmmXVHMNxsA0LHqhCvoNj7g=; b=bZRa/rBHBGvmYAA1iX9nx54XpVT7KeRJ3MrkFfUK8EJvwZFedwi0nmChY7CaPtLQ cO07BWKOnkcyOCybU4Ejs/oiGizK5zKTdV7fR3MGoHPQoh5zboPD5ViiI+s+7cV7pJW iedC+AboBXd5wyW3JG2kNQh0Gx5OabOGYDl9Fwt8=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Wed, 19 Apr 2017 09:59:44 +0000
Message-ID: <0100015b85a746ff-6459e4fd-d277-485f-9c7d-4d8cf52f665a-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: info@esquina.com.sg, myra@esquina.com.sg, mailboxesquina@gmail.com
Subject: NEW TableDB Reservation for Wednesday, 19th April 2017, 6:00 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1492595983743"
MIME-Version: 1.0
X-SES-Outgoing: 2017.04.19-54.240.8.88
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1492595983743
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear EsquinaManagement,
We have received a NEW reservation for Esquinafor 1 on Wednesday, 19th Apri=
l 2017, 6:00 PM.
The details of the NEW reservation are as follows:
Reservation Information: 1 guests on Wednesday, 19th April 2017, 6:00 PMCus=
tomer Name: Ms. Pei LingChangCustomer Email:chang.peiling@hotmail.comCustom=
er Contact: +65 97700515Promotion
Title:: Singtel Exclusive: 6-Course Menu at $55++ per person
Inspired by the vibrant tapas bars scene in Spain, Esquina offers visitors =
to Chinatown, a unique and modern take on Spanish tapas and serves as the p=
erfect spot for social gatherings. From now till 31 May 2017, indulge in an=
 exclusive 6-Course menu at only $55++ per person (inclusive of a snack)<br=
 /> <br />Snack: Spanish Nigiri or Tsarskaya Oysters<br /><br />~ <br /><br=
 />Chorizo Croqueta<br /><em>Piquillo Pepper Mayo </em><br /><br />Grilled =
Sucrine Lettuce<br /><em>Herb Yoghurt, Macadamia Nut, Cider Vinegar Glaze <=
/em><br /><br />Grilled Spanish Octopus<br /><em>Jerusalem Artichoke Puree,=
 Burnt Onion, Bacon Oil </em><br /><br />Braised Beef &amp; Pork Cannelloni=
<br /><em>Foie Gras, Cepes B&eacute;chamel, Black Truffle </em><br /><br />=
&ldquo;BBC&rdquo;<br /><em>Textures of Banana, Beer Ice Cream, Warm Caramel=
 Sauce </em><br /><br />~ <br /><br />Bread<br /><em>Chocolate, Olive Oil, =
Sea Salt</em><br /><br /><span style=3D"text-decoration: underline;"><stron=
g>Terms &amp; Conditions:</strong></span><br />&bull; Reservations must be =
made through HungryGoWhere &amp; Singtel customers must select &ldquo;Singt=
el Exclusive&rdquo; promotion.<br />&bull; Customers must show Singtel oper=
ator logo on their mobile phones to redeem offer upon billing.<br />&bull; =
Valid from 19th April to 31st May 2017,&nbsp;Mondays to Thursdays only (clo=
sed on Monday for lunch)<br />&bull; Limited to 40 pax per day only<br />&b=
ull; Not valid on Eve of and Public Holidays<br />&bull; Not valid in conju=
nction with any other promotion, offers or cash vouchers.<br />&bull; Price=
s are subjected to 7% GST and 10% service charge<br />&bull; The management=
 reserves the right to amend the terms and conditions without prior notice.=
<br />&bull; In the event of any dispute, the decision of Singtel is final.=
 No correspondence will be entertained.<br />&bull; Singtel shall not be li=
able in any way whatsoever for any matter arising from, relating to and/or =
attributable to such products and/or services.<br />&bull; Singtel reserves=
 the right to terminate, suspend or cancel (in whole or in part) this promo=
tion.<br />&bull; Singtel reserves the right to replace this promotion/rede=
mption with items of similar value at its own discretion without prior noti=
ce.<br />&bull; Singtel reserves the right to amend these terms and conditi=
ons of redemption from time to time without prior notice and without any li=
ability.<br />&bull; Terms and conditions of Singtel and/or any other third=
 parties may apply in addition to these terms.<br />&bull; Singtel's Genera=
l Terms and Conditions of Service(s) shall apply. It can be found at www.si=
ngtel.com (&ldquo;General Terms&rdquo;) and may be amended from time to tim=
eRestaurant Note:
Please note that we will only hold your table for up to 15 minutes, after w=
hich we may release it to the next waiting diner.
Please note that during peak hours, for group size of 2, we can only seat y=
ou for 1.5 hours, and for group size of 4, we may only seat you for 2.5 hou=
rs.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1492595983743
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Esquina&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Esquin=
a&nbsp;for 1 on Wednesday, 19th April 2017, 6:00 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 1 guests on Wednesda=
y, 19th April 2017, 6:00 PM<br/>
Customer Name: Ms. Pei Ling&nbsp;Chang<br/>
Customer Email: chang.peiling@hotmail.com<br/>
Customer Contact: +65 97700515<br/>
</p>
<p><u>Promotion</u><br>Title: Singtel Exclusive: 6-Course Menu at $55++ per=
 person<br />Inspired by the vibrant tapas bars scene in Spain, Esquina off=
ers visitors to Chinatown, a unique and modern take on Spanish tapas and se=
rves as the perfect spot for social gatherings. From now till 31 May 2017, =
indulge in an exclusive 6-Course menu at only $55++ per person (inclusive o=
f a snack)<br /> <br />Snack: Spanish Nigiri or Tsarskaya Oysters<br /><br =
/>~ <br /><br />Chorizo Croqueta<br /><em>Piquillo Pepper Mayo </em><br /><=
br />Grilled Sucrine Lettuce<br /><em>Herb Yoghurt, Macadamia Nut, Cider Vi=
negar Glaze </em><br /><br />Grilled Spanish Octopus<br /><em>Jerusalem Art=
ichoke Puree, Burnt Onion, Bacon Oil </em><br /><br />Braised Beef &amp; Po=
rk Cannelloni<br /><em>Foie Gras, Cepes B&eacute;chamel, Black Truffle </em=
><br /><br />&ldquo;BBC&rdquo;<br /><em>Textures of Banana, Beer Ice Cream,=
 Warm Caramel Sauce </em><br /><br />~ <br /><br />Bread<br /><em>Chocolate=
, Olive Oil, Sea Salt</em><br /><br /><span style=3D"text-decoration: under=
line;"><strong>Terms &amp; Conditions:</strong></span><br />&bull; Reservat=
ions must be made through HungryGoWhere &amp; Singtel customers must select=
 &ldquo;Singtel Exclusive&rdquo; promotion.<br />&bull; Customers must show=
 Singtel operator logo on their mobile phones to redeem offer upon billing.=
<br />&bull; Valid from 19th April to 31st May 2017,&nbsp;Mondays to Thursd=
ays only (closed on Monday for lunch)<br />&bull; Limited to 40 pax per day=
 only<br />&bull; Not valid on Eve of and Public Holidays<br />&bull; Not v=
alid in conjunction with any other promotion, offers or cash vouchers.<br /=
>&bull; Prices are subjected to 7% GST and 10% service charge<br />&bull; T=
he management reserves the right to amend the terms and conditions without =
prior notice.<br />&bull; In the event of any dispute, the decision of Sing=
tel is final. No correspondence will be entertained.<br />&bull; Singtel sh=
all not be liable in any way whatsoever for any matter arising from, relati=
ng to and/or attributable to such products and/or services.<br />&bull; Sin=
gtel reserves the right to terminate, suspend or cancel (in whole or in par=
t) this promotion.<br />&bull; Singtel reserves the right to replace this p=
romotion/redemption with items of similar value at its own discretion witho=
ut prior notice.<br />&bull; Singtel reserves the right to amend these term=
s and conditions of redemption from time to time without prior notice and w=
ithout any liability.<br />&bull; Terms and conditions of Singtel and/or an=
y other third parties may apply in addition to these terms.<br />&bull; Sin=
gtel's General Terms and Conditions of Service(s) shall apply. It can be fo=
und at www.singtel.com (&ldquo;General Terms&rdquo;) and may be amended fro=
m time to time</p>
<p><u>Restaurant Notes</u><br><b>Please note that we will only hold your ta=
ble for up to 15 minutes, after which we may release it to the next waiting=
 diner.
<br />Please note that during peak hours, for group size of 2, we can only =
seat you for 1.5 hours, and for group size of 4, we may only seat you for 2=
.5 hours.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1492595983743--