Delivered-To: mailboxesquina@gmail.com
Received: by 10.13.202.74 with SMTP id m71csp1269553ywd;
        Mon, 24 Apr 2017 05:03:20 -0700 (PDT)
X-Received: by 10.55.197.92 with SMTP id p89mr22946096qki.34.1493035400914;
        Mon, 24 Apr 2017 05:03:20 -0700 (PDT)
Return-Path: <0100015b9fd83414-11d3d662-d511-4b35-8823-f944dc831de0-000000@amazonses.com>
Received: from a8-83.smtp-out.amazonses.com (a8-83.smtp-out.amazonses.com. [54.240.8.83])
        by mx.google.com with ESMTPS id a126si17829398qkf.265.2017.04.24.05.03.20
        for <mailboxesquina@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Mon, 24 Apr 2017 05:03:20 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015b9fd83414-11d3d662-d511-4b35-8823-f944dc831de0-000000@amazonses.com designates 54.240.8.83 as permitted sender) client-ip=54.240.8.83;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015b9fd83414-11d3d662-d511-4b35-8823-f944dc831de0-000000@amazonses.com designates 54.240.8.83 as permitted sender) smtp.mailfrom=0100015b9fd83414-11d3d662-d511-4b35-8823-f944dc831de0-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1493035398; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=Air429s4nOGgds5PrjNOtHc64bAmi0v1ukxKdA/yKv0=; b=ZAMeRidxNfydTIRoo0uSX+mXPQ2hUJNcFI+m4Nb7VMAHVDrWvoF4Pb4PzNQPwVfH rf95yQLbeidp5qD2eJ4beicGNcuiWj4wot/66IdA4IUa6WgCEaK0QZZd9OovKHgtUEK 92xC91kk1DygxuXLPIbvEATRf4SmgCX0eqVGqmys=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1493035398; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=Air429s4nOGgds5PrjNOtHc64bAmi0v1ukxKdA/yKv0=; b=djQwQ8YJN7YsgBz3Efia0w1+qCCZWaWB2Bdg3CStG3wY/L6XfofawU8Ja/Grg9VD LGUUmricwLvm5Y6HdKGISfysblIup313cUYwtJzP7E6pciGDpRdn4c1IrzyDre9o6Lx UjSah7WNaSbpHaHUbKNLebgUixfa5GkjF7wqQkuo=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 24 Apr 2017 12:03:18 +0000
Message-ID: <0100015b9fd83414-11d3d662-d511-4b35-8823-f944dc831de0-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: info@esquina.com.sg, myra@esquina.com.sg, mailboxesquina@gmail.com
Subject: NEW TableDB Reservation for Wednesday, 24th May 2017, 7:00 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1493035397673"
MIME-Version: 1.0
X-SES-Outgoing: 2017.04.24-54.240.8.83
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1493035397673
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear EsquinaManagement,
We have received a NEW reservation for Esquinafor 2 on Wednesday, 24th May =
2017, 7:00 PM.
The details of the NEW reservation are as follows:
Reservation Information: 2 guests on Wednesday, 24th May 2017, 7:00 PMCusto=
mer Name: Mrs. DollyThomasCustomer Email:patlay88@yahoo.comCustomer Contact=
: +65 98783462Promotion
Title:: Exclusive: 6-Course Menu at $55++ per person
Inspired by the vibrant tapas bars scene in Spain, Esquina offers visitors =
to Chinatown, a unique and modern take on Spanish tapas and serves as the p=
erfect spot for social gatherings. From now till 31 May 2017, indulge in an=
 exclusive 6-Course menu at only $55++ per person (inclusive of a snack)<br=
 /> <br />Snack: Spanish Nigiri or Tsarskaya Oysters<br /><br />~ <br /><br=
 />Chorizo Croqueta<br /><em>Piquillo Pepper Mayo </em><br /><br />Grilled =
Sucrine Lettuce<br /><em>Herb Yoghurt, Macadamia Nut, Cider Vinegar Glaze <=
/em><br /><br />Grilled Spanish Octopus<br /><em>Jerusalem Artichoke Puree,=
 Burnt Onion, Bacon Oil </em><br /><br />Braised Beef &amp; Pork Cannelloni=
<br /><em>Foie Gras, Cepes B&eacute;chamel, Black Truffle </em><br /><br />=
&ldquo;BBC&rdquo;<br /><em>Textures of Banana, Beer Ice Cream, Warm Caramel=
 Sauce </em><br /><br />~ <br /><br />Bread<br /><em>Chocolate, Olive Oil, =
Sea Salt</em><br /><br />*Items on the menu might change due to seasonabili=
ty*<br /><br /><span style=3D"text-decoration: underline;"><strong>Terms &a=
mp; Conditions:</strong></span><br />&bull; Reservations must be made throu=
gh HungryGoWhere only.<br />&bull; Valid from 19th April to 31st May 2017,&=
nbsp;Mondays to Thursdays only (closed on Monday for lunch)<br />&bull; Lim=
ited to 40 pax per day only<br />&bull; Not valid on Eve of and Public Holi=
days<br />&bull; Not valid in conjunction with any other promotion, offers =
or cash vouchers.<br />&bull; Prices are subjected to 7% GST and 10% servic=
e charge<br />&bull; The management reserves the right to amend the terms a=
nd conditions without prior notice.<br />&bull; In the event of any dispute=
, the decision of Singtel is final. No correspondence will be entertained.<=
br />&bull; Singtel shall not be liable in any way whatsoever for any matte=
r arising from, relating to and/or attributable to such products and/or ser=
vices.<br />&bull; Singtel reserves the right to terminate, suspend or canc=
el (in whole or in part) this promotion.<br />&bull; Singtel reserves the r=
ight to replace this promotion/redemption with items of similar value at it=
s own discretion without prior notice.<br />&bull; Singtel reserves the rig=
ht to amend these terms and conditions of redemption from time to time with=
out prior notice and without any liability.<br />&bull; Terms and condition=
s of Singtel and/or any other third parties may apply in addition to these =
terms.<br />&bull; Singtel's General Terms and Conditions of Service(s) sha=
ll apply. It can be found at www.singtel.com (&ldquo;General Terms&rdquo;) =
and may be amended from time to timeRestaurant Note:
Please note that we will only hold your table for up to 15 minutes, after w=
hich we may release it to the next waiting diner.
Please note that during peak hours, for group size of 2, we can only seat y=
ou for 1.5 hours, and for group size of 4, we may only seat you for 2.5 hou=
rs.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1493035397673
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Esquina&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Esquin=
a&nbsp;for 2 on Wednesday, 24th May 2017, 7:00 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 2 guests on Wednesda=
y, 24th May 2017, 7:00 PM<br/>
Customer Name: Mrs. Dolly&nbsp;Thomas<br/>
Customer Email: patlay88@yahoo.com<br/>
Customer Contact: +65 98783462<br/>
</p>
<p><u>Promotion</u><br>Title: Exclusive: 6-Course Menu at $55++ per person<=
br />Inspired by the vibrant tapas bars scene in Spain, Esquina offers visi=
tors to Chinatown, a unique and modern take on Spanish tapas and serves as =
the perfect spot for social gatherings. From now till 31 May 2017, indulge =
in an exclusive 6-Course menu at only $55++ per person (inclusive of a snac=
k)<br /> <br />Snack: Spanish Nigiri or Tsarskaya Oysters<br /><br />~ <br =
/><br />Chorizo Croqueta<br /><em>Piquillo Pepper Mayo </em><br /><br />Gri=
lled Sucrine Lettuce<br /><em>Herb Yoghurt, Macadamia Nut, Cider Vinegar Gl=
aze </em><br /><br />Grilled Spanish Octopus<br /><em>Jerusalem Artichoke P=
uree, Burnt Onion, Bacon Oil </em><br /><br />Braised Beef &amp; Pork Canne=
lloni<br /><em>Foie Gras, Cepes B&eacute;chamel, Black Truffle </em><br /><=
br />&ldquo;BBC&rdquo;<br /><em>Textures of Banana, Beer Ice Cream, Warm Ca=
ramel Sauce </em><br /><br />~ <br /><br />Bread<br /><em>Chocolate, Olive =
Oil, Sea Salt</em><br /><br />*Items on the menu might change due to season=
ability*<br /><br /><span style=3D"text-decoration: underline;"><strong>Ter=
ms &amp; Conditions:</strong></span><br />&bull; Reservations must be made =
through HungryGoWhere only.<br />&bull; Valid from 19th April to 31st May 2=
017,&nbsp;Mondays to Thursdays only (closed on Monday for lunch)<br />&bull=
; Limited to 40 pax per day only<br />&bull; Not valid on Eve of and Public=
 Holidays<br />&bull; Not valid in conjunction with any other promotion, of=
fers or cash vouchers.<br />&bull; Prices are subjected to 7% GST and 10% s=
ervice charge<br />&bull; The management reserves the right to amend the te=
rms and conditions without prior notice.<br />&bull; In the event of any di=
spute, the decision of Singtel is final. No correspondence will be entertai=
ned.<br />&bull; Singtel shall not be liable in any way whatsoever for any =
matter arising from, relating to and/or attributable to such products and/o=
r services.<br />&bull; Singtel reserves the right to terminate, suspend or=
 cancel (in whole or in part) this promotion.<br />&bull; Singtel reserves =
the right to replace this promotion/redemption with items of similar value =
at its own discretion without prior notice.<br />&bull; Singtel reserves th=
e right to amend these terms and conditions of redemption from time to time=
 without prior notice and without any liability.<br />&bull; Terms and cond=
itions of Singtel and/or any other third parties may apply in addition to t=
hese terms.<br />&bull; Singtel's General Terms and Conditions of Service(s=
) shall apply. It can be found at www.singtel.com (&ldquo;General Terms&rdq=
uo;) and may be amended from time to time</p>
<p><u>Restaurant Notes</u><br><b>Please note that we will only hold your ta=
ble for up to 15 minutes, after which we may release it to the next waiting=
 diner.
<br />Please note that during peak hours, for group size of 2, we can only =
seat you for 1.5 hours, and for group size of 4, we may only seat you for 2=
.5 hours.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1493035397673--