Delivered-To: mailboxpollen@gmail.com
Received: by 10.223.151.203 with SMTP id t11csp1145365wrb;
        Sun, 16 Apr 2017 19:17:35 -0700 (PDT)
X-Received: by 10.55.162.139 with SMTP id l133mr6520405qke.195.1492395455609;
        Sun, 16 Apr 2017 19:17:35 -0700 (PDT)
Return-Path: <0100015b79b370b4-ca9879af-473d-4a80-8697-be3d85171fd6-000000@amazonses.com>
Received: from a8-31.smtp-out.amazonses.com (a8-31.smtp-out.amazonses.com. [54.240.8.31])
        by mx.google.com with ESMTPS id 79si9466642qkp.52.2017.04.16.19.17.35
        for <mailboxpollen@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Sun, 16 Apr 2017 19:17:35 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015b79b370b4-ca9879af-473d-4a80-8697-be3d85171fd6-000000@amazonses.com designates 54.240.8.31 as permitted sender) client-ip=54.240.8.31;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015b79b370b4-ca9879af-473d-4a80-8697-be3d85171fd6-000000@amazonses.com designates 54.240.8.31 as permitted sender) smtp.mailfrom=0100015b79b370b4-ca9879af-473d-4a80-8697-be3d85171fd6-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1492395454; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=9xWRQOGkct+QJky2VrF0EFU8G3uYPdHzpdrlYKMnCsQ=; b=faAwYaQPtJ23/G1RvSDblum3FBK7uopr+tVBV+r/kwSOtXUQd747vSoeIlwRkIyA yD8eT9tr515CYgAE/50Zgjyds6Ays+LWL/yWaRj6TryvodW7hYCqSGJehI4ubIP6Ibn 7O4I9BuQN8w7U9w1aAmhCWTdEpb2j6zPZIN++m0Q=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1492395454; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=9xWRQOGkct+QJky2VrF0EFU8G3uYPdHzpdrlYKMnCsQ=; b=UyDNN5EMK/bouu9Fyt5nULGES1FsJMMUY9EL1CSLpfsn96YQKsbXlxKDw54OSGW2 +Q8a5OpXqNkQYzMcvAEZCxo3fYocIhlpVN2/J0mfz3Ty2S67rkmbYzG+083Po9e6XM9 eXPl7oJTi0vWCF1z47qY2WjNgbd+qiSpFg/T/dgI=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 17 Apr 2017 02:17:34 +0000
Message-ID: <0100015b79b370b4-ca9879af-473d-4a80-8697-be3d85171fd6-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: info@pollen.com.sg, mailboxpollen@gmail.com
Subject: NEW TableDB Reservation for Sunday, 23rd April 2017, 8:30 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1492395453790"
MIME-Version: 1.0
X-SES-Outgoing: 2017.04.17-54.240.8.31
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1492395453790
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear PollenManagement,
We have received a NEW reservation for Pollenfor 2 on Sunday, 23rd April 20=
17, 8:30 PM.
The details of the NEW reservation are as follows:
Reservation Information: 2 guests on Sunday, 23rd April 2017, 8:30 PMCustom=
er Name: Ms. Marisley AlmeidaCustomer Email:marisleyalmeida@gmail.comCustom=
er Contact: +65 96509269Promotion
Title:: NoneRestaurant Note:
Dear valued patrons, kindly note that POLLEN  provides limousine buggy serv=
ice from Gardens by the Bay&#39;s arrival plaza to POLLEN. Exclusively for =
POLLEN&#39;s guests, the service runs every five minutes during service tim=
es. You may contact POLLEN at 6604 9988 for more enquiries.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1492395453790
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Pollen&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Pollen=
&nbsp;for 2 on Sunday, 23rd April 2017, 8:30 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 2 guests on Sunday, =
23rd April 2017, 8:30 PM<br/>
Customer Name: Ms. Marisley &nbsp;Almeida<br/>
Customer Email: marisleyalmeida@gmail.com<br/>
Customer Contact: +65 96509269<br/>
</p>
<p><u>Promotion</u><br>Title: None</p>
<p><u>Restaurant Notes</u><br><b>Dear valued patrons, kindly note that POLL=
EN  provides limousine buggy service from Gardens by the Bay&#39;s arrival =
plaza to POLLEN. Exclusively for POLLEN&#39;s guests, the service runs ever=
y five minutes during service times. You may contact POLLEN at 6604 9988 fo=
r more enquiries.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1492395453790--