Original Message

Message ID	<0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@email.amazonses.com>
Created at:	Mon, Mar 20, 2017 at 11:52 AM (Delivered after 1 seconds)
From:	TableDB <reservations@hungrygowhere.com>Using Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
To:	shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject:	NEW TableDB Reservation for Thursday, 30th March 2017, 7:00 PM
SPF:	PASS with IP 54.240.8.32 Learn more
DKIM:	PASS with domain hungrygowhere.com Learn more
DMARC:	PASS Learn more


Download Original	Copy to clipboard	
Delivered-To: mailboxtigersmilk@gmail.com
Received: by 10.25.234.195 with SMTP id y64csp1199189lfi;
        Sun, 19 Mar 2017 20:52:05 -0700 (PDT)
X-Received: by 10.200.43.85 with SMTP id 21mr23158099qtv.81.1489981925798;
        Sun, 19 Mar 2017 20:52:05 -0700 (PDT)
Return-Path: <0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@amazonses.com>
Received: from a8-32.smtp-out.amazonses.com (a8-32.smtp-out.amazonses.com. [54.240.8.32])
        by mx.google.com with ESMTPS id d3si12010597qte.18.2017.03.19.20.52.05
        for <mailboxtigersmilk@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Sun, 19 Mar 2017 20:52:05 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@amazonses.com designates 54.240.8.32 as permitted sender) client-ip=54.240.8.32;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@amazonses.com designates 54.240.8.32 as permitted sender) smtp.mailfrom=0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1489981924; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=gu7Ez9ToY0FiXHlwDSU6GkFIfcA7kAEzKsj02+/YAE0=; b=EgikCKQfLD9mZVQTcHYIDHYPRC/XM184EGVyyLlYJ08Pjpnm+lUBBF/HFOsM6Pds gBHFkSsb/OQies8qVqj8BMV6L12XBOrH0vQ0xUiw6t3jlBEImK6JnMZZsS0JOC4THtd 3G+knA46o+Zst4F3EdP9U+859PnfzbGiLQgfHAD8=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1489981924; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=gu7Ez9ToY0FiXHlwDSU6GkFIfcA7kAEzKsj02+/YAE0=; b=AxsUXrp1PwsIqWebRCl5Sp4HJfr5Q9ULM8FGQQRqGmembcPmR/zR8ndM86IsiMDX ycQ7IXLw3IZK2hNNPuIuxRDqx6OWPUf9/xG+x9A9JCLX4oGb3Fjc5ljw4u/iurCQvDl z9866StptY8JFgyTEzV4rJoonlo1Oe0TKOBq/HGM=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 20 Mar 2017 03:52:04 +0000
Message-ID: <0100015ae9d7e580-494f471e-a9fb-490b-8ee5-c43bdf795b94-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject: NEW TableDB Reservation for Thursday, 30th March 2017, 7:00 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1489981923789"
MIME-Version: 1.0
X-SES-Outgoing: 2017.03.20-54.240.8.32
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1489981923789
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear Tiger&#39;s MilkManagement,
We have received a NEW reservation for Tiger&#39;s Milkfor 2 on Thursday, 3=
0th March 2017, 7:00 PM.
The details of the NEW reservation are as follows:
Reservation Information: 2 guests on Thursday, 30th March 2017, 7:00 PMCust=
omer Name: Mrs. AnnaVaughanCustomer Email:anna.vaughan@hays.com.sgCustomer =
Contact: +65 94864579Promotion
Title:: NoneRestaurant Note:
Thank you for making a reservation at Tiger&#39;s Milk. Please note that yo=
ur table will only be held for 15mins from the time of your reservation &am=
p; we cannot guarantee your reservation after this timing.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1489981923789
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Tiger&#39;s Milk&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Tiger&=
#39;s Milk&nbsp;for 2 on Thursday, 30th March 2017, 7:00 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 2 guests on Thursday=
, 30th March 2017, 7:00 PM<br/>
Customer Name: Mrs. Anna&nbsp;Vaughan<br/>
Customer Email: anna.vaughan@hays.com.sg<br/>
Customer Contact: +65 94864579<br/>
</p>
<p><u>Promotion</u><br>Title: None</p>
<p><u>Restaurant Notes</u><br><b>Thank you for making a reservation at Tige=
r&#39;s Milk. Please note that your table will only be held for 15mins from=
 the time of your reservation &amp; we cannot guarantee your reservation af=
ter this timing.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1489981923789--