
{% include 'header/callcenterheader_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Dining Reservation <br /> Cancellation</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]},</strong><br />
                    <br /> Dining reservation cancelled by {[{data.firstname}]} {[{data.lastname}]}.
                
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Reservation Details</td>
            </tr>
            <tr>
                <td align="left" valign="top"  style="padding-bottom: 15px;" >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Date &amp; Time</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdate}]}</strong></td>
                        </tr>
                        
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guests</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Restaurant Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong> {[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]}</strong></td>
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Email</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.email}]}</strong><br />
                          
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Phone No</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.mobile}]}</strong></td>
                               
                        </tr>

                        
                    </table>
                </td>
            </tr>
            {% if data.isRefund %} 
                    <tr>
                        <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Refund Details</td>
                    </tr>
                     <tr>
                        <td align="left" valign="top"  >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Transaction id</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.payment_id}]}</strong></td>

                        </tr>
       
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Refund amount</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.currency}]} {[{data.amount}]}</strong></td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">status</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.refundstatus}]}</strong></td>

                        </tr>
                        </table>
                        </td>
                    </tr>
               {% endif %} 
              {% if data.isInvoice %} 
                   <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Cancellation fee </td>
                   </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Payment id</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.payment_id}]}</strong></td>

                    </tr>
                   
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">amount</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>SGD {[{data.amount}]}</strong></td>

                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">status</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.refundstatus}]}</strong></td>
                    </tr>
                    </table>
                    </td>
                 </tr>
        
            {% endif %} 
            <tr>
                <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px; border-bottom:1px solid #e8e8e8;">
                    <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">

                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px; border-bottom:1px solid #e8e8e8;">
                    <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">

                    </table>
                </td>
            </tr>
</table>    
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>