$font-family:'Roboto';

$background-color: red;
$font-color: blue;

$separation-color: #276788;
$border-color: #276788;

$header-background-color:#276788;

$title-text-color: #ffffff;
$title-background-color: #276788;

/*@font-face {
    font-family: 'proximanova';
    src: url('../../../../fonts/ProximaNova-Reg_2-webfont.eot');
    src: url('../../../../fonts/ProximaNova-Reg_2-webfont.woff2') format('woff2'), url('../../../../fonts/ProximaNova-Reg_2-webfont.woff') format('woff'), url('../../../../fonts/ProximaNova-Reg_2-webfont.svg') format('svg');
}*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700italic,700,500italic,500,400italic);








body {
    font-family: $font-family; 
    font-size: 14px;
    //width:90%;
    //margin: 2px 0 0 2px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

a:focus, a:hover{
    //color:white;
    text-decoration: none;
    cursor:  pointer;
}

h1{
    font-family: $font-family;
    text-align:center;
    padding: 7px 0 7px 0;
    color:$title-text-color;
    background-color: $title-background-color;
    font-size: 15px;

    margin: 0 0 20px;
}

.input-group {
    margin-bottom: 15px;
}

.row {
    margin-bottom: 15px;
    margin: 0;
}

img {
    display:block;
    margin:10px auto;
    padding-bottom:20px;

    height: 100%;
    max-height: 150px;
    max-width: 150px;
    width: 100%;

}

.mainbox {
    max-width:550px; 
    margin-top: 5px;
}

.simple-form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    font-size: 14px;
    height: 35px;
    padding: 6px 12px;
    width: 100%;
    margin-bottom:10px;
}

.control-centered{
    text-align:center;
}

a#buttonterms {
    // margin: 10px 30px 20px 55px;
}

.termsconditions {
    font-family: $font-family; 
    font-size: 12px;
}

.separation {
    vertical-align:middle;
    border-right:4px solid $separation-color;
    height:100%;
}


.selectwidthauto { 
    width:auto !important; 
}

.calendarbk { 
    position: relative; 
}

.dropdown-language-container{ 
    text-align: right;
}
.dropdown-menu-language{ 
    right: 0px;
    left:auto;
}


.nomarginbottom {
    margin-bottom:0px
}

.panel{
    border-color:$border-color!important;
    border-radius:2px;
}

.panel-heading{
    background-image:none !important;
    background-color:$header-background-color !important;
    color:#fff !important;
    border-color:$border-color !important;
    border-radius:0px;
}

.panel-body {
    //padding: 10px 10px 10px 0;
    margin:0;
}

.panel-title{
    height: 30px;
    line-height: 29px;
}

.slogan {
    margin: 10px 20px;
    padding-top: 0;
    text-align: center;
}

.btn{
    box-shadow: none;
    border-radius: 2px;
}
.btn-default{
    background-image:linear-gradient(to bottom, #eee 0px, #eee 100%)!important;
}

.btn-default:focus, .btn-default:hover{
    background-image:linear-gradient(to bottom, #eee 0px, #eee 100%)!important;
    box-shadow:none;
}

.book-button {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    padding: 9px;
    width: 210px;
    text-transform: uppercase;
}

.book-button:active {
    outline: none;
}

.book-button-sm {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
    margin: 0 0 0 0;
    width: 120px;
    text-transform: uppercase;
}

.book-button-sm:active {
    outline: none;
}

.book-dropdown{
    border: 1px solid #ccc;
    background: #EEEEEE;
}
.caret{
 
   color:$separation-color;
}
.caret-white{
 
   color:white;
}
.btn-leftBottom-orange {
    transition: margin-top 0.2s ease, margin-left 0.2s ease, box-shadow 0.2s ease;
    background: #FF872C;
    //#FF7020; B55F03
    border: solid 1px #FF872C;
    // box-shadow: -1px 0px 0px #E06908, -0px 1px 0px #E06908, -2px 1px 0px #E06908, -1px 2px 0px #E06908;
}

.btn-leftBottom-orange:active {
    //transition: margin-top 0.2s ease, margin-left 0.2s ease, box-shadow 0.2s ease;
    margin-left: 0px;
    box-shadow: 0px 0px 0px #E06908;
}

.btn-leftBottom-orange:hover {
    color:white;
}



.btn-leftBottom-orange-noborder {
    background: #FF872C;
    //#FF7020; B55F03
    border: solid 1px #FF872C;
}


.scrollable-menu {
    font-size:12px;
    height: auto;
    max-height: 220px;
    overflow-x: hidden;
}

.scrollable-menu-all {
    height: auto;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;        
}  

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: black;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}

.form-control{
    border-radius: 2px;
}
.input-group-addon{
    border-radius: 2px;
}

.checkmark {
    color: green;
    display: inline-block;
    font-size: 14px;
    vertical-align: top; 
    margin:0 0 0 0;
}

.pcheckmark {
    display: inline-block;
    font-family:$font-family;
    font-size:12px;
    margin:0 0 0 5px;
}

.pcheckmarkcn {
    display: inline-block;
    font-family:$font-family;
    font-size:12px;
    margin:0 0 0 5px;
}

ul {
    list-style:none; 
    padding:0;
}

.alert-label {
    text-align:center;
    padding: 5px 0 5px 0;
    color:white;
}


.booking-button-div{
    padding: 15px 15px 15px 0;
    text-align: right;
    width: 100%;
}


.book-button-sm {
    padding: 7px 30px;
}

.dropdown-language{
    background: #fff none repeat scroll 0 0;
    color: black;
    padding: 5px 10px;
}


.right {
    float: right;

}
.left {

}

.li-checkmark{
    margin: 10px 0;
}

.dropdown-menu {
    border-radius: 2px;
}

.scrollable-menu {
    font-size: 13px;
}

.dropdown-menu > li > a{
    font-size: 13px;
    padding: 4px 20px;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #e8e8e8;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}


.datepicker-noclear [ng-click="select(null)"] {
    display: none;
} 

.ui-datepicker .btn-group .btn-danger.btn{
    display: none;
}


.termsconditions-confirmation{
    margin-top: 20px;
}

.special-request-span{display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

@media (min-width: 530px) {

    .book-form-lg{
        display:display;
    }
    .book-form-xs{
        display:none;
    }
    .left-column{

    }

    .separation-left {
        border-left: 4px solid #276788;
        height: 100%;
        vertical-align: middle;
    }
    .left-column{
        width:40%;
        float: left;
        padding-left:15px;
        padding-right:15px;
    }
    .right-column{
        width:60%;
        float: left;
        padding-left:15px;
        padding-right:15px;
    }
    .calendarbk .dropdown-menu {
        left: auto !important;
        right: 0;
    }
}



@media screen and (max-width: 530px) {
    .book-form-lg{
        display:none!important;
    }
    .book-form-xs{
        display:display!important;
    }
    .separation-left {
        border-left: none;
        height: 100%;
        vertical-align: middle;
    }
    .left-colum{
        width:100%;
    }
    .right-column{
        width:100%;
    }

    .facebook-button-div{
        padding: 15px 20px 20px;
        border-top: 1px solid #ccc;  
    }
    .dropdown-menu{
        left:55px;
    }

    .calendarbk .dropdown-menu {
        left: auto !important;
    }

    .dropdown-menu-language {
        left: auto !important;
        right: 0;
    }
}

