/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2017, 9:49:04 AM
    Author     : kala
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700italic,700,500italic,500,400italic);
 #event-management {
        background: #F5F5F5;
    }
    .btn-creditcard{
        border-radius: 2px;
        box-shadow: 2px 2px 5px #bbb;
        color: #fff;
        font-size: 16px;
        padding: 4px 14px;
    }
    .btn-leftBottom-orange, .btn-leftBottom-orange-noborder {
        background: #FF872C;
        border: 1px solid #FF872C;
    }
    .error-msg {
        color:#af3030;
    }
    .container {
     position: relative;
    }
    h1 {
        width:100%;
        font-family: "Roboto";
        text-align: center;
        padding: 10px 0 10px 0;
        color: #ffffff;
        background-color: black;
        font-size: 15px;
        margin-top:0px;
    text-transform:uppercase;}
    .main-form {
    max-width: 550px;
    margin-top: 5px; }
    .pre-form{
         font-size: 16px;
         font-family: "Roboto";
        
    }