<style>
    .introduction{
        margin-top :20px;
        margin-bottom: 20px;
        font-size:15px;
        font-weight: bold;
    }
     body{ background-color: white !important}
     .bg {
	background: url({{image}});
	background-repeat: no-repeat;
	background-position: center;
        background-size: cover;
        height: 270px;  
        margin-top: 30px;
        padding-top: 20px;
    }
    @media screen and (max-width: 1020px) {
        body {
            width:100%;
        }
    }
    @media screen and (max-width: 768px) {
            width:100%;
    }

@media screen and (max-width: 480px) {
    width:100%;
}
</style>
    <div class="container" style='background-color: white !important'>
        <div>
             <div class="row">
                    <div class="bg"></div>
            </div>
<!--            <div class="banner_restaurant header1" style="background-image: url('images/vdaypagebanner1.jpg'); background-size: cover; background-repeat: no-repeat no-repeat;height:275px !important;margin-top:45px;background-position: center">
            </div>-->
<!--            <div class="banner_restaurant" style="background-image: url('images/vday2.png'); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">

            </div>-->
<!--            <h1>Valentine's Day Special 2017</h1>-->
                <div class='col-lg-12 col-md-8 col-sm-12 col-xs-12 '>
                    <p style="font-size:20px;margin-top:10px;text-align:center;">
                       A selection of special Valentine’s Day offers and events 
                    </p>
                    <p style="font-size:20px;margin-top:10px;text-align:center;">from some of the best restaurants in Singapore.</p>
<!--                 <p style="margin-left:20px;text-align:center;font-size:20px;margin-bottom:20px;padding-bottom:15px;">from some of the best restaurants in Singapore.</p>-->
                </div>
           
<!--            <p style='margin-top:30px;margin-left:120px;padding-left:50px; color:#2aacd2; display: block; font-family: proximanova-semibold;font-size: 20px;'> Valentine's Day Menus & Promos</p>-->
<!--            <div class="events" style='margin-left:0px !important;padding-left:0px;'>-->
<!--                <div class="row" style='margin-left:20px !important;padding-left:20px;' >-->
                <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-unstyled" style='margin-left:0px !important;padding-left:0px;' >
                    
                    <li  class="col-md-6 col-sm-12" ng-repeat="evt in events" style='height:270px;padding-left:0px;'>
                        
                         <div class="col-md-4 col-sm-6" style='margin-left:0px !important;padding-left:0px;margin-bottom:0px;'>
                            <a ng-if='!isMobile' href="{{image}}" class="fresco" title="Valentine day @ {{landing.title}} - reserve restaurant table now">
                                <img ng-src="{{ image}}" class="img-responsive" alt="{{landing.title}} Valentine day Menu - reserve restaurant table now" style='margin-bottom:10px;width:100%;margin-top:10px;padding-top:10px;margin-left:15px;'>
                            </a>
                              <a ng-if='isMobile' ng-click="btnBookNowEvent_click(evt.restaurant)"  title="Valentine day @ {{landing.title}} - reserve restaurant table now">
                                <img ng-src="{{ image}}" class="img-responsive" alt="{{landing.title}} Valentine day Menu - reserve restaurant table now" style='margin-bottom:10px;width:100%;margin-top:10px;padding-top:10px;margin-left:15px;'>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12" style='margin-bottom:10px;padding-bottom:10px;padding-left:15px;padding-right:0px;margin-top:20px;'>
                            <p id ='event-title' style='margin-bottom:0px;font-family: sans-serif;'><strong>{{evt.name}}</strong></p>
                            <div class="cnt" style='margin-top:0px;'>
<!--                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>-->
                            <span style='margin-top:0px;' >{{evt.end| date : format : shortDate}}</span>
                             <p style='margin-top:0px;'>{{landing.title}}, {{evt.area}}</p>
                             
                             <p id='evt-content' ng-maxlength="15" href ng-if="evt.description !== ''" data-toggle="popover" data-placement="top" title="{{landing.description}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='float: left;font-family: Roboto, Arial, Helvetica;'>{{landing.description | limitTo:200}}...</p>
                              <span ng-if="evt.price!= '' "  style='margin-top:10px;'>${{evt.price}} per couple </span>
                             <div style="margin-top:20px;padding-top:20px;">
                                <button  ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                             </div> 
                        </div>
                
                        </div>
  
<!--                        <a analytics-on="click"
                                        analytics-event="c_go_resto"
                                        analytics-category="c_go_resto_VDay" 
                                        analytics-label="c_go_resto_VDay_{{evt.restaurant}}"
                                        ng-href="{{getRestaurantLink(evt.restaurant)}}"  style="text-decoration:none;" title="Celebrate the VDay with {{evt.title}} - reserve your table with weeloy">
                            <h1>Celebrate the VDay with {{evt.title}}</h1>
                        </a>
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span  ng-if="evt.start !== evt.end">{{evt.start| date : format : shortDate}} to {{evt.end| date : format : shortDate}}, {{evt.area}}</span>
                            <p ng-bind="evt.description"></p>
                            
                            <a analytics-on="click"
                                        analytics-event="c_get_pdf"
                                        analytics-category="c_get_pdf_VDay" 
                                        analytics-label="c_get_pdf_VDay_{{evt.restaurant}}"href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.pdf_link}}" target="_blank" ng-if="evt.pdf_link" title="{{evt.title}} Menu for Valentine day 2016">Download VDay menu</a>

                            <div style="margin-top:10px;">
                                <button analytics-on="click"
                                        analytics-event="c_book_resto"
                                        analytics-category="c_book_resto_VDay" 
                                        analytics-label="c_book_resto_VDay_{{evt.restaurant}}" ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </div> 
                        </div>-->
                       
                    </li>
                   
                </ul>
<!--                    </div>-->
         
            <div style="text-align: center;">
                <a href='search/singapore' style=" color: #555555;text-decoration: none;font-size: 17px;">View more restaurants</a>
            </div>
        </div>
    </div>