<style>
.showdata {
    height: 360px;
    width: auto;
    overflow-y: scroll;
}


</style>


    <section class="header-container" style="background-image: url('images/home-banner.jpg'); background-position: center;background-size:cover;">


        <div class="custom-new-search-bar container">
            <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
        </div>
        <div class="header-text text-center">
                <h5 >{{headertitle}}</h5>
                <span  >{{UserSession.search_city}}</span>
        </div>
        
        <div class='container'>
         <div class="col-md-12 col-sm-8 col-lg-12" >
                <div class="row">
                  <input type ='text' placeholder ='A-Z' ng-model="mysearchaz" name="mysearchaz" ng-keyup="searchaz(mysearchaz)" style="width:160px; height:40; float:left;margin-right:10px;" /> 
                  <input type ='text' placeholder ='Location' ng-model="mysearchloc" name="mysearchloc" ng-keyup="searchloc(mysearchloc)" style="width:160px; height:40; float:left;margin-right:10px;" /> 
                  <input type ='text' placeholder ='Cuisine' ng-model="mysearchcus" name="mysearchcus" ng-keyup="searchcus(mysearchcus)" style="width:160px; height:40; float:left;margin-right:10px;" /> 
                  <input type ='text' placeholder ='Price' ng-model="mysearchprice" name="mysearchprice" ng-keyup="searchprice(mysearchprice)" style='width:160px; height:40; float:left;margin-right:10px;' /> 
                   <input type ='text' placeholder ='Daily Special' ng-model="mysearchds" name="mysearchds" ng-keyup="searchds(mysearchds)" style='width:160px; height:40; float:left;margin-right:10px;' /> 
                   <input type ='text' placeholder ='Booknow' style='width:160px; height:40; float:left;margin-right:10px;' /> 
                </div>
         </div>
            </div>
    </section>

<section class ='early_book_section' style='margin-top:10px;'>
        <div id="section_first" class="container" >        
            <div class='row row-eq-height showdata' when-scrolled ="more()">
                 <div  ng-repeat="rest in restaurant" style=' padding-top:0px;'>
                    <div class="col-md-12 col-sm-8 col-lg-12 panel" >
                        <div class='row' style='height:50px;margin-left:3px;'>
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span> {{rest.title}} </span> 
                            </div> 
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span> {{rest.city}} </span> 
                            </div> 
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span> {{rest.cuisine}} </span> 
                            </div>
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span> {{rest.price}} </span> 
                            </div> 
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span> {{rest.dailyspecials}} </span> 
                            </div> 
                            <div style="width:170px; height:40; float:left;margin-right:10px;overflow: auto;">
                              <span ng-if="rest.partner === 'partner'">
                                Book Now
                              </span>
                              <span ng-if="rest.partner !== 'partner'">
                                
                              </span>
                              
                            </div> 
                          
                            
                        </div>
                    </div>
   
                 </div>
            </div>
        </div>
    </section>




