<tr>

 <td class="list" align="left" valign="top"  >
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
            <tr>
                <td align="left" valign="top"  class="list" style="font-size:13px; padding-left:10px;padding-top:10px; padding-right:5px;padding-bottom:10px;color:#494949;" >
                    For queries, please contact +659179 4552. <br />
                    Kind regards,<br />
                    The Kitchen at Bacchanalia
                </td>
            </tr>
    </table>
</td>

                                
                                
</tr>

