<tr>
    <td align="center" valign="top" style="border-top:1px solid #e8e8e8; padding-top:35px; padding-bottom:35px;background-color:#ffffff;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#283271; font-size:18px;"> {[{data.labelContent['footer_content']}]}.</td>
            </tr>
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#888888; font-size:14px; padding-top:12px;">{[{data.labelContent['app_message']}]}</td>
            </tr>
            <tr>
                <td align="center" valign="top" style="padding-top:22px;">
                    <table width="460" border="0" cellspacing="0" cellpadding="0" class="inner-container">
                        <tr>
                            <td align="left" valign="top"><table width="222" border="0" cellspacing="0" cellpadding="0" align="left" class="store-icons">
                                    <tr>
                                        <td align="left" valign="top"><a rel="nofollow"  href="https://play.google.com/store/apps/details?id=com.weeloy.client" target="_blank"><img src="https://static.weeloy.com/emails/google-play-store.png" width="222" height="64" alt=" " style="display:block; border:0" /></a></td>
                                    </tr>
                                </table>
                                <table width="222" border="0" cellspacing="0" cellpadding="0" align="right" class="store-icons">
                                    <tr>
                                        <td align="left" valign="top"><a  rel="nofollow" href="http://itunes.apple.com/app/id973030193" target="_blank"><img src="https://static.weeloy.com/emails/apple-store-bt.png" alt=" " style="display:block; border:0" /></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>    
</td>
</tr>    
<tr>
    <td align="center" valign="top" bgcolor="#8f8f8f" style="background-color:#8f8f8f; padding-top:10px; padding-bottom:10px;">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="left" valign="middle"><table width="124" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.facebook.com/weeloy.sg" target="_blank"><img src="https://static.weeloy.com/emails/fb.png" width="44" height="40" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="top"><a href="https://twitter.com/weeloyasia" target="_blank"><img src="https://static.weeloy.com/emails/tw.png" width="44" height="40" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="top"><a href="https://www.instagram.com/weeloysingapore/" target="_blank"> <img src="https://static.weeloy.com/emails/instagram.png" width="36" height="40" alt=" "  style="display:block; border:0" /></a></td>
                        </tr>
                    </table></td>
                <td align="right" valign="middle" class="footer-logo"><table width="278" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" valign="middle"><a href="http://www.weeloy.com/blog/" target="_blank"><img src="https://static.weeloy.com/emails/footer-magazine.png"  alt=" " style="display:block; border:0" /></a></td>
                                <td align="left" valign="right"><a href="http://www.weeloy.com/" target="_blank"><img src="https://dev.weeloy.com/images/footer_email_logo.png"  alt=" " style="display:block; border:0" /></a></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </td>
</tr>
</table>
 </td>
  </tr>
</table>
</body>
</html>
