html,
body
{ 
  height: 100%;
  background-color: #fff !important; 
}
/* Navigation*/

.navbar {
	background-color: white;
	padding: 0;
  z-index: 9999999;
}

.navbar-brand
{
  padding-top: 0;
}

#navbar-brand
{
  padding-bottom: 0px;
  margin-top: 0px;
}

#customnavadj
{
  margin-top: 15px;
}


#nav-item {
    font-size: 17px;
}

li#nav-item:before {
  content: "";
}

li.nav-item:before {
  content: "";
}


.italictext
{
  font-style: italic;
  font-size: 14px;
  text-align: left;
}

.top-nav-collapse {
	/*background-color: #0A6A60;*/
}

@media only screen and (max-width: 768px) {
	.navbar {
		/*background-color: #0A6A60;*/
	}
}

/*
@media only screen and (max-width: 544px) {
  #customp
  {
    padding-left: 0px !important; 
  }
}

@media only screen and (min-width: 1900px) {
  #customp {
    padding-left: 90px !important; 
  }
}*/



p {
    margin-top: 0;
    margin-bottom: 0;
}

.custom {
    margin-bottom: 15px;
}

.feature-box .feature-title {
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 14px !important;
    text-align: left;
    padding-left: 20px;
}

/*Intro*/

.view {
	/*background: url("../img/banner.jpg")no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 400px;
}

.banner{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 40px;
}

hm-black-strong .mask, .hm-black-strong .full-bg-img {
background-color: rgba(0, 0, 0, 0.4);
}

 .nview { height: 5px; }

.card-text 
{ 
  /*font-size: 12px; */
  font-size: 1rem;
}
.mysection 
{ 
  margin:-20px 100px 40px 15px; 
  font-size: 18px; text-align:left;
}

@media only screen and (max-width: 768px) {
  .mysection {
    margin:0px;
    margin-bottom: 10px; 
    font-size: 16px; 
    text-align:left;
  }
}


/* .mysection { margin:-20px 100px 40px 100px; font-size: 16px; text-align:left; font-family:lato} */
.glyphicons { font-size: 24px; }
.grey-text { font-size:14px; }
.strong { font-weight: bold; }
 
@media (max-width: 768px) {
	.full-bg-img,
	.view {
		/*height: auto;*/
		position: relative;
	}
}

.description {
	padding-bottom: 3rem;
	color: #ffffe6;
	text-align: center;
}

#navbar-toggleable-cust
{
  margin-top: 0px;
}

li.top-menu {
    margin-left: 10px;
}

@media (max-width: 992px) {
	.description {
		padding-top: 7rem;
	}
}
footer.page-footer {
	/*background-color: #2F968B; */
  background-color: #45526E;
}

.nav-link { 
	font-family: Lato !important;
  /*color: #000000;*/
}

.wy-navbar { 
	margin-left: 0px;
	width: 100%
}
body .wy-main {
	padding-top: 0;
}

.section  .section-heading{
	margin-bottom: 0;
}

.wy-center {
	text-align: center;
}

.wy-get-started {
	background-color: #45526E;
	font-size: 20px;
	padding: 13px 30px
  /*margin-bottom: -50px;*/
}
 
.footer-copyright { font-size:11px; font-family:Roboto; }
.page-footer li  { text-align:left; font-size:11px; font-family:Roboto; }
.page-footer h6 { text-align:left; font-size:14px; font-family:lato; } 
.page-footer li a { font-size:11px; }


/*
http://charliepark.org/bootstrap_buttons
*/

.btn-alpha {
  background-color: hsl(193, 32%, 49%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8d3da", endColorstr="#5493a4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b8d3da), to(#5493a4));
  background-image: -moz-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -ms-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8d3da), color-stop(100%, #5493a4));
  background-image: -webkit-linear-gradient(top, #b8d3da, #5493a4);
  background-image: -o-linear-gradient(top, #b8d3da, #5493a4);
  background-image: linear-gradient(#b8d3da, #5493a4);
  border-color: #5493a4 #5493a4 hsl(193, 32%, 41.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
  -webkit-font-smoothing: antialiased;
}

.btn-bravo {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  font-weight:bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-charlie {
  background-color: hsl(86, 79%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817));
  background-image: -moz-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -ms-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817));
  background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817);
  background-image: -o-linear-gradient(top, #daf6b5, #7cc817);
  background-image: linear-gradient(#daf6b5, #7cc817);
  border-color: #7cc817 #7cc817 hsl(86, 79%, 34%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66);
  -webkit-font-smoothing: antialiased;
}

.btn-delta {
  background-color: hsl(312, 80%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e727c0", endColorstr="#c515a2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e727c0), to(#c515a2));
  background-image: -moz-linear-gradient(top, #e727c0, #c515a2);
  background-image: -ms-linear-gradient(top, #e727c0, #c515a2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e727c0), color-stop(100%, #c515a2));
  background-image: -webkit-linear-gradient(top, #e727c0, #c515a2);
  background-image: -o-linear-gradient(top, #e727c0, #c515a2);
  background-image: linear-gradient(#e727c0, #c515a2);
  border-color: #c515a2 #c515a2 hsl(312, 80%, 40.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-echo {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-foxtrot {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-golf {
  background-color: hsl(195, 79%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5eb", endColorstr="#1798c4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#56c5eb), to(#1798c4));
  background-image: -moz-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -ms-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56c5eb), color-stop(100%, #1798c4));
  background-image: -webkit-linear-gradient(top, #56c5eb, #1798c4);
  background-image: -o-linear-gradient(top, #56c5eb, #1798c4);
  background-image: linear-gradient(#56c5eb, #1798c4);
  border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-hotel {
  background-color: hsl(0, 0%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
  background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
  background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
  background-image: -o-linear-gradient(top, #5b5b5b, #282828);
  background-image: linear-gradient(#5b5b5b, #282828);
  border-color: #282828 #282828 hsl(0, 0%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-india {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}

.btn-juliet {
  background-color: hsl(41, 85%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efb73d", endColorstr="#a5750d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#efb73d), to(#a5750d));
  background-image: -moz-linear-gradient(top, #efb73d, #a5750d);
  background-image: -ms-linear-gradient(top, #efb73d, #a5750d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efb73d), color-stop(100%, #a5750d));
  background-image: -webkit-linear-gradient(top, #efb73d, #a5750d);
  background-image: -o-linear-gradient(top, #efb73d, #a5750d);
  background-image: linear-gradient(#efb73d, #a5750d);
  border-color: #a5750d #a5750d hsl(41, 85%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}

.btn-kilo {
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}

.btn-lima {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-mike {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-november {
  background-color: hsl(0, 100%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fecccc", endColorstr="#fea3a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fecccc), to(#fea3a3));
  background-image: -moz-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -ms-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecccc), color-stop(100%, #fea3a3));
  background-image: -webkit-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -o-linear-gradient(top, #fecccc, #fea3a3);
  background-image: linear-gradient(#fecccc, #fea3a3);
  border-color: #fea3a3 #fea3a3 hsl(0, 100%, 80%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}

.btn-oscar {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

/* Changes by Amin for B2B redesign */

img.logo {
    object-fit: cover;
    width: 140px;
    height: 70px;
    margin-left: 10px;
    margin-right: 30px;
}

.center {
  text-align: center;
}

span.tech {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

#textheader {
    margin-top: 50px;
    max-width: 580px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.fa-facebook {
  color: #000000; 
}

.fa-twitter{ 
    color: #000000; 
}

.fa-instagram{ 
    color: #000000; 
}

.img-center{
    margin-left: auto;
    margin-right: auto;
} 

#customp
{
  text-align: left!important;
  padding-top: 20px;
  padding-left: 0px;
}

#customp2
{
  text-align: left!important;
  padding-left: 20px;
}

#customcont
{
  /*padding-left: 30px; */
  text-align: left;
}

#customli
{
  padding-left: 10px;
}

.custombtnmd {
    margin: -15px;
}

.custombtnlg {
    margin: -4px;
}

.moveleft
{
  text-align: left;
  padding-left: 20px;
}

.feature-titlecust {
    margin-top: 14px !important;
    text-align: left !important;
    padding-left: 20px;
}

.weeloy-text {
    color: #283271 !important;
}

#customheader {
    text-transform: capitalize;
}

.customwhatwedo {
    padding-top: 130px;
}

/*For Footer Section */
.top-section {
    padding-top: 40px;
}

#zen-footer {
    padding-top: 80px;
    padding-bottom: 105px;
    overflow: auto;
}


.img-responsive
{
  display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}


@media (min-width: 992px)
{
    .col-md-push-1 {
      left: 8.33333333%;
  }
}

.navbarcustp
{
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.customwidth {
    max-width: 1290px;
    margin-left: auto !important;
    margin-right: auto !important;
}



.customleft {
    margin-left: 30px;
    width: 30%;
}

.customright {
    margin-left: 30px;
    width: 32%;
}


@media only screen and (max-width: 544px) {
  .customleft 
  {
    margin-left: 15px;
    width: 95%;
  }

  .customright 
  {
    margin-left: 15px;
    width: 95%;
  }

  .divider-new 
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 45px;
  }

}

@media only screen and (max-width: 768px) {
  .customleft 
  {
    margin-left: 15px;
    width: 95%;
  }

  .customright 
  {
    margin-left: 15px;
    width: 95%;
  }
}


@media only screen and (min-width: 769px) {
  .customleft 
  {
    margin-left: 30px;
    width: 30%;
  }

  .customright 
  {
    margin-left: 30px;
    width: 30%;
  }
}

input[type=text] 
{
    padding: 2px !important;
    padding-left: 10px !important;
}

textarea.md-textarea {
    overflow-y: hidden;
    padding-left: 10px !important;
    padding-top: 5px !important; 
    border: 1px solid #ccc !important;
}

.customcenter {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
}

.customtop
{
  margin-top: 5%;
}

.iconfooter
{
    width: 64px;
    margin: 0 auto;
}

/*
.top-section .border-shadow {
    height: 2px;
    background-color: #fff;
    box-shadow: 0px 3px 5px #888;
}*/

.border-shadow {
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background: url(../img/footer/shadow.png);
    background-repeat: repeat-x;
}

.border-shadow::before {
  content: '';
  height: 1.5px;

  flex: 1;
  margin: 0 .45em 0 0;
}

.border-shadow::after {
  content: '';
  height: 1.5px;

  flex: 1;
  margin: 0 0 0 .45em;
}

.smallshadow {
    height: 4px;
    width: 201px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 3px 5px #888;
}
.top_box{
       border-top-left-radius: 100px 5px;
    border-top-right-radius: 100px 5px;
    border-bottom-right-radius: 100px 20px;
    border-bottom-left-radius: 100px 20px;
    height: 4px;
    box-shadow: 0 0 22px #888;
    left: 5%;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.divider-outside-bottom {
  position:relative;
}
.divider-outside-bottom:before {
  content: ""; 
  position:absolute; 
  z-index: -1; 
  width:96%;  
  bottom: 0; 
  height: 10px; 
  left: 2%; 
  border-radius: 100px / 5px; 
  box-shadow:0 0 18px rgba(0,0,0,0.6); 
}


li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 3px;
}

li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "•";
  color: black;
}

.customgrey a {
    color: #2e2e2e;
}

.md-form.customchk {
    margin-bottom: 0px;
}

.clearme
{
  clear: both;
  padding-bottom: 10px;
}