<style>
    .introduction{
        margin: 50px 0px;
        font-weight: bold;
    }

</style>
<div  class="landing-page">
    <div class="container">
        <div class="left">
            <div class="banner_restaurant" style="background-image: url('https://static2.weeloy.com/images/headers/mother-day-2016-weeloy-banner.jpg'); height:400px; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            </div>
            
            <h1>Amazing Mother's Day Deals and Menus</h1>
            
            <p class='introduction'>
                Looking at the best restaurant to celebrate Mother's Day with your love ones? We've got some great venues with special Mother's Day menus for you and your family to have a memorable day to remember for years to come.
            </p>
            <div class="events" >
                <ul style="max-width:600px; margin: auto; padding: 0px;">
                    <li class="clearfix" ng-repeat="evt in events">
                        
                        <a analytics-on="click"
                                        analytics-event="c_go_resto"
                                        analytics-category="c_go_resto_mother_day" 
                                        analytics-label="c_go_resto_mother_day_{{evt.restaurant}}"
                                        ng-href="{{getRestaurantLink(evt.restaurant)}}"  style="text-decoration:none;" title="Celebrate the Mother's Day with {{evt.title}} - reserve your table with weeloy">
                            <h1>Celebrate the Mother's Day with {{evt.title}}</h1>
                        </a>
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span  ng-if="evt.start !== evt.end">{{evt.start| date : format : shortDate}} to {{evt.end| date : format : shortDate}}, {{evt.area}}</span>
                            <p ng-bind="evt.description"></p>
                            
                            <a analytics-on="click"
                                        analytics-event="c_get_pdf"
                                        analytics-category="c_get_pdf_mother_day" 
                                        analytics-label="c_get_pdf_mother_day_{{evt.restaurant}}"href="{{evt.pdf_link}}" target="_blank" ng-if="evt.pdf_link" title="{{evt.title}} Menu for mother's day 2016">Download Mother's Day menu</a>

                            <div style="margin-top:10px;">
                                <button analytics-on="click"
                                        analytics-event="c_book_resto"
                                        analytics-category="c_book_resto_mother_day" 
                                        analytics-label="c_book_resto_mother_day_{{evt.restaurant}}" ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </div> 
                        </div>
                        <div class="img-block">
                            <a href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.picture}}" class="fresco" title="mother's day @ {{evt.title}} - reserve restaurant table now">
                                <img ng-src="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/180/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} mother's day Menu - reserve restaurant table now" style='max-height: 300px;'>
                                
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <a href='search/singapore' style=" color: #555555;text-decoration: none;font-size: 17px;">View more restaurants</a>
            </div>
        </div>
    </div>
</div>
