<style type="text/css">
  .restaurantcard
  {
    height: 250px;
    width: 225px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .crestocontainer
  {
      max-width: 990px;
      overflow-y: hidden;
      margin-left: auto;
      margin-right: auto;
  }
  .customsearch{
      margin-top: 55px !important;
      height: 85px !important;
  }
  .customsearchtitlec{
      text-transform: uppercase;
      font-family: proximanova-semibold;
      font-size: 18px;
      padding-bottom: 0;
  }
  .customsearchtitle{
      font-size: 45px !important;

  }
  .searchpage{
      padding-top: 10px !important;
  }
  .sinputfilters{
      width: 145px;
      height: 30px;
      margin-right: 10px;
      border-radius: 5px;
      border-color: white;
      border: solid 0px;
  }
  .filtercontainer
  {
    text-align: center;
  }
  .modal-dialog-modalmap {
    width: 925px;
    height: 545px;
    margin: 20px auto;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(253, 253, 253, 0.2);
    outline: 0;
    border-radius: 30px;
}

#map_canvas{
        position: inherit !important;
    }
</style>
<section class="header-container" style="background-image: url('images/home-banner.jpg'); background-position: center;background-size:cover;">
   
    
    <div class="custom-new-search-bar container searchpage">
        <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
    </div>
    <div class="header-text text-center customsearch">
            <div class="customsearchtitlec">{{headertitle}}</div>
            <!-- <span >{{UserSession.search_city}}</span> -->
            <span class="customsearchtitle">Singapore</span>
    </div>
     <div class='filtercontainer'>
            <input type ='text' placeholder ='Location' ng-model="search.region" class="sinputfilters"/> 
            <input type ='text' placeholder ='Price' ng-model="search.pricing" class="sinputfilters" /> 
            <input type ='text' placeholder ='Daily Specials Board'  class="sinputfilters" /> 
     </div>
        
    
</section>
<section class="zen-month" style="background-color:white;">
    <div class="crestocontainer">
        
        <div class="css-creen">
            <div class="restaurantcard" ng-repeat="restaurant in restaurantsInMap | filter:search:strict">
                <restaurant-item open-in-new-tab="true" media-server="mediaServer" restaurant="restaurant" indexcount="$index"></restaurant-item>
                <!-- <div id="map_canvas"></div> -->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modalmap" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog-modalmap" role="document">
    <div class="modalcontentmap">
        <div id="map_canvas"></div>
    </div>
  </div>
</div>
<!--<section>
                <div class="search-result-item " ng-class="RestaurantItemClasses"
                         ng-repeat="restaurant in restaurantsInMap"
                         ng-if="$index >= skip && $index < skip + restaurantsPerPage">
                        <restaurant-item restaurant="restaurant" media-server="mediaServer"
                                         open-in-new-tab="true"></restaurant-item>
                    </div>
</section>-->





