
<section class ='early_book_section' style='margin-top:100px;'>
    <div class="dsbbannerholder">
      <div class="dsbbannerimg" style="background-image: url({{ pageheader.images}})">
          <div class = "titleboard">
            <div class="dsbtextc">{{pageheader.title}}</div>
            <div class="dsbtext">{{pageheader.description}}</div>

            
          </div>
        </div>  
    </div>
    <!-- <div class = "titleboard"><h1>Daily Special Board for {{todaydateFormat}}</h1><a href ng-click="registernewresto()">Register New Restaurant</a></div>  -->
    <div class='showdata' when-scrolled ="more()">
         <div  ng-repeat="item in restaurants" style=' padding-top:0px;'>
            <div class="itempanel">
              <div class="itempanelinside">
                <div class="itemimage">
                     <a ng-href="{{ item.getInternalPath() }}" target="_blank">
                        <img ng-src="images/transparent.png" Title= "{{item.title}}" style='width:100%;height: 100%;background: url("https://media2.weeloy.com/upload/restaurant/{{item.restaurant}}/{{item.image}}");background-position: center;background-repeat: no-repeat;background-size: cover;'>
                     </a>
                </div>
                 <div class="headline">
                   {{item.title}}
                </div>
                  <div class='item_details'>
                   <div class='item_details'><i class="fa fa-tag"></i><span ng-repeat="cusine in item.getCuisineAsArray()">{{cusine}}<span ng-show="!$last">, </span></span>
                    </div>
                    <div ng-if="item.city != '' || item.region != ''"><i class="fa fa-map-marker"></i> {{item.city}}
                        <span><span ng-if="item.region != ''">, </span> {{item.region}}</span>
                    </div>
                    <div class="cpricing">
                        {{item.pricing}}
                    </div>
                  </div>
                <div class="cbtnholder">
                     <a ng-href="{{ item.getInternalPath() }}/booknow" target="_blank">
                    <center>
                        <input class="input-group-addon book-button-sm2 btn-leftBottom-blue-noborder" type="button" name="" value="Book Now">
                    </center>
                     </a>
                </div>
            </div>
       
         </div>
         
    </div>
           
         
    </div>
    <div ng-show="loadingimg">
            <center>
              <img src="images/loading2.gif">
            </center>
          </div>

</section>


