<div ng-show='showlayout && showbooking'>		
<button ng-if="mobilephone" type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="managewindow('up')"><i class="glyphicon glyphicon-arrow-up"></i></button>
<table width='100%'><tr><td valign='top'>&nbsp;&nbsp;</td><td valign='top'>
	<table class='table-striped' style="margin-bottom: 20px;font-size:11px;font-family: Roboto">		
		<tr><td nowrap colspan='3' align='center'><h6 style='color:blue'>TODAY STATS</h6></td></tr>
		<tr ng-repeat="x in todayinfo | filter:emptyOrNull"><td nowrap><strong ng-if="x.label !== ''">{{ x.label}} :</strong></td><td> &nbsp; </td><td nowrap>{{ x.value}}</td></tr>
	</table>
	<p ng-if="promptmsg !==''" style='background-color:orange;'>{{ promptmsg }}</p>	
	</td><td valign='top' width='10'>&nbsp;&nbsp;&nbsp;</td><td valign='top'>
	<table class='table-striped' style="margin-bottom: 20px;font-size:11px;font-family: Roboto">		
		<tr><td nowrap colspan='3' align='center'><h6 style='color:blue'>RESERVATION</h6></td></tr>
		<tr ng-repeat="x in aBookingInfo | filter:emptyOrNull">
			<td nowrap><strong>{{ x.label}} :</strong></td><td> &nbsp; </td>
			<td>
			<button class="btn btn-info btn-xs" ng-if="x.label === 'Confirmation'" ng-click="modifbooking()" style='font-size:10px;'>{{ x.value | adatereverse:x.c}}</button>
			<span ng-if="x.label !== 'Confirmation' && x.label !== 'Request' && x.label !== 'Notes' ">{{ x.value | adatereverse:x.c}}</span> 
			<span ng-if="x.label === 'Request' || x.label === 'Notes' ">
			<a href ng-if="(x.value !== '' && x.value.length >= x.w)" data-toggle="popover" data-placement="top" title="{{ x.value }}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')" ng-class = "'classblue'" >{{ x.value | notesubstr:x.w }}</a> 
			<a href ng-if="(x.value === '' || x.value.length < x.w)">{{ x.value }}</a>
			<span>
			</td></tr>
		<tr ng-if='selectedItem[0].modified > -1'><td colspan='3'><strong>modified:</strong> {{ selectedItem[0].modifiedinfo }}</td></tr>
		<tr><td colspan='3'>&nbsp;</td></tr>
		<tr><td colspan='3'><button class="btn btn-warning btn-xs" ng-click="cancelbooking()" style='font-size:10px;'>cancel -> {{ selectedItem[0].booking }}</button></td></tr>
	</table>
	</td><td valign='top' width='10'>&nbsp;&nbsp;&nbsp;</td><td valign='top'>
	<table class='table-striped' style="margin-bottom: 20px;font-size:11px;font-family: Roboto">		
		<tr><td nowrap colspan='3' align='center'><h6 style='color:blue'>TABLE INFORMATION</h6></td></tr>
		<!--<tr><td colspan='3'><input type='button' value='testing' ng-click="settingtable('Table')"></td></tr>-->

		<tr ng-repeat="x in aTableInfo | filter:emptyOrNull">
			<td nowrap><strong ng-if="x.label.length > 3">{{ x.label}} :</strong></td><td> &nbsp; </td>
			<td><span ng-if="x.href === 0">{{ x.value}}</span>
				<span ng-if="x.href === 1"><button class="btn btn-default btn-xs" ng-click="settingtable(x.label)" ng-class="x.label === 'State' ? classcolor : 'classwhite'" style='font-size:10px;margin-top:3px'>{{ x.value}}</button></span>
				<span ng-if="x.href === 2"><dropdown-multiselect model="theConf" list="tablesAr" savefunc="assigntablebkg"></dropdown-multiselect></span>
			</td></tr>
		<tr ng-if="smslatecomer && theConf.phone && theConf.phone.length > 6 && theConf.tablename && theConf.tablename !== ''" style="height:25px"><td></td><td></td><td><button type='button' class='btn btn-danger btn-xs' ng-click='notifylatecomer(theConf)' style='font-size:10px;color:black'>sms late comer</button></td></tr>
		<tr ng-if="freetxtsms && theConf.phone && theConf.phone.length > 6 && theConf.tablename && theConf.tablename !== ''" style="height:25px"><td></td><td></td><td><button type='button' class='btn btn-warning btn-xs' ng-click='presendfreetxtsms(theConf)' style='font-size:10px;color:black'>sms your content</button></td></tr>

	</table>
	<table class='table-striped' style="margin-bottom: 20px;font-size:11px;font-family: Roboto">		
		<tr><td nowrap colspan='3' align='center'><button type='button' class='btn btn-primary btn-xs' ng-click='viewprofile()' style='font-size:12px;'>GUEST PROFILE</button></td></tr>
		<tr ng-repeat="x in aProfilInfo | filter:emptyOrNull"><td nowrap><strong>{{ x.label}} :</strong></td><td> &nbsp; </td><td><a ng-if="x.href" href ng-click="settingtable(x.label)" ng-class="x.label === 'State' ? classcolor : 'classblack'">{{ x.value}}</a><span ng-if="!x.href"">{{ x.value}}</span></td></tr>
		<tr ng-if='!epson'><td nowrap colspan='3' align='center'><button type='button' class='btn btn-primary btn-xs' ng-click='printprofile()' style='font-size:10px;'>print summary</button></td></tr>
		<tr ng-if='epson'><td nowrap colspan='3' align='center'><a type='button' id='printsummary' class='btn btn-primary btn-xs' href='weeloypro://print_receipt/' style='font-size:10px;' target='_blank'> PRINT </a></td></tr>
		
	</table>
</td></tr></table>
</div>
