<script type="text/ng-template" id="captains.html">
<div>
<h5 style="text-align:center;text-transform: uppercase;"> CAPTAINS TABLE </h5>
<table width='50%' class='table-striped' style="margin: 20px 20px 20px 200px;font-size:12px;font-family: Roboto">
 <tr><th align='center'>TABLES NAMES</th> <th align='center'>SIZE</th> <th align='center'>CAPTAINS</th> </tr>
 <tr ng-repeat="u in fulldata" ><td width='100px' align='center'>{{ u[1] }}</td><td>{{ u[2] }}</td><td width='200px' align='center' style="padding:5px 0 5px 0"><input type='text' ng-model='u[3]' class='form-control input sm' style="height:25px"></td></tr>
 <tr><td colspan='3'>&nbsp;</td></tr>
 <tr>
 <td colspan='2' align='center'><button type="button" class="btn btn-primary btn-sm" ng-click='savecaptain();'> &nbsp; SAVE  &nbsp; </button></td>
 <td align='center'> <button type="button" class="btn btn-warning btn-sm" ng-click='cancelcaptain();'> CANCEL </button></td>
 </tr>
</table>
</div>
</script>