<script type="text/ng-template" id="icicle.html">
<div id="icicletemplate" style='background:white;'>
<h5 style="text-align:center;text-transform: uppercase;">
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="icicle.move('left')"><i class="glyphicon glyphicon-arrow-left"></i></button>
 &nbsp; Reservation Icicle  &nbsp; 
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="icicle.move('right')"><i class="glyphicon glyphicon-arrow-right"></i></button>
<button  type="button" style="margin-left:25px" class="btn btn-default btn-xs" ng-click="icicle.toggle90();"><i class="fa fa-undo" aria-hidden="true"></i></button>
<button  type="button" style="margin-left:25px" class="btn btn-default btn-xs" ng-click="icicle.lunch();">lunch</button>
<button  type="button" style="margin-left:25px" class="btn btn-default btn-xs" ng-click="icicle.dinner();">dinner</button>
<button  type="button" style="margin-left:25px" class="btn btn-default btn-xs" ng-click="icicle.print();"><i class="fa fa-print" aria-hidden="true"></i></button>
</h5>

<div ng-if="icicle.view90 === false">
<table width='100%' class='table-striped' style="margin-bottom: 20px;font-size:12px;font-family: Roboto">
 <tr><th ng-repeat="u in icicle.xview" ng-class="{ 'classred': icicle.idata[icicle.cursor + u].label.indexOf(':') < 0 }" ><span style="margin-left:10px">{{ icicle.idata[icicle.cursor + u].label }}</span></th> </tr>
 <tr ng-repeat="y in icicle.yview">
 	<td ng-repeat="x in icicle.xview" align='center'><span ng-if="icicle.idata[icicle.cursor + x].data.length > y"> {{ icicle.idata[icicle.cursor + x].data[y] }}</span></td>
 </tr>
</table>
</div>

<div ng-if="icicle.view90">
<table width='100%' class='table-striped' style="margin: 0 0 20px 20px;font-size:14px;font-family: Roboto">
<tr style="border-bottom: solid 1px #000000;"><th>Time</th><td>&nbsp;</td><th ng-repeat="x in icicle.yview">{{ x+1 }}</th></tr>
 <tr ng-repeat="y in icicle.idata">
 	<td ng-class="{ 'classred': y.label.indexOf(':') < 0 }" style="width:50px;border-right: solid 1px #000000;">{{ y.label }}</td><td>&nbsp;</td>
 	<td ng-repeat="x in icicle.yview"> <span ng-if="x < y.data.length">{{ y.data[x] }}</span></td>
 </tr>
</table>
</div>

</div>
</script>