<!DOCTYPE html>
<html>
<head>
<script type='text/javascript' src="../client/bower_components/angular/angular.min.js"></script>
</head>
<body>

<script>
var token;
var app = angular.module("tmsReport", []);
app.controller("myCtrl", function($scope, bookService) {

	$scope.data = [];
	$scope.products = [];
	$scope.hours = [];
	
	if(getArg() === false) {
		alert("Invalid Arguments, unable to continue");
		return;
		}
		
	token = $scope.token;
	$scope.readbooking = function() {
	
		bookService.readBooking($scope.restaurant, "today").then(function(data) {
			if(data && data.status && data.status < 0)
				return;
			data.map(function(x) { 
				x.slot = x.time.timetoslot(); 
				x.hh = parseInt(x.time.substr(0, 2)); 
				if($scope.hours.indexOf(x.hh) < 0 && x.hh > 0) 
					$scope.hours.push(x.hh); 
				});
			data.sort(function(a, b) { return (a.vtime - b.vtime); });
			$scope.hours.sort(function(a, b) { return (a - b); });
			$scope.data = data.slice(0);
				
			console.log('DATA', data);
			});
		};
		
	$scope.readbooking();
	
	function getArg() {
		var tmpAr = ["restaurant", "token", "title"];
		var href = window.location.href;
		tmpAr.map(function(pat) { var re = new RegExp(pat + '=([^&]+)(?:&|$)'), fnd = href.match(re); if(fnd && fnd.length > 1) { $scope[pat] = fnd[1].replace(/\./g, " "); $scope.products.push($scope[pat]); }});
		return !(!$scope.restaurant || $scope.restaurant.length < 7 || !$scope.token || $scope.token.length < 6);
		}
		
});
</script>

<div ng-app="tmsReport" ng-controller="myCtrl">
<!--  <ul><li ng-repeat="x in products">{{x}}</li></ul>   -->
  <ul ng-repeat="h in hours">
    <h4>{{ h }}</h4>
    <li ng-repeat="x in data | filter:{hh:h}">{{x.booking}} {{x.time}}</li>
  </ul>
</div>

<script type='text/javascript' src="../backoffice/inc/backofficelib.js?37"></script>
</body>
</html>
