<style>

.profiletemplate {
  font-family:helvetica;
  font-size:12px;
  margin: 10px 10px 10px 25px;
  width: 95%;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #8dc6d8;
}
.profiletemplate tr {
  border: 1px solid #8dc6d8;
}
.profiletemplate tr:nth-child(even) {
  background-color: #ecf6f8;
}
.profiletemplate th {
  padding-left: 20px;
  padding-right: 50px;
  font-size:13px;
  text-transform:uppercase;
  background-color: #8dc6d8;
  color: #FFF;
}
.profiletemplate th:first-child {
  display: table-cell;
}
.profiletemplate th:nth-child(2) {
  display: table-cell;
}
.profiletemplate th:nth-child(2) span {
  display: none;
}
.profiletemplate th:nth-child(2):after {
  content: attr(data-th);
}
.profiletemplate td {
  padding-right: 30px;
  padding-left: 20px;
}

.profileh {
	color: #193f11;
	margin-left:40px
}
</style>

<div ng-init="moduleName='bookingToday';" id='bookingview' style='background-color:white;height:100%;'>
<div ng-show='showbooking'>
<div class="col-sm-12  bottom-border">
<p ng-if="promptmsg !==''" style='background-color:orange;'>{{ promptmsg }}</p>	

<nav ng-if="editmode === 0 && aTableInfo.length > 0" class="navbar" style="margin:0 0 5px 0; padding:0 0 0 0">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
<li ng-repeat="x in selectedItem">
	<button class="btn btn-echo" ng-click='submodifbooking();' style="font-size:12px;text-transform:uppercase;font-weight:bold;">{{ x.fullname }}</button>  <!-- modifbooking -->
	<dropdown-multiselect ng-if="hidemultiple !== true" model="theConf" list="tablesAr" savefunc="assigntablebkg"></dropdown-multiselect>
	<button ng-if="x.tablename === '' && x.state !== 'no show'" class="btn btn-india" ng-click="settingtable('aut')" style="font-size:12px;">auto attribute table</button>
	<div class="btn-group">
	<button class="dropdown-toggle" ng-class="[{ 'to come':'btn btn-alpha', 'seated':'btn btn-foxtrot', 'partially seated':'btn btn-delta', 'blocked':'btn btn-hotel', 'waiting':'btn btn-purple', 'paying':'btn btn-juliet', 'main course':'btn btn-lima', 'not ready':'btn btn-marron', 'left':'btn btn-default', 'no show':'btn btn-kilo' }[x.state]]" data-toggle="dropdown" aria-expanded="false" style='font-size:12px;'>{{ x.state}}</button>
		<ul class="dropdown-menu" role="menu">
		<li ng-if="x.tablename !== ''" ng-repeat="y in stateAr"><a href ng-click="lysetstate(x, y)"> {{y}}</a></li>
		<li ng-if="x.tablename === ''" ng-repeat="y in ['to come', 'no show']" class='glyphiconsize'><a href ng-click="lysetstate(x, y)"> {{y}}</a></li>
		</ul>
	</div>
	<span ng-if="x.tablename !== '' && x.captain !== ''" style="margin-left:30px;"><i class="glyphicons glyphicons-anchor" style="color:navy"></i><strong style="color:red;font-size:14px;">{{ x.captain }}</strong></span>
	<span style="margin-left:30px;color:blue;font-size:11px;">{{ x.booking }}</span>
</li>
    </ul>
</div>
</nav>
</div>

<div class="col-sm-12">
<ul class="nav navbar-nav" style="margin-bottom:5px">
<li ng-if="fixedviewmode !== 1" style="margin-left:10px">
<span style="color:navy;font-size:11px;"> &nbsp;&nbsp; Current view: <span style="font-size:14px;font-weight:bold">{{ viewtime }}</span></span>
</li>
<li style="margin-left:0"></li>

<li ng-if="layoutName !== '' && bkgview" style="color:navy;margin-left:15px;font-size:15px;">
&nbsp; floor: <span style="font-size:16px;text-transform:uppercase;"> {{ layoutName }} </span> <span ng-if='layoutcaptain === 1'>(c)</span>
</li>

<li style="margin-left:30px">
<h3 style="color:navy;margin: 0 0 10px 0;"><center> {{ tmstitle }} </center></h3>
</li>

<li ng-if="selectedMFloor.length > 0"style="margin-left:30px;font-size:10px">
<button class="btn btn-default btn-xs" ng-click='toggleMFView();' ><span ng-if="selectedMFloorflg === 1">hide floors</span><span ng-if="selectedMFloorflg !== 1">show floors</span></button>
</li>
<li ng-if="fixviewflag" style="margin-left:30px;font-size:10px">
<button class="btn btn-danger btn-xs" ng-click='toggleFixView();' ><span ng-if="fixedviewmode === 1">set hour view</span><span ng-if="fixedviewmode !== 1">set fixed  view</span></button>
</li>
</ul>
</div>
<div ng-if="selectedMFloor.length > 0 && selectedMFloorflg === 1" class="col-sm-12  bottom-border">
<ul class="nav navbar-nav" style="margin-bottom:5px">
<li ng-repeat="f in selectedMFloor"><button class="btn btn-oscar btn-xs" ng-click="choosethatfloor(f);" style="font-size:13px;text-transform:uppercase;font-weight:bold;margin-left:15px;">{{ f }}</button></li>
</ul>
<br />
</div>

<div>
<div class="col-sm-12 row">&nbsp;</div>

<div class="col-sm-4">
<div class="form-group" style='margin-bottom:20px'>
	<div class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		<input type="text" class="form-control input-sm" ng-model="searchText.v" ng-change="paginator.setPage(0);"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="z-index:0"> 
	</div>
<span ng-if="!waitinglist || bkgview" class='infobk' style='font-size:10px;margin-left:5px;'>bkgs:&nbsp;<strong>{{paginator.getItemCount()}}</strong></span>
<span ng-if="waitinglist && waitingcount > 0" class='infobk' style='font-size:10px;margin-left:5px;color:red;'>waiting:&nbsp;<strong>{{ waitingcount }}</strong></span>
</div>
</div>

<div class="col-sm-8">

<ul class="nav navbar-nav">

<li>
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:12px;'>mode: <strong>{{ cTimeselection }} </strong> <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="z in timeselection" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': cTimeselection === z }" ng-click="setshowMode(z, 1);"> {{z}}</a></li>
		</ul>
	</div> 		
</li>

<li ng-show="ctime !== -1">
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:12px;'>hours <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
		<li ng-repeat="y in [9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,'reset']" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': y === ctime }" ng-click="viewhour(y);"> {{y}}</a></li>
		</ul>
	<!-- <br /><span class='infobk' style='font-size:10px;margin:0 0 0 5px;'>hour:&nbsp;<strong>{{ctime}}</strong></span> -->	
	</div> 		
</li>

<li ng-show="mealtype === 'lunch'">
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:12px;'>hours <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
		<li ng-repeat="y in [9,10,11,12,13,14,15,16,'reset']" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': y === ctime }" ng-click="setviewbyselection('lunch', y);"> {{y}}</a></li>
		</ul>
	<!-- <br /><span class='infobk' style='font-size:10px;margin:0 0 0 5px;'>hour:&nbsp;<strong>{{ctime}}</strong></span> -->	
	</div> 		
</li>

<li ng-show="mealtype === 'dinner'">
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:12px;'>hours <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
		<li ng-repeat="y in [17,18,19,20,21,22,23,'reset']" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': y === ctime }" ng-click="setviewbyselection('dinner',y);"> {{y}}</a></li>
		</ul>
	<!-- <br /><span class='infobk' style='font-size:10px;margin:0 0 0 5px;'>hour:&nbsp;<strong>{{ctime}}</strong></span> -->	
	</div> 		
</li>

<li>
<button class="btn btn-mike btn-xs" ng-click="toggleseated();" style="font-size:13px;"><span ng-if="fltrSeatedbkg === 0">hide seated</span><span ng-if="fltrSeatedbkg !== 0">show seated</span></button>
</li>
<li>
<button class="btn btn-warning btn-xs" ng-click="gotocurrentime();" style="font-size:13px;margin-left:15px;">NOW</button>
</li>
<li ng-if="fixedviewmode !== 1">
<span style="color:navy;font-size:11px;"> &nbsp;&nbsp; Current view: <span style="font-size:14px;font-weight:bold">{{ viewtime }}</span></span>
</li>
</ul>
</div>

<div class="row">
<style>
th a { font-family: courier; font-size: 12px; }
td { font-family: verdana; font-size: 10px; }
tr { height: 15px; }
</style>
<table width='100%' class="table profiletemplate">
		<thead><tr><th ng-repeat="y in tabletitle | filter: { m: '!-1'} "><tbtitle var="{{y.a}}" name="tabletitle"  module='moduleName'/></th><th ng-if="waitingview === 1">Notification</th><th ng-if="showestimate && waitingview === 1">Estimate</th></tr></thead>
		<tr ng-repeat="x in filteredPeople = (names| timeslotfilter:ctime-1 | fullfilter:mealtype:waitingview:fltrSeatedbkg:fltrLastbkg | filter:searchText.v) | sizefilter:this | orderBy:predicate:reverse | slicefilter:paginator.getPage():paginator.getRowperPage():paginator.getItemCount() | limitTo:paginator.getRowperPage()" ng-class="{ 'selectedline': x.booking === curbooking }" ng-click="view(x, 1);">
			<td ng-repeat="z in tabletitle | filter: { m: '!-1'} ">
			<span ng-if="z.a!=='state' && z.a!=='tablename' && z.a!=='comment' && z.a!=='type' && z.a!=='fullname' && z.a!=='fullnotes' && z.a!=='time'"> <tb-listingbkg>{{ x[z.a]  | adatereverse:z.c}}<span ng-if="z.a === 'booking' && x.modified >= 0">*</span></tb-listingbkg></span>
			<span ng-if="z.a==='time'"><tb-listingbkg><a href ng-dblclick="modifDblbooking(x);">{{ x[z.a]  | adatereverse:z.c}}</a></tb-listingbkg></span>
			<span ng-if="z.a==='tablename'" style="word-break:break-all;word-wrap:break-word;"> <tb-listingbkg>{{ x[z.a]  | adatereverse:z.c}}</tb-listingbkg></span>
			<span ng-if="z.a==='state' && x.tablename !== ''"><select ng-model="x.state" ng-options="val for val in stateAr" ng-change="lysetstate(x, x.state)"></select></span>
			<span ng-if="z.a==='state' && x.tablename === ''"><select ng-model="x.state" ng-options="val for val in ['to come', 'waiting', 'noshow']" ng-change="lysetstate(x, x.state)"></select></span>
			<span ng-if="z.a==='fullname'"><tb-listingbkg><span ng-class="[{ '1':'cvip', '2':'cevent', '3':'csoigne', '4':'ctable', '5':'cchinese', '6':'cseated'}[x.colorcode]]">{{ x[z.a] | adatereverse:z.c }} </span></tb-listingbkg></span>
			<span ng-if="z.a==='type'"><span ng-if="x.type !== 'thirdparty'">{{ x.type }}</span><span ng-if="x.type === 'thirdparty'">{{ x.booker }}</span></span>
			<span ng-if="z.a==='comment' || z.a==='fullnotes'"> 
				<a href ng-if="(x[z.a] !== '' && x[z.a].length >= z.w)" data-toggle="popover" data-placement="top" title="{{ x[z.a] }}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')" ng-class = "'classblue'">{{ x[z.a] | notesubstr:z.w }}</a>
				<a href ng-if="(x[z.a] === '' || x[z.a].length < z.w)">{{ x[z.a] }}</a>
			</span>
			</td>
			<td ng-if="x.state==='waiting' && waitingview === 1"><a class="btn btn-default btn-xs"  href ng-click="notifywait(x)">{{ x.bkstatus }}</a></td>
			<td ng-if="showestimate && x.state==='waiting' && waitingview === 1">{{x.estimate}} mn</td>
		</tr>
		<tr><td colspan='{{ tabletitle.length+1 }} '></td></tr>
</table>	
<div ng-if="filteredPeople.length >= paginator.getRowperPage()" class="col-md-12" align="center" style='font-size:11px' ng-include="'../backoffice/inc/paginator.html'"></div>
<div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
</div>
</div>
</div>
</div>
