<div ng-init="moduleName='bookingToday';">
<div ng-show='showbooking'>
<div class="col-sm-12">
<ul class="nav navbar-nav">
<li>
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="managewindow('left')"><i class="glyphicon glyphicon-arrow-left"></i></button>
</li>
<li>
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="managewindow('right')"><i class="glyphicon glyphicon-arrow-right"></i></button>
</li>
<li>
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="managewindow('up')"><i class="glyphicon glyphicon-arrow-up"></i></button>
</li>
<li>
<button  type="button" style="margin-left:5px" class="btn btn-default btn-xs" ng-click="managewindow('down')"><i class="glyphicon glyphicon-arrow-down"></i></button>
</li>
<li style="margin-left:10px">
<div class="btn-group" style="margin-left:10px">
<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:10px;'>Page Size <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		<li ng-repeat="x in paginator.pagerange()"  class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': x === paginator.getRowperPage() }" ng-click="paginator.setRowperPage(x)"> {{x}}</a></li>
	</ul>
</div> 		
</li>

<li style="margin-left:10px">
<span style="color:navy;font-size:11px;"> &nbsp;&nbsp; {{ viewtime }} </span>
</li>

<li ng-if="layoutName !== '' && bkgview" style="margin-left:10px">
<span style="color:navy;font-size:11px;"> &nbsp; Layout: {{ layoutName }} </span> <span ng-if='layoutcaptain === 1'>(c)</span>
</li>

<li ng-if="layoutName !== '' && bkgview && layoutcaptain === 1 && captainlist.length > 0" style="margin-left:10px">
<div class="btn-group" style="margin-left:10px">
<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:10px;'>current captain {{ currentcaptain }} <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		<li ng-repeat="x in captainlist" class='glyphiconsize'><a href ng-click="viewcaptain(x)"> {{x}}</a></li>
	</ul>
</div> 		
</li>

<li style="margin-left:30px">
<h3 style="color:navy;margin: 0 0 10px 0;"><center> {{ tmstitle }} </center></h3>
</li>
</ul>
</div>

<div class="col-sm-12 row">&nbsp;</div>

<div class="col-sm-4">
<div class="form-group" style='margin-bottom:20px;'>
	<div class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		<input type="text" class="form-control input-sm" ng-model="searchText.v" ng-change="paginator.setPage(0);setshowMode('all');" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" > 
	</div>
<span ng-if="!waitinglist || bkgview" class='infobk' style='font-size:10px;margin-left:5px;'>bkgs:&nbsp;<strong>{{paginator.getItemCount()}}</strong></span>
<span ng-if="waitinglist && waitingcount > 0" class='infobk' style='font-size:10px;margin-left:5px;color:red;'>waiting:&nbsp;<strong>{{ waitingcount }}</strong></span>
</div>
</div>

<div class="col-sm-8">

<ul class="nav navbar-nav">
<li ng-if='waitinglist'>
	<div style="margin-left:10px">
		<button type="button" class="btn btn-default" ng-click="toggleViewWB();"><i class="glyphicon " ng-class="{ 'glyphicon-hourglass': bkgview, 'glyphicon-cutlery': !bkgview }"></i></button><br>
		<span style='font-size:xx-small;'>{{ bookwaititle }}</span>
	</div>
</li>

<li>
	<div style="margin-left:10px">
		<button  type="button" class="btn btn-default" ng-click="addbooking(0)"><i class="glyphicon glyphicon-earphone"></i></button><br>
		<span style='font-size:xx-small;'>callcenter</span>
	</div>
</li>

<li ng-if="subindexLayout > -1">
	<div style="margin-left:10px">
		<button  type="button" class="btn btn-default" ng-click="nextfloor();"><i class="glyphicon glyphicon-expand"></i></button><br>
		<span style='font-size:xx-small;'>nextfloor</span>
	</div>
</li>

<li>
	<div class="input-group" style="margin-left:0px">
		<span><button  type="button" class="btn btn-default" ng-click="dateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
		<input type="text" class="form-control" uib-datepicker-popup="dd/mm/yyyy" ng-change='changedate();' ng-model="datePickerDoor.originaldate" is-open="datePickerDoor.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="width:0;opacity:0" readonly />
	</div>
</li>

<li>
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:10px;'>Mode <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="z in timeselection" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': cTimeselection === z }" ng-click="setshowMode(z);"> {{z}}</a></li>
		</ul>
	</div> 		
</li>

<li ng-show="ctime !== -1">
	<div class="btn-group" style="margin-left:5px">
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:10px;'>hours <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
		<li ng-repeat="y in [9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,'reset']" class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': y === ctime }" ng-click="viewhour(y);"> {{y}}</a></li>
		</ul>
	<!-- <br /><span class='infobk' style='font-size:10px;margin:0 0 0 5px;'>hour:&nbsp;<strong>{{ctime}}</strong></span> -->	
	</div> 		
</li>

</ul>
</div>

<div class="row">

<table width='100%' class="table table-condensed table-striped" style='font-family:helvetica;font-size:10px;margin-left:15px'>
		<thead><tr><th ng-repeat="y in tabletitle | filter: { m: '!-1'} "><tbtitle var="{{y.a}}" name="tabletitle"  module='moduleName'/></th><th ng-if="waitingview === 1">Notification</th><th ng-if="showestimate && waitingview === 1">Estimate</th><th> &nbsp;  &nbsp;  &nbsp;</th></tr></thead>
		<tr ng-repeat="x in filteredPeople = (names| timeslotfilter:ctime-1 | mealtypefilter:mealtype | waitingfilter:waitingview | filter:searchText.v) | sizefilter:this | orderBy:predicate:reverse | slicefilter:paginator.getPage():paginator.getRowperPage():paginator.getItemCount() | limitTo:paginator.getRowperPage()" ng-class="{ 'selectedline': x.booking === curbooking }" ng-click="view(x)">
			<td ng-repeat="z in tabletitle | filter: { m: '!-1'} ">
			<span ng-if="z.a!=='state' && z.a!=='tablename' && z.a!=='comment' && z.a!=='type' && z.a!=='comment' && z.a!=='fullnotes'"> <tb-listingbkg><a href ng-click="view(x)">{{ x[z.a]  | adatereverse:z.c}}<span ng-if="z.a === 'booking' && x.modified >= 0">*</span></a></tb-listingbkg></span>
			<span ng-if="z.a==='tablename'"> <tb-listingbkg><a href ng-click="view(x)" style="word-break:break-all;word-wrap:break-word;">{{ x[z.a]  | adatereverse:z.c}}</a></tb-listingbkg></span>
			<span ng-if="z.a==='state'"><select ng-model="x.state" ng-options="val for val in stateAr" ng-change="lysetstate(x, x.state)"></select></span>
			<span ng-if="z.a==='type'"><a href ng-click="view(x)"><span ng-if="x.type !== 'thirdparty'">{{ x.type }}</span><span ng-if="x.type === 'thirdparty'">{{ x.booker }}</span></a></span>
			<span ng-if="z.a==='comment' || z.a==='fullnotes'"> 
				<a href ng-if="(x[z.a] !== '' && x[z.a].length >= z.w)" data-toggle="popover" data-placement="top" title="{{ x[z.a] }}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')" ng-class = "'classblue'">{{ x[z.a] | notesubstr:z.w }}</a>
				<a href ng-if="(x[z.a] === '' || x[z.a].length < z.w)">{{ x[z.a] }}</a>
			</span>
			</td>
			<td ng-if="x.state==='waiting' && waitingview === 1"><input type='button' value='{{ x.bkstatus }}' ng-click="notifywait(x)"></td>
			<td ng-if="showestimate && x.state==='waiting' && waitingview === 1">{{x.estimate}} mn</td>
			<td> &nbsp;  &nbsp;  &nbsp; &nbsp;</td>
		</tr>
		<tr><td colspan='{{ tabletitle.length+1 }} '></td></tr>
</table>	
<div ng-if="filteredPeople.length >= paginator.getRowperPage()" class="col-md-12" align="center" style='font-size:11px' ng-include="'../backoffice/inc/paginator.html'"></div>
<div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
</div>
</div>
</div>
