<div class="container">
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div class="row">
<div class="white-bg NoMargin"  style="min-height:100%;">
<h2>About Us</h2>
<div class="custombox1">
<p>Weeloy is a Dynamic Distribution platform offering to FOOD lovers a new & FUN way to enjoy a world of privileges at participating RESTAURANTS.</p>
<div class="aboutus">
	<ul style="margin-bottom: 0px">
	<li><span><i class="fa fa-home"></i>83 Amoy Street, Singapore 069902</span></li>
	<li><span><i class="fa fa-phone"></i></span></li>
	<li><span><i class="fa fa-envelope"></i> support@weeloy.com</span></li>
	</ul>
</div>

</div>
</div>
</div>
<div class="row">
<div class="copyright" style="text-align:center"><a href="https://www.weeloy.com/">&copy;&nbsp;2014 Design by Weeloy</a></div>
</div>
</div>
