
<script type="text/ng-template" id="loginBackoffice.html">
	<content-item ng-repeat="item in interfaceLogin" content="item" myTemplates="templateData"></content-item>
</script>

<script type="text/ng-template" id="forgotBackoffice.html">
	<content-item ng-repeat="item in interfaceForgot" content="item" myTemplates="templateData"></content-item>
</script>

<script type="text/ng-template" id="chgpassBackoffice.html">
	<content-item ng-repeat="item in interfaceChange" content="item" myTemplates="templateData"></content-item>
</script>

<script type="text/ng-template" id="registerBackoffice.html"> 
	<content-item ng-repeat="item in interfaceRegister" content="item" myTemplates="templateData"></content-item>
</script>

<script type="text/ng-template" id="modalgen.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">
<div class="input-group"  style='padding:20px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" ng-model="modalOptions.mydata.name" class="form-control input" placeholder="Layout Name">                                        
</div>		
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="modalgen1.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">
<div class="input-group"  style='padding:20px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" ng-model="modalOptions.mydata.name" class="form-control input-sm" placeholder="Layout Name">                                        
</div>		
<div class="input-group" ng-if="modalOptions.mydata.aArray.length > 0" style='padding:20px 10px 10px 10px;'>
<div class='input-group-btn xls' dropdown >
<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'>
&nbsp;<i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.aArray"><a href ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input-sm' placeholder="number of persons" readonly >
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="modalgen2.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class='input-group' ng-if="modalOptions.mydata.aArray.length > 0" >
<div class='input-group-btn' dropdown>
<button type='button' class='btn btn-default btn-sm dropdown-toggle' data-toggle='dropdown'>&nbsp;<i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span></button>
<ul class='dropdown-menu scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.aArray track by $index"><a href ng-click="modalOptions.mydata.name=p;">{{ p }}</a></li>
<li class="divider"></li>
<li><a href ng-click="modalOptions.mydata.name='';">Reset</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.name' class='form-control input-sm' placeholder="table attribution" readonly >
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="modaleditMF.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<h5>Select layouts for multiplefloor "{{modalOptions.mydata.id}}" </h5>
<div class='row' style="padding:20px 10px 10px 50px;">
<div style="overflow-y: scroll; width:200px; height:180px;border-style:solid;border-width: 1px;">
<!--<select multiple ng-multiple="true" ng-model="modalOptions.mydata.value" ng-options="o as o for o in modalOptions.mydata.aArray"  style="height: 140pt" ng-change="changeselect(o);"></select>-->
<li style="padding-left:10px;" ng-repeat="p in modalOptions.mydata.aArray track by $index"><a href ng-click="modalOptions.mydata.changeselect(modalOptions.mydata.value, p);"><span ng-if="modalOptions.mydata.value.indexOf(p) > -1" class='glyphicon glyphicon-ok' style="color:green"></span> &nbsp; {{ p }}</a></li>
</div>
</div>
<div class='row' style='padding:20px 20px 10px 20px;'>
<span style="word-break:break-all;word-wrap:break-word;">{{modalOptions.mydata.value}}</span>
</div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>


<script type="text/ng-template" id="modaltable.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">
<dropdown-multiselect model="modalOptions.mydata.booking" list="modalOptions.mydata.aArray" savefunc="assigntablebkg"></dropdown-multiselect>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>



<script type="text/ng-template" id="modalgen3.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">
<div class="input-group" style='padding:20px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
<input type="text" ng-model="modalOptions.mydata.name" class="form-control input-sm" placeholder="Name">                                        
</div>		
<div class="input-group" ng-if="modalOptions.mydata.aArray.length > 0" style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' dropdown >
<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'><i class="glyphicon glyphicon-cutlery"></i> <span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.aArray"><a href ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input-sm' placeholder="number of persons" readonly >
</div>
<div class="input-group"  style='padding:10px 10px 10px 30px;'>
<div ng-repeat="f in modalOptions.mydata.flagAr" class="checkbox">
  <label><input type="checkbox" ng-model='f.v' value=""> {{ f.l }} </label>
</div>
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>


<script type="text/ng-template" id="modalgen4.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="input-group"  style='padding:20px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" ng-model="modalOptions.mydata.name" class="form-control input-sm" placeholder="Layout Name">                                        
</div>		
<div class="input-toggles" style='padding:20px 10px 10px 10px;'>
<h5>  fill </h5><input class="color no-alpha input-xs" id="modalgen41" name="modalgen41" ng-model="modalOptions.mydata.fill" style="width:150px;font-size:10px" />&nbsp;<input type='button' value = 'record' class="btn btn-default btn-xs" onclick="$('#modalgen41').trigger('change');">
<hr />
<h5>  border </h5><input class="color no-alpha input-xs" id="modalgen42" ng-model="modalOptions.mydata.border" style="width:150px;font-size:10px"/>&nbsp;<input type='button' value = 'record' class="btn btn-default btn-xs" onclick="$('#modalgen42').trigger('change');">
<hr />
<h5>  font </h5><input class="color no-alpha input-xs" id="modalgen43" ng-model="modalOptions.mydata.font" style="width:150px;font-size:10px"/>&nbsp;<input type='button' value = 'record' class="btn btn-default btn-xs" onclick="$('#modalgen43').trigger('change');">
<hr />
<h5>  radiant </h5><input class="color no-alpha input-xs" id="modalgen44" ng-model="modalOptions.mydata.radiant" style="width:150px;font-size:10px"/>&nbsp;<input type='button' value = 'record' class="btn btn-default btn-xs" onclick="$('#modalgen44').trigger('change');">
</div>
<br/>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="layoutsetoption.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">
<h3 style='text-align:center;'>{{modalOptions.mydata.restotitle}}</h3>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.prefixtable' class='form-control input' placeholder="table prefix">
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="customization.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="row" ng-repeat="x in modalOptions.mydata.tabletitle track by $index">
<div class="input-group" style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn' dropdown >
<button type='button' class='btn btn-default dropdown-toggle btn-sm' data-toggle='dropdown'>
&nbsp;<i class="glyphicon glyphicon-sort">{{x.b}} </i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu'>
<li><a href ng-click="x.m=-1;">Reset</a></li>
<li class="divider"></li>
<li ng-repeat="p in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] track by $index"><a href ng-click="x.m=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='x.m' class='form-control input-sm' placeholder="{{x.b}}" readonly >
</div></div><br /></div> 

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="userprefs.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="row" ng-repeat="x in modalOptions.mydata.prefs | filter: { b: '!hide'}">
<div class="input-group"  style='margin:0 10px -10px 30px;'>
<div class="checkbox">
  <label><input type="checkbox" ng-model='x.m' ng-true-value="1" ng-false-value="0"> {{ x.b }} </label>
</div>
</div>
</div>
<div class="btn-group" style="margin: 10px 0 10px 10px">
<button type="button" class="btn btn-default btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style='font-size:10px;'>Page Size <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		<li ng-repeat="x in modalOptions.mydata.paginator.pagerange()"  class='glyphiconsize'><a href ng-class="{ 'glyphicon glyphicon-ok glyphiconsize': x === modalOptions.mydata.paginator.getRowperPage() }" ng-click="modalOptions.mydata.paginator.setRowperPage(x)"> {{x}}</a></li>
	</ul>
</div> 		

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="bookingModif_org.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.firstname' class='form-control input' placeholder="firstname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.lastname' class='form-control input' placeholder="lastname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.mobile' class='form-control input' placeholder="tel">
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' dropdown >
<button type='button' class='btn btn-default dropdown-toggle sm' data-toggle='dropdown'><i class="glyphicon glyphicon-music"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.event"><a href ng-click="modalOptions.mydata.nevent=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.nevent' class='form-control input sm' placeholder="special occasion" readonly >
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' dropdown >
<button type='button' class='btn btn-default dropdown-toggle sm' data-toggle='dropdown'><i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.pers"><a href ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input-sm' placeholder="number of persons" readonly >
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' dropdown >
<button type='button' class='btn btn-default dropdown-toggle sm' data-toggle='dropdown'><i class="glyphicon glyphicon-time"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu multi-level scrollable-menu'>
<li ng-repeat="p in modalOptions.mydata.hourslot" class='dropdown-submenu'><a href="javascript:;">{{ p }}:00</a>
	<ul class="dropdown-menu scrollable-menu">
	<li ng-repeat="q in modalOptions.mydata.minuteslot"><a href ng-click="modalOptions.mydata.ntimeslot=p+':'+q;">{{p}}:{{q}}</a></li>
	</ul>
</li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.ntimeslot' class='form-control input-sm' placeholder="arrival time" readonly >
</div>

<div class="input-group xls" style='padding:10px 10px 10px 10px;'>
    <span class="input-group-btn"><button type="button" class="btn btn-default btn-sm" ng-click="modalOptions.mydata.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
	<input type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" min-date="modalOptions.mydata.minDate" max-date="modalOptions.mydata.maxDate" ng-model="modalOptions.mydata.selecteddate"
	is-open="modalOptions.mydata.start_opened" datepicker-options="modalOptions.mydata.dateOptions" ng-change='modalOptions.mydata.onchange();' close-text="Close" readonly />
</div>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.comment" placeholder="request" rows="3" ></textarea>
</div>

<br /><br />
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="callcenter.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3></div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">
<iframe src="../modules/callcenter/callcenter.php?bktracking=CALLCENTER&data=HNN_sAkvG2LRHm1sK1FHWsDz0Pw.X7LqF" width="550" height="700" frameBorder="0"></iframe>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-warning" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="embededcallcenter0.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">
<content-iframe></content-iframe>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="embededcallcenter.html">
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width=550px;margin:0 0 0 0;">
<iframe ng-src={{modalOptions.mydata.urldata.value}} width='100%' height='500' frameBorder='0' margin='0'></iframe>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="modalOptions.myagain()">{{modalOptions.againButtonText}}</button>
    <button type="submit" class="btn btn-warning" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="embededcalendar.html">
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width=650px;margin:0 0 0 0;">
<iframe ng-src={{modalOptions.mydata.urldata.value}} width='100%' height='{{modalOptions.mydata.height}}' frameBorder='0' margin='0'></iframe>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-warning"  id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>


<script type="text/ng-template" id="bottemplate">
<div class="container">
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div><div class="row"><br /></div></div>
<div class="row">
<div class="white-bg NoMargin"  style="min-height:100%;">
<h2>About Us</h2>
<div class="custombox1">
<p>Weeloy is a Dynamic Distribution platform offering to FOOD lovers a new & FUN way to enjoy a world of privileges at participating RESTAURANTS.</p>
<div class="aboutus">
<ul style="margin-bottom: 0px">
<li><i class="fa fa-home"></i>83 Amoy Street, Level 2 and 3, Singapore 069902</li>
<li><i class="fa fa-phone"></i>SG: +65 92478778</li>
<li><i class="fa fa-phone"></i>TH: +66 818262109</li>
<li><i class="fa fa-envelope"></i> hotline@weeloy.com</li>
<li><i class="fa fa-external-link"></i><a href='www.weeloy.io' target='_blanl'>www.weeloy.io</a></li>
</ul>
<div class="row"><div class="copyright" style="text-align:center"><a href="https://www.weeloy.com/">&copy;&nbsp;2014 Weeloy. All Rights Reserved.</a></div></div>
</div></div></div></div>
</div>
</script>


<script type="text/ng-template" id="smscontent.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">
<h3 style='text-align:center;'>{{modalOptions.mydata.restotitle}}</h3>
<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.mobile' class='form-control input' readonly>
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.content" placeholder="your text" rows="3" ></textarea>
</div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="statistics.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;color:blue;font-weight:bold'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">

<table class='table-striped profilemltpresto' style="margin-bottom: 20px;font-size:14px;font-family: Roboto">		
	<tr ng-repeat="x in modalOptions.mydata.todayinfo">
		<td ng-if="x.label ==='' && x.value === ''" colspan=3>&nbsp;</td>
		<td ng-if="x.label !=='' && x.value === ''" colspan=3 style="text-align:center"><strong >{{ x.label}} </strong></td>
		<td ng-if="x.label ==='' && x.value !== ''" colspan=3><strong >{{ x.value}} </strong></td>
		<td ng-if="x.label !=='' && x.value !== ''" > &nbsp; </td>
		<td ng-if="x.label !=='' && x.value !== ''" nowrap>{{ x.label}} :</td>
		<td ng-if="x.label !=='' && x.value !== ''" nowrap>{{ x.value}}</td></tr>
</table>
	
<div class="modal-footer">
     <button type="button" class="btn btn-primary" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="subBookModiftms.html">
<div class="modal-header">
<h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">


<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>&nbsp; table &nbsp; &nbsp;&nbsp; </span>
<input type='text' ng-model='modalOptions.mydata.tablename' class='form-control input' placeholder="table number" autofocus>
</div>

<div class="input-group xls template-separation" ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.notestext" placeholder="restaurant notes" rows="3" ></textarea>
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-hourglass" aria-hidden="true"></i>duration&nbsp;&nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.duration' class='form-control input' placeholder="duration">
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="fa fa-battery-empty"></i>clear &nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu multi-level' uib-dropdown-menu >
<li><a href ng-click="modalOptions.mydata.cleartime=''">clear</a></li>
<li class='divider'></li>
<li ng-repeat="p in modalOptions.mydata.hourslot" class='dropdown-submenu'><a href="javascript:;">{{ p }}:00</a>
	<ul class="dropdown-menu" uib-dropdown-menu>
	<li ng-repeat="q in modalOptions.mydata.minuteslot"><a href ng-click="modalOptions.mydata.cleartime=p+':'+q;">{{p}}:{{q}}</a></li>
	</ul>
</li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.cleartime' class='form-control input sm' placeholder="clear time" readonly >
</div>

<p style="margin-left:10px;font-size:10px">The Guest will NOT be notified of any modification<p>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="reservation.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;color:blue;font-weight:bold'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<table class='table-striped' style="margin-bottom: 20px;font-size:13px;font-family: Roboto;width:95%">		
	<tr ng-repeat="x in modalOptions.mydata.aBookingInfo | filter:emptyOrNull">
		<td nowrap><strong>{{ x.label}} :</strong></td><td> &nbsp; </td>
		<td>
		<button class="btn btn-info btn" ng-if="x.label === 'Confirmation'" ng-click="modalOptions.mydata.modifbooking()" style='font-size:12px;'>modify -> <strong>{{ x.value | adatereverse:x.c}}</strong></button>
		<span ng-if="x.label !== 'Confirmation' && x.label !== 'Request' && x.label !== 'Notes'  && x.label !== 'Tracking' ">{{ x.value | adatereverse:x.c}}</span> 
		<span ng-if="x.label === 'Request' || x.label === 'Notes'  || x.label === 'Tracking' ">
		<a href ng-if="(x.value !== '' && x.value.length >= x.w)" data-toggle="popover" data-placement="top" title="{{ x.value }}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')" ng-class = "'classblue'" >{{ x.value | notesubstr:x.w }}</a> 
		<a href ng-if="(x.value === '' || x.value.length < x.w)">{{ x.value }}</a>
		<span>
		</td></tr>
	<tr ng-if='modalOptions.mydata.selectedItem[0].modified > -1'><td colspan='3'><strong>modified:</strong> {{ modalOptions.mydata.selectedItem[0].modifiedinfo }}</td></tr>
	<tr><td colspan='3'>&nbsp;</td></tr>
	<tr ng-if="modalOptions.mydata.smslatecomer && modalOptions.mydata.smsflg" style="height:25px"><td></td><td></td><td><button type='button' class='btn btn-danger btn-xs' ng-click='modalOptions.mydata.notifylatecomer()' style='font-size:12px;color:black'>sms late comer</button></td></tr>
	<tr ng-if="modalOptions.mydata.freetxtsms && modalOptions.mydata.smsflg" style="height:25px"><td></td><td></td><td><button type='button' class='btn btn-warning btn-xs' ng-click='modalOptions.mydata.presendfreetxtsms()' style='font-size:12px;color:black'>sms your content</button></td></tr>
	<tr><td colspan='3'>&nbsp;</td></tr>
	<tr><td colspan='3'><button class="btn btn-warning btn" ng-click="modalOptions.mydata.cancelbooking()" style='font-size:12px;'>cancel -> <strong>{{ modalOptions.mydata.selectedItem[0].booking }}</strong></button></td></tr>
</table>
	
<div class="modal-footer">
     <button type="button" class="btn btn-primary" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="settable.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;color:blue;font-weight:bold'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='650'">

<table class='table-striped' style="margin-bottom: 20px;font-size:13px;font-family: Roboto">		
		<tr ng-repeat="x in modalOptions.mydata.aTableInfo | filter:emptyOrNull">
			<td nowrap><strong ng-if="x.label.length > 3">{{ x.label}} :</strong></td><td> &nbsp; </td>
			<td><span ng-if="x.href === 0">{{ x.value}}</span>
				<span ng-if="x.href === 1"><button class="btn btn-default btn" ng-click="modalOptions.mydata.settingtable(x.label)" ng-class="x.label === 'State' ? classcolor : 'classwhite'" style='font-size:10px;margin-top:3px'>{{ x.value}}</button></span>
				<span ng-if="x.href === 2"><dropdown-multiselect model="modalOptions.mydata.theConf" list="modalOptions.mydata.tablesAr" savefunc="modalOptions.mydata.assigntablebkg"></dropdown-multiselect></span>
			</td></tr>
	</table>

<div class="modal-footer">
     <button type="button" class="btn btn-primary" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="showhelp.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;color:blue;font-weight:bold'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='650'">
<table class='table-striped' style="margin-bottom: 20px;font-size:13px;font-family: Roboto; width:95%">
<tr style='font-weight:bold;font-size:16px;'><th>Command</th><th style="width:20px;">&nbsp;</th><th style="text-align:center">Description</th></tr>
<tr><td colspan='3'><hr/></td></tr>	
<tr ng-repeat="x in modalOptions.mydata.helptheme">
	<td style="width:100px;font-size:14px;"><strong ng-if="x.c !== ''" style="white-space: nowrap;color:{{x.c}}">{{ x.a }} </strong><strong ng-if="x.c === ''"  >{{ x.a }} </strong></td><td> &nbsp; </td><td style="padding:10px 0 10px 0">{{ x.b }}</td>
</tr></table>

<div class="modal-footer">
     <button type="button" class="btn btn-primary" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="walkingBooking.html">
<div class="modal-header">
<h3 class="modal-title" style='font-family:Roboto;color:#2c4361'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div ng-if="!modalOptions.mydata.showpersoinfo" class = "template-separation" >
<button type="button" class="btn btn-primary" ng-click="modalOptions.mydata.showpersonal()">Show personal info</button>
</div>

<div ng-if="modalOptions.mydata.showpersoinfo" class="input-group xls template-separation" >
<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.firstname' class='form-control input' placeholder="firstname">
</div>

<div ng-if="modalOptions.mydata.showpersoinfo" class="input-group xls template-separation">
<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.lastname' class='form-control input' placeholder="lastname">
</div>

<div ng-if="modalOptions.mydata.showpersoinfo" class="input-group xls template-separation">
<span class="input-group-addon"><a href ng-click="modalOptions.mydata.checkprevemail(1, modalOptions.mydata)" style='color:red;'><i class="fa fa-envelope-o" aria-hidden="true"></i></a>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.email' class='form-control input' placeholder="email">
</div>

<div ng-if="modalOptions.mydata.showpersoinfo" class="input-group xls template-separation">
<span class="input-group-addon"><a href ng-click="modalOptions.mydata.checkprevemail(2, modalOptions.mydata)" style='color:red;'><i class="fa fa-phone" aria-hidden="true"></i></a>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.mobile' class='form-control input' placeholder="tel">
</div>

<div class="input-group xls template-separation">
<span class="input-group-addon" style="color:purple"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i>&nbsp; table &nbsp; &nbsp;&nbsp; </span>
<input type='text' ng-model='modalOptions.mydata.tablename' class='form-control input' placeholder="table number" autofocus>
</div>

<div class="input-group xls template-separation">
<span class="input-group-addon" style="color:purple"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; pax &nbsp; &nbsp;&nbsp; </span>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input sm' placeholder="number of persons" >
</div>

<div ng-if="modalOptions.mydata.showpersoinfo" class="input-group xls template-separation">
<span class="input-group-addon"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.comment" placeholder="guest request" rows="3" ></textarea>
</div>

<div class="input-group xls template-separation" ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.notestext" placeholder="restaurant notes" rows="3" ></textarea>
</div>

<div class="input-group xls template-separation"  ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<label ng-repeat="oo in modalOptions.mydata.notescode | filter:{label:'!hide'}" style="font-size:12px;margin-left:10px;">
	<input type="checkbox" ng-model="oo.value"/> {{oo.label}} 
</label>
</div>

<p style="margin-left:10px;font-size:10px">The Guest will NOT be notified<p>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="profile.html">
<div class="modal-header">
<h3 class="modal-title" style='font-family:Roboto;color:#2c4361'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<br /><h4 class="profileh">Personal Data</h4>
<ul>
<li ng-repeat="oo in modalOptions.mydata.profile">{{ oo.label }} : <strong>{{ oo.value }}</strong></li>
</ul>

<br /><h4 class="profileh">Guest Info</h4>
<ul>
<li ng-repeat="oo in modalOptions.mydata.profileobj.others">{{ oo.label }} : <strong>{{ oo.value }}</strong></li>
</ul>

<hr ng-if="modalOptions.mydata.profileobj.others.length > 0" />

<br /><h4 class="profileh">Preferences</h4>
<ul>
<li ng-repeat="oo in modalOptions.mydata.profileobj.content">{{ oo.label }} : <strong>{{ oo.value }}</strong></li>
<li ng-if="modalOptions.mydata.profileobj.codedata !== ''">CODE : {{ modalOptions.mydata.profileobj.codedata }}</li>
</ul>

<div class="col-md-6" ng-if="modalOptions.mydata.systemid !== ''">
    <button type="submit" class="btn btn-foxtrot" ng-click="modalOptions.mydata.triggermodifyprofile();" style="margin-left:40px"> update profile</button>
</div>

<div class="col-md-6" ng-if="modalOptions.mydata.systemid !== ''">
    <button type="submit" class="btn btn-india" ng-click="modalOptions.mydata.triggermodifynotes();" style="margin-left:40px"> copy info to notes</button>
</div>

<div ng-if="modalOptions.mydata.profileobj.bookings.length > 0">
<br /><hr><h4 class="profileh">Bookings History</h4>
<div ng-if="modalOptions.mydata.profileobj.multipleresto === 0">
<table class="profiletemplate"><tr><th>date</th><th>time</th><th>pax</th><th>status</th><th>table</th></tr>
<tr ng-repeat="vv in modalOptions.mydata.profileobj.bookings"><td nowrap>{{ vv.date }}</td><td>{{ vv.time }}</td><td>{{ vv.pax }}</td><td>{{ vv.bkstatus }} &nbsp;</td><td>{{ vv.tablename }} &nbsp;</td></tr>
</table>
</div>

<div ng-if="modalOptions.mydata.profileobj.multipleresto === 1">
<table class="profilemltpresto"><tr><th>date</th><th>time</th><th>pax</th><th>status</th><th>table</th><th>resto</th></tr>
<tr ng-repeat="vv in modalOptions.mydata.profileobj.bookings"><td nowrap>{{ vv.date }}</td><td>{{ vv.time }}</td><td>{{ vv.pax }}</td><td>{{ vv.bkstatus }} &nbsp;</td><td>{{ vv.tablename }} &nbsp;</td><td>{{ vv.restaurant }} &nbsp;</td></tr>
</table>
</div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>


<script type="text/ng-template" id="printprofile.html">
<style></style>
<div class="modal-header">
<h3 class="modal-title" style='font-family:Roboto;color:#2c4361'>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
<style>
.titlespan {
	text-align: center;
	margin-left: 20px;
	font-size: 22px;
	font-weight: bold;
	}
	
.minititlespan {
	font-size: 18;
	font-weight: bold;
	}
.ptable {
	font-size: 12px;
	font-weight: bold;
}
.ttable {
	margin-left: 0px;
	width: 65mm; 
}

</style>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<table id="printJS-form" class="ttable">
<!--<tr><td><p class='titlespan'>{{ modalOptions.mydata.title}}</p></td></tr>-->
<!--<tr><td><p class='titlespan'>{{ modalOptions.mydata.fullname}}</p></td></tr>-->
<!--<tr ng-repeat="oo in modalOptions.mydata.field"><td class="ptable">{{ oo.label }} : {{ oo.value }}</td></tr> -->
<tr ng-repeat="oo in modalOptions.mydata.profile">
	<td  ng-if="oo.label === 'hr' " > &nbsp; </td>
	<td  ng-if="oo.label === 'title' " class = 'titlespan'>{{ oo.value }}</td>
	<td  ng-if="oo.label === 'minititle' " class = 'ptable'>{{ oo.value }}</td>
	<td  ng-if="oo.label !== 'title' && oo.label !== 'minititle'  && oo.label !== 'hr' " class = 'ptable'>{{ oo.label }} : {{ oo.value }}<br /></td>
</tr>

</table>
</form>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="modalOptions.mydata.printing(modalOptions.myclose)">PRINT</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>

<script type="text/ng-template" id="printprofileold.html">
<style></style>
<div class="modal-header">
<h3 class="modal-title" style='font-family:Roboto;color:#2c4361'>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body">
<style>
.titlespan {
	text-align: center;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
	}
.ptable {
	font-size: 12px;
	font-weight: bold;
}
.ttable {
	margin-left: 0px;
	width: 65mm; 
}

</style>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<table id="printJS-form" class="ttable">
<tr ng-repeat="oo in modalOptions.mydata.profile">
	<td  ng-if="oo.label === 'hr' " ><hr style="margin-top:0px"></td>
	<td  ng-if="oo.label === 'title' " class = 'titlespan'>{{ oo.value }}</td>
	<td  ng-if="oo.label !== 'title' && oo.label !== 'hr'" class = 'ptable'>{ oo.label }} : {{ oo.value }}<br /></td>
</tr>
</table>
</form>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="modalOptions.mydata.printing(modalOptions.myclose)">PRINT</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>