Delivered-To: mailboxmitsuba@gmail.com
Received: by 10.25.39.85 with SMTP id n82csp2785797lfn;
        Tue, 4 Oct 2016 18:18:06 -0700 (PDT)
X-Received: by 10.176.4.102 with SMTP id 93mr3355657uav.143.1475630286220;
        Tue, 04 Oct 2016 18:18:06 -0700 (PDT)
Return-Path: <01000157926b4061-7a7c2d41-b6d5-4cf4-89c3-9d8566445d0b-000000@amazonses.com>
Received: from a8-45.smtp-out.amazonses.com (a8-45.smtp-out.amazonses.com. [54.240.8.45])
        by mx.google.com with ESMTPS id 75si3711260vkv.59.2016.10.04.18.18.05
        for <mailboxmitsuba@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Tue, 04 Oct 2016 18:18:06 -0700 (PDT)
Received-SPF: pass (google.com: domain of 01000157926b4061-7a7c2d41-b6d5-4cf4-89c3-9d8566445d0b-000000@amazonses.com designates 54.240.8.45 as permitted sender) client-ip=54.240.8.45;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@chope.co;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 01000157926b4061-7a7c2d41-b6d5-4cf4-89c3-9d8566445d0b-000000@amazonses.com designates 54.240.8.45 as permitted sender) smtp.mailfrom=01000157926b4061-7a7c2d41-b6d5-4cf4-89c3-9d8566445d0b-000000@amazonses.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vnv5jssf3reosgj5cxs2uqb4mzkcm7rv; d=chope.co; t=1475630285; h=Date:From:To:Reply-To:Subject:Message-ID:Mime-Version:Content-Type; bh=SLhNcZmFD5BE5w0R6LWqogw0c5UTXWF9tFo/X8S2/WA=; b=ZdoR7Gi2tjbzGJGk5g78vuTiqRSeZiO61A4ncdfm6aQBCNqY9FUMFUDbp0Xv/Xvh WznRRvPg7R4HdSqzzTLefPZAPxAvFRlq4EG/yntLmBinc4PztYR7iOyyZFErQAqQ+xs lUs6t1jd14flfravoz5OHu3Xww6y1o5DIP7WzVaw=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=6gbrjpgwjskckoa6a5zn6fwqkn67xbtw; d=amazonses.com; t=1475630285; h=Date:From:To:Reply-To:Subject:Message-ID:Mime-Version:Content-Type:Feedback-ID; bh=SLhNcZmFD5BE5w0R6LWqogw0c5UTXWF9tFo/X8S2/WA=; b=Cou8tPoPJahQfHKLBF8hlYbBf8wLuDm7RJX4WKfWx3C9k8yWjJ7YYuOPGR6oToxO XAH/TeT3OW4Vyb3Bvuz1zIOYi6x4cd4y1rgxiwe8Twjt/CpH5vkYphsm1NXRZIIn7Rq bv3hq6gDgsdD/ZkaGEc7GQb2+JW0y93XTscOmNWc=
User-Agent: CodeIgniter
Date: Wed, 5 Oct 2016 01:18:05 +0000
From: Chope Reservations No Reply <noreply@chope.co>
To: sales@mitsuba.com.sg, mailboxmitsuba@gmail.com
Reply-To: Mitsuba Japanese Restaurant <sales@mitsuba.com.sg>
Subject: New Reservation: October 8, 11:30 AM. Ms. Monique Belinda at Mitsuba Japanese Restaurant
X-Sender: noreply@chope.co
X-Mailer: CodeIgniter
X-Priority: 3 (Normal)
Message-ID: <01000157926b4061-7a7c2d41-b6d5-4cf4-89c3-9d8566445d0b-000000@email.amazonses.com>
Mime-Version: 1.0
Content-Type: multipart/alternative; boundary="B_ALT_57f454c9736a2"
X-SES-Outgoing: 2016.10.05-54.240.8.45
Feedback-ID: 1.us-east-1.OYp1Rb19Lpxn2TRX20hRz/U3qy07FKw1S2ysnC3ZCFE=:AmazonSES

--B_ALT_57f454c9736a2
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

Chope - Confirmation

New Reservation

 

You have a new reservation confirmed at Mitsuba Japanese Restaurant .

Restaurant
Mitsuba Japanese Restaurant

Date
Saturday, October 8, 2016
 
 
Time
11:30 AM
 
 
 
Name
Ms. Monique Belinda
 
 
 
Covers
3 adults
 
 
 
Confirmation Number
SBQN
 
 
Mobile

+65 91002046
 
 
Email
monique.lpy@gmail.com
 
 
 
Notes

&nbsp;

Stay Connected

Like us on Facebook

Follow us on Twitter

Add to Circles

Check out our Instagram

Get our Mobile App

http://www.chope.co/singapore-restaurants

 
 
 

 
 
Reservations powered by Chope
 
 

 

Copyright &copy; 2016 Chope, All rights reserved.


--B_ALT_57f454c9736a2
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<!DOCTYPE html>
<html lang=3D"en">
=09<meta http-equiv=3D"content-type" content=3D"text/html; charset=3DUTF-8"=
><title>Reservation Confirmation - Chope</title>
=09<meta name=3D"viewport" content=3D"width=3Ddevice-width, initial-scale=
=3D1">
</head>

<body topmargin=3D"0" leftmargin=3D"0" rightmargin=3D"0" width=3D"100%" hei=
ght=3D"100%" style=3D"margin:0; background:#f7f7f7;">
 <table style=3D"background:#f7f7f7; align:center; padding-bottom:20px;" bo=
rder=3D"0" cellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09 <tbody>=20
=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=3D"top" w=
idth=3D"100%">
=09=09=09<table style=3D"align:center; width:100%; max-width:626px; backgro=
und:#fff; border:1px solid #232323;" border=3D"0" cellpadding=3D"0" cellspa=
cing=3D"0" width=3D"1">
=09=09=09=09<tbody>
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"display: table; background-color: #f1d124=
;" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr><td style=3D"padding:5px;color:#ffffff;font-fam=
ily:Arial,Helvetica,sans-serif;font-size:1em;" rowspan=3D"1" colspan=3D"1" =
align=3D"center" valign=3D"top">
=09=09=09=09=09=09=09=09=09<strong>Chope - Confirmation</strong>
=09=09=09=09=09=09=09=09</td></tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>=09=09
=09=09=09=09=09</td></tr>
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" w=
idth=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09<tr><td style=3D"padding:20px 15px 0px 10px" rowspan=
=3D"1" colspan=3D"1" align=3D"left" valign=3D"middle">
=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybzkkt.cloudfront.net/st=
atic/mainwebsite5.0/img/email-responsive/chope.jpg?date=3D20160905" alt=3D"=
Chope" align=3D"right" border=3D"0" style=3D"vertical-align:middle; width:1=
00px; height:100px;">
=09=09=09=09=09=09=09=09<h2 style=3D"color: #3e3e3e;display: table;font-fam=
ily: Helvetica, Arial, sans-serif;font-size: 22px;font-weight: bold;line-he=
ight: 130%; text-align: left; vertical-align:middle;">New Reservation</h2>
=09=09=09=09=09=09=09</td></tr>=09=09=09=09=09=09=09
 =09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<p style=3D"marigin:0=
; padding:0 40px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-=
size:10pt;align:left;" >You have a new reservation confirmed at Mitsuba Jap=
anese Restaurant .</p><br />
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<table style=3D"padding:0 10px; " border=3D"0" cellpaddin=
g=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr style=3D"border-bottom:1px solid #cccccc;">
=09=09=09=09=09=09=09=09=09<td style=3D"width:40%;border-top:1px solid #ccc=
ccc; padding:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" ro=
wspan=3D"1" colspan=3D"1" align=3D"left" valign=3D"top"><strong>Restaurant<=
/strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; paddi=
ng:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1=
" colspan=3D"1" align=3D"left" valign=3D"top">Mitsuba Japanese Restaurant</=
td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Date</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>Saturday, October 8, 2016</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Time</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>11:30 AM</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Name</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>Ms. Monique Belinda</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Covers</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>3 adults</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Confirmation Number</s=
trong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>SBQN</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
 rowspan=3D"1" colspan=3D"1" align=3D"left" valign=3D"top"><strong>Mobile</=
strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
align=3D"left">
=09=09=09=09=09=09=09=09=09+65 91002046=09=09=09=09=09=09=09=09=09</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr >=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; borde=
r-bottom:1px solid #cccccc; padding:8px;color:#000000;font-family:Arial,Hel=
vetica,sans-serif;font-size:10pt;" rowspan=3D"1" colspan=3D"1" align=3D"lef=
t" valign=3D"top"><strong>Email</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; borde=
r-bottom:1px solid #cccccc; padding:8px;color:#000000;font-family:Arial,Hel=
vetica,sans-serif;font-size:10pt;"align=3D"left">monique.lpy@gmail.com</td>=
=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
 valign=3D"top"><strong>Notes</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
></td>=09
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<h1>&nbsp;</h1>
=09=09=09=09=09</td></tr>
=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09=09
=09=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"background-color:#FFFFFF;" border=3D"0" c=
ellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr><td style=3D"height:1px;padding-bottom:3px;back=
ground-color:#f1d124;" rowspan=3D"1" colspan=3D"1" align=3D"center" bgcolor=
=3D"#dac90f" height=3D"1" valign=3D"middle">
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09</td></tr>=09=09
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>=09=09
=09=09=09=09=09</td></tr>=09=09
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<table style=3D"background-color:#232323; font-family:Ari=
al,Helvetica,sans-serif;font-size:8pt;color:#707070;" border=3D"0" cellpadd=
ing=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td style=3D"width: 50%; width:58%;padding:7px 5px;=
" rowspan=3D"1" colspan=3D"1" valign=3D"top" width=3D"100%" align=3D"center=
">=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09<h6 style=3D"padding:10px 0;color:#ECCB0A;mar=
gin-bottom:10px;font-size:10pt;margin:0;" >Stay Connected</h6>
=09=09=09=09=09=09=09=09=09=09<table style=3D" font-family:Arial,Helvetica,=
sans-serif;font-size:8pt;color:#707070;"border=3D"0" cellpadding=3D"0" cell=
spacing=3D"0" width=3D"90%" align=3D"center">
=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px; " rows=
pan=3D"1" colspan=3D"1" align=3D"right" valign=3D"center" >=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"https://www.facebook.com/chope.group" linktype=3D"facebook" target=3D=
"_blank" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Like us on=
 Facebook">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/fb.png?date=
=3D20160905" style=3D"width:16px; height:16px;" title=3D"Like us on Faceboo=
k" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.facebook.com/ChopeSG" linktype=3D"facebook" target=3D"_bla=
nk" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Like us on Face=
book">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Like us on Facebook=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" colsp=
an=3D"1" align=3D"right" valign=3D"center">=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"https://twitter.com/chopetweets" linktype=3D"twitter" target=3D"_blan=
k" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Follow us on Twi=
tter">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/tw.png?date=
=3D20160905" style=3D"width:16px; height:16px;" title=3D"Follow us on Twitt=
er" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.twitter.com/ChopeSG" linktype=3D"twitter" target=3D"_blank=
" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Follow us on Twit=
ter">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Follow us on Twitter=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" rowsp=
an=3D"1" colspan=3D"1" align=3D"right" valign=3D"center">=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.google.com" linktype=3D"gplus" target=3D"_blank"style=3D"c=
olor: #ECCB0A;text-decoration:none;" title=3D"Add to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/gp.png?date=
=3D20160905" style=3D"width:16px; height:16px;" title=3D"Join us on Google"=
 align=3D"null" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://google.com/+ChopeRestaurantReservations" linktype=3D"gplus" ta=
rget=3D"_blank" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Add=
 to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Add to Circles=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" rowsp=
an=3D"1" colspan=3D"1" align=3D"right" valign=3D"center">=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.google.com" linktype=3D"gplus" target=3D"_blank"style=3D"c=
olor: #ECCB0A;text-decoration:none;" title=3D"Add to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/ig.jpg?date=
=3D20160905" style=3D"width:16px; height:16px;" title=3D"Check out our Inst=
agram" align=3D"null" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://instagram.com/chopesg" linktype=3D"gplus" target=3D"_blank" st=
yle=3D"color: #ECCB0A;text-decoration:none;" title=3D"Check out our Instagr=
am">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Check out our Instagram=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09<td style=3D"background:#232323; padding:7px 5px;co=
lor:#707070;font-family:Arial,Helvetica,sans-serif;font-size:8pt; " rowspan=
=3D"1" colspan=3D"1" valign=3D"top" width=3D"100%" align=3D"center">=09=09
=09=09=09=09=09=09=09=09=09=09<h6 style=3D"padding:10px 0;color:#ECCB0A;fon=
t-size:10pt;margin:0; ">Get our Mobile App</h6>
=09=09=09=09=09=09=09=09=09=09<a class=3D"imgCaptionAnchor" track=3D"on" sh=
ape=3D"rect" href=3D"https://go.onelink.me/1953970613?pid=3DEmail&c=3DReser=
vation_confirmation" target=3D"_blank"><img name=3D"ACCOUNT.IMAGE.3" src=3D=
"http://d2jzxcrnybzkkt.cloudfront.net/static/mainwebsite5.0/img/email-respo=
nsive/3.png?date=3D20160905" style=3D"width:88px; height:30px;" border=3D"0=
" hspace=3D"5" vspace=3D"5" ></a><br />
=09=09=09=09=09=09=09=09=09=09<a class=3D"imgCaptionAnchor" track=3D"on" sh=
ape=3D"rect" href=3D"https://go.onelink.me/1953970613?pid=3DEmail&c=3DReser=
vation_confirmation" target=3D"_blank"><img name=3D"ACCOUNT.IMAGE.4" src=3D=
"http://d2jzxcrnybzkkt.cloudfront.net/static/mainwebsite5.0/img/email-respo=
nsive/4.png?date=3D20160905" style=3D"width:88px; height:30px;"border=3D"0"=
 hspace=3D"5" vspace=3D"5"></a>
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"2" align=3D"center" va=
lign=3D"top" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<p><a style=3D"color:#ECCB0A;text-decoration:=
none;" shape=3D"rect" href=3D"http://www.chope.co/singapore-restaurants" ta=
rget=3D"_blank">http://www.chope.co/singapore-restaurants</a></p><br />
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09 </tbody>
=09=09=09=09=09=09 </table>
=09=09=09=09=09 </td></tr>=09=20
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"background-color:#f1d124;" border=3D"0" c=
ellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09 <tbody>
=09=09=09=09=09=09=09=09 <tr><td style=3D"padding:5px; color:#2e2e2e;font-f=
amily:Arial,Helvetica,sans-serif;font-size:8pt;" rowspan=3D"1" colspan=3D"1=
" align=3D"center" valign=3D"top">
=09=09=09=09=09=09=09=09=09<strong><small>Reservations powered by Chope</sm=
all></strong>
=09=09=09=09=09=09=09=09 </td></tr>
=09=09=09=09=09=09=09 </tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09 </td></tr>
=09=09=09=09=09=09
=09=09=09=09</tbody>
=09=09=09</table>
=09=09</td></tr>
=09=09=09
=09=09<tr><td style=3D" border: 0 none;color: #707070;font-family: Arial;fo=
nt-size: 12px; padding-top:20px;" rowspan=3D"1" colspan=3D"1" align=3D"cent=
er" valign=3D"top" width=3D"100%">
=09=09=09=09<p><em>Copyright &copy; 2016 Chope, All rights reserved.</em></=
p>
=09=09</td></tr>
=09</tbody>
</table>
</body>
</html>

--B_ALT_57f454c9736a2--