/*@font-face {
    font-family: 'proximanova';
    src: url('../../../../fonts/ProximaNova-Reg_2-webfont.eot');
    src: url('../../../../fonts/ProximaNova-Reg_2-webfont.woff2') format('woff2'), url('../../../../fonts/ProximaNova-Reg_2-webfont.woff') format('woff'), url('../../../../fonts/ProximaNova-Reg_2-webfont.svg') format('svg');
}*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700italic,700,500italic,500,400italic);
body {
  font-family: "Roboto";
  font-size: 14px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

a:focus, a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer; }

h1 {
  font-family: "Roboto";
  text-align: center;
  padding: 7px 0 7px 0;
  color: #ffffff;
  background-color: black;
  font-size: 15px;
  margin: 0 0 20px; }

.input-group {
  margin-bottom: 15px; }

.row {
  margin-bottom: 15px;
  margin: 0; }

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  height: 100%;
  max-height: 150px;
  max-width: 150px;
  width: 100%; }

.simple-form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  color: #555;
  display: block;
  font-size: 14px;
  height: 35px;
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 10px; }

.control-centered {
  text-align: center; }

a#buttonterms {
  margin: 10px 30px 20px 55px; }

.termsconditions {
  font-family: "Roboto";
  font-size: 12px; }

.separation {
  vertical-align: middle;
  border-right: 4px solid black;
  height: 100%; }

.separation-left {
  vertical-align: middle;
  border-left: 4px solid black;
  height: 100%; }

.nomarginbottom {
  margin-bottom: 0px; }

.panel {
  border-color: black !important;
  border-radius: 2px; }

.panel-heading {
  background-image: none !important;
  background-color: black !important;
  color: #fff !important;
  border-color: black !important;
  border-radius: 0px; }

.panel-body {
  padding: 10px 10px 10px 0;
  margin: 0; }

.slogan {
  font-size: 13px;
  padding-top: 0px;
  margin: 10px 20px 20px 20px;
  font-weight: bold; }

.btn {
  box-shadow: none;
  border-radius: 2px; }

.btn-default {
  background-image: linear-gradient(to bottom, #eee 0px, #eee 100%) !important; }

.btn-default:focus, .btn-default:hover {
  background-image: linear-gradient(to bottom, #eee 0px, #eee 100%) !important;
  box-shadow: none; }

.book-button {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  padding: 9px;
  width: 210px;
  text-transform: uppercase; }

.book-button:active {
  outline: none; }

.book-button-sm {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 7px;
  margin: 0 0 0 0;
  width: 120px;
  text-transform: uppercase; }

.book-button-sm:active {
  outline: none; }

.book-dropdown {
  border: 1px solid #ccc;
  background: #EEEEEE; }

.caret {
  color: black; }

.btn-leftBottom-orange {
  transition: margin-top 0.2s ease, margin-left 0.2s ease, box-shadow 0.2s ease;
  background: #FF872C;
  border: solid 1px #FF872C; }

.btn-leftBottom-orange:active {
  margin-left: 0px;
  box-shadow: 0px 0px 0px #E06908; }

.btn-leftBottom-orange-noborder {
  background: #FF872C;
  border: solid 1px #FF872C; }

.scrollable-menu {
  font-size: 12px;
  height: auto;
  max-height: 220px;
  overflow-x: hidden; }

.scrollable-menu-all {
  height: auto;
  overflow-x: hidden; }

.scrollable-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px; }

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.75); }

.form-control {
  border-radius: 2px; }

.input-group-addon {
  border-radius: 2px; }

.checkmark {
  color: green;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin: 0 0 0 0; }

.pcheckmark {
  display: inline-block;
  font-family: "Roboto";
  font-size: 12px;
  margin: 0 0 0 5px; }

.pcheckmarkcn {
  display: inline-block;
  font-family: "Roboto";
  font-size: 12px;
  margin: 0 0 0 5px; }

ul {
  list-style: none;
  padding: 0; }

.alert-label {
  text-align: center;
  padding: 5px 0 5px 0;
  color: white; }

/*# sourceMappingURL=booking-form.css.map */
