
   {% if data.imasia_label  %}  
        {% include 'header/header_email_imagia.html.twig'%}
    {% else %} 
        {% include 'header/header_email.html.twig' ignore missing %}
    {% endif %} 
    
    <tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#5285A0; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Pending Dining Request </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]} Team,</strong><br />
                        <br />You have a new pending request for {[{data.rdateres}]}.
                         {% if (data.restaurant == 'SG_SG_R_TheFunKitchen') or (data.restaurant == 'SG_SG_R_Bacchanalia') %}
                            The table is on hold until {[{data.expiredtime}]}. You can manage to this booking in weeloy backoffice.
                         {% endif %}
                     <br /></br>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#5285A0; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Booking Details</td>
            </tr>
            <tr>
                <td align="left" valign="top"  style="padding-bottom:20px;" >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Date &amp; Time</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdateres}]}</strong></td>
                        </tr>
                      
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guests</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                          <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Restaurant Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Confirmation No.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Status</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong> {[{data.status}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong> {[{data.firstname}]} {[{data.lastname}]}</strong></td>
                        </tr>
                          <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Email</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.email}]}</strong></td>
                        </tr>

                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Phone No</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.mobile}]}</strong></td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Special Request</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.specialrequest}]}</strong></td>

                        </tr>
                    </table>
                </td>
            </tr>

        </table>    
    </td>
</tr>

    {% include 'footer/footer_email.html.twig' ignore missing %}
