﻿<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />

<title>Creating Multi Select Drop Down List</title>

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<script src="../../js/angular.min.js"></script>

<script>

// **************************************************
// *** My AngularJS Directive(s) Application ********
// **************************************************
var varMyDirectivesApplication = angular.module('myDirectivesApplication', []);

varMyDirectivesApplication.directive('dropdownMultiselect', function () {
	return {
		restrict: 'E',
		scope: {
			model: '=',
			list: '=',
		},
		template:
				"<div class='btn-group' data-ng-class='{open: openMS}'>" +
					"<button class='btn btn-default btn-xs' data-ng-click='openDropdownMS()'>select table</button>" +
					//"<button class='btn btn-small dropdown-toggle' data-ng-click='openDropdownMS()'><span class='caret'></span></button>" +
					"<ul class='dropdown-menu' aria-labelledby='dropdownMenu'>" +
					// "<li><a data-ng-click='selectAllMS()'><span class='glyphicon glyphicon-ok green' aria-hidden='true'></span> Check All</a></li>" +
					"<li><a data-ng-click='openDropdownMS()'>close</a></li>" +
					"<li><a data-ng-click='deselectAllMS();'>reset</a></li>" +
					"<li class='divider'></li>" +
					"<li data-ng-repeat='item in list'><a data-ng-click='toggleItemMS(item)'><span data-ng-class='getClassNameMS(item)' aria-hidden='true'></span> {{item}}</a></li>" +
					"</ul>" +
				"</div>",

		controller: function ($scope) {
			$scope.openDropdownMS = function () { $scope.openMS = !$scope.openMS; };
			$scope.selectAllMS = function () {
				$scope.model = "";
				angular.forEach($scope.list, function (item, index) { $scope.additemMS(item);  });
				};
			$scope.deselectAllMS = function () { $scope.model = ""; };
			$scope.toggleItemMS = function (item) {
				if(!$scope.model || typeof $scope.model !== "string" || $scope.model.search(item) === -1) 
					$scope.additemMS(item);
				else $scope.removeitemMS(item);
				};
			$scope.additemMS = function (item) {
				$scope.model = $scope.model + (($scope.model !== "") ?  ",":"") + item; 
				localAr = $scope.model.split(",");
				localAr.sort();
				$scope.model = localAr.join(",");
				};
				
			$scope.removeitemMS = function (item) {
				if(!$scope.model || typeof $scope.model !== "string" || $scope.model === "" || $scope.model.search(item) === -1) 
					return; 

				$scope.model = $scope.model.replace(item, "");
				$scope.model = $scope.model.replace(/^,|,$/, "").replace(/,+/, ",");
				};
				
			$scope.getClassNameMS = function (item) {
				console.log('GETCLASS', item);
				if(!$scope.model || typeof $scope.model !== "string" || $scope.model === "" || $scope.model.search(item) === -1) 
					return ""; 
				return 'glyphicon glyphicon-ok green';
				console.log('GETCLASS', theItem);
				};
			}
		}
	});
	
// **************************************************
// *** /My AngularJS Directive(s) Application *******
// **************************************************

// **************************************************
// *** Your AngularJS Application *******************
// **************************************************
var app = angular.module('myApplication', ['myDirectivesApplication']);

app.controller('myController', function ($scope) {

	$scope.users = [ "Ali", "Sara", "Babak", "Sanaz", "Dariush"];
	$scope.tty = "Ali";
});
// **************************************************
// *** /Your AngularJS Application ******************
// **************************************************

</script>

<style>
ul.dropdown-menu li { cursor: pointer; }
ul.dropdown-menu li span.red { color: red; }
ul.dropdown-menu li span.green { color: green; }
</style>

</head>
<body>
	<div class="container" ng-app="myApplication" ng-controller="myController">
	<br /> <br />

	<div class="row">
		<div class="col-xs-6">
			<dropdown-multiselect model="tty" list="users"></dropdown-multiselect>
		</div>
		<div class="col-xs-6">
			<ul>-{{ tty }}-</ul>
		</div>
	</div>
	</div>
</body>
</html>
