<div id="payment-success">
    <div class="container">
        <p class="text-center"><span ng-bind="message"></span>, <a href="/">Go to homepage</a></p>
        <div class="col-xs-12 restaurant">
            <div class="bar-logo pull-left">
                <img ng-src="{{restaurant.getLogoImage()}}" class="img-responsive" alt="">
            </div>
            <div class="restaurant-info">
                <h1 ng-bind="restaurant.title"></h1>
                <p><span ng-bind="restaurant.address"></span><span ng-bind="restaurant.zip"></span></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            
            <div class="col-xs-12">
                <div class="form-group">
                    <strong>Order confirmation number:</strong> <span ng-bind="order.orderID"></span> 
                </div>
                <!-- <div class="form-group">
                    <strong>PaymentId:</strong> <span ng-bind="order.ID"></span>
                </div>
                <div class="form-group">
                    <strong>Restaurant:</strong> <span ng-bind="restaurant.title"></span>
                </div>-->
                <div class="form-group">
                    <strong>Email:</strong> <span ng-bind="order.email"></span>
                </div>
                <div class="form-group">
                    <strong>Total:</strong> <span >SGD</span>  <span ng-bind="order.total"></span>
                </div>
                <div class="form-group">
                    <strong>Name:</strong> <span ng-bind="order.firstname"></span> <span ng-bind="order.lastname"></span>
                </div>
                <div class="form-group">
                    <strong>Phone:</strong> <span ng-bind="order.mobile"></span>
                </div>
                <div class="form-group" ng-show="order.company">
                    <strong>Company:</strong> <span ng-bind="order.company"></span>
                </div>
                <!-- <div class="form-group">
                    <strong>Remarks:</strong> <span ng-bind="order.remarks"></span>
                </div>  -->
                <div class="form-group">
                    <strong>Number items:</strong> <span ng-bind="order.total_items"></span> <a ng-click="viewAllItem(order.ID)">view all</a>
                </div>
                <div class="form-group">
                    <strong>Pickup: </strong> <span ng-bind="order.delivery_date"></span>, Time: <span ng-bind="order.delivery_time"></span>
                </div>



    <!--             <div class="form-group">
                    <strong>Transaction ID:</strong> <span ng-bind="payment.txn_id"></span>
                </div>-->

            </div>
            <div class="col-xs-12" ng-if="items | lengthMoreThan:0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Item</td>
                            <td>Price ({{items[0].currency}})</td>
                            <td>Quantity</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="item.item_title"></td>
                            <td ng-bind="item.price"></td>
                            <td ng-bind="item.quantity"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            
            <div class="col-xs-12" style="margin: 0px 0px 100px 0px;" >
                <div id="map_canvas" ng-if="restaurant" style="width:100%;height:250px;" ng-init="loadmap(restaurant.getLatitude().lat, restaurant.getLatitude().lng, isMobile)" ng-click="loadmap2"></div>
            </div>
        </div>
    </div>
</div>
