<ul>
    <li ng-repeat="item in breadcrumb">
        <a ng-href="{{item.href}}">
            <span ng-bind="item.title"></span><span class="fa fa-angle-right" ng-show="!$last"></span>
        </a>
    </li>
</ul>
