<footer style='border-left:solid black 18px;border-right:solid black 20px;border-bottom:solid black 10px;'>
    <div class="top-section">
        <div class="border-shadow">
        </div>
    
    </div>

<!--    <section id="zen-social">
        <h3 ng-bind="Str.template.FindUs" class="ng-binding">Find us on</h3>
        <ul>
            <li><a rel="nofollow" target="_blank" href="https://www.facebook.com/weeloy.sg" id="social-facebook" title="follow weeloy on facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a rel="nofollow" target="_blank" href="https://twitter.com/weeloyasia" id="social-twitter" title="follow weeloy on twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.instagram.com/weeloysingapore/" id="social-linkedin" title="follow weeloy on instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
    </section>-->
    <footer id="zen-footer">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-md-1 col-sm-1">
                       
                   </div>
                     <div class="col-md-2 col-sm-2">
                       <a ng-href="/search/singapore"><img  class="img-responsive" src="mdclient/assets/images/location/img1.jpg" style="background-image: url('mdclient/assets/images/location/img1.jpg'); background-position: center;background-size: cover;width: 100%;" > </a>
                      <p class="hover" style='margin-top:5px;'>SINGAPORE</p>
                      <p>
                         83 Amoy Street, Singapore 069902 <br/>
                         SG: +65 92478778 <br />
                         TH: +66 818262109 <br />
                         support@weeloy.com
                      </p>
                       
                   </div>
                    <div class="col-md-2 col-sm-2">
                        <a ng-href="/search/bangkok"><img class="img-responsive" src="mdclient/assets/images/location/img2.jpg" style="background-image: url('mdclient/assets/images/location/img2.jpg'); background-position: center;background-size: cover;"></a>
                        
<!--                            <p class="hover">BANGKOK</p>-->
                    
                   </div>
                    <div class="col-md-2 col-sm-2">
                        <a ng-href="/search/phuket"><img  class="img-responsive" src="mdclient/assets/images/location/img3.jpg" style="background-image: url('mdclient/assets/images/location/img3.jpg'); background-position: center;background-size: cover;"></a>
                            <p class="hover">PHUKET</p>
                       
                   </div>
                    <div class="col-md-2 col-sm-2">
                       <a ng-href="/search/singapore"><img  class="img-responsive" src="mdclient/assets/images/location/contact-hk.jpg" style="background-image: url('mdclient/assets/images/location/contact-hk.jpg'); background-position: center;background-size: cover;"> </a>
                            <p class="hover">Hong kong</p>
                     </div>
                    <div class="col-md-2 col-sm-2">
                       <a ng-href="/search/singapore"><img  class="img-responsive" src="mdclient/assets/images/location/contact-kl.jpg" style="background-image: url('mdclient/assets/images/location/contact-kl.jpg'); background-position: center;background-size: cover;"> </a>
                            <p class="hover">Kuala Lumpur</p>
                     </div>
                    <div class="col-md-1 col-sm-1">
                       
                   </div>
                    
            </div>
        <div class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12">
            <div  class="col-md-10  col-sm-10  col-xs-10" style=' margin-left:20%'>
                 <a href="blog" title="food blog by weeloy" onclick="document.location.href = 'https://www.weeloy.com/blog';return false;" style="cursor: pointer" >Weeloy Magazine</a> |
                
                 <a href="how-it-works" title="weeloy concept how it works" >How It Works</a> |
              
                <a href="contact" title="weeloy contact page" >Contact Us</a> |

                <a href="partner" title="weeloy partner page">Partner With Us</a> |

                <a target="_blank" href="terms-and-conditions-of-service">Terms & Condition</a> |

                <a target="_blank" href="privacy-policy">Privacy Policy</a>
              
            </div>
<!--            <div class="col-md-3 col-sm-3 col-xs-12 zen-col">
                <h2 class="title">
                        <span>//</span>infomation
                    </h2>
                <ul>
                    <li>
                        <a href="blog" title="food blog by weeloy" onclick="document.location.href = 'https://www.weeloy.com/blog';return false;" style="cursor: pointer" ng-bind="Str.template.FooterInformationBlog"></a>
                    </li>
                    <li>
                        <a href="how-it-works" title="weeloy concept how it works" ng-bind="Str.template.FooterInformationHowItWorks"></a>
                    </li>
                    <li>
                        <a href="contact" title="weeloy contact page" ng-bind="Str.template.FooterInformationContactUs"></a>
                    </li>
                    <li>
                        <a href="partner" title="weeloy partner page" ng-bind="Str.template.FooterInformationPartner"></a>
                    </li>
                    <li>
                        <a href="faq" title="faq weeloy" ng-bind="Str.tempate.FooterInformationFaq"></a>
                    </li>
                    <li>
                        <a target="_blank" href="terms-and-conditions-of-service" ng-bind="Str.template.FooterInformationTermOfService"></a>
                    </li>
                    <li>
                        <a target="_blank" href="privacy-policy" ng-bind="Str.template.FooterInformationPrivacyPolicy"></a>
                    </li>
                </ul>
            </div>-->
            <div class="section-mobileapp" style="margin-top:20px;">
                <div class="col-md-6  col-sm-6 col-xs-6 zen-col app" style='margin-top:20px;margin-left:31%;'>
                    <div class="col-md-3 col-sm-3" style='margin-bottom:10px;' >
                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="http://itunes.apple.com/app/id973030193" title="Download Weeloy iOS app">
                           <img width="160" height="49" src="mdclient/assets/images/footer/apple.png">
                        </a>

                    </div>
                    <div class="col-md-3 col-sm-3" style='margin-left:10px;'>
                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client" title="Download Weeloy Android app">
                           <img width="160" height="49" src="mdclient/assets/images/footer/android.png">
                       </a>

                    </div>
                </div>
            </div>
            <div class="col-md-12  col-sm-12 col-xs-12 zen-col app" style='margin-top:20px;'>
                <p>
                    Restaurants have unique challenges, needs and workflows that require unique solutions. Our product suite is designed specifically for restaurants to streamline workflows, create operational efficiencies, eliminate administrative redundancies and allow staff and management to focus on providing an optimal dining experience for their guests.
                </p>
            </div>
          
        </div>
    </footer>
</footer>
