<form class="form-horizontal" name="LoginForm" ng-submit="LoginForm.$valid && Login(user)" novalidate>
    <div class="form-group">
        <input type="email" class="form-control simple-form-control" name="email" ng-model="user.email" placeholder="{{Str.template.TextEmail}}" required>
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.required" ng-bind="Str.template.TextPleaseEnterYourEmail"></span>
            <span ng-show="LoginForm.$submitted && LoginForm.email.$error.email" ng-bind="Str.template.TextPleaseEnterAValidEmail"></span>
        </div>
    </div>
    <div class="form-group">
        
        <input id="password" name="password" ng-model="user.password" type="{{ (showPassword == true) ? 'text' : 'password' }}" class="form-control simple-form-control" placeholder="{{Str.template.TextPassword}}" required>
        
        <div class="error">
            <span ng-show="LoginForm.$submitted && LoginForm.password.$error.required" ng-bind="Str.template.TextPleaseEnterYourPassword"></span>
        </div>
        <div class="show-password">
            <input id="show-password-ip" type="checkbox" ng-model="showPassword">
            <label style="color: #333;font-weight: normal;font-family: proximanova;" class="" for="show-password-ip" ng-bind="Str.template.TextShowPassword"></label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="book-button-sm btn-leftBottom-orange" value="{{Str.template.LoginBtn}}">
    </div>
</form>
