<div id="menu_user">
    <ul>
        <li class="{{ MenuUserSelected == 'mybookings' ? 'menu-user-selected' : '' }}">
            <a href="mybookings">Bookings</a>
        </li>
        <li class="{{ MenuUserSelected == 'myorders' ? 'menu-user-selected' : '' }}">
            <a href="myorders">Orders</a>
        </li>
        <li class="{{ MenuUserSelected == 'myreviews' ? 'menu-user-selected' : '' }}">
            <a href="myreviews">Reviews</a>
        </li>
        <li class="{{ MenuUserSelected == 'myaccount' ? 'menu-user-selected' : '' }}">
            <a href="myaccount">Account</a>
        </li>
    </ul>
</div>

