<ul class="pagination">
		<li ng-class="paginator.isFirstPage()"><a><span class="glyphicon glyphicon-fast-backward" ng-click="paginator.firstPage()"></span></a></li>
	<li ng-class="paginator.prevPageDisabled()">
		<a href="javascript:;" ng-click="paginator.prevPage()"><span class="glyphicon glyphicon-step-backward" ng-click="paginator.firstPage()"></span> Prev</a>
	</li>
	<li ng-repeat="n in paginator.range()" ng-class="{active: n == paginator.getPage()}" ng-click="paginator.setPage(n)">
		<a href="javascript:;">{{n + 1 + paginator.getPageOffset() }}</a>
	</li>
	<li ng-class="paginator.nextPageDisabled()">
		<a href="javascript:;" ng-click="paginator.nextPage()">Next <span class="glyphicon glyphicon-step-forward" ng-click="paginator.firstPage()"></span></a>
	</li>
	<li ng-class="paginator.isLastPage()"><a><span class="glyphicon glyphicon-fast-forward" ng-click="paginator.lastPage()"></span></a></li>
</ul>