    <div class="col-md-3 col-sm-3 img-zen  ">
          <p >{{event.name}}</p>
       <a ng-href="{{event.internal_path}}"><img  id="event-section" src="mdclient/assets/images/23x34.png" class="img-responsive" style="background-image: url('client/assets/images/amazing/img1.jpg'); background-position: center;background-size:cover;">
           <p class="hover">{{event.description}}</p></a>
         <a ng-href="{{event.internal_path}}/booknow">
             <div class='row'>
                <div class="col-md-3 col-sm-3">
                   <button id="btn_book" class="book-button-sm btn-leftBottom-blue">BOOK NOW</button>
                </div>
             </div>
         </a>
   </div>