<style type="text/css">
    .cconts{

    }
    .crestheader
    {
        height: 25px;
        width: 100%;
    }
    .cimg
    {
        height: 145px;
        width: 100%;
    }
    .img-transparent
    {
        width: 100% !important; 
        height: 100% !important;
        background-position: 'center' !important;
        background-repeat: 'no-repeat' !important;
        background-size: 'cover' !important;
    }
    .ccontext 
    {
        width: 100%;
        height: 25px;
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cbtn
    {

    }
    .cpricing
    {
        float: left;
    }
    .cloccont
    {
        float: left;
        margin-right: 30px;
    }
    .cbtnholder
    {
        padding-top: 5px;
    }

    .btn-leftBottom-blue-noborder {
        background: #283271;
        border: 1px solid #283271;
    }

    .book-button-sm2 {
        width: 225px;
        height: 35px;
    }

    .book-button-sm2 {
        color: #fff;
        font-weight: 400;
        padding: 7px;
        width: 225px;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
    }
    .ccardmarker {
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-left: 5px;
        cursor: pointer;
    }
    .crestheaderinside{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 20px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    

</style>
<div class="cconts">
    <div class="crestheader">
        <div class="crestheaderinside">
            {{restaurant.title}}
        </div>
    </div>
    <div class="cimg">
        <a ng-href="{{ restaurant.getInternalPath() }}" target="{{ OpenRestaurantInNewTab }}">
            <img ng-src="mdclient/assets/images/month/transparent.png" class="img-responsive img-transparent">
        </a>
    </div>
    <div class="ccontext">
        <div class = "ccuisine">
            <span ng-repeat="cusine in restaurant.getCuisineAsArray()">{{cusine}}<span ng-show="!$last">, </span></span>
            <div class="ccardmarker">
                <a href="#" ng-click="loadmap(restaurant.getLatitude().lat, restaurant.getLatitude().lng)">
                    <img title="Location" ng-src="mdclient/assets/images/month/transparent.png" style="background-image: url('mdclient/assets/images/locationicon.png'); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 100%;">
                </a>
                
            </div>
            <div class="ccardmarker" ng-if="restaurant.reviews != ''">
                <img title="Reviews" ng-src="mdclient/assets/images/month/transparent.png" style="background-image: url('mdclient/assets/images/staricon.png'); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 100%;">
            </div>
            <div class="ccardmarker">
                <img title="Daily Special Board" ng-src="mdclient/assets/images/month/transparent.png" style="background-image: url('mdclient/assets/images/ribbonicon.png'); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 100%;">
            </div>
            <!-- <i class="fa fa-map-marker ccardmarker"></i> -->
        </div>
        <div class = "cloc">
            <!-- <span>{{restaurant.getRegion()}}<span ng-if="restaurant.getCity() != ''">, </span> {{restaurant.getCity()}}</span> -->
            <span class="cloccont">{{restaurant.getRegion()}} </span>
            <div class="cpricing">
                {{restaurant.pricing}}
            </div>
        </div>
    </div>
    <div class="cbtnholder">
        <center>
            <input class="input-group-addon book-button-sm2 btn-leftBottom-blue-noborder" type="button" name="" value="Book Now">
        </center>
    </div>
<!--    <div class="book-now">
        <a ng-href="{{restaurant.getBookNowPageUrl()}}">
            <button analytics-on="click" analytics-event="c_book_resto" analytics-category="c_book_resto" ng-if="restaurant.status=='active'" id="btn_book" class="book-button-sm btn-leftBottom-blue" ng-bind="restaurant.book_button.label"></button>
        </a>
        <button analytics-on="click" analytics-event="c_cs_book_resto" analytics-category="c_cs_book_resto" ng-if="restaurant.status=='comingsoon'" id="btn_book" class="btn custom_button {{restaurant.book_button.style}}" ng-bind="restaurant.book_button.label"></button>
    </div>-->
</div>
