		<div class="container">
		<div class="row">
			<div class="white-bg">
				<h2>Latest News</h2>
				<div class="col-md-4"><p>
					<img src="../images/admin/bo_feature_262x162.jpg">
				</p><h4>Check the new Events feature</h4>
				<p style="color:grey;">A new menu EVENTS is now available. You can now feature all your events easily. You just need to upload your Event's image, description, date and it will automatically upload on your restaurant page.</p>

				</div>

				<div class="col-md-4"><p>

					<img src="../images/admin/bo_weeloy-wheel_262x162.jpg">
				</p><h4>Customize your Weeloy Wheel</h4>
				<p style="color:grey;">By default, your Wheel has a standard configuration, with a basic value of 52. <br>Your visibility and conversion rate depend on how you set this value. Customize your WHEEL to increase the WHEEL value and at the end, your market reach. </p>

				<p></p></div>

				<div class="col-md-4"><p>

					<img src="../images/admin/bo_focus_262x162.jpg">
				</p><h4>FOCUS: Reservation system</h4>
				<p style="color:grey;">A dynamic reservation system allows your customer to book instantly to your restaurant and receive an automatic message. Manage your availability using the Table Availability Calendar (TAC) menu.</p>

				</div>
				<div class="clearfix visible-md-block"></div>
				<div class="clearfix visible-lg-block "></div><!--This clearfix has to be set every 3 div because that's that col-lg break to a new line-->
			</div>
		</div>
	</div>

		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="white-bg NoMargin"  style="min-height:100%;">
						<h2>About Us</h2>
						<div class="custombox1">
							<p>Weeloy is a Dynamic Distribution platform offering to FOOD lovers a new & FUN way to enjoy a world of privileges at participating RESTAURANTS.</p>
							<div class="aboutus">

								<ul style="margin-bottom: 0px">
									<li><span><i class="fa fa-home"></i>83 Amoy Street, Singapore 069902</span></li>
									<li><span><i class="fa fa-phone"></i></span></li>
									<li><span><i class="fa fa-envelope"></i> support@weeloy.com</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="white-bg NoMargin"  style="height:100%;">
						<div>
							<div class="module-surround">
								<div class="module-title">
									<h2 class="title">Contact Us</h2>
								</div>
								<div class="acymailing_introtext">Not a partner? Request a demo!</div>
								<br>
								<form>
									<input type="text" value="" name="user[name]" class="form-control" placeholder="Name" disabled="disabled" id="user[name]">
									<br>
									<input type="text" value="" name="user[email]" class="form-control" placeholder="E-mail" disabled="disabled" id="user[email]">
									<br>
									<input type="submit" name="Submit" value="Subscribe" class="button subbutton btn btn-primary customColor">
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
				  <div class="white-bg NoMargin">
					<h2>Need help?</h2>
					<div class="SocialIcons"> 
						<a target="_blank" style="margin-right:5px" href="javascript:new_window('WeeloyUserManual/index.php')" title="">Consult the tutorial</a> 
					</div>
				</div>
				<div class="white-bg NoMargin">
				<h2>Follow us</h2>
				<div class="SocialIcons"> 
					<a target="_blank" style="margin-right:5px; padding:0px 5px;" href="https://www.facebook.com/weeloy.sg" title="Facebook"><span class="fa fa-facebook"></span></a> 
					<a target="_blank" style="margin-right:5px; padding:0px 5px;" href="https://twitter.com/weeloyasia" title="Twitter"><span class="fa fa-twitter"></span></a> 
					<a target="_blank" style="margin-right:5px; padding:0px 5px;"  href="https://www.linkedin.com/company/weeloy-pte-ltd" title="Linkedin"><span class="fa fa-linkedin"></span></a>   </div></div>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="copyright" style="text-align:center"><a href="https://www.weeloy.com/">&copy;&nbsp;2014 Design by Weeloy</a></div>
			</div>
</div>
